@import url("../../../../../core/components/com_resources/site/assets/css/resources.css");

/* Introduction */
	.com_resources #introduction .omega {
		text-align: right;
	}
	.com_resources #introduction + .section h3 {
		margin-top: 1.5em;
	}
	.com_resources .inner>section.main {
		padding: 0;
	}

/* Browse */
	.com_resources .container .container-block,
	.com_resources .container .results {
		background: transparent;
		border: none;
	}
	.com_resources .container .results > li {
		padding: 30px 0;
		margin: 0;
		border-top: 1px solid rgba(0, 0, 0, 0.1);
	}
	.com_resources .container .results > li:first-child {
		border-top: none;
	}
	.com_resources .container .results p {
		margin: 1em 0 0 0;
	}
	.com_resources .container .results p.title {
		font-weight: 400;
		font-size: 1.1em;
		line-height: 1;
		margin: 0 0 0.5em 0;
	}
	.com_resources .container .results li p:last-child {
		margin-bottom: 0;
	}
	.com_resources .container .results .details {
		font-style: italic;
		font-size: 11px;
		margin: 0.5em 0;
	}
	.com_resources .container .results .details span {
		color: transparent;
	}
	.com_resources .results .metadata {
		margin-top: -2.5em;
	}
	.com_resources .results .metadata p {
		text-align: right;
	}
	.com_resources .filter-options select {
		margin-top: 0;
	}
	.com_resources .citations li {
		padding: 1em 0 1em 1em;
	}

	.com_resources #content-header .metadata .share,
	.com_resources #content-header .metadata p,
	.com_resources #content-header {
		color: #f1f1f1;
		color: rgba(255, 255, 255, 0.75);
	}
	.com_resources #content-header .metadata .shareinfo p,
	.com_resources #content-header .metadata .shareinfo a {
		color: #666;
	}
	.com_resources #content-header .span8 a,
	.com_resources #content-header .aside a {
		color: #fff;
	}

/* Resource page */
	.com_resources #content-header .metadata {
		border: 1px solid #fff;
		border: 1px solid rgba(255, 255, 255, 0.5);
		background: rgba(255, 255, 255, 0.1);
		margin: 0 0 30px 0;
	}
	.com_resources #content-header .upperpane h2 {
		padding: 0 0 0.5em 0;
	}
	.com_resources .license {
		line-height: 1.3;
		color: #f1f1f1;
		color: rgba(255, 255, 255, 0.75);
	}
	.com_resources .license a {
		color: #fff;
	}
	.metadata p:before {
		color: #444;
	}

	/* Tabs */
	.com_resources .upperpane {
		padding: 0;
		background: transparent;
	}
	/*.com_resources section.section .sub-menu {
		margin-left: -30px;
		margin-right: -30px;
		margin-bottom: 30px;
	}*/
	.com_resources section.section .tabbed {
		padding: 0;
	}
	.com_resources section.section .tabbed .subject {
		padding: 0;
	}
	/*.com_resources section.section .tabbed>.section {
		margin: 30px 30px 30px 60px;
	}*/
	.com_resources section.section .section {
		padding: 30px;
	}
	.com_resources section.section .subject+.rankarea {
		border: none;
		background: transparent;
	}
	.com_resources section.upperpane .subject {
		padding: 0;
		margin: 0 !important;
	}
	.com_resources section.upperpane .aside {
		padding-bottom: 0;
	}
	/*.com_resources .tabbed .sub-menu {
		padding-left: 60px;
	}*/
	.section .extracontent {
		padding-top: 30px !important;
	}

/* View */
	section.meta {
		background: #fff;
	}
	.section-cell {
		display: table-cell;
		padding: 30px;
		vertical-align: top;
	}
	.meta-value {
		display: block;
		font-size: 1.4em;
		/*line-height: 40px;
		font-weight: 300;*/
		/*margin-right: 6px;
		letter-spacing: -0.03em;
		float: left*/
	}
	.meta-label {
		/*color: #777;
		font-size: 0.9em;
		font-weight: 400;
		line-height: 1.4;
		float: left;
		padding-top: 0.4em;*/
	}
	.meta-block {
		display: block;
		float: left;
		margin-right: 60px;
	}
