@import url("/core/components/com_members/site/assets/css/members.css");

#page_main {
	background: #f7f7f7;
}

@media (min-width: 50em) {
	#page_sidebar .message-member a {
		margin: 0;
		padding: 0.2em 0.5em;
		display: block;
		width: auto;
		height: auto;
		font-size: 1em;
		overflow: hidden;
		border: none;
	}
}

.contributor-photo {
	border: 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	width: 40px;
	height: 40px;
	overflow: hidden;
}

.contributor-content {
	margin-left: 45px;
}

.contributor-photo a {
	display: block;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	border-radius: 100px;
	position: relative;
	width: 40px;
	height: 40px;
	overflow: hidden;
}

.result-extras:before {
	content: "";
	clear: left;
	display: table;
	line-height: 0;
}
.message-member .btn {
	border: 2px solid #e1e1e1;
	background: transparent;
	color: #bbb;
}
.result:hover .message-member .btn {
	border: 2px solid #bbb;
	background: transparent;
	color: #999;
}
.result:hover .message-member .btn:hover,
.message-member .btn:hover {
	background: #999;
	color: #fff;
	border-color: #999;
}

#page_options {
  /*  top: 60px; */
}