#ja-headerwrap {
	background: #7BA566;
	color: #E4EFDF;
}

.ja-headermask {
	background: url(images/header-mask.png) no-repeat top right;
}

#ja-header a {
	color: #E4EFDF;
}

h1.logo-text a {
	color: #E4EFDF !important;
}

p.site-slogan {
	background: #9DBF8C;
}

#ja-search {
	background: url(images/icon-search.gif) no-repeat center left;
}

#ja-search .inputbox {
	border: 1px solid #658854;
	color: #E4EFDF;
	background: #9DBF8C;
}

.sectiontableheader {
	background: #88B074;
}

#ja-botslwrap {
	background: #7BA566;
	color: #E4EFDF;
}

.ja-box-right div.moduletable {
	background: url(images/vdot2.gif) repeat-y left;
}

.ja-box-center div.moduletable {
	background: url(images/vdot2.gif) repeat-y left;
}

#ja-botsl a {
	color: #E4EFDF;
}

#ja-mainnavwrap {
	border-top: 1px solid #9DBF8C;
	background: #88B074;
}

#ja-mainnav {
	border-left: 1px solid #658854;
	background: #88B074;
}

#ja-mainnav ul.menu {
	border-right: 1px solid #9DBF8C;
}

#ja-mainnav ul.menu li a {
	border-left: 1px solid #9DBF8C;
	border-right: 1px solid #658854;
	color: #E4EFDF;
}

#ja-mainnav ul.menu li a:hover,
#ja-mainnav ul.menu li a:active,
#ja-mainnav ul.menu li a:focus {
	background-color: #9DBF8C;
}

#ja-mainnav ul.menu li:hover,
#ja-mainnav ul.menu li.sfhover,
#ja-mainnav ul.menu li.havechildsfhover,
#ja-mainnav ul.menu li.havechild-activesfhover {
	background-color: #9DBF8C;
}

#ja-mainnav ul.menu li.active a,
#ja-mainnav ul.menu li.active a:hover,
#ja-mainnav ul.menu li.active a:active,
#ja-mainnav ul.menu li.active a:focus  {
	background-color: #658854;
}

#ja-mainnav ul.menu li ul {
	border: 1px solid #9DBF8C;
	background: url(images/opaque.png);
}

#ja-mainnav ul.menu li ul li {
	border-top: 1px solid #A4C594;
	border-bottom: 1px solid #7BA566;
}

#ja-mainnav ul.menu li ul a {
	color: #E4EFDF;
}

#ja-mainnav ul.menu li ul a:hover,
#ja-mainnav ul.menu li ul a:active,
#ja-mainnav ul.menu li ul a:focus,
#ja-mainnav ul.menu ul li:hover,
#ja-mainnav ul.menu ul li.sfhover,
#ja-mainnav ul.menu ul li.havesubchildsfhover,
#ja-mainnav ul.menu ul li.havesubchild-activesfhover,
#ja-mainnav ul.menu ul ul li:hover,
#ja-mainnav ul.menu ul ul li.sfhover,
#ja-mainnav ul.menu ul ul li.havesubchildsfhover,
#ja-mainnav ul.menu ul ul li.havesubchild-activesfhover {
	background: #7BA566;
	color: #E4EFDF;
}
