<?xml version="1.0" encoding="utf-8"?>

<!--
@package      hubzero-cms
@copyright    Copyright (c) 2005-2026 The Regents of the University of California.
@license      http://opensource.org/licenses/MIT MIT
-->

<config>
	<fieldset name="IdP">
		<field
			name="IdP_enable"
			type="radio"
			default="1"
			label="COM_SAML_CONFIG_FIELD_IDPENABLE_LABEL"
			description="COM_SAML_CONFIG_FIELD_IDPENABLE_DESC">
			<option
				value="0">JNO</option>
			<option
				value="1">JYES</option>
		</field>
		<field
			name="IdP_entityID"
			type="text"
			menu="hide"
			default=""
			label="COM_SAML_CONFIG_FIELD_IDPENTITYID_LABEL"
			description="COM_SAML_CONFIG_FIELD_IDPENTITYID_DESC">
		</field>
		<field
			name="enableIdPMetadataEndpoint"
			type="radio"
			default="1"
			label="COM_SAML_CONFIG_FIELD_ENABLEIDPMETADATAENDPOINT_LABEL"
			description="COM_SAML_CONFIG_FIELD_ENABLEIDPMETADATAENDPOINT_DESC">
			<option
				value="0">JNO</option>
			<option
				value="1">JYES</option>
		</field>
		<field
			name="IdPCertificateFile"
			type="text"
			menu="hide"
			default="/etc/saml/cert/saml.crt"
			label="COM_SAML_CONFIG_FIELD_IDPCERTIFICATEFILE_LABEL"
			description="COM_SAML_CONFIG_FIELD_IDPCERTIFICATEFILE_DESC">
		</field>
		<field
			name="IdPKeyFile"
			type="text"
			menu="hide"
			default="/etc/saml/cert/saml.pem"
			label="COM_SAML_CONFIG_FIELD_IDPKEYFILE_LABEL"
			description="COM_SAML_CONFIG_FIELD_IDPKEYFILE_DESC">
		</field>
		<field
			name="IdPKeyPassphrase"
			type="password"
			menu="hide"
			default=""
			label="COM_SAML_CONFIG_FIELD_IDPKEYPASSPHRASE_LABEL"
			description="COM_SAML_CONFIG_FIELD_IDPKEYPASSPHRASE_DESC">
		</field>
	</fieldset>
	<fieldset name="Protocol">
		<field
			name="assertion_lifetime"
			type="text"
			menu="hide"
			default="180"
			label="COM_SAML_CONFIG_FIELD_ASSERTIONLIFETIME_LABEL"
			description="COM_SAML_CONFIG_FIELD_ASSERTIONLIFETIME_DESC">
		</field>
		<field
			name="clock_skew"
			type="text"
			menu="hide"
			default="60"
			label="COM_SAML_CONFIG_FIELD_CLOCKSKEW_LABEL"
			description="COM_SAML_CONFIG_FIELD_CLOCKSKEW_DESC">
		</field>
		<field
			name="signature_algorithm"
			type="list"
			menu="hide"
			default="rsa-sha256"
			label="COM_SAML_CONFIG_FIELD_SIGNATUREALGORITHM_LABEL"
			description="COM_SAML_CONFIG_FIELD_SIGNATUREALGORITHM_DESC">
			<option
				value="rsa-sha256">COM_SAML_CONFIG_OPTION_RSA_SHA256</option>
			<option
				value="rsa-sha384">COM_SAML_CONFIG_OPTION_RSA_SHA384</option>
			<option
				value="rsa-sha512">COM_SAML_CONFIG_OPTION_RSA_SHA512</option>
		</field>
	</fieldset>
</config>
