<?xml version="1.0" encoding="utf-8"?>
<extension type="component" version="1.5">
	<name>com_system</name>
	<author>HUBzero</author>
	<authorUrl>hubzero.org</authorUrl>
	<authorEmail>support@hubzero.org</authorEmail>
	<copyright>Copyright 2005-2019 HUBzero Foundation, LLC.</copyright>
	<license>http://opensource.org/licenses/MIT MIT</license>
	<description>COM_SYSTEM_XML_DESCRIPTION</description>
	<languages>
		<language tag="en-GB">en-GB.com_system.ini</language>
	</languages>
	<install>
		<sql>
			<file charset="utf8" driver="mysql">install.sql</file>
		</sql>
	</install>
	<administration>
		<menu>System</menu>
		<files folder="admin">
			<filename>system.php</filename>
		</files>
		<languages folder="admin">
			<language tag="en-GB">en-GB.com_system.ini</language>
			<language tag="en-GB">en-GB.com_system.menu.ini</language>
		</languages>
	</administration>
</extension>