// out: features.css

@import "../../less/_mixins/mixins";
@import "../../less/_vars/vars";

@import url("/core/components/com_projects/site/assets/css/features.css");

.feature p.ima {
	width: 50px;
	height: 50px;
	
	&:before {
		margin-left: -0.45em;
		margin-top: -0.6em;
	}
}
