/**
 * Copyright 2005-2009 by Purdue Research Foundation, West Lafayette, IN 47906.
 * All rights reserved.
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License,
 * version 2 as published by the Free Software Foundation. 
 */


	.clearfix {
		border: 1px solid transparent;
	}
	.clearfix:after {
		content: "."; 
		display: block; 
		height: 0; 
		clear: left; 
		visibility: hidden;
	}
/* Content blocks */
	.container {
		margin: 1em 0;
		padding: 0;
		border: 10px solid #f4f4f4;
		background: #f4f4f4;
	}
	.data-entry {
		border-color: #eef0e7;
		background-color: #eef0e7;
	}
	.container-block {
		border: 2px solid #e9e9e9;
		background-color: #fff;
		margin: 0;
		padding: 0 15px;
	}
	.container-block h3 {
		margin: 0 -15px 1em -15px;
		padding: 0.5em 0.7em;
		background: #f8f8f8 url("/components/com_wishlist/images/light-stripes.png");
		border-bottom: 2px solid #e9e9e9;
		font-size: 135%;
	}
	.container-block h4 {
		font-size: 115%;
		border-bottom: 1px solid #eee;
		padding: 0.2em 0;
		font-weight: normal;
	}
	.container-block h4 a {
		color: #333;
	}
	.container-block h4 .more {
		float: right;
		color: #aaa;
	}
	.container-block h4 a:hover,
	.container-block h4 a:hover .more {
		border: none;
		color: #ff6600;
	}
	.container-block .columns {
		margin-top: 0em;
		margin-bottom: 1em;
	}
	.container-block .entry-content {
		margin: 0 0 2em 0;
	}
	.container-block .entry-content h4 {
		font-weight: bold;
	}
/* Entries search */
	.entry-search {
		margin: 0 1em 0 0;
		border: none;
		padding: 0;
	}
	.entry-search label {
		display: none;
	}
	.entry-search ul.textboxlist-holder {
		background: #fff url("/components/com_wishlist/images/tags.png") 5px 50% no-repeat;
		padding-left: 23px;
	}
	.entry-search-submit {
		float: right;
		margin: 3px 0 0 10px;
	}
	.entry-search input#entry-search-text {
		width: 95%;
		border: 1px solid #A8A8A8;
		background: #fff url("/components/com_wishlist/images/search.png") 5px 50% no-repeat;
		padding: 5px 5px 5px 20px;
	}
/* Aside */
	.aside .container {
		margin: 0 0 0 0;
		padding: 0;
		background-color: #F4F4ee;
		border: 10px solid #F4F4ee;
	}
	/* Headers */
	.aside .container h3,
	.aside .container h4 {
		margin: -10px -10px 1em -10px;
		padding: 5px 10px;
		background-color: #999;
		color: #fff;
		font-size: 1em;
	}
	/* Paragraphs */
	.aside .container p {
		margin: 1em 0 0 0;
	}
	.aside .container .starter {
		padding: 0 0 0 0;
		position: relative;
		display: block;
	}
	.aside .container .starter .starter-point {
		border-color: #999 transparent transparent transparent;
		border-style: solid dashed dashed dashed;
		border-width: 10px;
		height: 0;
		width: 0;
		display: block;
		overflow: hidden;
		position: absolute;
		top: -1em;
		left: 10px;
	}
	/* Lists */
	.aside .container ul,
	.aside .container li {
		margin-left: 0;
		padding-left: 0;
		list-style: none;
	}
	.aside .container ul {
		margin: 0.5em 0 0.5em 0;
		padding: 0;
	}
	/* 
		0px (bullet arrow)
		-155px (bullet plus)
		-273px (mail) 
		-425px (comment)
		-575px (article)
		-730px (small bullet)
	*/
	.aside .container li {
		padding: 0 0 0 0;
		margin: 0.2em 0;
		padding: 0 0 0 15px;
		background: url("/components/com_wishlist/images/bullets_small.png") no-repeat 0px -730px; 
	}
	.aside .container a.active {
		color: #777;
		font-weight: bold;
	}
	.aside .wishs li {
		background: url("/components/com_wishlist/images/bullets_small.png") no-repeat 0px -425px;
	}
	.aside .articles li {
		background: url("/components/com_wishlist/images/bullets_small.png") no-repeat 0px -575px;
	}
	.aside .categories li {
		background: url("/components/com_wishlist/images/bullets_small.png") no-repeat 0px -730px;
	}
	.aside .container .tags li {
		background: transparent;
		padding: 0 0.2em;
	}
/* Below */
	.below {
		margin-top: 0;
		border-top: none;
	}
	.below .subject {
		margin-top: 0;
		background: #fff;
		border-top: 1px solid #efefef;
		border-bottom: 1px solid #fff;
		padding: 1em 0 0 0;
	}
	.below .aside {
		padding: 1em 0 0 0;
	}
	.below h3 {
		font-weight: normal;
		text-transform: uppercase;
		letter-spacing: 1px;
		margin: 1em 0 0 70px;
		padding: 0.5em 0;
	}
/* Entries (list) */
	ul.answers,
	ul.wishs {
		list-style: none;
		margin: 1em 0;
	}
	.answers li,
	.wishs li {
		background-image: none;
		padding: 0px 0.4em;
	}
	ul.answers li,
	ul.wishs li {
		padding: 0 0 0 17px;
		margin: 0.3em 0;
		background: url("/components/com_wishlist/images/bullets_medium.gif") no-repeat 0px -133px;
	}
	ul.answers li {
		background: url("/components/com_wishlist/images/bullets_medium.gif") no-repeat 0px -442px;
	}
	.entries .list-footer li {
		background-image: none;
	}
/* Entries (table) */
	.entries {
		border: 2px solid #e9e9e9;
		border-top: none;
		background-color: #fff;
		margin: 0;
		padding: 0;
	}
	.entries caption {
		font-size: 115%;
		background: #f8f8f8 url("/components/com_wishlist/images/light-stripes.png");
		border: 2px solid #e9e9e9;
		border-bottom: 1px solid #e9e9e9;
		margin-right: -2px; /* Fix 2px issue */
	}
	.entries caption a {
		float: right;
	}
	.entries caption a {
		background-position: 0 50%;
	}
	.container-block h4 span,
	.entries caption span {
		color: #aaa;
	}
	.entries thead th {
		text-align: left;
		background-color: #f9d800;
	}
	.entries tbody td {
		text-align: left;
		border-bottom: 1px solid #eee;
		padding: 10px;
	}
	.entries tbody th {
		width: 5px;
		text-align: center;
		border-bottom: 1px solid #eee;
	}
	.entry-details {
		font-size: 85%;
		color: #999;
	}
	.entry-details a {
		color: #666;
		border-bottom: 1px dotted #666;
	}
	.entry-details a:hover {
		color: #000;
		border-bottom: 1px solid #333;
	}
	.entry-details-divider {
		margin-left: 0.5em;
		margin-right: 0.5em;
	}
	.entry-comments {
		padding-right: 16px;
		background: url("/components/com_wishlist/images/bullets_small.png") no-repeat right -428px;
	}

	.entries .entry-id {
		display: none;
	}
	.ideas tbody th {
		background: url("/components/com_wishlist/images/lightbulb_off.png") right 15px no-repeat;
	}
	/* Accepted */
	.ideas tbody tr.accepted {
		background: #ffe;
	}
	.ideas tbody tr.accepted th {
		background: url("/components/com_wishlist/images/lightbulb.png") right 15px no-repeat;
	}
	/* Granted */
	.ideas tbody tr.granted th {
		background: url("/components/com_wishlist/images/lightbulb_granted.png") right 15px no-repeat;
	}
	.ideas tbody tr.granted {
		background: #f7fef4;
	}
	/* Rejected */
	.ideas tbody tr.rejected th {
		background: url("/components/com_wishlist/images/lightbulb_rejected.png") right 15px no-repeat;
	}
	.ideas tbody tr.rejected {
		background: #fff6f4;
	}
	/* Flagged */
	.ideas tbody tr.flagged th {
		background: url("/components/com_wishlist/images/lightbulb_flagged.png") right 15px no-repeat;
	}
	/* Withdrawn */
	.ideas tbody tr.withdrawn {
		background: #f1f1f1;
	}
	.ideas tbody tr.withdrawn th {
		background: url("/components/com_wishlist/images/lightbulb_withdrawn.png") right 15px no-repeat;
	}
	/* Private */
	.ideas tbody tr.private {
		background-image: none;
	}
	.ideas tbody tr.private th {
		background-image: url("/components/com_wishlist/images/lightbulb_private.png"); /* lock.png */
	}
	.entries tbody td.voting,
	.voting {
		text-align: right;
		white-space: nowrap;
	}
	p.voting {
		float: right;
		min-width: 10em;
		margin: 0.7em 0 0.7em 0;
		padding: 0;
	}
	.container-block .entry-details {
		padding: 0.7em 0 0.7em 0;
	}
	.entry-popularity {
		display: none;
	}
	.rankit,
	.ideas .ranking span {
		text-transform: uppercase;
		font-size: xx-small;
		font-weight: bold;
		white-space: nowrap;
	}
	.ideas .ranking .accepted {
		color: #f1c037;
	}
	.ideas .ranking .granted {
		color: #7AAB69;
	}
	.ideas .ranking .flagged,
	.ideas .ranking .rejected {
		color: #CC0000;
	}
	.ideas .ranking .withdrawn {
		color: #bbb;
	}
/* Priority */
	.priority-level-base {
		display: block;
		margin: 0;
		padding: 0;
		height: 3px; 
		background-color: #ddd;
		width: 5.5em;
	}
	.priority-level {
		display: block;
		margin: 0;
		padding: 0;
		height: 3px; 
		background-color: #aaa;
	}
	.priority-level span {
		display: none;
	}
/* Submenu styling */
	.entries-menu {
		list-style: none;
		padding: 0;
		margin: 0;
		font-size: 85%;
	}
	.entries-menu li {
		float: right;
		padding: 0 0.2em 0.5em 0.2em;
		margin: 0;
	}
	.entries-menu li a,
	.entries-menu span.nolink {
		color: #888;
		display: block;
		cursor: pointer;
		font-weight: normal;
		line-height: 1em;
		border: none;
		margin: 0;
		padding: 0.4em 0.75em;
		text-shadow: 0px 1px 1px #fff;
	}
	.entries-menu span.nolink {
		color: #999;
	}
	.entries-menu a.active,
	.entries-menu span.nolink.active {
		color: #fff;
		background-color: #636166;
		-moz-border-radius: 10px;
		-webkit-border-radius: 10px;
		-webkit-border-radius: 10px;
		border-radius: 10px;
		text-shadow: 0 1px 1px rgba(0,0,0,.3);
		text-decoration: none;
	}
	.entries-menu a:hover {
		color: #fff;
		background-color: #fc9022;
		-moz-border-radius: 10px;
		-webkit-border-radius: 10px;
		-webkit-border-radius: 10px;
		border-radius: 10px;
		text-shadow: 0 1px 1px rgba(0,0,0,.3);
		text-decoration: none;
	}
	.filter-options li {
		float: left;
	}
	.filter-options {
		width: 60%;
	}
/* Voting */
	.vote-button {
		display: inline-block;
		zoom: 1; /* zoom and *display = ie7 hack for display:inline-block */
		*display: inline;
		vertical-align: baseline;
		margin: 0 2px;
		outline: none;
		cursor: pointer;
		text-align: center;
		text-decoration: none;
		font: 11px/100% Arial, Helvetica, sans-serif;
		line-height: 11px;
		padding: 0.2em 0.75em 0.275em 0.75em;
		text-shadow: 0 1px 1px rgba(0,0,0,.3);
		-webkit-border-radius: .5em; 
		-moz-border-radius: .5em;
		border-radius: .5em;
		opacity: 0.8;
	}
	.chosen .vote-button,
	.vote-button:hover {
		text-decoration: none;
		opacity: 1;
	}
	.vote-button:active {
		position: relative;
		top: 1px;
		opacity: 1;
	}
	.vote-like,
	.vote-dislike {
		margin: 0;
		padding: 0;
	}
	.vote-like .vote-button {
		margin-right: 0;
		-moz-border-radius-bottomright: 0;
		-moz-border-radius-topright: 0;
		-webkit-border-bottom-right-radius: 0;
		-webkit-border-top-right-radius: 0;
		border-bottom-right-radius: 0;
		border-top-right-radius: 0;
	}
	.vote-dislike .vote-button {
		margin-left: -5px;
		-moz-border-radius-bottomleft: 0;
		-moz-border-radius-topleft: 0;
		-webkit-border-bottom-left-radius: 0;
		-webkit-border-top-left-radius: 0;
		border-bottom-left-radius: 0;
		border-top-left-radius: 0;
	}
	/* neutral (gray base colors) */
	.vote-button,
	a.vote-button {
		color: #aaa;
		border: solid 1px #b7b7b7;
		background: #fff;
		background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ededed));
		background: -moz-linear-gradient(top,  #fff,  #ededed);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed');
	}
	.vote-button:hover,
	a.vote-button:hover {
		color: #606060;
		border: solid 1px #b7b7b7;
		background: #ededed;
		background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#dcdcdc));
		background: -moz-linear-gradient(top,  #fff,  #dcdcdc);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dcdcdc');
	}
	.vote-button:active,
	a.vote-button:active {
		border: solid 1px #b7b7b7;
		color: #999;
		background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#fff));
		background: -moz-linear-gradient(top,  #ededed,  #fff);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#ffffff');
	}
	/* dislike (rose) */
	.chosen .dislike,
	.voting:hover a.dislike,
	.entries tr:hover a.dislike {
		color: #fae7e9;
		border: solid 1px #b73948;
		background: #da5867;
		background: -webkit-gradient(linear, left top, left bottom, from(#f16c7c), to(#bf404f));
		background: -moz-linear-gradient(top,  #f16c7c,  #bf404f);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f16c7c', endColorstr='#bf404f');
	}
	.chosen .dislike:hover,
	.voting:hover a.dislike:hover,
	.entries tr:hover a.dislike:hover {
		border: solid 1px #b73948;
		background: #ba4b58;
		background: -webkit-gradient(linear, left top, left bottom, from(#cf5d6a), to(#a53845));
		background: -moz-linear-gradient(top,  #cf5d6a,  #a53845);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cf5d6a', endColorstr='#a53845');
	}
	.chosen .dislike:active,
	.voting:hover a.dislike:active,
	.entries tr:hover a.dislike:active {
		border: solid 1px #b73948;
		color: #dca4ab;
		background: -webkit-gradient(linear, left top, left bottom, from(#bf404f), to(#f16c7c));
		background: -moz-linear-gradient(top,  #bf404f,  #f16c7c);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bf404f', endColorstr='#f16c7c');
	}
	/* like (green) */
	.chosen .like,
	.voting:hover a.like,
	.entries tr:hover a.like {
		color: #e8f0de;
		border: solid 1px #538312;
		background: #64991e;
		background: -webkit-gradient(linear, left top, left bottom, from(#7db72f), to(#4e7d0e));
		background: -moz-linear-gradient(top,  #7db72f,  #4e7d0e);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7db72f', endColorstr='#4e7d0e');
	}
	.chosen .like:hover,
	.voting:hover a.like:hover,
	.entries tr:hover a.like:hover {
		border: solid 1px #538312;
		background: #538018;
		background: -webkit-gradient(linear, left top, left bottom, from(#6b9d28), to(#436b0c));
		background: -moz-linear-gradient(top,  #6b9d28,  #436b0c);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6b9d28', endColorstr='#436b0c');
	}
	.chosen .like:active,
	.voting:hover a.like:active,
	.entries tr:hover a.like:active {
		border: solid 1px #538312;
		color: #a9c08c;
		background: -webkit-gradient(linear, left top, left bottom, from(#4e7d0e), to(#7db72f));
		background: -moz-linear-gradient(top,  #4e7d0e,  #7db72f);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4e7d0e', endColorstr='#7db72f');
	}
	/* thumbs up/down image */
	.vote-button span {
		display: inline-block;
		width: 14px;
		height: 14px;
		overflow: hidden;
		text-indent: -55em;
		padding: 0;
		margin: 0 0 0 3px;
	}
	.vote-like .neutral span,
	.like span {
		background: url("/components/com_wishlist/images/thumbs.png") 0 0 no-repeat;
	}
	.vote-dislike .neutral span,
	.dislike span {
		background: url("/components/com_wishlist/images/thumbs.png") 0 -14px no-repeat;
	}
/* Rewards */
	.ideas tbody td.reward {
		text-align: right;
	}
	.entry-reward {
		white-space: nowrap;
		color: #999;
		font-size: 85%;
	}
	.entry-reward a {
		background: url("/components/com_wishlist/images/coins.png") top right no-repeat;
		padding: 0 20px 0 0;
		display: inline-block;
		color: #999;
	}
	.entry-reward a span {
		display: none;
	}
/* Wish */
	.wish {
		margin: 1em 0 0 0;
	}
	/* Member photo */
	.wish p.wish-member-photo {
	    float: left;
	    margin: 0;
	    padding: 0 20px 0 0;
	    width: 50px;
		height: 50px;
		overflow: hidden;
	    color: #777;
	    font-size: 11px;
	    text-align: right;
		position: relative;
	}
	.wish .wish-anchor {
		border-color: transparent #F4F4ee transparent transparent;
		border-style: dashed solid dashed dashed;
		border-width: 10px;
		height: 0;
		width: 0;
		display: block;
		overflow: hidden;
		position: absolute;
		top: 20px;
		right: 0px;
	}
	/* Content */
	.wish .wish-content {
		margin: 0 0 0 70px;
		background-color: #F7F7F2;
		border: 10px solid #F4F4ee;
		padding: 0 1em;
	}
	/* Permalink */
	.wish .permalink {
		border: none;
		color: #bfbfbf;
	}
	.wish .permalink:hover {
		color: #000;
		border: none;
	}
	/* Subject */
	.wish .wish-subject {
		margin: 1em -1em 0 -1em;
		padding: 1em;
		font-weight: bold;
		background-color: #FdFdF8;
	}
	.wish .wish-details {
		margin: 0 -1em 1em -1em;
		padding: 0 1em 1em 1em;
		background-color: #FdFdF8;
	}
	.wish .wish-subject>p,
	.wish .wish-details>p {
		margin-top: 0;
	}
	/* Tags */
	.wish .wish-tags {
		margin: 0;
		padding: 0 0 1em 0;
		
		color: #aaa;
	}
	.wish .wish-tags p {
		display: none;
	}
	.wish .wish-tags .tags {
		margin: 0;
		padding: 0 0 0 20px;
		font-size: 90%;
		background: url("/components/com_wishlist/images/tag_orange.png") 0 0.2em no-repeat;
	}
	.wish .wish-tags .tags li {
		margin: 0 0.5em 0 0;
	}
	/* Options */
	.wish-options {
		visibility: hidden;
		list-style: none;
		margin: 0 0 0.5em 70px;
		padding: 0;
	}
	.wish:hover .wish-options {
		visibility: visible;
	}
	.wish .wish-options li {
		list-style: none;
		display: inline;
		margin-right: 2em;
	}
	/* Action links */
	.abuse {
		background: url("/components/com_resources/images/abuse.gif") 0 0 no-repeat;
		padding-left: 15px;
		font-size: inherit;	
		border: none;
	}
	.abuse:hover {
		background-position: 0 -20px;
	}
	.deletewish {
		background: url("/components/com_wishlist/images/delete.gif") 0 0 no-repeat;
		padding-left: 15px;
		font-size: inherit;	
		border: none;
	}
	.deletewish:hover {
		background-position: 0 -20px;
	}
	.transfer {
		background: url("/components/com_wishlist/images/transfer.gif") 0 0 no-repeat;
		padding-left: 15px;
		font-size: inherit;	
		border: none;
	}
	.transfer:hover {
			background-position: 0 -20px;
		}
		.grant {
			background: url("/components/com_wishlist/images/grant.gif") 0 0 no-repeat;
			padding-left: 15px;
			font-size: inherit;	
			border: none;
		}
		.grant:hover {
			background-position: 0 -20px;
		}
		.changestatus {
			background: url("/components/com_wishlist/images/pin.gif") 0 0 no-repeat;
			padding-left: 15px;
			font-size: inherit;	
			border: none;
		}
		.changestatus:hover {
			background-position: 0 -20px;
		}
		.editwish {
			background: url("/components/com_wishlist/images/edit.gif") 0 0 no-repeat;
			padding-left: 16px;
			font-size: inherit;	
			border: none;
		}
		.editwish:hover {
			background-position: 0 -20px;
		}
		.makeprivate {
			background: url("/components/com_wishlist/images/private.gif") 0 0 no-repeat;
			padding-left: 18px;
			font-size: inherit;	
			border: none;
		}
		.makeprivate:hover {
			background-position: 0 -20px;
		}
		.makepublic {
			background: url("/components/com_wishlist/images/nonprivate.gif") 0 0 no-repeat;
			padding-left: 18px;
			font-size: inherit;	
			border: none;
		}
		.makepublic:hover {
			background-position: 0 -20px;
		}
	/* Status */
	.wish-status {
		margin: 0;
		padding: 0;
	}
	.wish-status .rejected,
	.wish-status .pending,
	.wish-status .granted {
		margin: 0;
		text-transform: uppercase;
		letter-spacing: 1px;
		font-size: 1.2em;
		padding: 0.5em;
		text-align: center;
		border: 5px solid #fff; 
		background: #fff url("/components/com_wishlist/images/light-stripes.png");
	}
	.wish-status .rejected {
		color: #c00;
		border-color: #EFCCC2; 
		background: #FFF2EF url("/components/com_wishlist/images/light-stripes.png");
	}
	.wish-status .pending {
		color: #aaa;
		border-color: #ccc;
		background-color: #eee;
	}
	.wish-status .granted {
		color: #7AAB69;
		border-color: #CDDECA;
		background-color: #F3FDF0;
	}	
	/* Voting */
	.wish .wish-voting {
		float:right; 
	}
	.wish .wish-voting .wish_vote {
		margin: 0 0 0 1em;
		color: #666;
	}
	.wish .wish-voting .wish_vote a,
	.wish .wish-voting .wish_vote a.voted {
		border: none;
		width: 19px;
		height: 19px;
		display: inline-block;
		margin: 0;
		padding: 0 0 3px 0;
		color: #bfbfbf;
		overflow: hidden;
		text-indent: -55em;
	}
	.wish .wish-voting .wish_vote a.voted {
		background: url("/components/com_wishlist/images/thumbup_ok.gif") 0 0 no-repeat;
	}
	.wish .wish-voting .wish_vote a {
		background: url("/components/com_wishlist/images/thumbup.gif") 0 0 no-repeat;
		height: 15px;	
	}
	.wish .wish-voting .wish_vote a:hover {
		background-position: 0 -32px;
		color: #000;
	}
	.wish-bonus {
		margin: 1em 0;
		border-top: 1px solid #efefef;
		border-bottom: 1px solid #efefef;
		padding: 1em 0 1em 0;
		line-height: 2em;
	}
	.wish-bonus p {
		font-size:x-small;
		color: #999;
		text-transform: uppercase;
	}
	.wish-point-value {
		color: #000;
		font-weight:bold;
		text-transform: lowercase;
		font-size: inherit;	
		padding: 0;
	}
	.wish-bonus p.wish-point-info {
		display:block;
		margin-top:1em;
		margin-right:2em;
		font-style:italic;
		font-weight: bold;
		line-height:1.2em;
		text-transform: none;
	}
	/* Priority */
	.wish-priority {
		border: 2px solid #EFEAC2;
		border-top: none;
		background-color: #fff;
		margin: 0;
		padding: 0;
	}
	.wish-priority caption {
		font-size: 115%;
		background: #FFFDEF url("/components/com_wishlist/images/light-stripes.png");
		border: 2px solid #EFEAC2;
		border-bottom: 1px solid #eee;
		margin-right: -2px; /* Fix 2px issue */
	}
	.wish-priority caption span {
		color: #aaa;
	}
	.wish-priority thead th {
		text-align: left;
		font-size: 85%;
		background: #fbfbf6;
		color: #999;
	}
	.wish-priority tbody td {
		text-align: left;
		border-bottom: 1px solid #eee;
		padding: 10px;
	}
	.wish-priority tbody th {
		text-align: right;
		font-weight: bold;
		border-bottom: 1px solid #eee;
	}
	.wish .container {
		margin-left: 70px;
		border-color: #FFFDEF;
	}
/* Comments */
	/* Header */
	h3.comments-title {
		position: relative;
	}
	h3.comments-title .feed {
		display: block;
		width: 16px;
		height: 16px;
		overflow: hidden;
		text-indent: -55em;
		position: absolute;
		top: 5px;
		right: 0px;
		margin: 0;
		padding: 0;
	}
	/* List */
	ol.comments {
		list-style-type: none !important;
		margin: 0;
		padding: 0;
		background: transparent;
	}
	ol.comments li {
		clear: left;
		margin: 0;
		padding: 0;
		border-top: 1px solid #fff;
	}
	ol.comments ol {
		margin: 0;
		padding: 0;
	}
	ol.comments li li {
		padding-left: 70px;
	}
	/* Options */
	.abuse {
		background: url("/components/com_wishlist/images/abuse.gif") 0 0 no-repeat;
		padding-left: 15px;
	}
	.reply {
		background: url("/components/com_wishlist/images/reply.gif") 0 0 no-repeat;
		padding-left: 15px;
	}
	.abuse:hover,
	.reply:hover {
		background-position: 0 -20px;
	}
	.comment-options {
		color: #fff;
		font-size: 90%;
		visibility: hidden;
	}
	ol.comments .comment-content:hover .comment-options {
		visibility: visible;
	}
	.comment-options a {
		margin-right: 1em;
	}		
	.comment-options a span {
		display: none;
	}
	/* Member photo */
	ol.comments p.comment-member-photo {
	    float: left;
	    margin: 0;
	    padding: 0 20px 0 0;
		width: 50px;
		height: 50px;
		overflow: hidden;
	    color: #777;
	    font-size: 11px;
	    text-align: right;
		position: relative;
	}
	ol.comments .comment-anchor {
		border-color: transparent #f2f2f2 transparent transparent;
		border-style: dashed solid dashed dashed;
		border-width: 10px;
		height: 0;
		width: 0;
		display: block;
		overflow: hidden;
		position: absolute;
		top: 20px;
		right: 0px;
	}
	/* Content */
	ol.comments .comment-content {
		margin: 0 0 1em 70px;
		background-color: #fafafa;
		border: 10px solid #f2f2f2;
		padding: 0 1em;
	}
	.no-comments {
		background-color: #fafafa;
		border: 10px solid #f2f2f2;
		padding: 1em;
	}
	ol.comments .comment-voting {
		margin: 0;
		padding: 0;
	}
	ol.comments .comment-voting .thumbsvote {
		margin-top: 0.5em;
	}
	/* Author comments */
	ol.comments .author .comment-content,
	ol.comments .author ol.comments .author .comment-content {
		background-color: #fdfbf8;
		border-color: #f9f2ec;
	}
	ol.comments .author .comment-anchor,
	ol.comments .author ol.comments .author .comment-anchor {
		border-color: transparent #f9f2ec transparent transparent;
	}
	ol.comments .author ol.comments .comment-content,
	ol.comments .author ol.comments .author ol.comments .comment-content {
		background-color: #fafafa;
		border-color: #f2f2f2;
	}
	ol.comments .author ol.comments .comment-anchor,
	ol.comments .author ol.comments .author ol.comments .comment-anchor {
		border-color: transparent #f2f2f2 transparent transparent;
	}
	/* Chosen comments */
	ol.comments .chosen .comment-content {
		background-color: #f9f8fd;
		border-color: #eeecf9;
	}
	ol.comments .chosen .comment-anchor {
		border-color: transparent #eeecf9 transparent transparent;
	}	
	/* Details (date, time) */
	ol.comments span.comment-details {
		color: #bfbfbf;
	}
	/* Permalink */
	ol.comments .permalink {
		border: none;
		color: #bfbfbf;
	}
	ol.comments .permalink:hover {
		color: #000;
		border: none;
	}
	ol.comments .odd,
	ol.comments .even {
		background: transparent;
	}
/* Comment form */
	/* Header */
	.below h3.post-comment-title {
		margin-right: 235px;
	}
	/* Form */
	.edit-form {
		margin: 0 0 0 70px;
		padding: 0;
	}
	.edit-form fieldset {
		border: 10px solid #eeecf9;
		background-color: #f9f8fd;
		margin: 0;
		padding: 0 1em 0em 1em;
		text-align: left;
		color: #777;
	}
	.edit-form label {
		padding-top: 1em;
		position: relative;
		display: block;
	}
	.edit-form label span {

	}
	.edit-form .sidenote {
		border: 1px solid #eeecf9;
		padding: 0 1em;
		margin: 0 -1em 0 -1em;
		color: #aaa;
		background-color: #f3f2fb;
	}
	.edit-form h4 {
		margin: 1em 0;
	}
	.edit-form fieldset fieldset {
		border: 1px solid #eeecf9;
		margin: 1em 0;
		padding: 0 1em 1em 1em;
		text-align: left;
	}
	.edit-form .secondary_option {
		margin-left: 2em;
	}
	
	#planform,
	#commentform {
		margin: 0;
		padding: 0;
	}
	#planform fieldset,
	#commentform fieldset {
		background: #F5F7F2;
		border: 10px solid #DEE4CD;
		margin: 0;
		padding: 0 1em 0em 1em;
		text-align: left;
		color: #777;
	}
	#planform fieldset fieldset,
	#commentform fieldset fieldset {
		border: 1px solid #DEE4CD;
		margin: 1em 0;
		padding: 0 1em 0em 1em;
		text-align: left;
	}
	#planform p.plan-member-photo,
	#commentform p.comment-member-photo {
		float: left;
		margin: 0;
		padding: 0 20px 0 0;
		width: 50px;
		height: 50px;
		overflow: hidden;
		color: #777;
		font-size: 11px;
		text-align: right;
		position: relative;
	}
	#planform .plan-anchor,
	#commentform .comment-anchor {
		border-color: transparent #DEE4CD transparent transparent;
		border-style: dashed solid dashed dashed;
		border-width: 10px;
		height: 0;
		width: 0;
		display: block;
		overflow: hidden;
		position: absolute;
		top: 20px;
		right: 0px;
	}
	#planform .sidenote,
	#commentform .sidenote {
		border: 1px solid #edf0e8;
		padding: 0 1em;
		margin: 0 -1em 0 -1em;
		color: #aaa;
		background-color: #edf0e8;
	}
	#planform .required,
	#planform .optional,
	#commentform .required,
	#commentform .optional {
		text-transform: uppercase;
		letter-spacing: 1px;
		font-size: 80%;
	}
	#planform .required,
	#commentform .required {
		color: #AD6456;
	}
	#planform .optional,
	#commentform .optional {
		color: #888;
	}
	#planform label,
	#commentform label {
		padding-top: 1em;
		position: relative;
		display: block;
	}
	#planform label span,
	#commentform label span {
		position: absolute;
		top: 1.5em;
		right: 0;
		display: none;
	}
	#planform .grouping,
	#commentform .grouping {
		position: relative;
		margin-left: -3em;
		padding: 0 0 1.5em 5em;
		overflow: hidden;
		top: 1em;
		left: 1.5em;
	}
	#planform .grouping label,
	#commentform .grouping label {
		padding: 0;
		float: left;
		width: 50%;
	}
	#planform .grouping label:first-child,
	#commentform .grouping label:first-child {
		margin: 0 2em 0 -3.5em;
	}
	#planform .grouping label span,
	#commentform .grouping label span {
		top: 0;
	}
	#planform input, 
	#planform select, 
	#planform textarea,
	#commentform input, 
	#commentform select, 
	#commentform textarea {
		margin-top: 0.25em;
		width: 100%;
	}
	#planform .submit,
	#commentform .submit {
		clear: both;
		margin: -1.5em 0 1em 0;
		padding: 0;
		text-align: right;
	}
	#planform .submit input,
	#planform .option,
	#commentform .submit input,
	#commentform .option {
		width: auto;
	}
	#commentform #comment-anonymous-label {
		width: 50%;
	}
		
	#planform fieldset {
		background-color: #f9f8fd;
		border-color: #eeecf9;
	}
	#planform fieldset fieldset {
		border-color: #eeecf9;
		padding: 1em;
	}
	#planform fieldset fieldset label {
		display: inline;
	}
	#planform fieldset fieldset span,
	#planform fieldset fieldset #nodue-label {
		margin-right: 1em;
	}
	#planform .plan-anchor {
		border-color: transparent #eeecf9 transparent transparent;
	}
	#planform .sidenote {
		background-color: #f3f2fb;
		border-color: #eeecf9;
	}
	#planform .submit {
		margin: 1em 0 1em 0;
	}
/* Wiki Reference */
	table.wiki-reference {
		border: none;
		font-size: 11px;
		margin: 0;
	}
	table.wiki-reference caption {
		font-weight: bold;
	}
	table.wiki-reference tbody td {
		border-top: 1px solid #efefef;
		border-bottom: 1px solid #efefef;
	}
/* Add comment */
	.addcomment {
		margin: 0 0 1em 0;
		padding: 1em;
		border: 10px solid #ccc;
		background-color: #eee;
	}
	.addcomment label {
		display: block;
	}
	.addcomment .cancelreply {
		margin-left: 2em;
	}
	.addcomment .submit {
		clear: both;
		margin: -1.5em 0 0 0;
		padding: 0;
		text-align: right;
	}
	.addcomment input, 
	.addcomment select, 
	.addcomment textarea {
		margin-top: 0.25em;
		width: 100%;
	}	
	.addcomment .submit input,
	.addcomment .option {
		width: auto;
	}
	.addcomment .reply-anonymous-label {
		width: 50%;
	}
	.addcomment fieldset fieldset {
		margin: 1em 0;
		padding: 0 1em;
		border: 1px solid #ccc;
	}
	.addcomment .grouping {
		position: relative;
		margin-left: -3em;
		padding: 0 0 1.5em 5em;
		overflow: hidden;
		top: 1em;
		left: 1.5em;
	}
	.addcomment .grouping label {
		padding: 0;
		float: left;
		width: 50%;
	}
	.addcomment .grouping label:first-child {
		margin: 0 2em 0 -3.5em;
	}
/* IE 7 hacks */

/* IE 6 hacks */