/**
 * Copyright 2005-2009 by Purdue Research Foundation, West Lafayette, IN 47906.
 * All rights reserved.
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License,
 * version 2 as published by the Free Software Foundation. 
 */

/*

 Public page CSS
--------------------------------------------- */

/* Team list (horizontal) */
--------------------------------------------- */
#team-horiz {
	display: block;
}
.public-list-wrap {
	border-top: 1px solid #e2e2e2;
	border-bottom: 1px solid #e2e2e2;
	background: #f9f9f9;
	padding: 0.5em 1em;
}
.public-list-wrap ul {
	list-style: none;
	margin: 0;
	padding: 0.5em 1em;
}
.public-list-wrap ul li {
	margin: 0.5em 0;
	background: #FFFFFF;
	border-bottom: 1px solid #f9f9f9;
	padding: 0.5em;
}
.public-list-wrap img {
	vertical-align: middle;
	margin-right: 0.5em;
}
#team-horiz ul {
	padding-top: 1em;
}
#team-horiz ul li {
	display: block;
	margin: 0;
	padding: 0;
	margin-right: 2em;
	margin-bottom: 1em;
	padding: 0;
	float: left;
	width: 80px;
	height: 100px;
	font-size: 85%;
	vertical-align: middle;
	text-align: center;
	background: none;
	border: none;
}
#team-horiz ul li.clear {
	float: none;
	display: block;
	clear: both;
	height: 0;
	margin: 0;
	padding: 0;
}
.public-list-info {
	color: #ccc;
	margin-left: 1em;
	font-size: 85%;
}
.public-list-info a {
	color: #999;
}
.public-list-header h3 {
	margin-top: 2em;
	margin-bottom: 0.3em;
}