<?xml version="1.0" encoding="utf-8"?>

<!--
 Copyright 2005-2009 by Purdue Research Foundation, West Lafayette, IN 47906.
 All rights reserved.

 This program is free software; you can redistribute it and/or
 modify it under the terms of the GNU General Public License,
 Version 2 as published by the Free Software Foundation.

 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with this program; if not, write to the Free Software
 Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
-->

<config>
	<fieldset name="basic">
		<field name="citation_single_view" type="list" default="0" label="COM_CITATIONS_CONFIG_SINGLE_LABEL" description="COM_CITATIONS_CONFIG_SINGLE_DESC">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field type="spacer" />

		<field name="citation_label" type="list" default="number" label="COM_CITATIONS_CONFIG_LABEL_LABEL" description="COM_CITATIONS_CONFIG_LABEL_DESC">
			<option value="number">COM_CITATIONS_CONFIG_LABEL_NUMBER</option>
			<option value="type">COM_CITATIONS_CONFIG_LABEL_TYPE</option>
			<option value="both">COM_CITATIONS_CONFIG_LABEL_NUMBER_AND_TYPE</option>
			<option value="none">COM_CITATIONS_CONFIG_LABEL_NONE</option>
		</field>
		<field name="citation_rollover" type="list" default="no" label="COM_CITATIONS_CONFIG_ABSTRACT_LABEL" description="COM_CITATIONS_CONFIG_ABSTRACT_DESC">
			<option value="no">JNO</option>
			<option value="yes">JYES</option>
		</field>
		<field name="citation_sponsors" type="list" default="yes" label="COM_CITATIONS_CONFIG_SPONSORS_LABEL" description="COM_CITATIONS_CONFIG_SPONSORS_DESC">
			<option value="no">JNO</option>
			<option value="yes">JYES</option>
		</field>

		<field type="spacer" />

		<field name="citation_import" type="list" default="1" label="COM_CITATIONS_CONFIG_SINGLE_UPLOAD_LABEL" description="COM_CITATIONS_CONFIG_SINGLE_UPLOAD_DESC">
			<option value="0">COM_CITATIONS_CONFIG_UPLOAD_NOT_ALLOWED</option>
			<option value="1">COM_CITATIONS_CONFIG_UPLOAD_ALL_USERS</option>
			<option value="2">COM_CITATIONS_CONFIG_UPLOAD_ADMINS_ONLY</option>
		</field>

		<field name="citation_bulk_import" type="list" default="1" label="COM_CITATIONS_CONFIG_BULK_UPLOAD_LABEL" description="COM_CITATIONS_CONFIG_BULK_UPLOAD_DESC">
			<option value="0">COM_CITATIONS_CONFIG_UPLOAD_NOT_ALLOWED</option>
			<option value="1">COM_CITATIONS_CONFIG_UPLOAD_ALL_USERS</option>
			<option value="2">COM_CITATIONS_CONFIG_UPLOAD_ADMINS_ONLY</option>
		</field>

		<field type="spacer" />

		<field name="citation_download" type="list" default="1" label="COM_CITATIONS_CONFIG_SINGLE_EXPORT_LABEL" description="COM_CITATIONS_CONFIG_SINGLE_EXPORT_DESC">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>

		<field name="citation_batch_download" type="list" default="1" label="COM_CITATIONS_CONFIG_BULK_EXPORT_LABEL" description="COM_CITATIONS_CONFIG_BULK_EXPORT_DESC">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field name="citation_download_exclude" type="textarea" rows="5" cols="50" default="" label="COM_CITATIONS_CONFIG_EXCLUDE_EXPORT_LABEL" description="COM_CITATIONS_CONFIG_EXCLUDE_EXPORT_DESC" />

		<field type="spacer" />

		<field name="citation_coins" type="list" default="1" label="COM_CITATIONS_CONFIG_COINS_LABEL" description="COM_CITATIONS_CONFIG_COINS_DESC">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>

		<field name="citation_openurl" type="list" default="1" label="COM_CITATIONS_CONFIG_OPENURL_LABEL" description="COM_CITATIONS_CONFIG_OPENURL_DESC">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<!--<field name="citation_openurl_ip" type="text" default="10.x.x.x" label="Open URL Lookup IP" description="Uses HUB's IP to lookup Resolver when users ip matches these formats" />-->

		<field type="spacer" />

		<field name="citation_url" type="list" default="url" label="COM_CITATIONS_CONFIG_LINK_TYPE_LABEL" description="COM_CITATIONS_CONFIG_LINK_TYPE_DESC">
			<option value="url">COM_CITATIONS_CONFIG_LINK_TYPE_URL</option>
			<option value="custom">COM_CITATIONS_CONFIG_LINK_TYPE_CUSTOM_URL</option>
		</field>

		<field name="citation_custom_url" type="text" default="" label="COM_CITATIONS_CONFIG_LINK_URL_LABEL" description="COM_CITATIONS_CONFIG_LINK_URL_DESC" size="80" />

		<field type="spacer" />

		<field name="citation_cited" type="list" default="0" label="COM_CITATIONS_CONFIG_CITED_LABEL" description="COM_CITATIONS_CONFIG_CITED_DESC">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field name="citation_cited_single" type="text" default="" label="COM_CITATIONS_CONFIG_SINGLE_CITED_LABEL" description="COM_CITATIONS_CONFIG_SINGLE_CITED_DESC" size="80" />
		<field name="citation_cited_multiple" type="text" default="" label="COM_CITATIONS_CONFIG_MULTIPLE_CITED_LABEL" description="COM_CITATIONS_CONFIG_MULTIPLE_CITED_DESC" size="80" />

		<field type="spacer" />

		<field name="citation_show_tags" type="list" default="no" label="COM_CITATIONS_CONFIG_SHOW_TAGS_LABEL" description="COM_CITATIONS_CONFIG_SHOW_TAGS_DESC">
			<option value="no">JNO</option>
			<option value="yes">JYES</option>
		</field>
		<field name="citation_allow_tags" type="list" default="no" label="COM_CITATIONS_CONFIG_ALLOW_TAGS_LABEL" description="COM_CITATIONS_CONFIG_ALLOW_TAGS_DESC">
			<option value="no">JNO</option>
			<option value="yes">JYES</option>
		</field>

		<field name="citation_show_badges" type="list" default="no" label="COM_CITATIONS_CONFIG_SHOW_BADGES_LABEL" description="COM_CITATIONS_CONFIG_SHOW_BADGES_DESC">
			<option value="no">JNO</option>
			<option value="yes">JYES</option>
		</field>
		<field name="citation_allow_badges" type="list" default="no" label="COM_CITATIONS_CONFIG_ALLOW_BADGES_LABEL" description="COM_CITATIONS_CONFIG_ALLOW_BADGES_DESC">
			<option value="no">JNO</option>
			<option value="yes">JYES</option>
		</field>
		<field type="spacer" />
	</fieldset>
</config>