/*

	-- -- -- -- -- -- --
	com_myhub CSS
	-- -- -- -- -- -- --

*/

/* Container columns */
	.sortcolumn {
		margin: 2em 0;
		padding: 0;
		float: left;
		width: 33%;
		}
	.sortcolumn table {
		width: 100%;
		}
/* Sortable lists */
	ul.sortablelist,
	ul.sortable { 
		list-style-image: none;
		list-style-type: none;
		margin: 0 1em 0 1em;
		padding: 0;
		}
	ul.sortable li {
		margin: 0 0 2em 0;
		padding: 0;
		background-color: #fff;
		border: 1px solid #CECFCE;
		background-image: none;
		}
	ul.sortable li .wrapper {
		padding: 0;
		margin: 0;
		}
	ul.sortable li .wrapper p {
		padding-left: 0.5em;
		padding-right: 0.5em;
		}
	ul.sortable li .wrapper p.archive,
	ul.sortable li .wrapper p.help,
	ul.sortable li .wrapper p.information,
	ul.sortable li .wrapper p.alert,
	ul.sortable li .wrapper p.warning,
	ul.sortable li .wrapper p.failed,
	ul.sortable li .wrapper p.error,
	ul.sortable li .wrapper p.passed,
	ul.sortable li .wrapper p.locked,
	ul.sortable li .wrapper p.timed,
	ul.sortable li .wrapper p.flagged {
		padding-left: 30px;
		}
	ul.sortable li h2,
	ul.sortable li h3, 
	ul.sortable li h4 {
		margin: 0;
		padding: 0.2em 0 0.2em 0.5em;
		color: #646564;
		font-weight: bold;
		background-image: none;
		}
	ul.sortable li .wrapper h4 {
		background-color: #efefef;
		margin: 0;
		padding: 0.2em 0.5em;
		}
	ul.sortable li ul {
		margin: 0 0 0 1.5em;
		padding: 0;
		}
	ul.sortable .more {
		text-align: right;
		margin-bottom: 0;
		padding-bottom: 0;
		}
	ul.sortable li li {
		border: none;
		margin: 0;
		padding: 3px;
		}
	ul.sortable {
		min-height: 100px;
		}
	ul.sortable li.emphasis {
		border: 1px solid #646464;
		padding: 0;
		background: #646464;
		}
	ul.sortable li.emphasis h3 {
		color: #fff;
		font-size: 1em;
		margin: 0;
		padding: 0.2em 0 0.2em 0.5em;
		}
	ul.sortable li.emphasis .wrapper {
		padding: 0;
		margin: 0;
		}
/* Droppable modules handles */
	.handle {
		margin: 0;
		padding: 0.2em 0.5em;
		background-color: #CECFCE;
		color: #646564;
		font-size: 1em;
		font-style: normal;
		font-weight: bold;
		cursor: move;
		}
	.unhandle {
		margin: 0;
		padding: 0.2em 0.5em;
		background-color: #CECFCE;
		color: #646564;
		font-size: 1em;
		font-style: normal;
		font-weight: bold;
		cursor:auto;
		}
	.handle a {
		cursor: pointer;
		}
/* Droppable module hover state */
	div.drophover {
		background-color: #FFF4D8;
		border:1px solid #E8A400;
		}
/* Module controls */
	.modcontrols {
		width: 2em;
		display: block;
		margin: -1.3em 0 0 0;
		position: relative;
		text-align: right;
		float: right;
		}
	.modcontrols>.delmodl {
		position: absolute;
		top: -0.2em;
		right: 0.2em;
		}
	.modcontrols a {
		cursor: pointer;
		}
	.nada {
		cursor: auto;
		display: none;
		}
	.edimodl {
		margin-right: 2em;
		color: #777;
		}
	.edimodl:hover {
		color: #333;
		}
	.delmodl { 
		background: url("x.gif") 0 0 no-repeat; 
		text-align: left;
		margin: 0 0 2px 0;
		display: block;
		width: 14px; 
		height: 12px; 
		text-indent: -400em;
		overflow: hidden;
		border: none;
		}
	.delmodl:hover {
		background-position: 0 -12px;
		border: none;
		}

	.fparams { 
		margin: 0;
		padding: 1em;
		background-color: #CECFCE;
		display: none;
		}
/* Available modules panel */
	#myhub-table th,
	#myhub-table td {
		border: none;
		}
	#cpnl { 
		background: #e4e4e4;
		border: 1px solid #bbb;
		width: 200px;
		padding: 0 5px;
		vertical-align: top;
		}
	#cpnl h3 {
		color: #fff;
		background: #999;
		text-shadow: none;
		margin: 4px 0 10px 0;
		padding: 2px;
		}
	#cpnl ul {
		margin: 0;
		padding: 0;
		list-style: none;
		}
	#cpnl li {
		margin-left: 0;
		padding: 2px 0 2px 0;
		clear: both;
		}
	#cpnl li input {
		float: right;
		margin-top: 0;
		}
	#cpnl li label {
		float: left;
		}