<?xml version="1.0" encoding="utf-8"?>

<!--
@package        hubzero-cms
@file           administrator/components/com_search/config.xml
@copyright      Copyright 2005-2014 Purdue University. All rights reserved.
@license        http://www.gnu.org/licenses/lgpl-3.0.html LGPLv3

Copyright 2005-2014 Purdue University. All rights reserved.

This file is part of: The HUBzero(R) Platform for Scientific Collaboration

The HUBzero(R) Platform for Scientific Collaboration (HUBzero) is free
software: you can redistribute it and/or modify it under the terms of
the GNU Lesser General Public License as published by the Free Software
Foundation, either version 3 of the License, or (at your option) any
later version.

HUBzero is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.

HUBzero is a registered trademark of Purdue University.
-->

<config>
	<fieldset name="basic">
		<field name="engine" type="list" default="basic" label="COM_SEARCH_PARAM_ENGINE_LABEL" description="COM_SEARCH_PARAM_ENGINE_DESC">
			<option value="basic">COM_SEARCH_PARAM_ENGINE_BASIC</option>
			<option value="hubgraph">HUBgraph</option>
		</field>
	</fieldset>
	<fieldset name="hubgraph">
		<field name="hubgraph_host" type="text" menu="hide" default="unix:///var/run/hubzero-hubgraph/hubgraph-server.sock" label="COM_SEARCH_PARAM_HUBGRAPH_HOST_LABEL" description="COM_SEARCH_PARAM_HUBGRAPH_HOST_DESC" />
		<field name="hubgraph_port" type="text" menu="hide" default="" label="COM_SEARCH_PARAM_HUBGRAPH_PORT_LABEL" description="COM_SEARCH_PARAM_HUBGRAPH_PORT_DESC" />
		<field name="hubgraph_showTagCloud" type="list" default="1" label="COM_SEARCH_PARAM_HUBGRAPH_TAGGCLOUD_LABEL" description="COM_SEARCH_PARAM_HUBGRAPH_TAGGCLOUD_DESC">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field name="hubgraph_enabledOptions" type="text" menu="hide" default="" label="COM_SEARCH_PARAM_HUBGRAPH_ENABLEDOPTIONS_LABEL" description="COM_SEARCH_PARAM_HUBGRAPH_ENABLEDOPTIONS_DESC" />
	</fieldset>
</config>