/*

	-- -- -- -- -- -- --
	com_mw CSS
	-- -- -- -- -- -- --

*/
/* Intro */
	#introduction {
		margin: 0 -45px 3em -45px;
		padding: 25px 45px 25px 120px;
		background: #fbf8ea url("../../../../components/com_tools/images/tools-large.gif") 45px 25px no-repeat;
		border-top: 2px solid #e7dac4;
		border-bottom: 2px solid #e7dac4;
		color: #7c7266;
		}
	#introduction .aside,
	#introduction .subject {
		margin-top: 0;
		margin-bottom: 0;
		padding-top: 0;
		padding-bottom: 0;
		background: transparent;
		border: none;
		}
	#introduction h3 {
		margin-top: 0;
		color: #7c7266;
		}
	#introduction .columns {
		border: none;
		}
	#introduction ul,
	#introduction li {
		list-style: none;
		margin: 1em 0;
		padding: 0;
		}
	#introduction li {
		margin: 0;
		padding: 0 0 0 15px;
		background: transparent url("../../images/bullets/arrow.gif") 0 50% no-repeat;
		}
/* Four Columns */
	.com_tools .four {
		border-top: 1px solid #e0e0d7;
		margin-bottom: 3em;
		}
	.com_tools .four h3 { 
		color: #000; 
		margin-top: 1em; 
		padding-top: 0em;
		}
	.com_tools .four h3 a { 
		color: #000; 
		border-bottom: none; 
		}
	.com_tools .four ul {
		margin: 1em 0;
		}
	.com_tools .four li {
		margin: 1em 0;
		}
	.com_tools .first h2 { 
		font-weight: normal;
		margin: 0;
		padding: 0.5em 0 0 0;
		line-height: 1em;
		border: none;
		border-top: 2px solid #e0e0d7;
		}
	.com_tools .big {
		height: 3em;
		}
/* Table */
	.com_tools table {
		margin: 1em 0;
		}
	.open {
		color: #7AAB69;
		}
	.closed {
		color: #CC0000;
		}
/* Columns */
	.section {
		}
	.section>h3 {
		display: none;
		}
	#content-header h2 {
		cursor: pointer;
		}
	#content-header form {
		margin: 0 0 0 15px;
		padding: 1.5em 0 1em;
		}
/* Storage Management */
	.filebrowser {
		margin: 1.5em 0 0 0;
		padding: 0;
		}
	#imgManager {
		border: 1px solid #ccc;
		}
	#filelist {
		background: #FFF;
		}
	#small-page {
		background: #FFF;
		}
	#small-page #filepath {
		list-style: none;
		margin: 0.5em;
		}
	#small-page #filepath li {
		display: inline;
		margin: 0;
		padding: 0.3em;		
		}
	#small-page #filepath li.home a, 
	#small-page #filepath li.home span {
		background: url("images/home.gif") 0 0 no-repeat;
		padding-left: 25px; 
		padding-top: 0.2em;
		padding-bottom: 0.2em;
		}
	#small-page #filepath li.folder a, 
	#small-page #filepath li.folder span {
		background: url("images/folder.gif") 0 0 no-repeat;
		padding-left: 20px; 
		}
	#small-page #filepath li.arrow {
		margin: 0;
		padding: 0;
		}
	#small-page #filepath li span {
		font-weight: bold;
		}
/* Session options */
	#app-options {
		list-style: none;
		margin: 1em 0 0 0;
		padding: 5px 0 0 0;
		position: absolute;
		top: 55px;
		right: 15px;
		}
	#app-options li {
		margin: 0;
		padding: 0 0.7em;
		display: inline;
		border-right: 1px dotted #666;
		background-image: none;
		}
	#app-options a { 
		color: #333;
		border: none;
		}
	#app-options .app-close {
		text-align: right;
		border: none;
		}
	#app-options .app-close a {
		border: none;
		margin: 0;
		line-height: 14px;
		height: 14px;
		padding: 0 0 0 20px;
		background: url("images/close-light.gif") 0 0 no-repeat;
		}
	#app-options .app-close>a { 
		width: auto;
		}
	#app-options .app-close a:hover {
		background-position: 0 -24px;
		color: #c00;
		border: none;
		}
/* App wrap */
	#app-wrap {
		border: 1px solid #ccc;
		padding: 0 0 10px 0;
		margin: 1em 0 1em 0;
		position: relative;
		overflow: hidden;
		width: 100%;
		}
	#app-wrap #resize {
		margin: 0;
		padding: 0;
		height: 17px;
		width: 295px;
		text-align:right;
		font-size:9px;
		line-height: 9px;
		display:block;
		color: #333;
		background: none;
		position:absolute;
		right:-1px;
		bottom:0;
		}
	#app-wrap #resize img { 
		vertical-align: bottom;
		cursor: se-resize;
		margin-left: 3px;
		}
	#app-wrap #positions {
		margin: 0 2px 0 0;
		padding: 0 0 0 0;
		color: #333;
		}
	#app-wrap #resize input {
		font-size:9px;
		margin: 0; padding: 0;
		}
	#app-wrap>#resize {
		right:0;
		}
/* Share form */
	#app-share {
		margin: 0;
		padding: 0.5em;
		background: #f4f4f4;
		}
	#app-share label,
	#app-share span {
		margin-right: 1em;
		}
/* Misc. */
	#powered-by {
		color: #999;
		font-size: 90%;
		}
	#theapp {
		margin: 10px;
		padding: 0;
		}
	.ntools { 
		list-style: none;
		margin: 0;
		padding: 0;
		}
	.ntools li { 
		margin: 0;
		padding: 0;
		}
	#connectingTool { 
		text-align: center;
		font-size: 1.5em;
		width: 15em;
		margin: 0 auto;
		padding: 3em 0 0 0;
		}
	.hide,
	.hidden { 
		display: none;
		}
/* disk usage */
	#diskusage { 
        margin: 0;
        padding: 7px 0 0 0;
    	}
    #diskusage dt { 
		color: #999;
        text-align: left;
    	}
    #diskusage #du-amount { 
        position: relative; /* IE is dumb */
        display: block;                 
        float: left;
		width: 214px;
        height: 20px; 
        margin: 0 0 15px; 
		background: #777;
     	}
	#diskusage #du-amount span {
		position: absolute;
		top: 0;
		left: 0;
		line-height: 1.5em;
		color: #fff;
		text-indent: 7px;
		}
    #diskusage #du-amount div { 
        position: relative;
		background: #ccc; 
        height: 20px; 
        width: 75%; 
        text-align:right; 
     	}
    #diskusage #du-amount div strong { 
        position: absolute; 
        right: -5px; 
        top: -2px; 
        display: block;  
        height: 24px; 
        width: 9px; 
        text-align: left;
        text-indent: -9999px; 
        overflow: hidden;
		}
/* Error Message */
	#error-wrap {
		margin: 0;
		padding: 3em 0 3em 0;
		border: none;
		text-align: center;
		}
	#error-box {
		margin: 0 auto;
		padding: 10px 10px 10px 45px;
		width: 500px;
		text-align: left;
		border: 1px solid #EFCCC2; 
		color: #CC0000;
		background: #FFF2EF url("../../images/icons/error-large.png") 10px 10px no-repeat;
		/* Rounded corners */
		-moz-border-radius: 10px;
		-webkit-border-radius: 10px;	
		-khtml-border-radius: 10px;
		border-radius: 10px;
		/* Shadows */
		box-shadow: 0px 2px 4px #CCC;
		-webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3); /* length length length color */
		-moz-box-shadow: #ccc 0px 2px 4px; /* color length length length */
		}
	#error-box.code-403 {
		border-color: #fbd894;
		color: #CC6633; 
		background: #FFFDEF url("../../images/icons/warning-large.png") 10px 10px no-repeat;
		}
	#error-box h2 {
		margin: 0;
		padding: 0;
		font-weight: bold;
		font-size: 1.4em;
		line-height: 1.4em;
		color: #CC0000;
		} 
	#error-box h3, 
	#error-box h4 {
		color: #CC0000;
		}
	#error-box.code-403 h2, 
	#error-box.code-403 h3, 
	#error-box.code-403 h4 {
		color: #CC6633;
		}
	#error-box ol {
		margin: 1em 0 1em 2em;
		padding: 0;
		}
	#error-box ol li {
		line-height: 1.5em;
		}
	.error-reasons {
		padding: 1em;
		background-color: #fff;
		border: 1px solid #ddd;
		/* Rounded corners */
		-moz-border-radius: 10px;
		-webkit-border-radius: 10px;	
		-khtml-border-radius: 10px;
		border-radius: 10px;
		}
/* */
	.com_tools table.sessions .disconnect,
	.com_tools table.sessions .closetool {
		display: block;
		overflow: hidden;
		text-indent: -55em;
		border: none;
		}
	.com_tools table.sessions .disconnect {
		width: 28px;
		height: 14px;
		background: url("images/disconnect.gif") 0 0 no-repeat;
		}
	.com_tools table.sessions .closetool {
		width: 14px;
		height: 14px;
		background: url("images/close-light.gif") 0 0 no-repeat;
		}
	.com_tools table.sessions .disconnect:hover {
		background-position: 0 -14px;
		border: none;
		}
	.com_tools table.sessions .closetool:hover {
		background-position: 0 -24px;
		border: none;
		}
	.com_tools table.sessions .owner {
		font-size: 90%;
		}