<?xml version="1.0" encoding="utf-8"?>

<!--
@package        hubzero-cms
@file           administrator/components/com_resources/config.xml
@copyright      Copyright 2005-2011 Purdue University. All rights reserved.
@license        http://www.gnu.org/licenses/lgpl-3.0.html LGPLv3

Copyright 2005-2011 Purdue University. All rights reserved.

This file is part of: The HUBzero(R) Platform for Scientific Collaboration

The HUBzero(R) Platform for Scientific Collaboration (HUBzero) is free
software: you can redistribute it and/or modify it under the terms of
the GNU Lesser General Public License as published by the Free Software
Foundation, either version 3 of the License, or (at your option) any
later version.

HUBzero is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.

HUBzero is a registered trademark of Purdue University.
-->

<config>
	<fieldset name="basic">
		<field name="defaultpic" type="text" menu="hide" default="/components/com_resources/assets/img/resource_thumb.gif" label="COM_RESOURCES_DEFAULTPIC_LABEL" description="COM_RESOURCES_DEFAULTPIC_DESC" />
		<field name="tagstool" type="text" menu="hide" default="screenshots,poweredby,bio,credits,citations,sponsoredby,references,publications" label="COM_RESOURCES_TAGSTOOL_LABEL" description="COM_RESOURCES_TAGSTOOL_DESC" />
		<field name="tagsothr" type="text" menu="hide" default="bio,credits,citations,sponsoredby,references,publications" label="COM_RESOURCES_TAGSOTHR_LABEL" description="COM_RESOURCES_TAGSOTHR_DESC" />
		<field name="@spacer" type="spacer" default="" label="" description="" />
		<field name="accesses" type="text" menu="hide" default="Public,Registered,Special,Protected,Private" label="COM_RESOURCES_ACCESSES_LABEL" description="COM_RESOURCES_ACCESSES_DESC" />
		<field name="doi" type="text" menu="hide" default="" label="COM_RESOURCES_DOI_LABEL" description="COM_RESOURCES_DOI_DESC" />
		<field name="aboutdoi" type="text" menu="hide" default="" label="COM_RESOURCES_ABOUTDOI_LABEL" description="COM_RESOURCES_ABOUTDOI_DESC" />
		<field name="@spacer" type="spacer" default="" label="" description="" />
		<field name="supportedtag" type="text" menu="hide" default="" label="COM_RESOURCES_SUPPORTEDTAG_LABEL" description="COM_RESOURCES_SUPPORTEDTAG_DESC" />
		<field name="supportedlink" type="text" menu="hide" default="" label="COM_RESOURCES_SUPPORTEDLINK_LABEL" description="COM_RESOURCES_SUPPORTEDLINK_DESC" />
		<field name="browsetags" type="list" default="on" label="COM_RESOURCES_BROWSETAGS_LABEL" description="COM_RESOURCES_BROWSETAGS_DESC">
			<option value="on">JON</option>
			<option value="off">JOFF</option>
		</field>
		<field name="browsetags_defaulttag" type="text" default="" label="COM_RESOURCES_BROWSETAGS_DEFAULT_LABEL" description="COM_RESOURCES_BROWSETAGS_DEFAULT_DESC" />
		<field name="@spacer" type="spacer" default="" label="" description="" />
		<field name="google_id" type="text" menu="hide" default="" label="COM_RESOURCES_GOOGLE_ID_LABEL" description="COM_RESOURCES_GOOGLE_ID_DESC" />
	</fieldset>
	<fieldset name="files">
		<field name="webpath" type="text" menu="hide" default="/site/resources" label="COM_RESOURCES_WEBPATH_LABEL" description="COM_RESOURCES_WEBPATH_DESC" />
		<field name="toolpath" type="text" menu="hide" default="/site/resources/tools" label="COM_RESOURCES_TOOLPATH_LABEL" description="COM_RESOURCES_TOOLPATH_DESC" />
		<field name="uploadpath" type="text" menu="hide" default="/site/resources" label="COM_RESOURCES_UPLOADPATH_LABEL" description="COM_RESOURCES_UPLOADPATH_DESC" />
		<field name="maxAllowed" type="text" menu="hide" default="40000000" label="COM_RESOURCES_MAXUPLOAD_LABEL" description="COM_RESOURCES_MAXUPLOAD_DESC" />
		<field name="file_ext" type="text" menu="hide" label="COM_RESOURCES_EXTENSIONS_LABEL" default="jpg,jpeg,jpe,bmp,tif,tiff,png,gif,pdf,zip,mpg,mpeg,avi,mov,wmv,asf,asx,ra,rm,txt,rtf,doc,xsl,html,js,wav,mp3,eps,ppt,pps,swf,tar,tex,gz" description="COM_RESOURCES_EXTENSIONS_DESC" />
		<field name="@spacer" type="spacer" default="" label="" description="" />
		<field name="file_video_html5" type="list" default="1" label="COM_RESOURCES_HTML5VIDEO_LABEL" description="COM_RESOURCES_EXTENSIONS_DESCRIPTION">
			<option value="0">No</option>
			<option value="1">Yes</option>
		</field>
	</fieldset>
	<fieldset name="creation">
		<field name="autoapprove" type="radio" default="0" label="COM_RESOURCES_AUTOAPPROVE_LABEL" description="COM_RESOURCES_AUTOAPPROVE_DESC">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field name="autoapproved_users" label="COM_RESOURCES_AUTOAPPROVED_USERS_LABEL" type="textarea" rows="8" cols="40" default="" description="COM_RESOURCES_AUTOAPPROVED_USERS_DESC" />
		<field name="cc_license" type="radio" default="1" label="COM_RESOURCES_LICENSE_LABEL" description="COM_RESOURCES_LICENSE_DESC">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field name="cc_license_custom" type="radio" default="0" label="COM_RESOURCES_LICENSE_CUSTOM_LABEL" description="COM_RESOURCES_LICENSE_CUSTOM_DESC">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field name="email_when_approved" type="radio" default="0" label="COM_RESOURCES_EMAIL_APPROVED_LABEL" description="COM_RESOURCES_EMAIL_APPROVED_DESC">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
	</fieldset>
	<fieldset name="entry">
		<field name="show_authors" type="list" default="1" label="COM_RESOURCES_SHOW_AUTHORS_LABEL" description="COM_RESOURCES_SHOW_AUTHORS_DESC">
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>
		<field name="show_assocs" type="list" default="1" label="COM_RESOURCES_SHOW_ASSOCS_LABEL" description="COM_RESOURCES_SHOW_ASSOCS_DESC">
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>
		<field name="show_ranking" type="list" default="1" label="COM_RESOURCES_SHOW_RANKING_LABEL" description="COM_RESOURCES_SHOW_RANKING_DESC">
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>
		<field name="show_rating" type="list" default="1" label="COM_RESOURCES_SHOW_RATING_LABEL" description="COM_RESOURCES_SHOW_RATING_DESC">
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>
		<field name="show_date" type="list" default="3" label="COM_RESOURCES_SHOW_DATE_LABEL" description="COM_RESOURCES_SHOW_DATE_DESC">
			<option value="0">JHIDE</option>
			<option value="1">COM_RESOURCES_SHOW_DATE_CREATED</option>
			<option value="2">COM_RESOURCES_SHOW_DATE_MODIFIED</option>
			<option value="3">COM_RESOURCES_SHOW_DATE_PUBLISHED</option>
		</field>
		<field name="show_metadata" type="list" default="1" label="COM_RESOURCES_SHOW_METADATA_LABEL" description="COM_RESOURCES_SHOW_METADATA_DESC">
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>
		<field name="show_citation" type="list" default="1" label="COM_RESOURCES_SHOW_CITATION_LABEL" description="COM_RESOURCES_SHOW_CITATION_DESC">
			<option value="0">COM_RESOURCES_SHOW_CITATION_HIDE</option>
			<option value="1">COM_RESOURCES_SHOW_CITATION_MANUAL_AUTO</option>
			<option value="2">COM_RESOURCES_SHOW_CITATION_AUTO</option>
			<option value="3">COM_RESOURCES_SHOW_CITATION_MANUAL</option>
		</field>
		<field name="sort_children" type="list" default="1" label="COM_RESOURCES_SORT_CHILDREN_LABEL" description="COM_RESOURCES_SORT_CHILDREN_DESC">
			<option value="date">COM_RESOURCES_SORT_CHILDREN_DATE</option>
			<option value="ordering">COM_RESOURCES_SORT_CHILDREN_ORDERING</option>
			<option value="title">COM_RESOURCES_SORT_CHILDREN_TITLE</option>
			<option value="author">COM_RESOURCES_SORT_CHILDREN_AUTHOR</option>
		</field>
		<field name="@spacer" type="spacer" default="" label="" description="" />
		<field name="show_audience" type="list" default="0" label="COM_RESOURCES_SHOW_AUDIENCE_LABEL" description="COM_RESOURCES_SHOW_AUDIENCE_DESC">
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>
		<field name="audiencelink" type="text" menu="hide" default="" label="COM_RESOURCES_AUDIENCE_LINK_LABEL" description="COM_RESOURCES_AUDIENCE_LINK_DESC" />
	</fieldset>
	<fieldset name="import">
		<field name="import_uploadpath" type="text" menu="hide" default="/site/resources/import" label="COM_RESOURCES_IMPORT_PATH_LABEL" description="COM_RESOURCES_IMPORT_PATH_DESC" />
	</fieldset>
</config>

