/* not yet supported
.keyframes(@name; @arguments) {
	@-moz-keyframes @name { @arguments(); }
	@-webkit-keyframes @name { @arguments(); }
	@keyframes @name { @arguments(); }
}
*/
@import url("/core/components/com_members/site/assets/css/members.css");
#page_menu li a,
#page_menu li span {
  color: #d2d2d2;
}
#page_menu li a {
  line-height: 1.6rem;
}
#page_menu li a:before,
#page_menu li a:after {
  font-size: 1.2em;
  height: auto;
}
#page_menu li.active > a {
  color: #000;
  background: #fff;
}
#page_menu li.active > a:hover,
#page_menu li.active > a:before {
  color: #000;
}
#page_sidebar {
  background: #222b37;
}
#page_sidebar .message-member a {
  width: auto;
  height: auto;
}
#page_sidebar .message-member a:before {
  margin-right: 0.2em;
}
#page_menu li.active:after {
  display: none;
}
#page_menu li a:hover {
  color: #fff;
}
#page_menu li {
  border-bottom-color: #494a5a;
}
#page_menu li .meta .count {
  text-shadow: none;
}
#page_menu li .alrt,
#page_menu li .alrt:hover {
  z-index: 500;
}
#page_identity {
  border: 4px solid #FFFFFF;
  background: white;
  border-radius: 20%;
  overflow: hidden;
}
#page_identity a#page_identity_change {
  left: -4px;
  font-size: 1em;
}
#sbox-content fieldset input,
#sbox-content fieldset select,
#sbox-content fieldset textarea {
  margin-top: 0.25em;
  width: 100%;
}
#sbox-content fieldset label textarea#msg-message {
  margin-bottom: 0.5em;
  height: 175px;
}
#sbox-content .submit {
  margin: 0;
  padding: 0.5em 1em;
  text-align: center;
}
#page_options {
  position: relative;
  margin: -2em 0em 2.5em 2em;
}
#page_main {
  position: relative;
}
#page_main > #page_options {
  float: right;
  margin: 0;
}
.member_collections > #page_options {
  margin-bottom: 4.5em;
}
