/* Hide all the unwanted elements */
#top,
#header,
#nav,
#help-pane,
#after-clear,
#trail,
#bottom-nav,
#footer {
	display:none;
	}
#wrap {
	background-image:none;
	padding:0;
	margin:0;
	}
#wrap #content {
	border:none;
	-webkit-box-shadow:none;
	box-shadow:none;
	}
#wrap #content-wrap {
	margin:0;
	padding:0;
	border:none;
	position:static;
	}

/* Remove spacing from bottom */
.innerwrap {
	overflow:hidden;
	}

/* give padding to messages */
.error,
.warning,
.passed {
	margin:1em;
	}

/* Special Group Sliding Pane */
#special-group-pane {
	display:none;
	}
#special-group-container {
	overflow:hidden; 
	background:#313131 url('../img/special/pane_bg.png') no-repeat bottom right;
	padding:20px;
	border:10px solid #000;
	}
#special-group-container p {
	color:#b8b8b8;
	text-shadow:#222 1px 1px 2px;
	}
#special-group-container h2 {
	color:#d0c7b1;
	text-shadow:#000 1px 1px 4px;
	font-size:16px;
	font-weight:400;
	border:none;
	line-height:1em;
	margin-top:0px;
	}
#special-group-container a { 
	color:#be7272;
	border-bottom:1px dotted #b8b8b8;
	}	
#special-group-container a:hover {
	border-bottom:1px solid #FFF;
	color:#FFF;
	}	
	
/* Column 1*/
#special-group-container .first h1 {
	display:block;
	height:30px;
	}	
#special-group-container .first .intro {
	margin:0;
	}
#special-group-container .first h2 {
	margin-top:25px;
	}
	
/* Column 3 */
#special-group-container .site-menu {
	margin:10px 0 0 5px;
	padding:0;
	list-style:none;
	}
#special-group-container .site-menu li {
	margin:0.7em 0;
	padding:0;
	}
#special-group-container .site-menu li a {
	border-bottom:none;
	font-size:16px;
	padding-left:20px;
	background:url('/components/com_groups/assets/img/special/special_menu_icon.png') no-repeat 0% 50%;
	}

/* Special Group Pane Tab */
#special-group-tab {
	position:absolute;
	display:block;
	top:0;
	right:20px;
	z-index:9999px;
	width:180px;
	height:27px;
	background:#353535 url('/templates/hubbasic/images/layout/body_bg.gif') repeat-x 0 0;
	padding:3px 0 0 0;
	color:#FFF;
	-webkit-box-shadow:0px 3px 5px #000;
	-webkit-border-bottom-right-radius:5px;
	-webkit-border-bottom-left-radius:5px;
	-moz-box-shadow:0px 3px 5px #000;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	box-shadow:0px 3px 5px #000;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	text-indent:10px;
	font-weight:300;
	font-style:italic;
	font-size:16px;
	color:#999;
	text-shadow:0 2px 1px #000;
	}
#special-group-tab span {
	position:absolute;
	top:10px;
	right:15px;
	border-color: #FFF transparent transparent transparent;
	border-style: solid dashed dashed dashed;
	border-width: 8px;
	}
#special-group-tab:hover {
	border:none;
	}
#special-group-tab.active {
	background:#000;
	}
#special-group-tab.active span {	
	border-color: transparent transparent #FFF transparent;
	border-style: dashed dashed solid dashed;
	border-width: 8px;
	top:4px;
	}
	
/* Special Group Management */
#special_management {
	margin:0 20px;
	text-align:right;
	padding:10px 0;
	color:#aaa;
	border-top:1px solid #ccc;
	overflow:hidden;
	font-size:11px;
	line-height:11px;
	}
#special_management ul {
	margin:0;
	padding:0;
	overflow:hidden;
	list-style:none;
	float:right;
	}
#special_management ul li {
	float:left;
	margin:0;
	line-height:1.4em;

	}
#special_management ul li a {
	color:#777;
	margin:0 10px;
	}
#special_management ul li a:hover {
	color:#000;
	border:none;
	}
#special_management ul li a.logout {
	color:#c30000;
}