/* Help pane */
	#help-pane {
		max-width: 600px;
		margin: 0;
		border: none;
		display: none;
	}
	.fancybox-overlay #help-pane {
		display: block;
	}
	#help-pane h1,
	#help-pane .span4 {
		display: none;
	}
	#help-pane h2 {
		line-height: 1;
		font-size: 1.1em;
		font-weight: 400;
		letter-spacing: .1em;
		text-transform: uppercase;
		margin: 0;
		padding: 1em 1.618em;
		color: #fff;
		-webkit-box-shadow: 0 2px 0 rgba(0,0,0,0.06);
		   -moz-box-shadow: 0 2px 0 rgba(0,0,0,0.06);
		    -ms-box-shadow: 0 2px 0 rgba(0,0,0,0.06);
		     -o-box-shadow: 0 2px 0 rgba(0,0,0,0.06);
		        box-shadow: 0 2px 0 rgba(0,0,0,0.06);
		background-color: #e84c3d;
		background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, .075) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .075) 50%, rgba(255, 255, 255, .075) 75%, transparent 75%, transparent);
		background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, .075) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .075) 50%, rgba(255, 255, 255, .075) 75%, transparent 75%, transparent);
		background-image: -ms-linear-gradient(-45deg, rgba(255, 255, 255, .075) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .075) 50%, rgba(255, 255, 255, .075) 75%, transparent 75%, transparent);
		background-image: -o-linear-gradient(-45deg, rgba(255, 255, 255, .075) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .075) 50%, rgba(255, 255, 255, .075) 75%, transparent 75%, transparent);
		background-image: linear-gradient(-45deg, rgba(255, 255, 255, .075) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .075) 50%, rgba(255, 255, 255, .075) 75%, transparent 75%, transparent);
		-webkit-background-size: 30px 30px;
		   -moz-background-size: 30px 30px;
		    -ms-background-size: 30px 30px;
		     -o-background-size: 30px 30px;
		        background-size: 30px 30px;
	}
	#help-pane .col {
		float: none;
		width: auto;
	}
	#help-container .optional {
		text-transform: uppercase;
		font-size: 0.85em;
		color: #aaa;
	}
	#help-container .required {
		color: #d86560;
		text-transform: uppercase;
		font-size: 0.85em;
	}

/* Loading */
	#trSending {
		text-align: center;
		position: relative;
		display: none;
	}
	#trSending p {
		text-align: center;
		font-size: 1.5em;
		width: 10em;
		margin: 0 auto;
		padding: 3em 0 0 0;
	}
	@-webkit-keyframes spin {
		from {
			-webkit-transform: rotate(0deg);
		}
		to { 
			-webkit-transform: rotate(360deg);
		}
	}
	@keyframes spin {
		from {
			transform: rotate(0deg);
		}
		to { 
			transform: rotate(360deg);
		}
	}
	/* Loading animation container */
	.rp-loading {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 28px;
		height: 28px;
		margin: -14px 0 0 -14px;
	}
	/* Spinning circle (inner circle) */
	.rp-loading .rp-masked-circle {
		width: 20px;
		height: 20px;
		border-radius: 12px;
		border: 3px solid #222;
	}
	/* Spinning circle mask */
	.rp-loading .rp-mask {
		width: 12px;
		height: 12px;
		overflow: hidden;
	}
	/* Spinner */
	.rp-loading .rp-spinner {
		position: absolute;
		left: 1px;
		top: 1px;
		width: 26px;
		height: 26px;
		-webkit-animation: spin 1s infinite linear;
		animation: spin 1s infinite linear;
	}

/* Misc. */
	.info-block {
		font-size: 1em;
		line-height: 1.61803399em;
		max-width: 100%;
		display: block;
		padding: 0.6045084975em;
		border: 1px solid #D9D9D9;
		border: 1px solid rgba(0, 0, 0, 0.075);
		background-color: #f1f1f1;
		background-color: rgba(200, 200, 200, 0.075);
		color: #bbb;
	}

	.filetypes {
		color: #aaa;
	}
	#trBotcheck-label {
		display: none;
	}

/* Tab */
	#tab {
		display: block;
		margin: 0;
		padding: 0;
		float: right;
		font-size: 1em;
		line-height: 1;
	}
	#tab a {
		display: block;
		margin: 0;
		padding: 1.4em 0;
		width: 2em;
		overflow: hidden;
		text-indent: 5em;
		color: transparent;
		font-weight: 400;
		position: relative;
	}
	#tab a:before {
		content: "\f059";
		font-family: "Fontcons";
		position: absolute;
		font-size: 1.8em;
		top: 0.6em;
		right: 0;
		text-indent: 0;
		color: #999;
		color: rgba(255, 255, 255, 0.7);
	}
	#tab.active a,
	#tab:hover,
	#tab a:hover {
		color: #fff;
		border-bottom: none;
	}
	#tab.active a:before,
	#tab:hover a:before,
	#tab a:hover:before {
		color: #fff;
	}

	#group-body #tab {
		margin: 0;
		background-color: #222;
		white-space: nowrap;
		font-size: 75%;
	}
	#group-body #help-pane {
		margin-top: 0;
	}
