.suggestResults {
	border-bottom: 1px solid #A5ACB2;
	border-left: 1px solid #A5ACB2;
	border-right: 1px solid #A5ACB2;
	background-color: #FFFFFF;
	position: absolute;
	z-index:2;
}

.suggest_link_over {
	background-color: #666666;
	padding: 2px 6px 2px 6px;
	color: #FFFFFF;
}

.editorRequired {
 	color: #990000;
}

.editorLabel {
	font-weight:bold;
}

.editorInputFloat {
	float:left;
}

.editorInputMargin {
	margin-right: 10px;
}

.editorInputSize{
	width:70%;
}

.editorInputSizeFull{
	width:90%;
}

.editorInputSizeFull2{
	width:100%;
}

.editorInputButton {
	margin-left: 10px;
}

.editorInputCurate {
	width:100%;
        background-color: #E8F1E5;
}

.editorPreviewSize{
	width:80%;
}

.editorTextArea {
  	width: 70%;
  	height: 150px;
}

.editorParagraph {
	margin:0px;
}

.noBottomBorder{
  	border-bottom:0px;
}

.helpSpan{
	margin-left:5px;
}

#deleteLog { 
    height: 100px;
    width:95%;
    overflow: auto;
    border: 1px solid #999999;
    background: none repeat scroll 0% 0%;
    color: rgb(0, 0, 0);
}

#frmProject fieldset {
	background:none repeat scroll 0 0 #FFFFFF;
	color:#000000;
	float:left;
	width:70%;
}

#frmProject fieldset fieldset  {
	border:1px solid #999999;
	float:none;
	padding:0 1em 1.75em;
	width:auto;
}

#frmProject fieldset fieldset label {
	padding-top:0.7em;
}

#frmProject .indent {
	display:block;
}

#frmProject .indent {
	margin-left:1.75em;
}

.topSpace10{
  padding-top: 10px;
}

.topSpace20{
  padding-top: 20px;
}

.contentpaddingPopUp {
  margin:10px 20px 10px 15px;
}

.curateSubmitted {
  color: #FF9900;
  font-weight:bold;
}

.curateComplete {
  color: #008000;
  font-weight:bold;
}

.curateIncomplete {
  color: #990000;
  font-weight:bold;
}

.experimentTitle{
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

#quickstart{
    right: 0pt;
    position: absolute;
    margin-top:-25px;
    z-index:4
}

.requiredfieldmarker {
	color:#f00;
}

/*******************************************************************************
 ** Button and input type="submit/button/reset":
 ******************************************************************************/

a.button2, a.button2:link, a.button2:visited, a.button2:active, a.button2:hover {
  text-align: center;
  color: #000000;
  font-size: 12px;
  font-weight: normal;
  text-decoration: none;
  white-space: nowrap;
  padding: 4px 10px;
  cursor:pointer;
  margin: 0 10px 10px 0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}

a.button2, a.button2:link, a.button2:visited {
  background: #ededed url(/components/com_projecteditor/images/buttons/bg_button.gif) repeat-x bottom left;
  border: 1px solid #666666;
}

a.button2:hover, .btn2:hover {
  background: #eaf6fd url(/components/com_projecteditor/images/buttons/bg_button_hover.gif) repeat-x bottom left;
  border: 1px solid #666666;
}

a.button2:active, .btn:active {
  margin: 0 8px 0 2px;
  background: #98d1ef url(/components/com_projecteditor/images/buttons/bg_button_select.gif) repeat-x bottom left;
  border: 1px solid #666666;
}


div.sectheaderbtn {
  background: #EEEEF0;
  border: #CCCCCC solid 1px;
  padding:5px;
  text-align:right;
  line-height: 30px;
  margin-top: 30px;
}


.upload {
  padding: 15px 15px 15px 100px;
  min-height: 50px;
  font-size: 12px;
  font-weight:bold;
  border: thin solid #EEEEEE;
  background: #c8d8f9 url(/components/com_projecteditor/images/buttons/upload.gif) no-repeat top left;
}

.grayLinks {
  color:#808080;
  text-decoration:none;
  border: 0px;
}

.grayLinks:link {
  color:#808080;
  text-decoration:none;
  border: 0px;
}

.grayLinks:hover {
  color:#808080;
  text-decoration:none;
  border: 0px;
}

.grayLinks:visited {
  color:#808080;
  text-decoration:none;
  border: 0px;
}

.grayLinks:active {
  color:#808080;
  text-decoration:none;
  border: 0px;
}
