@import url("/core/components/com_resources/site/assets/css/create.css");

.com_resources .meta-container {
	margin: -30px -30px 2em -30px;
	padding: 30px 30px 30px 30px;
	background: #ececec url("../../images/layout/noise-lite.png");
	border: none;
	color: #666;
	position: relative;
}
.com_resources .meta {
	border-top: 1px solid #DADADA;
}
.com_resources .meta tbody tr {
	background: transparent url("../../images/layout/stripes.png");
}
.com_resources .meta .type {
}

#steps {
	margin-bottom: 4em;
	width: 100%;
}
#steps:before,
#steps:after {
	content: "";
	display: table;
	line-height: 0;
}
#steps:after {
	clear: left;
}
#steps li {
	display: block;
	float: left;
	margin: 0;
	padding: 0;
	width: 16.66%;
	position: relative;
	border: none !important;
}
#steps li#start a, 
#steps li#trash a,
#steps li.active strong,
#steps li.completed a,
#steps li span, 
#steps li a {
	font-weight: bold;
	text-align: center;
	font-size: 11px;
	display: block;
	padding: 0.618em 0;
	border: none;
	color: #999;
	text-transform: uppercase;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 1);
}
#steps li#start a:hover, 
#steps li#trash a:hover,
#steps li.completed a:hover,
#steps li a:hover {
	color: #0fa1ca;
	border: none;
}
#steps li:before {
	content: "";
	display: block;
	width: 20px;
	height: 20px;
	text-align: center;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2);
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	background: #e8e8e8;
	background: -webkit-gradient(linear, left top, left bottom, from(#e8e8e8), to(#f1f1f1));
	background: -webkit-linear-gradient(#e8e8e8, #f1f1f1);
	background: -moz-linear-gradient(center top, #e8e8e8 0%, #f1f1f1 100%);
	background: -moz-gradient(center top, #e8e8e8 0%, #f1f1f1 100%);
	background: -o-linear-gradient(#e8e8e8, #f1f1f1);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#e8e8e8,endColorstr=#f1f1f1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#e8e8e8, endColorstr=#f1f1f1)";
	position: absolute;
	left: 50%;
	margin-left: -10px;
	bottom: -20px;
}
#steps li.active:after {
	content: "";
	display: block;
	width: 14px;
	height: 14px;
	text-align: center;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	border: 3px solid #0fa1ca;
	position: absolute;
	left: 50%;
	margin-left: -10px;
	bottom: -20px;
}
#steps li.active strong:before,
#steps li.completed a:before,
#steps li span:before, 
#steps li strong:before,
#steps li a:before {
	content: "";
	display: block;
	height: 5px;
	background: #e8e8e8;
	position: absolute;
	bottom: -13px;
	right: 0;
	left: 0;
	border-top: 2px solid #e1e1e1;
}
#steps li.active strong:after,
#steps li.completed a:after,
#steps li span:after,
#steps li strong:after,
#steps li a:after {
	content: "";
	display: block;
	width: 14px;
	height: 14px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	border: none;
	background: #f1f1f1;
	background: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#f1f1f1));
	background: -webkit-linear-gradient(#f9f9f9, #f1f1f1);
	background: -moz-linear-gradient(center top, #f9f9f9 0%, #f1f1f1 100%);
	background: -moz-gradient(center top, #f9f9f9 0%, #f1f1f1 100%);
	background: -o-linear-gradient(#f9f9f9, #f1f1f1);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#f9f9f9,endColorstr=#f1f1f1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#f9f9f9, endColorstr=#f1f1f1)";
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2), inset 0 0px 2px rgba(255, 255, 255, 0.8);

	position: absolute;
	left: 50%;
	margin-left: -7px;
	bottom: -17px;
}
#steps li#start {
	width: 16.7%;
}
#steps li#start a:before {
	left: -30px;
}
#steps li:nth-child(6) span:before,
#steps li:nth-child(6) a:before {
	right: -30px;
}
html.safari #steps li:nth-child(6) span:before,
html.safari #steps li:nth-child(6) a:before  {
	right: -34px;
}

#steps li.completed a:before {
	border-top: 2px solid #e1e1e1;
}
#steps li.completed a {
	color: #555;
}
#steps li.active:before {
	background: #0fa1ca;
}
#steps li#trash {
	display: none;
}

.com_resources .edit, 
.com_resources .delete {
	position: relative;
	border: none;
}
.com_resources .delete:before,
.com_resources .edit:before {
	font-size: 16px;
	line-height: 16px;
	margin: 0;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 500;
	text-indent: 0;
	color: #ccc;
}
.com_resources .delete:hover:before {
	border: none;
	color: #c00;
}
.com_resources .edit:hover:before {
	border: none;
	color: #333;
}

#small-page {
	background: #fff;
}
#small-page table {
	border-top: 1px solid #eee;
}
#small-page table tbody th,
#small-page table tbody td {
	border-bottom: 1px solid #eee;
}
#small-page .delete {
	display: block;
	width: 16px;
	height: 16px;
	position: relative;
}
#small-page .delete:before {
	position: absolute;
	left: 0;
	top: 0;
	font-size: 16px;
}
#small-page .delete span {
	display: none;
}

body#small-page {
	min-width: 100px;
}
body#small-page fieldset {
	border: 1px solid #ccc;
}
body#small-page table {
	border-bottom: none;
}
#preview-header {
	margin: 0 -30px;
	padding: 0.2em 30px;
}
#preview-pane {
	margin: 0 -30px -30px -30px;
	padding: 30px;
	background: #fff;
	border: 30px solid #F3F3F3;
}