.usage-unavailable {
	display: none;
}
.usage-outer {
	display: none;
	border: 1px solid #AAAAAA;
	margin: 5px 0 0 10px;
	height: 10px;
}
.usage-inner {
	background: green;
	width: 0%;
	height: 100%;
	box-shadow: inset 0 0 5px #F1F1F1;
}
.usage-inner.max {
	background: red;
}