/* Core stylesheets */
	@import url("fonts.css"); 
	
/* Body */
	body {
		margin: 20px;
		padding: 0;
		font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
		font-size: 0.8em;
		line-height: 1.6em;
		color: #666;
		background: #fff;
		text-rendering: optimizeLegibility;
		min-width: 100px;
	}
	
	#mobile-header {
		margin:-20px -20px 0 -20px;
		height:100px;
		background:#FFF;
		border-top:3px solid #353535;
		border-bottom:1px solid #cccccc;
		position:relative;
	}
	
	#mobile-header h1 {
		color: #333333;
		font-size: 2em;
		margin: 0;
		margin: 15px 0 0 26px;
		float: left;
		text-transform: lowercase;
	}
	#mobile-header h1 a {
		position: relative; 
		display: block; 
		height: 44px;
		background: transparent;
		border: none;
		color: #c00;
		background: transparent url("../images/logos/hub.png") 0 0 no-repeat;
		font-family: 'Share-Regular', 'Impact', 'Arial Narrow', 'Helvetica Neue', Helvetica, Arial, sans-serif;
		font-size: 35px;
		font-weight: normal;
		font-style: normal;
		padding: 24px 0 0 80px;
		color: #333;
	}
	#mobile-header h1 a:hover {
		color: #c00;
	}
	#mobile-header h1 a .tagline {
		display: block; 
		position: absolute;
		text-transform: uppercase;
		font-size: 17px;
		left: 4.1px; 
		top: 40px;
		padding: 2px 3px 0 2px;
		display: none;
	}
	#mobile-header #tagline {
		display: none;
	}
	
	#mobile-header #true-menu {
		display:none;
	}
	
	#mobile-header #menu {
		position:absolute;
		right:20px;
		top:40px;
	}
	
	#mobile-footer {
		border-top:1px solid #cccccc;
		padding:10px 0;
		margin:0 -20px -20px -20px;
		text-align:center;
	}
	
/* Inputs */
	input[type=text],
	input[type=password],
	input[type=email],
	textarea {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		
		font-size: 1em;
		line-height: 1.61803399em;
		max-width: 100%;
		padding: 0.4045084975em;
		outline: none;
		background: #F0F0F0;
		border: 1px solid #D9D9D9;
		background-color: rgba(0, 0, 0, .039);
		border-color: rgba(0, 0, 0, .19) rgba(0, 0, 0, .13) rgba(0, 0, 0, .07);
		-webkit-border-radius: 1px;
		-moz-border-radius: 1px;
		border-radius: 1px;
		-webkit-transition: all 0.1s ease-out;
		-moz-transition: all 0.1s ease-out;
		transition: all 0.1s ease-out;
		-webkit-background-clip: padding-box;
	}
/* Links */
	a, 
	a:link, 
	a:active, 
	a:visited {
		text-decoration: none;
		color: #0fa1ca;
		border-bottom: 1px dotted #344e54;
		border-bottom: 1px dotted rgba(52, 78, 85, 0.4);
	}
	a:hover {
		color: #222;
		border-bottom: 1px solid #999;
	}
/* Elements */
	ul {
		list-style: disc;
		margin: 0 0 0 2em;
	}
	ul li {
		margin: 0.5em 0;
	}
	ol {
		list-style: decimal;
		margin: 0 0 0 2em;
	}
	ol li {
		margin: 0.5em 0;
	}
	iframe {
		overflow: auto;
		-webkit-overflow-scrolling: touch;
	}
	p {
		margin: 1em 0;
	}
	strong {
		font-weight: bold;
	}
	hr {
		clear: both;
		visibility: hidden;
		height: 15px;
	}
	abbr {
		border-bottom: 1px dotted #333;
	}
	em {
		font-style: italic;
	}
	dl dt {
		font-weight: bold;
	}
	dl dd {
		margin-left: 2em;
	}
/* Headers */
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		color: #6E6D6D;
		/*font-family: 'Share-Regular', 'Impact', 'Arial Narrow', 'Helvetica Neue', Helvetica, Arial, sans-serif;
		font-weight: 600;
		font-weight: normal;*/
		color: #565656;
		margin: 1em 0;
	}
	h2 {
		font-size: 1.8em;
	}
	h2 a {
		color: rgb(0, 104, 55);	
	}
	h3 {
		font-size: 1.5em;
	}
	h3 a {

	}
	h3 a:hover {
		background: transparent;
	}
	h3:hover a, 
	h2:hover a {
		color: inherit;
	}
/* Table */
	table,
	.contentpaneopen table {
		clear: left;
		width: 100%;
		text-align: left;
		font-size: 1em;
		border-bottom: 1px dashed #dadada;
	}
	table caption,
	.contentpaneopen table caption {
		line-height: 1.6em;
		padding: 5px 10px;
		text-align: left;
	}
	table th,
	table td,
	.contentpaneopen table th,
	.contentpaneopen table td {
		vertical-align: top;
		line-height: 1.6em;
		padding: 5px 9px;
		border-bottom: 1px solid #dadada;
	}
	table tr.odd,
	.contentpaneopen table tr.odd {
		background-color: #f9f9f9;
	}
	table tr.even,
	.contentpaneopen table tr.even {
		background-color: #fff;
	}
	table thead th,
	.contentpaneopen table thead th {
		font-weight: bold;
		white-space: nowrap;
	}
/* Core classes */
	.on,
	.show {
		display: block;
	}
	.off,
	.hide {
		display: none;
	}
	.invisible {
		visibility: hidden;
	}
	.visible {
		visibility: visible;
	}
	.clear {
		clear: both;
	}
	.nowrap {
		white-space: nowrap;
	}
	.highlight {
		background-color: #FFFF99;
	}
	.align-right {
		text-align: right;
	}
	.align-left {
		text-align: left;
	}
	.align-center {
		text-align: center;
	}
	img.align-right {
		float: right;
		margin: 0 0 1em 1em;
	}
	img.align-left {
		float: left;
		margin: 0 1em 1em 0;
	}
	.article_separator {
		display: none;
	}

	ol.tags::after {
		content: ".";
		display: block;
		height: 0;
		clear: both;
		visibility: hidden;
	}
	#system-debug {
		display: none;
	}
/* Columns */
	.contentpaneopen {
		padding: 0 30px;
	}
	.section {
		padding: 0 30px;
		padding-top: 10px;
	}
	#introduction + .section {
		padding: 0 30px 30px 30px;
	}
	.main,
	.below {
		padding: 30px 30px 30px 30px;
		background: url("../images/layout/bg-aside.png") right top repeat-y;
	}
	#page_content .main {
		background: none;
	}
/* Subjects (with right aside) */
	.subject {
		margin: 0;
		padding: 0;
		margin-right: 270px;
	}
/* Asides (right side) */
	.aside {
		float: right;
		width: 210px;
	}
	.aside p {
		margin: 1em 0;
	}
	.aside h4 {
		margin-bottom: 0;
		padding-bottom: 0;
	}
	.aside ul {
		border-bottom: 1px solid #dadada;
		margin: 0;
		list-style: none;
	}
	.aside ul ul {
		padding: 0;
		margin: 0;
		background: none;
		border-bottom: none;
	}
	.aside li {
		margin: 0;
		padding: 0;
		list-style: none;
		border-top: 1px solid #dadada;
	}
	.aside li.parent {
		border-bottom: none;
	}
	.aside li li {
		padding-left: 20px;
	}
	.aside li a {
		display: block;
		padding: 0.5em 0;
		color: #747474;
		text-decoration: none;
		padding-left: 10px;
		border: none;
		font-weight: normal;
		font-style: normal;
		position: relative;
		-webkit-border-radius: 0.25em;
		-moz-border-radius: 0.25em;
		border-radius: 0.25em;
	}
	.aside li a:before {
		content: "";
		border-color: transparent transparent transparent #747474;
		border-style: dashed dashed dashed solid;
		border-width: 4px 0 4px 4px;
		height: 0;
		width: 0;
		display: block;
		overflow: hidden;
		position: absolute;
		top: 1.3em;
		left: 0;
		margin-top: -4px;
	}
	.aside li#current a:hover,
	.aside .sub-nav li.active a:hover,
	.aside li a:hover {
		color: #fff;
		background: #747474;
	}
	.aside .sub-nav li.active a:hover:before,
	.aside li#current a:hover:before,
	.aside li a:hover:before {
		border-color: transparent transparent transparent #e6e6e6;
	}
	.aside .sub-nav li.active a,
	.aside li#current>a {
		color: #2C2C2C;
		font-weight: bold;
	}
	.aside .sub-nav li.active a:before,
	.aside li#current>a:before {
		border-color: transparent transparent transparent #2C2C2C;
	}
	.subject #hubForm fieldset fieldset {
		padding: 0 1em 1em 1em;
		margin-top: 1em;
	}
	.subject #hubForm .submit {
		margin-right: 0;
	}
	#system-debug {
		display: none;
	}
/* Sub-menu */
	#sub-menu {
		margin: 0;
		padding: 0;
		background: #e3e3e3 url("../images/layout/noise-lite.png");
		/*background: #ececec url("../images/layout/noise-lite.png");*/
	}
	#sub-menu ul {
		height: 43px;
		list-style: none;
		margin: 0 0 -1px 0;
		padding: 0 30px 0 30px;
		position: relative;
		border: none;
		border-bottom: 1px solid #949494;
		border-bottom: 1px solid #BABABA;
		/*border-bottom: 1px solid #DADADA;*/
	}
	#sub-menu li {
		border: none;
		display: block;
		float: left;
		height: 29px;
		margin: 0;
		padding: 15px 0 0 0;
	}
	#sub-menu li a {
		-webkit-border-radius: 5px 5px 0 0;
		-moz-border-radius: 5px 5px 0 0;
		border-radius: 5px 5px 0 0;
		background: #b5b5b5; /* #e5e5e5 */
		border: 1px solid #949494;
		color: #747474;
		display: block;
		height: 27px;
		margin: 0;
		padding: 0 15px 0 0;
		text-align: center;
		
		/*border: 1px solid #DADADA;
		background: #fff;*/
	}
	#sub-menu li a span {
		border: none;
		cursor: pointer;
		display: block;
		height: 22px;
		margin: 0;
		padding: 5px 0 0 15px;
		text-align: center;
	}
	#sub-menu li a:hover {
		border-color: #616161;
		background-color: #747474;
		color: #fff;
	}
	#sub-menu li.active a,
	#sub-menu li.active a:hover {
		background: #f4f4f4 url("../images/layout/linen.png");
		border-bottom: 1px solid #eee;
		color: #747474;
	}