/* Mobile Top */
	.mobile-top #nav {
		display: none;
	}
	.mobile-top #mobile-nav {
		position: absolute;
		   right: 40px;
		     top: 40px;
	}


/* Mobile Search */
	.mobile-search #searchform {
		 float: left;
		margin: 35px 0 0 20px;
	}
	.mobile-search #searchform #searchword {
		     float: none;
		   padding: 8px;
		    border: 1px solid #dadada;
		background: #f9f9f9;
		     color: #555;
	}
	
/* Mobile Wrap */
	.mobile-wrap #content .inner {
		margin: 0 !important;
	}
	.mobile-wrap #content #features {
		margin: 0 !important;
	}


/* Mobile Footer */
	.mobile-footer {
		text-align: center;
		   padding: 40px 0 0 0 !important;
		    height: 30px;
		min-height: inherit !important;
	}