//Color variables
$green: #84bf41;
$dark-blue: #2E2D4D;
$teal: #007991;
$pink: #cb48b7;
$med-blue: #5f5980;
$med-gray: #9B9B9B;
$light-gray: #F1F2F2;
$orange: #cca231;
$black: #000;
$white: #fff;


// .body {
//   font-family: 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;
// }
// h1, h2, h3, h4, h5, h6 {
//   font-family: 'montserratultra_light', 'Montserrat', Helvetica Neue, Helvetica, sans-serif;
// }
// .group-php-page {
//   display: grid;
//   grid-template-columns: repeat(4, [col] 1fr);
//   grid-template-rows: repeat(4, [row] auto);
// }

.contentpane {
  display: grid;
  grid-template-columns: repeat(4, [col] 1fr);
  grid-template-rows: repeat(4, [row] auto);
}
.contentpaneopen {
  grid-column: col / span 4;
  grid-row: row / span 4;
}
.green {
  color: $green;
  a {
    padding: .25em .75em;
    border: 1px solid $green;
  }
  a:active {
    color: $green;
  }
  a:visited {
    color: $green;
  }
  a:hover {
    color: $orange;
    border: 1px solid $orange;
  }
}
.white {
  color: $white;
  a {
    padding: .25em .75em;
    border: 1px solid $white;
  }
  a:active {
    color: $white;
  }
  a:visited {
    color: $white;
  }
  a:hover {
    color: $orange;
  }
}
.link {
  text-transform: uppercase;
}
//Banner
.intro-container {
  grid-column: col / span 4;
  grid-row: row;
  background-color: #000;
  color: $white;
}
.intro {
  width: 40%;
  padding: 30px;
  .tagline {
    color: $white;
  }
}

//Resources
.one {
  grid-column: col / span 4;
  grid-row: row 2;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, auto);
}
h3 {
  font-family: 'montserratultra_light', 'Montserrat', Helvetica Neue, Helvetica, sans-serif;
}
.resources {
  display: flex;
  flex: 1;
  grid-column: 1 / span 4;
  grid-row: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  .oer {
    width: 50%;
    padding: 2.5em;
  }
  .big {
    width: 50%;
    background-color: #D8D8D8;
    border: 1px solid #979797;
  }
}
.software {
  display: flex;
  flex: 1;
  grid-column: 1 / span 4;
  grid-row: 2;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  .left {
    width: 50%;
    padding: 2.5em;
    .link {
      padding-top: 2em;
    }
  }
  .software-logos {
    width: 50%;
    padding: 2.5em;
    display: flex;
    flex-wrap: wrap;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-auto-rows: 50px;
    grid-gap: 5px;
    justify-items: center;
    align-self: center;
    text-align: center;
    h6 {
      width: 100px;
      height: 50px;
      align-self: center;
      margin: 0;
      color: $med-gray;
    }
  }
}
.sub-title {
  margin-left: 30px;
}

//Network & Community
.two {
  grid-column: col / span 4;
  grid-row: 3;
}
.network {
  display: flex;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 300px;
  .network-logos {
    padding: 2.5em;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(75px, 1fr));
    grid-gap: 5px;
    justify-items: center;
    .logo {
      align-self: center;
      background-color: transparent !important;
      border: none !important;
      width: 75px !important;
    }
  }
  .left {
    padding: 2.5em;
    width: 50%;
  }
  .right {
    width: 50%;
    padding: 2.5em;
  }
  .link {
    padding-top: 2em;
  }
}
.community {
  display: flex;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  .left {
    width: 50%;
    padding: 2.5em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    .title {
      grid-column: 1 / span 2;
    }
    ul {
      list-style: none;
    }
    .button {
      text-align: center;
      h6 {
        position: relative;
        top: 50%;
      }
    }
  }
  .module-right {
    width: 50%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 200px);
    .big {
      grid-column: span 2;
      grid-row: span 2;
      .billboard-image {
        height: 100%;
        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }
    }
    .horizontal {
      grid-column: span 2;
    }
    .billboard-image {
      width: 100%;
      height: 100%;
      margin: auto;
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
    .billboard-image::after {
      content: '';
      display: block;
      position: relative;
      background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 50%,rgba(0,0,0,1) 100%);
      margin-top: -200px;
      height: 200px;
      width: 100%;
    }
    .billboard {
      position: relative;
      .billboard-tag {
        position: absolute;
        bottom: 50px;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 11px;
        padding: 0 10px;
        a {
          color: $white;
        }
      }
      .billboard-header {
        position: absolute;
        bottom: 0;
        height: 50px;
        line-height: 1em;
        padding: 10px;
        overflow: hidden;
        a {
          color: $white;
        }
      }
    }
    .resource-img {
      width: 100%;
      height: 100%;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .resource-img::after {
      content: '';
      display: block;
      position: relative;
      background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 50%,rgba(0,0,0,1) 100%);
      margin-top: -200px;
      height: 200px;
      width: 100%;
    }
    .resource {
      position: relative;
      .resource-tag {
        position: absolute;
        bottom: 50px;
        padding: 0 10px;
        a {
          color: $white;
          text-transform: uppercase;
          font-weight: bold;
          font-size: 11px;
        }
      }
      .resource-title {
        position: absolute;
        bottom: 0;
        height: 50px;
        line-height: 1em;
        padding: 10px;
        a {
          color: $white;
        }
      }
    }
    .group {
      align-self: center;
      .group-img {
        text-align: center;
      }
      .group-description {
        text-align: center;
      }
    }
  }
}

//Services
.three {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  justify-content: space-between;
  grid-column: col / span 4;
  grid-row: row 4;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  justify-self: center;
  grid-gap: 10px;
  padding: 2.5em;
  h4 {
    font-family: 'montserratultra_light', 'Montserrat', Helvetica Neue, Helvetica, sans-serif;
  }
  .title {
    width: 100%;
    grid-column: span 4;
    text-align: center;
  }
  .service {
    width: 21%;
    border: 1px solid $green;
    border-radius: 6px;
    padding: 1.5em 1em 2.5em 1em;
    h4 {
      height: 4.5rem;
    }
    ul {
      list-style: none;
      margin-left: 0;
      margin-bottom: 2.5em;
    }
  }
}

@media only screen and (min-width: 320px) and (max-width: 900px) {
  .resources {
    flex-wrap: wrap;
    grid-template-rows: repeat(2, 1fr);
    .big {
      width: 100%;
      height: 250px;
      grid-column: 1 / span 4;
      grid-row: 1;
    }
    .oer {
      width: 100%;
      order: -1;
      grid-column: 1 / span 4;
      grid-row: 2;
    }
  }
  .software {
    flex-wrap: wrap;
    grid-template-rows: repeat(2, 1fr);
    .left {
      width: 100%;
      grid-column: 1 / span 4;
      grid-row: 1;
    }
    .software-logos {
      width: 100%;
      grid-column: 1 / span 4;
      grid-row: 2;
    }
  }
  .network {
    flex-wrap: wrap;
    grid-template-rows: repeat(2, 1fr);
    .left {
      width: 100%;
      grid-column: 1 / span 4;
      grid-row: 2;
    }
    .right {
      width: 100%;
      order: -1;
      grid-column: 1 / span 4;
      grid-row: 1;
    }
  }
  .community {
    flex-wrap: wrap;
    grid-template-rows: repeat(2, 1fr);
    .left {
      width: 100%;
      grid-column: 1 / span 4;
      grid-row: 1;
    }
    .module-right {
      width: 100%;
      grid-column: 1 / span 4;
      grid-row: 2;
      // grid-template-rows: repeat(4, 2fr);
      .big {
        grid-column: span 4;
        grid-row: span 2;
      }
      .regular {
        grid-column: span 2;
      }
      .horizontal {
        grid-column: span 4;
      }
    }
  }
  .three {
    flex-wrap: wrap;
    grid-template-rows: repeat(4, 1fr);
    .service {
      width: 100%;
      grid-column: 1 / span 4;
    }
  }
}
@media only screen and (min-width: 901px) and (max-width: 1200px) {
  .community {
    .right {
      grid-template-rows: repeat(4, 2fr);
      .big {
        grid-column: span 4;
        grid-row: span 2;
      }
      .regular {
        grid-column: span 2;
      }
      .horizontal {
        grid-column: span 4;
      }
    }
  }
  .three {
    .service {
      grid-column: span 2;
    }
  }
}
//Reset widths if css grid is supported
@supports (display:grid) {
  .resources {
    .oer {
      width: auto;
    }
    .big {
      width: auto;
    }
  }
  .software {
    .left {
      width: auto;
    }
    .software-logos {
      width: auto;
    }
  }
  .network {
    .left {
      width: auto;
    }
    .right {
      width: auto;
    }
  }
  .community {
    .left {
      width: auto;
    }
    .module-right {
      width: auto;
    }
  }
  .three {
    .service {
      width: auto;
    }
  }
}
