@import url("/components/com_members/assets/css/members.css");

	.com_members .innerwrap {
		position: relative;
	}
	#page_options + #page_header {
		margin-right: 0;
		padding-right: 11em;
	}
/* Content blocks */
	#page_header {
		border-bottom: 1px dotted #e1e1e1;
		background-color: #fff;
		padding: 10px 20px 30px 20px;
		position: static;
	}
	/* Top angled corners */
	#page_header:before, /* Left corner */
	#page_header:after {
		position: absolute;
		top: -20px;
		left: 215px;
		content: "";
		display: block;
		border: 10px solid #fff;
		border-color: transparent #fff #fff transparent;
		z-index: 2;
	}
	/* Right corner */
	#page_header:after {
		left: auto;
		right: 0;
		top: -20px;
		border-color: transparent transparent #fff #fff;
	}
	#page_header h2:after {
		position: absolute;
		top: -20px;
		left: 235px;
		right: 20px;
		content: "";
		display: block;
		background: #fff;
		height: 20px;
	}
	#page_container {
		background-color: transparent;
		overflow: hidden;
	}
	#page_options {
		top: 5px;
	}
	#page_sidebar {
		/*background: #696969 url("/templates/hubbasic2013/images/layout/noise.png");*/
		background: #e1e1e1 url("/templates/hubbasic2013/images/layout/noise-lite.png");
		margin-bottom: -50000px;
		padding-bottom: 50000px;
		-webkit-box-shadow: inset -3px 0px 4px -3px rgba(0, 0, 0, 0.25);
		   -moz-box-shadow: inset -3px 0px 4px -3px rgba(0, 0, 0, 0.25);
		    -ms-box-shadow: inset -3px 0px 4px -3px rgba(0, 0, 0, 0.25);
		     -o-box-shadow: inset -3px 0px 4px -3px rgba(0, 0, 0, 0.25);
		        box-shadow: inset -3px 0px 4px -3px rgba(0, 0, 0, 0.25);
	}
	#page_menu li {
		border-bottom: 1px solid #d1d1d1;
		border-bottom: 1px solid rgba(0, 0, 0, 0.075);
	}
	#page_menu li:first-child {
		border-top: 1px solid #d1d1d1;
		border-top: 1px solid rgba(0, 0, 0, 0.075);
	}
	#page_menu li .meta .count {
		background: #d1d1d1;
		background: rgba(0, 0, 0, 0.1);
		color: #888;
	}
	#page_menu li ul li a,
	#page_menu li a, 
	#page_menu li span {
		color: #888;
	}