input { border-width: expression(this.type=="radio"?'0px':this.type=="checkbox"?'0px':'1px'); }

div#toolbar-box {
	height: 65px;
}

#toolbar-box div.m {
height: 50px;

}

.button2-left .page a, .button2-right .page a, .button2-left .page span, .button2-right .page span, .button2-left .blank a, .button2-right .blank a, .button2-left .blank span, .button2-right .blank span{
	float: left;
}

 #sbox-window {
margin:30%;        
}
