app/**
core/vendor/**
administrator/cache/**
logs/**
js_apps/**
google*.html
bans
robots.txt
auto-deployments.log
deployments.log
freeze-auto-deployments
config/
favicon.ico
.phan/**
psalm.xml
.phpunit.result.cache
phpunit.xml
*.sqlite3
.claude/
.vscode/
