parameters:
    level: 0
    parallel:
        maximumNumberOfProcesses: 16

    paths:
        - core/libraries/
        - core/components/
        - core/plugins/
        - core/modules/
        - core/bootstrap/

    excludePaths:
        # Vendor directory
        - core/vendor/


