# http://www.robotstxt.org

User-agent: *
Disallow: /administrator/
Disallow: /api/
Disallow: /core/
Disallow: /app/bootstrap/
Disallow: /app/cache/
Disallow: /app/components/
Disallow: /app/config/
Disallow: /app/language/
Disallow: /app/migrations/
Disallow: /app/modules/
Disallow: /app/plugins/
Disallow: /app/templates/
Disallow: /app/tmp/
Disallow: /app/index.php

