<?xml version="1.0" encoding="utf-8"?>
<config>
	<params>
		<param name="db_name" type="text"	label="Database Name" description="" default="information_schema" />
		<param name="db_host" type="text"	label="Database Host" description="" default="localhost" />
		<param name="db_user" type="text"	label="Database User name" description="" default="dataviewer" />
		<param name="db_pass" type="password"	label="Database Password" description="" default="" />

		<param name="@spacer" type="spacer" default="" label="" description="" />
		<param name="null_desc" type="text"	label="NULL description" description="" default="Does not apply." />
		<param name="record_display_limit" type="list" default="10" label="Record Display Limit" description="Number of records to display">
			<option value="5">5</option>
			<option value="10">10</option>
			<option value="15">15</option>
			<option value="20">20</option>
			<option value="25">25</option>
			<option value="50">50</option>
			<option value="100">100</option>
		</param>
		<param name="@spacer" type="spacer" default="" label="" description="" />

		<param name="help_file_path" type="text"	label="help file base path" description="" default="" />
		<param name="@spacer" type="spacer" default="" label="" description="" />
	</params>
</config>
