//Color variables
$green: #84bf41;
$dark-blue: #222b37;
// $dark-blue: #2E2D4D;
$teal: #007991;
$pink: #cb48b7;
$med-blue: #5f5980;
$light-gray: #F1F2F2;
$orange: #cca231;
$black: #000;
$white: #fff;

//Mixins for showcase module
@mixin showcase-header($font-size, $line-height, $lines-to-show) {
  display: block; /* Fallback for non-webkit */
  display: -webkit-box;
  height: $font-size*$line-height*$lines-to-show; /* Fallback for non-webkit */
  margin: 0 auto;
  font-size: $font-size;
  line-height: $line-height;
  -webkit-line-clamp: $lines-to-show;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  color: $white;
}
@mixin showcase-tag($background-color, $link-color) {
  position: absolute;
  bottom: 50px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 11px;
  padding: 5px 10px;
  background-color: $background-color;
  a {
    color: $link-color;
  }
}
@mixin image-gradient {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 50%,rgba(0,0,0,1) 100%);
  height: 200px;
  width: 100%;
}

.content {
  display: grid;
  grid-template-columns: repeat(4, [col] 1fr);
  grid-template-rows: repeat(5, [row] auto);
}
.link {
  text-transform: uppercase;
  margin-top: 3rem;
  a {
    color: $white;
    padding: .25em .75em;
    border: 1px solid $white;
  }
  &:active {
    color: $white;
  }
  &:visited {
    color: $white;
  }
  &:hover {
    color: $orange;
  }
}
.link-anchor {
  color: inherit;
  &:hover {
    color: inherit;
  }
  &:visited {
    color: inherit;
  }
}
.white {
  color: $white;
  a:active {
    color: $white;
  }
  a:visited {
    color: $white;
  }
  a:hover {
    color: $orange;
  }
}

//Feature
.feature {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  grid-column: col / span 4;
  grid-row: row;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));
  grid-auto-rows: 300px;
  grid-gap: 5px;
  .resource-img {
      width: 100%;
      height: 100%;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      a {
        display: block;
        height: 100%;
      }
    }
    .resource-img::after {
      @include image-gradient;
    }
    .resource {
      position: relative;
      flex: 1 1 10rem;
      height: 15rem;
      margin: 2.5px;
      .resource-tag {
        @include showcase-tag($dark-blue, $white);
      }
      .resource-title {
        position: absolute;
        bottom: 0;
        padding: 10px;
        a {
          @include showcase-header(1em, 1, 2);
        }
      }
    }
}

//search
.search-wrapper {
  grid-column: col / span 4;
  grid-row: row 2;
  justify-content: center;
  text-align: center;
  padding: 30px 0;
  h4 {
    font-family: 'montserratultra_light', 'Montserrat', Helvetica Neue, Helvetica, sans-serif;
  }
}
#rsearch {
  width: 70%;
}
.page-body > .content form.search input[type="submit"] {
  background-color: $green;
  color: $white;
}

//Discover
.discover {
  display: flex;
  flex-wrap: wrap;
  grid-column: col / span 4;
  grid-row: row 3;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-gap: 10px;
  padding: 30px;
  h2 {
    grid-column: 1 / span 3;
    width: 100%;
  }
  h4 {
    font-family: 'montserratultra_light', 'Montserrat', Helvetica Neue, Helvetica, sans-serif;
  }
}
.resources {
  width: 30%;
  padding: 10px;
  border-left: 1px solid $dark-blue;
}

//OER and Resources
#one {
  grid-column: col / span 4;
  grid-row: row 4;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, minmax(20rem, auto));
  background: url('/app/site/media/images/pexels-photo-590493.jpg');
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.6) 100%), url('/app/site/media/images/pexels-photo-590493.jpg');
  background-size: cover;
}
.resource-oer {
  grid-column: 1 / span 4;
  grid-row: 1;
  .oer {
    position: relative;
    top: 50%;
    transform: translateY(-50%);

    color: $white;
    h2 {
      color: $white;
    }
    padding: 2.5em;
    text-align: center;
  }
}
.resource-fmn {
  display: flex;
  flex: 1;
  grid-column: 1 / span 4;
  grid-row: 2;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  color: $white;
  h2 {
    color: $white;
  }
  .module-fmn {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 50%;
    grid-column: 1 / span 2;
    padding: 1em;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));
    grid-auto-rows: 300px;
    grid-gap: 5px;
    align-self: center;
    }
    .resource-img {
        width: 100%;
        height: 100%;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .resource-img::after {
        @include image-gradient;
      }
      .resource {
        position: relative;
        flex: 1 1 10rem;
        height: 15rem;
        margin: 2.5px;
        .resource-tag {
          @include showcase-tag($dark-blue, $white);
        }
        .resource-title {
          position: absolute;
          bottom: 0;
          padding: 10px;
          a {
            @include showcase-header(1em, 1, 2);
          }
        }
      }
  .fmn {
    width: 50%;
    padding: 2.5em;
    grid-column: 3 / span 2;
    align-self: center;
  }
}
.resource-partner {
  display: flex;
  flex: 1;
  grid-column: 1 / span 4;
  grid-row: 3;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  color: $white;
  h2 {
    color: $white;
  }
  .partner {
    width: 50%;
    grid-column: 1 / span 2;
    padding: 2.5em;
    align-self: center;
  }
  .module-partner {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    grid-column: 3 / span 2;
    padding: 1em;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));
    grid-auto-rows: 300px;
    grid-gap: 5px;
    align-self: center;

  }
  .resource-img {
      width: 100%;
      height: 100%;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .resource-img::after {
      @include image-gradient;
    }
    .resource {
      position: relative;
      flex: 1 1 10rem;
      height: 15rem;
      margin: 2.5px;
      .resource-tag {
        @include showcase-tag($dark-blue, $white);
      }
      .resource-title {
        position: absolute;
        bottom: 0;
        padding: 10px;
        a {
          @include showcase-header(1em, 1, 2);
        }
      }
    }
}

//Collections
#two {
  display: flex;
  flex: 1;
  grid-column: col / span 4;
  grid-row: row 5;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  .big {
    width: 50%;
    img {
      display: block;
      width: 30rem;
      margin: 0 auto;
    }
  }
  .collections {
    width: 50%;
    padding: 2.5em;
    align-self: center;
    .link {
      a {
        color: $green;
        border: 1px solid $green;
      }
    }
  }
}

//Software
#three {
  display: flex;
  flex: 1;
  grid-column: col / span 4;
  grid-row: row 6;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  background-color: $med-blue;
  color: $white;
  h2 {
    color: $white;
  }
  .software {
    width: 50%;
    text-align: center;
    padding: 2.5em;
  }
  .software-logos {
    width: 50%;
    padding: 2.5em;
    display: flex;
    flex-wrap: wrap;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-auto-rows: 50px;
    grid-gap: 5px;
    justify-items: center;
    align-self: center;
    text-align: center;
    h6 {
      width: 100px;
      height: 50px;
      align-self: center;
      margin: 0;
      color: $light-gray;
    }
  }
}
@media only screen and (min-width: 320px) and (max-width: 900px) {
  .discover {
    grid-template-rows: repeat(4, 1fr);
    justify-content: center;
    .resources {
      width: 100%;
      grid-column: span 3;
    }
  }
  #one {
    .resource-fmn {
      flex-wrap: wrap;
      grid-template-rows: 1fr 2fr;
      .fmn {
        width: 100%;
        order: -1;
        grid-column: 1 / span 4;
        grid-row: 1;
      }
      .module-fmn {
        width: 100%;
        grid-column: 1 / span 4;
        grid-row: 2;
      }
    }
    .resource-partner {
      flex-wrap: wrap;
      grid-template-rows: 1fr 2fr;
      .partner {
        width: 100%;
        order: -1;
        grid-column: 1 / span 4;
        grid-row: 1;
      }
      .module-partner {
        width: 100%;
        grid-column: 1 / span 4;
        grid-row: 2;
      }
    }
  }
  #two {
    flex-wrap: wrap;
    grid-template-rows: 1fr 1fr;
    .collections {
      width: 100%;
      grid-column: 1 / span 4;
      grid-row: 1;
    }
    .big {
      width: 100%;
      height: auto;
      order: 1;
      grid-column: 1 / span 4;
      grid-row: 2;
    }
  }
  #three {
    flex-wrap: wrap;
    grid-template-rows: repeat(2, 1fr);
    .software {
      width: 100%;
      grid-column: 1 / span 4;
      grid-row: 1;
    }
    .software-logos {
      width: 100%;
      grid-column: 1 / span 4;
      grid-row: 2;
    }
  }
}
//Reset widths if css grid is supported
@supports (display:grid) {
  .feature {
    .regular {
      width: auto;
      height: auto;
      margin: 0;
    }
  }
  .discover {
    h2 {
      width: auto;
    }
    .resources {
      width: auto;
    }
  }
  #one {
    .resource-fmn {
      .fmn {
        width: auto;
      }
      .module-fmn {
        width: auto;
        .regular {
          height: auto;
        }
      }
    }
    .resource-partner {
      .partner {
        width: auto;
      }
      .module-partner {
        width: auto;
        .regular {
          height: auto;
        }
      }
    }
  }

  #two {
    .big {
      width: auto;
      height: auto;
    }
    .collections {
      width: auto;
    }
  }
  #three {
    .software {
      width: auto;
    }
    .software-logos {
      width: auto;
      h6 {
        width: auto;
        height: auto;
      }
    }
  }
}
