@import "../../../../plugins/groups/citations/assets/css/citations.css";

.highlight {
	background-color: rgba(255, 255, 27, 0.82);
}

.admin a.btn, .btn {
	border-color: #5F5E5E;
	margin-top: 10px;
}
