/**
 * Copyright 2005-2009 by Purdue Research Foundation, West Lafayette, IN 47906.
 * All rights reserved.
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License,
 * version 2 as published by the Free Software Foundation. 
 */

/*

	-- -- -- -- -- -- --
	mod_randomquote
	-- -- -- -- -- -- --

*/

	/* Quote */
	#frontpage .workshop h3 {
		padding: 0.2em; padding-left: 23px; background: url("../images/home/fc-workshop.gif") 0 0em no-repeat;
	}	
	#frontpage .workshop {
		background: none;
	}
	.frontquote h3, #frontpage h3.notable_quote {
		background: url("../images/quoteopen.gif") 0 0 no-repeat;
		padding: 0 0 0 1.7em;
		margin-bottom: 0.5em;
	}
	#frontpage blockquote {
		padding: 0;
		margin: 0;
		padding: 0.7em 23px;
		background: none;
		color: #444444;
		background: #fefaec;
		border-right: 1px solid #DFD5AF;
		border-bottom: 1px solid #DFD5AF;
	}
	.frontquote {
		margin-bottom: 2em;
	}
	#frontpage blockquote p {
		padding: 0;
		margin: 0;
	}
	#frontpage cite {
		margin: 0;
	}
	#frontpage p.cite {
		margin: 0.8em 0 0 0;
		padding: 0 0 0 23px;
		line-height: 1.2em;
		color:#87795c;
		font-size: 85%;
	}