<?xml version="1.0" encoding="utf-8"?>

<!--
@package        hubzero-cms
@file           administrator/components/com_support/config.xml
@copyright      Copyright 2005-2011 Purdue University. All rights reserved.
@license        http://www.gnu.org/licenses/lgpl-3.0.html LGPLv3

Copyright 2005-2011 Purdue University. All rights reserved.

This file is part of: The HUBzero(R) Platform for Scientific Collaboration

The HUBzero(R) Platform for Scientific Collaboration (HUBzero) is free
software: you can redistribute it and/or modify it under the terms of
the GNU Lesser General Public License as published by the Free Software
Foundation, either version 3 of the License, or (at your option) any
later version.

HUBzero is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.

HUBzero is a registered trademark of Purdue University.
-->

<config>
	<fieldset name="basic">
		<field name="group" type="text" menu="hide" label="COM_SUPPORT_CONFIG_GROUP_LABEL" default="" description="COM_SUPPORT_CONFIG_GROUP_DESC" />
		<field name="severities" type="text" menu="hide" default="critical,major,normal,minor,trivial" label="COM_SUPPORT_CONFIG_SEVERITIES_LABEL" description="COM_SUPPORT_CONFIG_SEVERITIES_DESC" />
		<field name="email_processing" type="list" default="0" label="COM_SUPPORT_CONFIG_EMAIL_INTERFACE_LABEL" description="COM_SUPPORT_CONFIG_EMAIL_INTERFACE_DESC">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field name="emails" type="textarea" cols="30" rows="10" default="{config.mailfrom}" label="COM_SUPPORT_CONFIG_EMAILS_LABEL" description="COM_SUPPORT_CONFIG_EMAILS_DESC" />
	</fieldset>
	<fieldset name="files">
		<field name="webpath" type="text" menu="hide" default="/site/tickets" label="COM_SUPPORT_CONFIG_WEBPATH_LABEL" description="COM_SUPPORT_CONFIG_WEBPATH_DESC" />
		<field name="maxAllowed" type="text" menu="hide" default="40000000" label="COM_SUPPORT_CONFIG_MAXALLOWED_LABEL" description="COM_SUPPORT_CONFIG_MAXALLOWED_DESC" />
		<field name="file_ext" type="textarea" rows="10" cols="30" menu="hide" label="COM_SUPPORT_CONFIG_EXTENSIONS_LABEL" default="jpg,jpeg,jpe,bmp,tif,tiff,png,gif,pdf,zip,mpg,mpeg,avi,mov,wmv,asf,asx,ra,rm,txt,rtf,doc,xsl,html,js,wav,mp3,eps,ppt,pps,swf,tar,tex,gz" description="COM_SUPPORT_CONFIG_EXTENSIONS_DESC" />
	</fieldset>
	<fieldset name="spam">
		<field name="blacklist" type="textarea" rows="15" cols="40" label="COM_SUPPORT_CONFIG_BLACKLIST_LABEL" default="" description="COM_SUPPORT_CONFIG_BLACKLIST_DESC" />
		<field name="badwords" type="textarea" rows="15" cols="40" label="COM_SUPPORT_CONFIG_BADWORDS_LABEL" default="viagra, pharmacy, xanax, phentermine, dating, ringtones, tramadol, hydrocodone, levitra, ambien, vicodin, fioricet, diazepam, cash advance, free online, online gambling, online prescriptions, debt consolidation, baccarat, loan, slots, credit, mortgage, casino, slot, texas holdem, teen nude, orgasm, gay, fuck, crap, shit, asshole, cunt, fucker, fuckers, motherfucker, fucking, milf, cocksucker, porno, videosex, sperm, hentai, internet gambling, kasino, kasinos, poker, lottery, texas hold em, texas holdem, fisting" description="COM_SUPPORT_CONFIG_BADWORDS_DESC" />
	</fieldset>
</config>
