<?xml version="1.0" encoding="utf-8"?>

<!--
@package        hubzero-cms
@file           administrator/components/com_groups/config.xml
@copyright      Copyright 2005-2011 Purdue University. All rights reserved.
@license        http://www.gnu.org/licenses/lgpl-3.0.html LGPLv3

Copyright 2005-2011 Purdue University. All rights reserved.

This file is part of: The HUBzero(R) Platform for Scientific Collaboration

The HUBzero(R) Platform for Scientific Collaboration (HUBzero) is free
software: you can redistribute it and/or modify it under the terms of
the GNU Lesser General Public License as published by the Free Software
Foundation, either version 3 of the License, or (at your option) any
later version.

HUBzero is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.

HUBzero is a registered trademark of Purdue University.
-->

<config>
	<params>
		<param name="ldapGroupMirror" type="radio" default="1" label="Enable LDAP Mirror" description="Mirror Group Data to LDAP.">
			<option value="0">No</option>
			<option value="1">Yes</option>
		</param>
		<param name="ldapGroupLegacy" type="radio" default="1" label="Enable LDAP Legacy Group Data" description="If using LDAP, use legacy group data.">
			<option value="0">No</option>
			<option value="1">Yes</option>
		</param>
		<param name="uploadpath" type="text" menu="hide" default="/site/groups" label="Upload path" description="File path for pictures" size="50" />
		<param name="iconpath" type="text" menu="hide" default="/components/com_groups/assest/img/icons" label="Icons" description="File path for icons" size="50" />
		<param name="join_policy" type="list" default="0" label="Default Join Policy" description="The default default join policy for new groups.">
			<option value="0">Public</option>
			<option value="1">Restricted</option>
			<option value="2">Invite Only</option>
			<option value="3">Closed</option>
		</param>
		<param name="privacy" type="list" default="0" label="Default Privacy" description="The default privacy setting for new groups.">
			<option value="0">Public</option>
			<option value="1">Protected</option>
			<option value="4">Private</option>
		</param>
		<!--<param name="access" type="list" default="0" label="Default Content Privacy" description="The default privacy setting for content associated with groups.">
			<option value="0">Public</option>
			<option value="3">Protected</option>
			<option value="4">Private</option>
		</param>-->
		<param type="spacer" />
		<param name="auto_approve" type="list" default="1" label="Auto Approve Groups:?" description="Groups are auto approved at creation. Otherwise Hub administrator must manually approve group.">
			<option value="0">No</option>
			<option value="1">Yes</option>
		</param>
		<param type="spacer" />
		<param name="display_system_users" type="list" default="no" label="Display System Users?" description="Display system users in group member lists?">
			<option value="no">No</option>
			<option value="yes">Yes</option>
        
		<param name="email_comment_processing" type="list" default="0" label="Enable discussion comments via E-mail" description="Enable logic to send group discussion comments via email and process and add responses via email">
			<option value="0">No</option>
			<option value="1">Yes</option>
		</param>
        
	</params>
</config>

