<?xml version="1.0" encoding="utf-8"?>

<!--
 Copyright 2005-2009 by Purdue Research Foundation, West Lafayette, IN 47906.
 All rights reserved.

 This program is free software; you can redistribute it and/or
 modify it under the terms of the GNU General Public License,
 Version 2 as published by the Free Software Foundation.

 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with this program; if not, write to the Free Software
 Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
-->

<config>
	<params>
		<param name="ldapGroupMirror" type="radio" default="1" label="Enable LDAP Mirror" description="Mirror Group Data to LDAP.">
			<option value="0">No</option>
			<option value="1">Yes</option>
		</param>
		<param name="ldapGroupLegacy" type="radio" default="1" label="Enable LDAP Legacy Group Data" description="If using LDAP, use legacy group data.">
			<option value="0">No</option>
			<option value="1">Yes</option>
		</param>
		<param name="uploadpath" type="text" menu="hide" default="/site/groups" label="Upload path" description="File path for pictures" />
		<param name="iconpath" type="text" menu="hide" default="/components/com_groups/images/icons" label="Icons" description="File path for icons" />
		<param name="join_policy" type="list" default="0" label="Default Join Policy" description="The default default join policy for new groups.">
			<option value="0">Public</option>
			<option value="1">Restricted</option>
			<option value="2">Invite Only</option>
			<option value="3">Closed</option>
		</param>
		<param name="privacy" type="list" default="0" label="Default Privacy" description="The default privacy setting for new groups.">
			<option value="0">Public</option>
			<option value="1">Protected</option>
			<option value="4">Private</option>
		</param>
		<param name="access" type="list" default="0" label="Default Content Privacy" description="The default privacy setting for content associated with groups.">
			<option value="0">Public</option>
			<option value="3">Protected</option>
			<option value="4">Private</option>
		</param>
	</params>
</config>
