<?xml version="1.0" encoding="utf-8"?>

<!--
@package        hubzero-cms
@file           components/com_update/config/config.xml
@copyright      Copyright 2005-2015 HUBzero Foundation, LLC.
@license        http://opensource.org/licenses/MIT MIT

Copyright 2005-2015 HUBzero Foundation, LLC.

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in
all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
THE SOFTWARE.

HUBzero is a registered trademark of Purdue University.
-->

<config>
	<fieldset name="basic">
		<field name="system_user" type="text" menu="hide" default="hubadmin" label="COM_UPDATE_SYSTEM_USER_LABEL" description="COM_UPDATE_SYSTEM_USER_DESC" size="50" />
	</fieldset>
	<fieldset name="git">
		<field name="git_repository_source" type="text" menu="hide" default="" label="COM_UPDATE_SYSTEM_GIT_REPOSITORY_UPSTREAM_LABEL" description="COM_UPDATE_SYSTEM_GIT_REPOSITORY_UPSTREAM_DESC" size="50" />
		<field name="git_auto_push_ref" type="text" menu="hide" default="" label="COM_UPDATE_SYSTEM_GIT_AUTO_PUSH_REF_LABEL" description="COM_UPDATE_SYSTEM_GIT_AUTO_PUSH_REF_DESC" size="50" />
	</fieldset>
	<fieldset name="github">
		<field name="github_branch" type="text" menu="hide" default="" label="COM_UPDATE_BRANCH_LABEL" description="COM_UPDATE_BRANCH_DESC" size="50" />
		<field name="github_secret" type="text" menu="hide" default="" label="COM_UPDATE_GIT_SECRET_LABEL" description="COM_UPDATE_GIT_SECRET_DESC" size="50" />
		<field name="update_script_path" type="text" menu="hide" default="/var/www/hub/githookpullscript.sh" label="COM_UPDATE_UPDATE_SCRIPT_PATH_LABEL" description="COM_UPDATE_UPDATE_SCRIPT_PATH_DESC" size="50" />
	</fieldset>
</config>
