* {
  box-sizing: border-box;
}

body {
  background: #eceef1;
  font-family: 'Slabo 27px', serif;
  color: #342E37;
}

.cards {
  padding: 15px;
  display: flex;
  flex-flow: row wrap;
}

.card {
  margin: 15px;
  width: 225px;
  transition: all 0.2s ease-in-out;
}

@media screen and (max-width: 991px) {
  .card {
    width: 200px;
  }
}

@media screen and (max-width: 767px) {
  .card {
    width: 100%;
  }
}

.card:hover .card__inner {
  transform: scale(1.05);
}

.card__inner {
  width: 100%;
  height: 160px;
  padding: 30px;
  position: relative;
  cursor: pointer;
  font-size: 1.5em;
  text-align: center;
  transition: all 0.2s ease-in-out;
}

.card__inner:after {
  transition: all 0.3s ease-in-out;
}

.card__inner .fa {
  width: 100%;
  margin-top: .25em;
}

.card__expander {
  transition: all 0.2s ease-in-out;
  background-color: #333a45;
  width: 100%;
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
  color: #fff;
  font-size: 1em;
  padding: 15px;
}

.card__expander .fa-close {
  font-size: 1.25em;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.card__expander .fa-close:hover {
  opacity: 0.9;
}

.card-logo {
  max-height: 100px;
}
.card .card-link {
  margin-right: 20px;
}

.card .social {
  text-align: center;
}

.social {
  float: none;
  margin-top: 10px;
  margin-left: 0;
}

.card .social .fa-twitter {
  font-size: 1.75em;
  margin-top: 10px;
}

.card.is-collapsed .card__inner:after {
  content: "";
  opacity: 0;
}

.card.is-collapsed .card__expander {
  max-height: 0;
  min-height: 0;
  overflow: hidden;
  margin-top: 0;
  opacity: 0;
}

.card.is-expanded .card__inner:after {
  content: "";
  opacity: 1;
  display: block;
  height: 0;
  width: 0;
  position: absolute;
  bottom: -30px;
  left: calc(50% - 15px);
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid #333a45;
}

.card.is-expanded .card__expander {
  max-height: 1000px;
  min-height: 200px;
  overflow: visible;
  margin-top: 30px;
  opacity: 1;
}

.card.is-expanded:hover .card__inner {
  transform: scale(1);
}

.card.is-inactive .card__inner {
  pointer-events: none;
  opacity: 0.5;
}

.card.is-inactive:hover .card__inner {
  background-color: #949fb0;
  transform: scale(1);
}

.inner-expander {
  width: calc((100% / 2) - 10px);
  padding: 0 10px;
}

.inner-expander p {
  padding: 0 10px;
}

.liason {
  float: left;
  margin-right: 30px;
}

@media screen and (min-width: 992px) {
  .card:nth-of-type(3n+2) .card__expander {
    margin-left: calc(-100% - 30px);
  }
  .card:nth-of-type(3n+3) .card__expander {
    margin-left: calc(-200% - 60px);
  }
  .card:nth-of-type(3n+4) {
    clear: left;
  }
  .card__expander {
    width: calc(300% + 60px);
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .card:nth-of-type(2n+2) .card__expander {
    margin-left: calc(-100% - 30px);
  }
  .card:nth-of-type(2n+3) {
    clear: left;
  }
  .card__expander {
    width: calc(200% + 30px);
  }
}
