<?xml version="1.0" encoding="utf-8"?>

<!--
@package        hubzero-cms
@file           components/com_storefront/config.xml
@copyright      Copyright 2005-2015 HUBzero Foundation, LLC.
@license        http://opensource.org/licenses/MIT MIT

Copyright 2005-2015 HUBzero Foundation, LLC.

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in
all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
THE SOFTWARE.

HUBzero is a registered trademark of Purdue University.
-->

<config>
    <fieldset name="basic">
        <field name="storeAdminId" type="text" menu="hide" default="1000" label="Store administrator ID" description="Numeric ID" size="50" />
        <field name="sendNotificationTo" type="text" menu="hide" default="" label="Send notifications to" description="Comma-separated list of email addresses" size="50" />
        <field name="sendOrderInfoFromEmail" type="text" menu="hide" default="" label="Send order info from" description="Email addresses the order confirmations are going to be sent from (will also be a 'Reply-To' address)" size="50" />
        <field name="transactionTTL" type="text" menu="hide" default="120" label="Transaction TTL" description="Time in minutes the cart items stay reserved until they get released back to inventory and transaction is killed" size="5" />
    </fieldset>
    <fieldset name="payment" label="Payment">
        <field name="paymentProvider" type="text" menu="hide" default="" label="Payment Provider" description="DUMMY AUTO PAYMENT, UPAY" size="50" />
        <field name="paymentProviderEnv" type="text" menu="hide" default="" label="Payment environment" description="LIVE, DEV" size="50" />
        <field name="paymentSiteId" type="text" menu="hide" default="" label="Payment site ID" size="50" />
        <field name="paymentValidationKey" type="text" menu="hide" default="" label="Validation key" size="50" />
    </fieldset>
    <fieldset name="permissions" label="JCONFIG_PERMISSIONS_LABEL" description="JCONFIG_PERMISSIONS_DESC">
        <field name="rules" type="rules" label="JCONFIG_PERMISSIONS_LABEL" class="inputbox" validate="rules" filter="rules" component="com_storefront" section="component" />
    </fieldset>
</config>