<?xml version="1.0" encoding="utf-8"?>

<!--
@package        hubzero-cms
@file           administrator/components/com_members/config.xml
@copyright      Copyright 2005-2011 Purdue University. All rights reserved.
@license        http://www.gnu.org/licenses/lgpl-3.0.html LGPLv3

Copyright 2005-2011 Purdue University. All rights reserved.

This file is part of: The HUBzero(R) Platform for Scientific Collaboration

The HUBzero(R) Platform for Scientific Collaboration (HUBzero) is free
software: you can redistribute it and/or modify it under the terms of
the GNU Lesser General Public License as published by the Free Software
Foundation, either version 3 of the License, or (at your option) any
later version.

HUBzero is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.

HUBzero is a registered trademark of Purdue University.
-->

<config>
	<params>
		<param name="ldapProfileMirror" type="radio" default="1" label="Enable LDAP Mirror" description="Mirror Profile Data to LDAP.">
			<option value="0">No</option>
			<option value="1">Yes</option>
		</param>
		<param name="defaultpic" type="text" menu="hide" default="/components/com_members/images/profile.gif" label="Default picture" description="Default placeholder image for user pictures" />
		<param name="@spacer" type="spacer" default="" label="" description="" />
		<param name="webpath" type="text" menu="hide" default="/site/members" label="Upload path" description="File path for pictures" />
		<param name="maxAllowed" type="text" menu="hide" default="40000000" label="Max upload" description="Maximum upload file size" />
		<param name="file_ext" type="text" menu="hide" label="Extensions" default="jpg,jpeg,jpe,bmp,tif,tiff,png,gif" description="Allowed file types" />
		<param name="@spacer" type="spacer" default="" label="" description="" />
		<param name="user_messaging" type="list" default="1" label="User-To-User Messaging" description="Allow/Disallow user-to-user messaging">
			<option value="0">None</option>
			<option value="1">Users with common groups</option>
			<option value="2">Any User</option>
		</param>
		<param name="@spacer" type="spacer" default="" label="" description="" />
		<param name="privacy" type="list" default="0" label="Default Privacy" description="Set the default privacy for new profiles">
			<option value="0">Private</option>
			<option value="1">Public</option>
		</param>
		<param name="access_org" type="list" default="0" label="Show Organization" description="Show/Hide the user organization">
			<option value="0">Public</option>
			<option value="1">Registered users</option>
			<option value="2">Private</option>
		</param>
		<param name="access_orgtype" type="list" default="0" label="Organization type" description="Show/Hide the user organization type">
			<option value="0">Public</option>
			<option value="1">Registered users</option>
			<option value="2">Private</option>
		</param>
		<param name="access_email" type="list" default="2" label="Email" description="Show/Hide the user email">
			<option value="0">Public</option>
			<option value="1">Registered users</option>
			<option value="2">Private</option>
		</param>
		<param name="access_url" type="list" default="0" label="Website" description="Show/Hide the user website">
			<option value="0">Public</option>
			<option value="1">Registered users</option>
			<option value="2">Private</option>
		</param>
		<param name="access_phone" type="list" default="2" label="Phone" description="Show/Hide the user phone">
			<option value="0">Public</option>
			<option value="1">Registered users</option>
			<option value="2">Private</option>
		</param>
		<param name="access_tags" type="list" default="0" label="Tags" description="Show/Hide the user tags">
			<option value="0">Public</option>
			<option value="1">Registered users</option>
			<option value="2">Private</option>
		</param>
		<param name="access_bio" type="list" default="0" label="Bio" description="Show/Hide the user bio">
			<option value="0">Public</option>
			<option value="1">Registered users</option>
			<option value="2">Private</option>
		</param>
		<param name="access_countryorigin" type="list" default="0" label="Country of Citizenship" description="Show/Hide the user country of citizenship">
			<option value="0">Public</option>
			<option value="1">Registered users</option>
			<option value="2">Private</option>
		</param>
		<param name="access_countryresident" type="list" default="0" label="Country of Residence" description="Show/Hide the user country of residence">
			<option value="0">Public</option>
			<option value="1">Registered users</option>
			<option value="2">Private</option>
		</param>
		<param name="access_gender" type="list" default="0" label="Gender" description="Show/Hide the user gender">
			<option value="0">Public</option>
			<option value="1">Registered users</option>
			<option value="2">Private</option>
		</param>
		<param name="access_race" type="list" default="2" label="Race" description="Show/Hide the user race">
			<option value="0">Public</option>
			<option value="1">Registered users</option>
			<option value="2">Private</option>
		</param>
		<param name="access_hispanic" type="list" default="2" label="Hispanic" description="Show/Hide the user hispanic heritage">
			<option value="0">Public</option>
			<option value="1">Registered users</option>
			<option value="2">Private</option>
		</param>
		<param name="access_disability" type="list" default="2" label="Disability" description="Show/Hide the user disability">
			<option value="0">Public</option>
			<option value="1">Registered users</option>
			<option value="2">Private</option>
		</param>
		<param name="access_optin" type="list" default="2" label="E-mail Updates" description="Show/Hide if the user has elected to receive updates or newsletters by email">
			<option value="0">Public</option>
			<option value="1">Registered users</option>
			<option value="2">Private</option>
		</param>
		<param name="@spacer" type="spacer" default="" label="" description="" />
		<param name="employeraccess" type="list" default="0" label="Allow Employer Access" description="Determine whether to show resume on a private profile to subscribed employers (if Jobs Component is active)">
			<option value="0">Disallow</option>
			<option value="1">Allow</option>
		</param>
	</params>
</config>

