#ja-headerwrap {
	background: #006699;
	color: #C3DFED;
}

.ja-headermask {
	background: url(images/header-mask.png) no-repeat top right;
}

#ja-header a {
	color: #C3DFED;
}

h1.logo-text a {
	color: #C3DFED !important;
}

p.site-slogan {
	background: #1E7CAB;
}

#ja-search {
	background: url(images/icon-search.gif) no-repeat center left;
}

#ja-search .inputbox {
	border: 1px solid #005A87;
	color: #C3DFED;
	background: #1E7CAB;
}

.sectiontableheader {
	background: #1374A5;
}

#ja-botslwrap {
	background: #006699;
	color: #C3DFED;
}

.ja-box-right div.moduletable {
	background: url(images/vdot2.gif) repeat-y left;
}

.ja-box-center div.moduletable {
	background: url(images/vdot2.gif) repeat-y left;
}

#ja-botsl a {
	color: #C3DFED;
}

#ja-mainnavwrap {
	border-top: 1px solid #2A84B1;
	background: #1374A5;
}

#ja-mainnav {
	border-left: 1px solid #005A87;
	background: #1374A5;
}

#ja-mainnav ul.menu {
	border-right: 1px solid #2A84B1;
}

#ja-mainnav ul.menu li a {
	border-left: 1px solid #2A84B1;
	border-right: 1px solid #005A87;
	color: #C3DFED;
}

#ja-mainnav ul.menu li a:hover,
#ja-mainnav ul.menu li a:active,
#ja-mainnav ul.menu li a:focus {
	background-color: #2A84B1;
}

#ja-mainnav ul.menu li:hover,
#ja-mainnav ul.menu li.sfhover,
#ja-mainnav ul.menu li.havechildsfhover,
#ja-mainnav ul.menu li.havechild-activesfhover {
	background-color: #2A84B1;
}

#ja-mainnav ul.menu li.active a,
#ja-mainnav ul.menu li.active a:hover,
#ja-mainnav ul.menu li.active a:active,
#ja-mainnav ul.menu li.active a:focus  {
	background-color: #005A87;
}

#ja-mainnav ul.menu li ul {
	border: 1px solid #2A84B1;
	background: url(images/opaque.png);
}

#ja-mainnav ul.menu li ul li {
	border-top: 1px solid #4394BD;
	border-bottom: 1px solid #006699;
}

#ja-mainnav ul.menu li ul a {
	color: #C3DFED;
}

#ja-mainnav ul.menu li ul a:hover,
#ja-mainnav ul.menu li ul a:active,
#ja-mainnav ul.menu li ul a:focus,
#ja-mainnav ul.menu ul li:hover,
#ja-mainnav ul.menu ul li.sfhover,
#ja-mainnav ul.menu ul li.havesubchildsfhover,
#ja-mainnav ul.menu ul li.havesubchild-activesfhover,
#ja-mainnav ul.menu ul ul li:hover,
#ja-mainnav ul.menu ul ul li.sfhover,
#ja-mainnav ul.menu ul ul li.havesubchildsfhover,
#ja-mainnav ul.menu ul ul li.havesubchild-activesfhover {
	background: #006699;
	color: #C3DFED;
}
