a:hover {
	border-bottom:0;
	}
a:focus {
	outline:none;
	}

#overlayer {
	position:fixed;
	top:0;
	left:0;
	background:#000 url('/components/com_resources/assets/img/hubpresenter/ajax-loader-1.gif') no-repeat 50% 50%;
	width:100%;
	height:100%;
	z-index:9999;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity = 80);
	opacity:0.8;
	}

#video-container {
	text-align:center;
	position:relative;
	}
	
#video-subtitles {
	position:absolute;
	bottom: 30px;
	left: 20px;
	right: 20px;
	z-index: 888;
	-webkit-transition: all .2s ease-in-out;
	}
#video-subtitles div {
	text-align: center;
	padding: 20px;
	font-size:24px;
	font-weight:400;
	line-height:1.2em;
	color:#FFF;
	text-shadow:0 0 4px #000;
	margin: 0 auto;
	width: 500px;
	min-width: 400px;
	max-width: 700px;
	background: #000;
	background: rgba(0,0,0,0.5);
	border-radius: 4px;
	}
#video-player {
	z-index: 886;
	display: block;
	}
#video-flowplayer {
	display:block;
	}
#video-toolbar {
	position:absolute;
	bottom:6%;
	left:25%;
	width:50%;
	background:#222;
	-webkit-box-shadow: 0 0 5px #000;
	-moz-box-shadow: 0 0 5px #000;
	box-shadow: 0 0 5px #000;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	-o-border-radius:10px;
	-ms-border-radius:10px;
	-khtml-border-radius:10px;
	border-radius:10px;
	height:65px;
	z-index:9997;
	}
#video-toolbar #play-pause {
	position:absolute;
	text-indent:-555em;
	height:24px;
	width:18px;
	top:8px;
	left:48%;
	background: url('/components/com_resources/assets/img/video/pause.png') no-repeat 0% 0%;
	border-bottom:none;
	}
#video-toolbar #play-pause.paused {
	background: url('/components/com_resources/assets/img/video/play.png') no-repeat 0% 0%;       
	}
#video-toolbar #full-screen {
	position:absolute;
	text-indent:-555em;
	background: url('/components/com_resources/assets/img/video/fullscreen.png') no-repeat 50% 50%;
	height:16px;
	width:16px;
	top:12px;
	right:12px;
	/* Hiding full screen because not widely supported and doesnt show subs */
	/*display:none;*/
	border-bottom:none;
	}
#video-toolbar #volume-icon {
	position:absolute;
	top:12px;
	left:12px;
	width:16px;
	height:16px;
	background:url('/components/com_resources/assets/img/video/volume.png') no-repeat 0 0;
	}	
#video-toolbar #volume-bar {
	position:absolute;
	top:15px;
	left:40px;
	width:50px;
	}
#video-toolbar #progress-bar {
	position:absolute;
	bottom:10px;
	left:20%;
	width:60%;
	}
#video-toolbar #media-progress {
	position:absolute;
	bottom:10px;
	left:0px;
	width:20%;
	color:#efefef;
	text-align:center;
	line-height:1em;
	}
#video-toolbar #media-remainder {
	position:absolute;
	bottom:10px;
	width:20%;
	right:0;
	color:#efefef;
	text-align:center;
	line-height:1em;
	}	
#video-toolbar #link {
	position:absolute;
	background: url('/components/com_resources/assets/img/hubpresenter/link.png') no-repeat 50% 50%;
	height:16px;
	width:16px;
	top:12px;
	right:40px;
	text-indent:-555em;
	border-bottom:none;
	}	
#video-toolbar #subtitle-picker {
	position:absolute;
	top:11px;
	right:70px;
	z-index:666;
	margin:0;
	padding:0;
	list-style:none;
	}
#video-toolbar #subtitle-picker li {
	margin:0;
	padding:0;
	}
#video-toolbar #subtitle-picker li a {
	background:#777;                                 
	background-image: -webkit-gradient(linear, left top, left bottom, from(#000), to(#2b2b2b));
	background-image: -webkit-linear-gradient(top, #000, #2b2b2b);
	background-image: -moz-linear-gradient(top, #000, #2b2b2b);
	background-image: -o-linear-gradient(top, #000, #2b2b2b);
	background-image: -ms-linear-gradient(top, #000, #2b2b2b);
	background-image: linear-gradient(top, #000, #2b2b2b);
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	-o-border-radius:5px;
	-ms-border-radius:5px;
	-khtml-border-radius:5px;
	border-radius:5px;
	border:1px solid #2b2b2b;
	padding:2px 5px;
	color:#ccc;
	font-weight:bold;
	font-size:.9em;
	}
#video-toolbar #subtitle-picker li a.active {
	color:#F00;
	}
#video-toolbar #subtitle-picker ul {
	margin:0;
	padding:5px 20px 5px 10px;
	position:absolute;
	bottom:18px;
	left:-9999px;
	background:#444;
	border:1px solid #2b2b2b;
	list-style:none;
	color:#FFF;
	font-weight:bold;
	font-size:1.1em;
	-webkit-border-radius: 5px;
	-webkit-border-bottom-left-radius: 0;
	-moz-border-radius: 5px;
	-moz-border-radius-bottomleft: 0;
	border-radius: 5px;
	border-bottom-left-radius: 0;
	}
#video-toolbar #subtitle-picker ul:before {
	content:"Subtitles:";
	}
#video-toolbar #subtitle-picker ul li {
	margin:0;
	padding:0;
	}
#video-toolbar #subtitle-picker ul li a {
	background:transparent;
	border-radius:0px;
	border:none;
	padding:0 0 0 8px;
	margin:0;
	color:#ccc;
	font-weight:normal;
	}
#video-toolbar #subtitle-picker ul li a:hover {
	text-decoration:underline;
	}
#video-toolbar #subtitle-picker ul li a.active {
	color:#F00;
	}
#video-toolbar #subtitle-picker ul li a.active:before {
	content:"\203A \00a0";
	}

#video-toolbar #subtitle-picker li:hover > a {
	border-radius:0px;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	}	
#video-toolbar #subtitle-picker ul li a:hover {
	border-radius:0px;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border:0px;
	}
#video-toolbar #subtitle-picker :hover ul {
	left:auto;
	}
	
	
/*---------------------------------------------------------------
    Main Slider/Progress Bar
---------------------------------------------------------------*/
.ui-slider { 
	position: relative;
	height:10px;
	background:#777;                                 
	background-image: -webkit-gradient(linear, left top, left bottom, from(#000), to(#2b2b2b));
	background-image: -webkit-linear-gradient(top, #000, #2b2b2b);
	background-image: -moz-linear-gradient(top, #000, #2b2b2b);
	background-image: -o-linear-gradient(top, #000, #2b2b2b);
	background-image: -ms-linear-gradient(top, #000, #2b2b2b);
	background-image: linear-gradient(top, #000, #2b2b2b);
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	-o-border-radius:5px;
	-ms-border-radius:5px;
	-khtml-border-radius:5px;
	border-radius:5px;
	border:1px solid #2b2b2b;
	}
a.ui-slider-handle {
	position:absolute;
	background:url('/components/com_resources/assets/img/video/handle.png') no-repeat 50% 50%;
	top:-2px;
	margin-left:-8px;
	width:15px;
	height:15px;
	cursor: pointer;
	outline:none;
	z-index:911;
	border-bottom:none;
	}
.ui-slider-range {
	background: #aaa;
	height: 10px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#2074cb), to(#439bf4));
	background-image: -webkit-linear-gradient(top, #2074cb, #439bf4);
	background-image: -moz-linear-gradient(top, #2074cb, #439bf4);
	background-image: -o-linear-gradient(top, #2074cb, #439bf4);
	background-image: -ms-linear-gradient(top, #2074cb, #439bf4);
	background-image: linear-gradient(top, #2074cb, #439bf4);
	}
	
	
/*---------------------------------------------------------------
    Replay
---------------------------------------------------------------*/
#replay {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:99999;
	background:#000;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=95)";
	filter: alpha(opacity = 95);
	background:rgba(0,0,0,0.95);
	text-align:left;
}
#replay #replay-details {
	position:absolute;
	top:25%;
	left:15%;
	width:70%;
}
#replay-details #title {
	font-size:24px;
	font-weight:bold;
	color:#efefef;
	margin-bottom:15px;
}
#replay-details #link {
	position:relative;
}
#replay-details #replay-link {
	width:100%;
	font-size:16px;
	padding:3px;
	outline:none;
	border:1px solid #000;
	background:#FFF;
	}
#replay-details #title span, 
#replay-details #link span {
	font-weight:normal;
	font-size:12px;
	line-height:18px;
	color:#555;
	display:block;
	margin-bottom:3px;
	}
#replay-details #facebook {
	width:24px;
	height:24px;
	background:url('../img/hubpresenter/facebook.png') no-repeat 50% 50%;
	text-indent:-555em;
	position:absolute;
	bottom:6px;
	right:35px;
	z-index:999;
	}
#replay-details #twitter {
	width:24px;
	height:24px;
	background:url('../img/hubpresenter/twitter.png') no-repeat 50% 50%;
	text-indent:-555em;
	position:absolute;
	bottom:6px;
	right:5px;
	z-index:999;
	}
#replay-back {
	position:absolute;
	top:250px;
	left:15%;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#cccccc), );
	background-image: -webkit-linear-gradient(#efefef, #cccccc);
	background-image: -moz-linear-gradient(#efefef, #cccccc);
	background-image: -o-linear-gradient(#efefef, #cccccc);
	background-image: -ms-linear-gradient(#efefef, #cccccc);
	background-image: linear-gradient(#efefef, #cccccc);
	border:2px solid #aaa;
	color:#444444;
	}
#replay-now {
	position:absolute;
	top:250px;
	right:15%;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#41697e), );
	background-image: -webkit-linear-gradient(#688b9d, #41697e);
	background-image: -moz-linear-gradient(#688b9d, #41697e);
	background-image: -o-linear-gradient(#688b9d, #41697e);
	background-image: -ms-linear-gradient(#688b9d, #41697e);
	background-image:linear-gradient(#688b9d, #41697e);
	border:2px solid #3b6479;
	color:#ffffff;
	}
#replay-now:before {
	content: url("../img/hubpresenter/replay.png");
	padding:0 10px 0 0;
	}
#replay-back,
#replay-now {
	-webkit-border-radius:20px;
	-moz-border-radius:20px;
	-o-border-radius:20px;
	-ms-border-radius:20px;
	-khtml-border-radius:20px;
	border-radius:20px;
	padding:10px 15px;
	font-size:16px;
	font-weight:bold;
	text-align:center;
	text-decoration:none;
	}
#replay-now:hover {
	background-image: -webkit-gradient(linear, left top, left bottom, from(#688b9d), );
	background-image: -webkit-linear-gradient(#41697e, #688b9d);
	background-image: -moz-linear-gradient(#41697e, #688b9d);
	background-image: -o-linear-gradient(#41697e, #688b9d);
	background-image: -ms-linear-gradient(#41697e, #688b9d);
	background-image:linear-gradient(#41697e, #688b9d);
	}	
#replay-back:hover {
	background-image: -webkit-gradient(linear, left top, left bottom, from(#efefef), );
	background-image: -webkit-linear-gradient(#cccccc, #efefef);
	background-image: -moz-linear-gradient(#cccccc, #efefef);
	background-image: -o-linear-gradient(#cccccc, #efefef);
	background-image: -ms-linear-gradient(#cccccc, #efefef);
	background-image:linear-gradient(#cccccc, #efefef);
	}
	

/*---------------------------------------------------------------
    Resume
---------------------------------------------------------------*/	
#resume {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:99999;
	background:#000;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity = 70);
	background:rgba(0,0,0,0.7);
	text-align:left;
}
#resume-details h2 {
	text-align:center;
	color:white;
	font-weight:bold;
	font-size:36px;
	margin:2em 0 0.5em 0;
}
#resume-details p {
	text-align:center;
	color:#777;
	font-size:18px;
}
#resume-details #time {
	text-align:center;
	color:white;
	font-weight:bold;
	font-size:48px;
	line-height:48px;
	margin:1em 20%;
	padding:.5em;
	border:1px solid #000;
	border-radius:10px;
	background:#000;
	background:rgba(0,0,0,0.9);
}
#restart-video {
	position:absolute;
	top:300px;
	left:20%;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#cccccc), );
	background-image: -webkit-linear-gradient(#efefef, #cccccc);
	background-image: -moz-linear-gradient(#efefef, #cccccc);
	background-image: -o-linear-gradient(#efefef, #cccccc);
	background-image: -ms-linear-gradient(#efefef, #cccccc);
	background-image: linear-gradient(#efefef, #cccccc);
	border:2px solid #aaa;
	color:#444444;
}
#resume-video {
	position:absolute;
	top:300px;
	right:20%;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#439bf4), to(#2074cb));
	background-image: -webkit-linear-gradient(top, #439bf4, #2074cb);
	background-image: -moz-linear-gradient(top, #439bf4, #2074cb);
	background-image: -o-linear-gradient(top, #439bf4, #2074cb);
	background-image: -ms-linear-gradient(top, #439bf4, #2074cb);
	background-image: linear-gradient(top, #439bf4, #2074cb);
	border:2px solid #1a5a9c;
	color:#ffffff;
}
#restart-video:before {
	font-family:'Fontcons';
	content:'\21BB';
	font-size:18px;
	padding:0 10px 0 0;
}
#resume-video:before {
	font-family:'Fontcons';
	content:'\25B6';
	font-size:18px;
	padding:0 10px 0 0;
}
#restart-video,
#resume-video {
	-webkit-border-radius:20px;
	-moz-border-radius:20px;
	-o-border-radius:20px;
	-ms-border-radius:20px;
	-khtml-border-radius:20px;
	border-radius:20px;
	padding:10px 15px;
	font-size:16px;
	font-weight:bold;
	text-align:center;
	text-decoration:none;
	}
	

#transcript-toggle {
	position: absolute;
	bottom: 0px;
	right: 20px;
	padding: 3px 8px;
	margin: 0;
	background: #efefef;
	border:1px solid #ccc;
	border-bottom: none;
	color: #555;
	font-size: 11px;
	font-weight: bold;
}
#transcript-container {
	padding: 0px;
	margin: 0px;
	display: none;
	border-bottom: 1px solid #ccc;
}
#transcript-toolbar {
	position: relative;
	background: #efefef;
	padding: 0;
	margin: 0;
	/*border-top: 1px solid #ccc;*/
	border-bottom: 1px solid #ccc;
	height: 36px;
}
#transcript-selector {
	position: absolute;
	top: 10px;
	left: 10px;
}
#transcript-search {
	position: absolute;
	top: 4px;
	right: 10px;
	background: #FFF;
	font-size: 11px;
	width: 150px;
}
#font-smaller,
#font-bigger {
	position: absolute;
	top: 10px;
	right: 190px;
	width: 20px;
	height: 20px;
	border: none;
}
#font-bigger {
	right: 170px;
}
#font-smaller:before,
#font-bigger:before {
	content: '\f031';
	position: absolute;
	top: 0;
	left: 0;
	font-family: 'Fontcons';
	font-size: 14px;
	color: #555;
}
#font-bigger:before {
	font-size: 24px;
}
#font-smaller:hover:before,
#font-bigger:hover:before {
	color: #000;
}
#font-smaller.inactive:before,
#font-bigger.inactive:before {
	color: #aaa;
}
#transcripts {
	overflow-y: scroll;
	height: 250px;
}
.transcript {
	padding: 0 10px;
	margin: 10px 0;
	display: none;
}
.transcript-line {
	overflow: hidden;
	padding: 0 3px;
	font-size: 12px;
	line-height: 16px;
	border-radius: 3px;
}
.transcript-line:hover {
	background: #efeffe;
	cursor: pointer;
}
.transcript-line.active,
.transcript-line.active:hover {
	background: #f0f0f0;
	font-weight: bold;
}
.transcript-line-time {
	float: left;
	margin-right: 10px;
	color: #aaa;
}
.transcript-line-text {
	color: #444;
}
