/**
 * Template for Test Supergroup
 *
 * Template used for Special Groups. Will now be auto-created
 * when admin switches group from type HUB to type Special.
 *
 * @author     HUBzero, M. Drew LaMar
 * @copyright  December 2015
 */

#group-body {
	background: #45611F;
	min-width: inherit;
}
/**
 * BEGIN header buttons
 * The next two are for the Getting Started buttons in upper left
 **/
#page_options .btn {
	background: #3f8dc6;
	color: #fff;
	font-size: 1.0em;
}
#page_options .btn:hover {
	background: #32709e;
}
/**
 * END header buttons
 **/
.super-group-body-wrap {
	font-family: 'Helvetica Neue', Helvetica, Arial, Verdana, sans-serif;
}
.super-group-body {
	background: #FFF;
}

/* Header */
.super-group-header-wrap {
	margin-top: 0px;
	height: 150px;
	background-image: none;	/* Changed within index.php to point to banner.jpg or banner.png */
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: center center;
	background-size: cover;
}
.super-group-header {
	margin: 0;
	width: 100%;
	position: relative;
}
.super-group-header-overlay-wrap {
	/* height: 150px; */
	position: absolute;
	width:100%;
	top: -150px;
}
.super-group-header-overlay {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.3+100 */ /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.6) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#4d000000',GradientType=0 ); /* IE6-9 */
	height: 150px;
}
.super-group-header-overlay h1 {
	position: absolute;
	top: 80px;
	left: 20px;
	margin: 0.5em 0;
	padding: 0;
	width: calc(100% - 40px);
	z-index: 1000;
}
.super-group-header-overlay h1 a {
	display: block;
	/* font-weight: 100;
	font-size: 30px;
	line-height: 36px; */
	font-size: 1.1em;
	line-height: 1.1em;
	color: #FFF;
	font-family: 'Martel', 'Helvetica Neue', Helvetica, Arial, Verdana, sans-serif;
	border: none !important;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.super-group-header-overlay h1 a span {
	position: relative;
	left: 4px;
}
.super-group-header-overlay h1 a:hover {
	border: none !important;
}


/* Menu */
.super-group-menu-wrap {
	background: #628a2c;
	padding: 0 20px;
	font-size: 1.19em;
	height: 41px;
}
.super-group-menu {
	margin: 0;
	width: 100%;
}
.super-group-menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.super-group-menu a {
	transition: background 0.1s ease-in-out;
}
.super-group-menu > ul li {
	float: left;
	margin: 0;
	padding: 0;
	position: relative;
}
.super-group-menu > ul li.hasmeta a {	/* menu items with counters need to be shifted a bit */
	padding-right: 35px !important;
}
.super-group-menu > ul li .meta {	/* .meta is the menu item counter */
	position: absolute;
	top: 1em;
	right: 1em;
	color: rgba(255,255,255,0.5);
	background: rgba(0,0,0,0.15);
	padding: 0 0.4em;
	font-size: 0.9%;
	border-radius: 0.2em;
}
.super-group-menu > ul li .alrt {
	display: none;
}
.super-group-menu > ul li a,
.super-group-menu > ul li.protected span {
	display: block;
	padding: 10px 15px;
	color: #fff;
	border: none;
}
.super-group-menu > ul li.protected span {
	color: rgba(255,255,255,0.5);
}
.super-group-menu > ul li.protected span:hover {
	cursor: not-allowed;
}
.super-group-menu > ul > li >  a:hover {
	background: rgba(0,0,0,0.15);
}
.super-group-menu > ul > li.active > a {
	background: rgba(0,0,0,0.3);
}
.super-group-menu > ul li.active .meta {
	color: rgba(255,255,255,0.8);
}
.super-group-menu ul ul {
	position: absolute;
	top: 100%;
	left: -9999px;
	min-width: 150px;
	max-width: 250px;
	z-index: 555;
	background: #628a2c;
	padding: 10px 0;
}
.super-group-menu ul ul ul {
	margin-left: 100%;
	top: 0px;
}
.super-group-menu li:hover > ul {
	left: 0px;
}
/* Use touch for mobile */
.super-group-menu li.hover-effect > ul {
	left: 0px;
}
.super-group-menu ul ul li {
	display: block !important; /* Override display: table-cell for submenus on greedy nav */
	float: none;
	white-space: normal !important; /* Allow submenu items to wrap */
}
.super-group-menu ul ul li a {
	padding: 5px 15px;
	font-size: 12px;
	color: #efefef;
	font-size: 0.9em;	/* Slightly smaller for dropdown */
}

/* Getting ready for group activity icon */
.super-group-menu ul .group-icon {
	content: '\f042';
	font-family: 'Fontcons';
	font-size: 40px;
}

/*** BEGIN SUBMENU ARROWS ***/
/* https://css-tricks.com/targetting-menu-elements-submenus-navigation-bar/ */
.super-group-menu li a:first-child:nth-last-child(2):after {
	content: '\2304';
	font-family: 'Fontcons';
	margin-left: 5px;
	font-size: 10px;
}

.super-group-menu li li a:first-child:nth-last-child(2):after {
	content: '\203A';
	font-family: 'Fontcons';
	float: right;
	font-size: 10px;
}
/*** END SUBMENU ARROWS ***/

.super-group-menu ul ul li a:hover {
	background: rgba(0,0,0,0.4);
}

.super-group-menu ul ul li a.hover-effect {
	background: rgba(0,0,0,0.4);
}

/* Toolbar */
.super-group-toolbar {
	position: absolute;
	top: 18px;
	right: 0;
}
.super-group-toolbar > ul {
	margin: 0 !important;
}
.super-group-toolbar .btn-group > a,
.super-group-toolbar .btn-group > .dropdown-toggle {
	border-color: #555 !important;
	-webkit-transition: border-color 0.6s ease-in-out;
}
.super-group-toolbar:hover .btn-group > a,
.super-group-toolbar:hover .btn-group > .dropdown-toggle {
	border-color: #000 !important;
}
.super-group-toolbar ul.dropdown-menu {
	left: auto !important;
	right: 0 !important;
	font-size: 12px !important;
}

/* Content */
.super-group-content-wrap {
	position: relative;
	margin: 0;	/* margin-top will be changed by javascript to height of scontainer */
	font-size: 1.2em;
	min-height: 300px;
	padding: 41px 20px 41px 20px !important;
}
.super-group-content {
	margin: 0;
	padding: 0;
	width: 100%;
	position: relative;
}
.super-group-content .btn { /* Larger white text for green buttons */
	color: #fff;
	font-size: 1.0em;
}
.super-group-content > h2 {
	padding: 0;
	margin: 20px 0 10px 0;
}
.super-group-content #page_options {
	right: 0;
	top: 0px;
}
.super-group-content h3.heading,
.super-group-content .section-header {
	display: none;
}
.super-group-content .section {
	padding: 0 !important;
	margin: 20px 0 !important;
}

a:hover {
	border: none;
}

/* Footer */
.super-group-footer-wrap {
	background: #45611F;
	padding: 0 20px;
}
.super-group-footer {
	margin: 0;
	width: 100%;
	padding: 20px 0 40px 0;
	font-size: 11px;
	color: #FFF;
}
.super-group-footer a {
	color: #8bc240;
}

/* Home Page */
.group_overview {
	margin-top: 20px !important;
}
.group_overview > h2 {
	display: none;
}
/* Member Adjustments */
.group_members .aside .roles li {
	overflow: hidden;
}
/* Wiki Adjustments */
.group_wiki > h2 {
	display: none;
}
/* Collections Adjustments */
.group_collections p.overview,
.group_collections fieldset.filters,
.group_collections .sub-menu {
	margin-top: 0 !important;
}
/* Collections: Pop-up post content when commenting */
#post-content {
	font-size: 1.15em;
}
/* Calendar Adjustments */
.fs-dropdown {
	font-size: 1.0em;
}
/* Forms adjustment */
#field-section_id {
	font-size: 1.5em;
}
/* Pagination */
.list-footer li, .pagenav {
	font-size: 0.9em !important;
}
/* Login */
.group_login > h2:first-child {
	display: none;
}
/* System messages */
/* #sitenotice contains site notices from mod_notices */
/* #system-message-container contains site messages - right now, I'm okay if they overlap
as most (if not all) messages are temporary */
#sitenotice, #system-message-container {
	position: absolute;
    /* top: 44px; */
    z-index: 1;
    width: 100%;
}

/* Fixing issue where notice banner becomes > 100% */
.modnotices {
	padding: 0.61803399em 0 0.61803399em 0 !important;
}
.modnotices p {
    padding-left: 3em !important;
}

/* Group announcements */
/* Note that javascript in main.js needs to move .super-group-content-wrap down by the vertical
height of this element, as we are specifying that .scontainer be below menu but above content.
Also note that utilizing javascript is the only way I know how to move this around given it's
automatic element placement by the Hub. */
.scontainer {
	position: absolute;
	/* margin-top: 40px; */	/* Relative to .super-group-menu-wrap - javascript will change this */
	width: 100%;
}

/* Sticky navbar */
/* https://teamtreehouse.com/community/forum-tip-create-a-sticky-navigation-with-css-and-jquery-2 */
#group-body {
	padding-top: 194px;
}
/* Bar needs to be at top */
.super-group-bar {
	top: 0;
}
/* Offset by height of bar, and make sure in the back */
.super-group-header-wrap {
	top: 44px;
	z-index: -100;
}
/* Fixed at top */
.super-group-header-wrap,
.super-group-bar {
	position: fixed;
	width: 100%;
}
.super-group-menu-wrap,
.super-group-body-wrap {
	position: relative;
}
.super-group-menu-wrap {
	z-index: 150;
	box-shadow: 0 2px 3px rgba(0,0,0,0.4);
	/* margin-bottom: -40px; */  /* Set this with javascript, as should be height of menu */
}
.super-group-menu-scrolled {
	position: fixed;	/* Same as .super-group-header-wrap */
	top: 44px;			/* Same as .super-group-header-wrap */
	width: 100%;		/* Same as .super-group-header-wrap */
}
.header-id {
 transition: transform .2s ease-in-out;
	transform-origin: 0 50%;
}
.header-id-scrolled {
	position: fixed !important;
	top: -9px !important;
 	transform: scale(0.75);
	transform-origin: 0 50%;
}
.header-id-logo {
	position: relative;
	height: 36px;
	bottom: 2px;
}
/* Need to take care of group-info */
#group-info {
	top: 44px;
	position: fixed;
	width: 100%;
	z-index: 1001;
}

/* Anchors need to adjust position to accomodate header */
/* Source:  http://stackoverflow.com/questions/4086107/html-positionfixed-page-header-and-in-page-anchors */
/* Note:  Should use javascript, as header can change size depending on zoom level */
:target:before {
  content:"";
  display:block;
  height: 90px; /* fixed header height*/
  margin: -90px 0 0; /* negative fixed header height */
}

/* Responsive */
/* .super-group-menu>ul li.option-select {
	padding: 1em 0;
	float: none;
}
.super-group-menu>ul.js li {
	display: none;
}
.super-group-menu>ul.js li.option-select,
.super-group-menu>ul.js li.option-select select {
	display: block;
}
.super-group-menu>ul.js li.option-select select {
	width: 100%;
} */

/* Greedy Nav (Priority+ navigation) - lukejacksonn https://codepen.io/lukejacksonn/pen/PwmwWV */
.super-group-menu {
	position: relative;
	min-width: 15.625rem;
}
.super-group-menu button {
	position: absolute;
	height: 100%;
	right: 0;
	padding: 0 0.9375em;
	border: 0;
	outline: none;
	background-color: #628a2c;
	color: #fff;
	cursor: pointer;
	transition: 0.1s ease-in-out;
}
.super-group-menu button:hover {
	background-color: rgba(0,0,0,0.15);
}
.super-group-menu button::after {
	content: attr(count);
	position: absolute;
	width: 1.875rem;
	height: 1.875rem;
	left: -.5rem;
	top: .3rem;
	text-align: center;
	background-color: #628a2c;
	color: #fff;
	font-size: 0.7rem;
	line-height: 1.5rem;
	border-radius: 50%;
	border: 3px solid #fff;
	font-weight: bold;
}
.super-group-menu .hamburger {
	position: relative;
	width: 2rem;
	height: .25rem;
	background-color: #fff;
	margin: auto;
}
.super-group-menu .hamburger:before,
.super-group-menu .hamburger:after {
	content: '';
	position: absolute;
	left: 0;
	width: 2rem;
	height: .25rem;
	background-color: #fff;
}
.super-group-menu .hamburger:before {
	top: -.5rem;
}
.super-group-menu .hamburger:after {
	bottom: -.5rem;
}
.super-group-menu .visible-links {
	display: inline-table;
}
.super-group-menu .visible-links li {
	display: table-cell;
	float: none;
	white-space: nowrap;
}
.super-group-menu .hidden-links {
	position: absolute;
	right: 0;
	top: 100%;
	left: auto;
	background-color: #628a2c;
}
.super-group-menu .hidden-links li {
	display: block;
	float: none;
}
.super-group-menu .hidden {
	visibility: hidden;
}

/* Responsiveness */
@media (min-width: 340px) and (max-width: 520px) {
	.super-group-bar .content {
		position: relative;
	}
	.super-group-bar .content .branding {
    float: left;
	}
	.super-group-bar .content .subnav {
		position: absolute;
		right: 0;
	}
	.super-group-bar .content .branding .poweredby {
		display: inline-block;
	}
	.super-group-bar .content .subnav > li > a {
		line-height: 0;
	}
	.super-group-bar .content .subnav > li > a.icon.user-account-link:before {
		line-height: 0;
	}
}
@media (min-width: 340px) and (max-width: 640px) {
	.header-id {
		z-index: 1001 !important;
	}
}

@media (min-width: 320px) and (max-width: 339px) {
.super-group-bar .content {
	display: flex;
	height: 100%;
}
	.super-group-bar .content .subnav {
		display: flex;
		height: 100%;
		margin: 0;
	}
	.super-group-bar .content .subnav > li > a {
		font-size: .6rem;
	}
}

@media (min-width: 320px) and (max-width: 480px) {
	.super-group-content {
		margin-left: 0 !important;
		margin-right: 0 !important;
	}
}
