/*

	-- -- -- -- -- -- --
	com_partners CSS
	-- -- -- -- -- -- --

*/
	pre {
		color: blue;
		background: transparent;
		border: none;
	}

	.container .list-footer:after {
		content: "";
		display: table;
		line-height: 0;
		clear: both;
	}
	.container fieldset {
		margin-bottom: 1em;
	}

	.main-doctor {
		margin-left: 2em;
	}

	/* Icons */
	.icon-yes,
	.icon-no {
		display: block;
		width: 1em;
		height: 1em;
		overflow: hidden;
		line-height: 1;
	}
	.icon-yes:before,
	.icon-no:before {
		font-family: "Fontcons"
	}
	.icon-yes {
		color: green;
	}
	.icon-yes:before {
		content: "\2714";
	}
	.icon-no {
		color: #aaa;
	}
	.icon-no:before {
		content: "\2298";
	}

	.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
    padding: 2px 16px;
}