@import url("../../../../components/com_tags/assets/css/tags.css");

.entries tbody td a.entry-title {
	background: #ddd !important;
	color: #555 !important;
	padding: 0.4em 0.6em 0.5em 0.6em;
	margin: 0 !important;
	-webkit-border-radius: 0.25em !important;
	-moz-border-radius: 0.25em !important;
	-ms-border-radius: 0.25em !important;
	-o-border-radius: 0.25em !important;
	border-radius: 0.25em !important;
}
.entries tbody td a.entry-title:before,
.entries tbody td a.entry-title:after {
	display: none;
}
.entries tbody td a.entry-title:hover {
	background: #f3ae22 !important;
}
.entries-menu:after {
	height: auto;
	visibility: visible;
}
