.login-storefront {
	display: none;
}

.productImages {
	text-align: center;
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
}

.productImages a {
    border-bottom: 0;
}

#price {
	font-size: 2em;
	line-height: 1em;
	margin: 0 0 0.2em;
}

#productInfo {
	margin-bottom: 4em;
}

#productOptions ul {
	margin: 0;
	padding: 0;
}

p.option-label {
	margin: 1em 0 0;
}

#productOptions ul li {
	color: #000;
	display: inline-block;
	padding: 5px 10px;
	margin: 1px;
	border: 1px solid #666;
}

#productOptions ul li.selected {
	color: #FFF;
	background: #333;
}

#productOptions ul li.unavailable {
	color: #999;
	background: #E5E5E5;
	border-color: #E5E5E5;
}

#productOptions ul li input[type="radio"] {
	vertical-align: baseline;
}

#productOptions ul li label {
	margin-left: 5px;
}

#qtyWrap .inner {
	padding: 1em 0;
}

#qtyWrap label {
	margin-right: 10px;
}

#qty {
	vertical-align: baseline;
}

#addToCart.disabled {
	color: #999;
}

#addToCart.enafled {
	color: #000;
}

/* ---------------- */

.rres * {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	outline: 0 !important;
	font-weight: normal;
}

.rres {
	margin: 0;
	padding: 0;
	background: #F4F4F4;
}

.rres li {
	padding: 0;
	margin: 0;
	list-style: none;
	float: left;
	width: 100%;
	position: relative;
	overflow: hidden;
}
.rres li:after {
	content: '';
	display: block;
	margin-top: 100%;
}

.rres li.stub {
	background: none;
	display: none;
}

.rres li.stub em {
	font-style: normal;
	opacity: 0.3;
}

.rres li img {
	position: absolute;
	width: 100%;
	height: auto;
	top: 0;
	left: 0;
	z-index: 2;
}

.rres li a,
.rres li .a {
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 4;
	border: none;
	border-top: 1px solid #d3d3d3;
	text-align: center;
}
.rres li a:before,
.rres li .a:before {
	content: '';
	display: inline-block;
	width: 1px;
	height: 100%;
	margin-right: -0.4em;
	vertical-align: middle;
}

.rres li:first-child a,
.rres li:first-child .a {
	border-top: 0;
}

.rres li.with-img a {
	background: rgba(0, 0, 0, 0.3);
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
}

.rres li.with-img a:hover {
	background: rgba(0, 0, 0, 0.7);
}


.rres li .img {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-size: cover;
	background-position: center;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
}

.rres li.with-img:hover .img {
	transform: scale(0.99);
}

.rres li:nth-child(4n+1) {
	clear: both;
}

.rres li a .content,
.rres li .a .content {
	display: inline-block;
	vertical-align: middle;
	width: 100%;
	padding: 20px;

	-webkit-perspective: 300px;
	-moz-perspective: 300px;
	perspective: 300px;
}

.rres li a .content h3 {
	margin: 0;
}

.rres li .content h3,
.rres li .content p,
.rres li .content p {

}

.rres li.with-img a h3, .rres li.with-img a p {
	color: #fff;
}

.rres li a h3 {
	-moz-transition: all ease-in 0.2s;
	-webkit-transition: all ease-in 0.2s;
	transition: all ease-in 0.2s;
}
.rres li a p {
	-moz-transition: all ease-in 0.4s;
	-webkit-transition: all ease-in 0.4s;
	transition: all ease-in 0.4s;
}

.rres li a:hover h3, .rres li a:hover p {
	-webkit-transform: translateZ(10px);
	-moz-transform: translateZ(10px);
	-ms-transform: translateZ(10px);
	-o-transform: translateZ(10px);
	transform: translateZ(10px);
}
.rres li.with-img a:hover h3, .rres li.with-img a:hover p {


}

/* Raw hack */
.rres li.raw .content {
	position:absolute;
	height: 100%;
	width: 100%;
	text-align: center;
	padding: 30px;
	z-index: 5;
}

.rres li.raw a {
	position: static;
	color: #fff;
}

.rres li.raw.with-img a h3, .rres li.raw.with-img a p {
	opacity: 1;
}

.rres li.raw.with-img .content {
	background: rgba(0, 0, 0, 0.5);
}

@media print,
(-o-min-device-pixel-ratio: 5/4),
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 120dpi) {

	.rres li a,
	.rres li .a {
		border: 0 !important;
	}

	/* Top line */
	.rres li:before {
		position: absolute;
		content: '';
		display: block;
		top: 0;
		left: 0;
		height: 1px;
		width: 100%;
		background: -webkit-gradient(180deg, #d3d3d3, #d3d3d3 50%, transparent 50%) top left / 100% 1px no-repeat;
		background: -webkit-linear-gradient(180deg, #d3d3d3, #d3d3d3 50%, transparent 50%) top left / 100% 1px no-repeat;
		background: -moz-linear-gradient(180deg, #d3d3d3, #d3d3d3 50%, transparent 50%) top left / 100% 1px no-repeat;
		background: linear-gradient(180deg, #d3d3d3, #d3d3d3 50%, transparent 50%) top left / 100% 1px no-repeat;
		border: 0;
		z-index: 4;
	}
	.rres li:nth-child(1):before {
		display: none;
	}

	/* Right line */
	.rres li a:after {
		position: absolute;
		content: '';
		display: none;
		top: 0;
		right: 0;
		width: 1px;
		height: 100%;
		background: linear-gradient(-90deg, #d3d3d3, #d3d3d3 50%, transparent 50%) top right / 1px 100% no-repeat;
		border: 0;
	}
}

/* 2 cols */
@media (min-width: 560px) {

	.re-search form label {
		display: block;
	}
	.re-search .input-wrap:before {
		display: block;
	}

	.rres li {
		width: 50%;
	}

	.rres li:nth-child(even).stub {
		display: block;
	}

	.rres li:nth-child(2n+1) {
		clear: both;
	}

	.rres li:nth-child(2):before {
		display: none;
	}
	.rres li:nth-child(2) a,
	.rres li:nth-child(2) .a {
		border-top: 0;
	}

	.rres li a {
		border-right: 1px solid #d3d3d3;
	}
	.rres li:nth-child(2n) a {
		border-right: none;
	}

	.rres li:nth-child(odd) a:after {
		display: block;
	}
}

/* 3 cols */
@media (min-width: 900px) {
	.rres li {
		width: 33.333%;
	}

	.rres li:nth-child(2n+1) {
		clear: none;
	}
	.rres li:nth-child(3n+1) {
		clear: both;
	}

	.rres li:nth-child(even).stub {
		display: none;
	}
	.rres li:nth-child(3n+2).stub,
	.rres li:nth-child(3n+3).stub {
		display: block;
	}
	.rres li:nth-child(3n+2).stub {
		width: 66.6666%;
	}
	.rres li:nth-child(3n+2).stub:after {
		margin-top: 50%;
	}

	.rres li:nth-child(3):before {
		display: none;
	}
	.rres li:nth-child(3) a,
	.rres li:nth-child(3) .a {
		border-top: 0;
	}

	.rres li:nth-child(2n) a {
		border-right: 1px solid #d3d3d3;
	}
	.rres li:nth-child(3n) a {
		border-right: none;
	}

	.rres li a:after {
		display: block;
	}
	.rres li:nth-child(3n) a:after {
		display: none;
	}
}

@media (min-width: 1150px) {
	.rres li.with-img a .content {
		/* vertical-align: bottom; */
	}
	.rres li {
		width: 25%;
	}

	.rres li:nth-child(3n+1) {
		clear: none;
	}
	.rres li:nth-child(4n+1) {
		clear: both;
	}

	.rres li:nth-child(4):before {
		display: none;
	}
	.rres li:nth-child(4) a,
	.rres li:nth-child(4) .a {
		border-top: 0;
	}

	.rres li:nth-child(3n+2).stub {
		width: 25%;
	}
	.rres li:nth-child(3n+2).stub:after {
		margin-top: 100%;
	}

	.rres li:nth-child(4n+1).stub {
		display: none;
	}

	.rres li:nth-child(4n+2).stub,
	.rres li:nth-child(4n+3).stub,
	.rres li:nth-child(4n+4).stub {
		display: block;
	}
	.rres li:nth-child(4n+3).stub {
		width: 50%;
	}
	.rres li:nth-child(4n+3).stub:after {
		margin-top: 50%;
	}
	.rres li:nth-child(4n+2).stub {
		width: 75%;
	}
	.rres li:nth-child(4n+2).stub:after {
		margin-top: 33.3333%;
	}

	.rres li:nth-child(3n) a {
		border-right: 1px solid #d3d3d3;
	}
	.rres li:nth-child(4n) a {
		border-right: none;
	}

	.rres li:nth-child(3n) a:after {
		display: block;
	}
	.rres li:nth-child(4n) a:after {
		display: none;
	}
}
