<?xml version="1.0" encoding="utf-8"?>

<!--
@package        hubzero-cms
@file           administrator/components/com_newsletter/config.xml
@copyright      Copyright 2005-2011 Purdue University. All rights reserved.
@license        http://www.gnu.org/licenses/lgpl-3.0.html LGPLv3

Copyright 2005-2011 Purdue University. All rights reserved.

This file is part of: The HUBzero(R) Platform for Scientific Collaboration

The HUBzero(R) Platform for Scientific Collaboration (HUBzero) is free
software: you can redistribute it and/or modify it under the terms of
the GNU Lesser General Public License as published by the Free Software
Foundation, either version 3 of the License, or (at your option) any
later version.

HUBzero is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.

HUBzero is a registered trademark of Purdue University.
-->

<config>
	<params>
		<param type="text" name="newsletter_from_name" default="My HUB" label="Newsletter From Name" description="From name for newsletter." />
		<param type="text" name="newsletter_from_address" default="contact@myhub.org" label="Newsletter From Address" description="From address for newsletter." />
		<param type="text" name="newsletter_replyto_name" default="My HUB Reply" label="Newsletter Reply-To Name" description="Reply-to name for newsletter." />
		<param type="text" name="newsletter_replyto_address" default="reply@myhub.org" label="Newsletter Reply-To Address" description="Reply-to address for newsletter." />
		
		<param type="spacer" />
		
		<param type="list" name="email_tracking_protocol" default="http" label="Email Tracking Protocol" description="Tracking links are sent through this protocol.">
			<option value="http">HTTP</option>
			<option value="https">HTTPS</option>
		</param>
		<param type="text" name="email_tracking_link" default="http://kb.mailchimp.com/article/how-open-tracking-works" label="Email Tracking Info" description="Link to how email tracking works." />
		
		<param type="spacer" />
		
		<param type="text" name="template_tips" default="http://www.campaignmonitor.com/guides/" label="Guides for Creating Template URL" description="A URL that shows tips and tricks to building a newsletter template that will work with all email clients." />
		<param type="text" name="template_templates" default="http://www.campaignmonitor.com/templates/" label="Newsletter Templates and/or Examples" description="A URL that has newsletter templates or shows examples of newsletter templates." />
	</params>
	<fieldset name="basic">
		<field type="text" name="newsletter_from_name" default="My HUB" label="Newsletter From Name" description="From name for newsletter." />
		<field type="text" name="newsletter_from_address" default="contact@myhub.org" label="Newsletter From Address" description="From address for newsletter." />
		<field type="text" name="newsletter_replyto_name" default="My HUB Reply" label="Newsletter Reply-To Name" description="Reply-to name for newsletter." />
		<field type="text" name="newsletter_replyto_address" default="reply@myhub.org" label="Newsletter Reply-To Address" description="Reply-to address for newsletter." />
		
		<field type="spacer" />
		
		<field type="text" name="email_tracking_link" default="http://kb.mailchimp.com/article/how-open-tracking-works" label="Email Tracking Info" description="Link to how email tracking works." />
		
		<field type="spacer" />
		
		<field type="text" name="template_tips" default="http://www.campaignmonitor.com/guides/" label="Guides for Creating Template URL" description="A URL that shows tips and tricks to building a newsletter template that will work with all email clients." />
		<field type="text" name="template_templates" default="http://www.campaignmonitor.com/templates/" label="Newsletter Templates and/or Examples" description="A URL that has newsletter templates or shows examples of newsletter templates." />
	</fieldset>
</config>
