<?xml version="1.0" encoding="utf-8"?>

<!--
@package        hubzero-cms
@file           administrator/components/com_newsletter/config.xml
@copyright      Copyright 2005-2011 Purdue University. All rights reserved.
@license        http://www.gnu.org/licenses/lgpl-3.0.html LGPLv3

Copyright 2005-2011 Purdue University. All rights reserved.

This file is part of: The HUBzero(R) Platform for Scientific Collaboration

The HUBzero(R) Platform for Scientific Collaboration (HUBzero) is free
software: you can redistribute it and/or modify it under the terms of
the GNU Lesser General Public License as published by the Free Software
Foundation, either version 3 of the License, or (at your option) any
later version.

HUBzero is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.

HUBzero is a registered trademark of Purdue University.
-->

<config>
	<fieldset name="basic">
		<field type="text" name="newsletter_from_name" default="My HUB" label="COM_NEWSLETTER_CONFIG_FROM_NAME_LABEL" description="COM_NEWSLETTER_CONFIG_FROM_NAME_DESC" />
		<field type="text" name="newsletter_from_address" default="contact@myhub.org" label="COM_NEWSLETTER_CONFIG_FROM_ADDRESS_LABEL" description="COM_NEWSLETTER_CONFIG_FROM_ADDRESS_DESC" />
		<field type="text" name="newsletter_replyto_name" default="My HUB Reply" label="COM_NEWSLETTER_CONFIG_REPLYTO_NAME_LABEL" description="COM_NEWSLETTER_CONFIG_REPLYTO_NAME_DESC" />
		<field type="text" name="newsletter_replyto_address" default="reply@myhub.org" label="COM_NEWSLETTER_CONFIG_REPLYTO_ADDRESS_LABEL" description="COM_NEWSLETTER_CONFIG_REPLYTO_ADDRESS_DESC" />

		<field type="spacer" />

		<field type="text" name="email_tracking_link" default="http://kb.mailchimp.com/article/how-open-tracking-works" label="COM_NEWSLETTER_CONFIG_EMAIL_TRACKING_LINK_LABEL" description="COM_NEWSLETTER_CONFIG_EMAIL_TRACKING_LINK_DESC" />

		<field type="spacer" />

		<field type="text" name="template_tips" default="http://www.campaignmonitor.com/guides/" label="COM_NEWSLETTER_CONFIG_GUIDES_LINK_LABEL" description="COM_NEWSLETTER_CONFIG_GUIDES_LINK_DESC" />
		<field type="text" name="template_templates" default="http://www.campaignmonitor.com/templates/" label="COM_NEWSLETTER_CONFIG_TEMPLATES_LINK_LABEL" description="COM_NEWSLETTER_CONFIG_TEMPLATES_LINK_DESC" />
	</fieldset>
</config>
