	.com_content .contentpaneopen {
		padding: 0px;
	}
	#content {
		background: transparent;
		box-shadow: none;
	}
	#top {
		/*height: 450px;
		overflow: hidden;*/
	}
/* Misc */
	#sub-masthead {
		padding: 0;
		position: relative;
	}
	#gojira {
		background: transparent url("../../images/layout/gojira.png") 0 0 no-repeat;
		left: 60%;
		top: 100px;
		position: absolute;
		width: 175px;
		height: 238px;
		display: none;
	}
	#damage {
		right: 0%;
		top: 100px;
		position: absolute;
		width: 30%;
		height: 180px;
	}
	#city-mid {
		left: 0;
		right: 0;
		position: absolute;
		height: 320px;
	}

	#splash {
		padding: 0;
		height: 320px;
		position: relative;
		overflow: hidden;
	}

	#content-nav {
		background: #fff;
		border-bottom: 1px solid #E5E5E5;
		padding: 0 30px;
	}
	#content-nav ul {
		margin: 0;
		padding: 0;
		list-style: none;
		float: left;
		overflow: hidden;
		border-right: 1px solid #E5E5E5;
	}
	#content-nav ul li {
		color: #B1B1B1;
		float: left;
		position: relative;
		margin: 0;
		padding: 1.2em 1em;
		border-left: 1px solid #E5E5E5;
		font-size: 0.875em;
		line-height: 1;
	}
	
	#features {
		/*background: url("../../images/layout/stripes.png") 0 bottom repeat-x;
		padding: 0 0 10px 0;
		border-bottom: 4px double #E5E5E5;*/
		margin: -105px 0 0 0;
	}
	#features .wrap {
		margin: 0;
		padding: 0 0 100px 0;
	}
	#features .columns {
		/*margin: 0;
		padding: 30px;*/
		background: url("../../images/layout/stripes.png") 0 bottom repeat-x;
		padding: 0 0 10px 0;
		position: relative;
	}
	#features h2 {
		display: none;
	}
	#features h3 {
		/*color: #1F8400;*/
		border-bottom: 4px double #eaeaea;
		border-bottom: 1px dashed #bAbAbA;
		font-size: 1.5em;
		padding: 0 0 1em 0;
		margin: 0 0 1em 0;
		font-weight: normal;
		/*text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);
		background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAKCAYAAACALL/6AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAADtJREFUeNpiYWBgEPn///8bBihgZGQUgbGxiTORohisgRTFIHEmUhSDbSBFMYqTiPULEymKB2koAQQYANU4UCtoY01GAAAAAElFTkSuQmCC) 0 20% repeat-x;
		background: url("../../images/layout/stripes.png") 0 20% repeat-x;*/
	}
	#features .columns {
		/*border-bottom: 1px dashed #9A9A9A;
		min-height: 200px;*/
	}
	#features .columns p,
	#features .columns ul {
		/*margin-left: 70px;*/
		border: none;
	}
	#features .columns p {
		margin: 0;
		padding: 0;
	}
	/*#features .columns p:last-child {
		margin-bottom: 0;
	}
	#features .columns p.featured-img a {
		border: none;
	}*/
	#features .columns p.featured-img {
		float: left;
		margin: 0;
	}
	#features .columns div:first-child {
		position: relative;
		background: #fff;
		margin: 0;
		padding: 30px;
		-webkit-box-shadow: 0 0 0.25em rgba(0, 0, 0, 0.2);
		-moz-box-shadow: 0 0 0.25em rgba(0, 0, 0, 0.2);
		-o-box-shadow: 0 0 0.25em rgba(0, 0, 0, 0.2);
		box-shadow: 0 0 0.25em rgba(0, 0, 0, 0.2);
		min-height: 264px;
	}
	html.firefox #features .columns div:first-child {
		min-height: 274px;
	}
	#features .columns div:first-child h3 {
		display: none;
	}
	#features .columns:before,
	#features .columns:after,
	#features .columns div:first-child:before,
	#features .columns div:first-child:after {
		content: "";
		display: block;
		margin: 0 0 0 -40px;
		padding: 0;
		position: absolute;
		bottom: -100px;
		left: 50%;
		z-index: 100;
	}
	#features .columns:before {
		border: 8px solid #e5e5e5;
		border-color: #e5e5e5 transparent transparent transparent;
		bottom: -7px;
		margin: 0 0 0 -8px;
	}
	#features .columns:after {
		border: 8px solid #fff;
		border-color: #fff transparent transparent transparent;
		bottom: -6px;
		margin: 0 0 0 -8px;
	}
	#features .columns div:first-child:before {
		width: 80px;
		height: 80px;
		-webkit-border-radius: 80px;
		-moz-border-radius: 80px;
		border-radius: 80px;
		/*background: #3a3a3a url("../../images/layout/stripes-white.png");
		background: #f0f0f0 url("../../images/layout/tiles.png");
		-webkit-box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.1);
		-moz-box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.1);
		-o-box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.1);
		box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.1);*/
		background: #efefef url("../../images/layout/stripes.png");
		background: rgba(0, 0, 0, 0.05) url("../../images/layout/stripes.png");
		/*box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
		border: 2px solid #fff;*/
	}
	#features .columns div:first-child:after {
		font-family: 'Fontcons';
		font-size: 50px;
		content: "\270D";
		bottom: -70px;
		margin: 0 0 0 -22px;
		color: #f4f4f4;
		color: #5a5a5a;
		text-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	}
	#features .columns div.resource:after {
		content: "\270D";
	}
	#features .columns div.tool:after {
		content: "\2692";
	}
	#features .columns div.poll:after {
		content: "\f080";
	}
	#features .poll h4 {
		margin: 0;
		padding: 0 0 1em 0;
	}
	#features .poll ul {
		margin: 0;
	}
	#features .poll li {
		background: #f9f9f9;
		padding: 0.5em;
		margin: 1px 0 0 0;
	}
	#features .poll li:hover {
		background: #fff;
	}
	#features .columns .poll p {
		margin: 1em 0 0 0;
	}
	#features .poll a {
		float: right;
		/*font-size: 85%;
		padding: 0.2em 0.5em;
		display: block;
		background: #bd4441;
		background: -webkit-gradient(linear, left top, left bottom, from(#dc6c66), to(#bd4441));
		background: -webkit-linear-gradient(#dc6c66, #bd4441);
		background: -moz-linear-gradient(center top, #dc6c66 0%, #bd4441 100%);
		background: -moz-gradient(center top, #dc6c66 0%, #bd4441 100%);
		background: -o-linear-gradient(#dc6c66, #bd4441);
		filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#dc6c66,endColorstr=#bd4441);
		-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#dc6c66, endColorstr=#bd4441)";
		border: 1px solid #c14844;
		color: #fff;
		text-shadow: 0 1px 1px rgba(119, 43, 40, 0.8);*/
	}
	#features .columns div.question:after {
		content: "\f086";
	}

	.highlight-section {
		padding: 30px 60px;
		margin: 0 -30px;
		background: #a2a2a2 url("../../images/layout/paper-grain.png");
		color: #fff;
		text-shadow: 0 1px 1px rgba(0, 0, 0, 0.8);
		-webkit-box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.2);
		-moz-box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.2);
		-o-box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.2);
		box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.2);
		/*border-top: 4px double #E5E5E5;
		border-bottom: 4px double #E5E5E5;*/
		font-size: 1.7em;
		text-align: center;
		background: #ECECEC url("../../images/layout/noise-lite.png");
		color: #5a5a5a;
		text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.18);
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		-o-box-shadow: none;
		box-shadow: none;
		font-size: 2em;
	}
	.highlight-section a {
		/*background: #dc6c66;
		border-top: 1px solid #dc6c66;
		border-right: 1px solid #c14844;
		border-bottom: 1px solid #c14844;
		border-left: 1px solid #c14844;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
		-webkit-box-shadow: 0 6px 0px #c14844, 0 8px 4px 1px #111;
		-moz-box-shadow: 0px 1px 0 #1D2C4D, 0 6px 0px #c14844, 0 8px 4px 1px #111;
		box-shadow: 0 6px 0px #c14844, 0 7px 4px 1px rgba(0, 0, 0, 0.4);
		line-height: 1;
		margin-bottom: 10px;*/
		padding: 0.5em 0.7em;
		text-align: center;
		text-shadow: 0px -1px 1px #1E2D4D;
		color: #fff;
		-webkit-background-clip: padding-box;
		font-size: 0.75em;
		
		margin-bottom: 2px;
		display: inline-block;
		-webkit-border-radius: 0.25em;
		-moz-border-radius: 0.25em;
		border-radius: 0.25em;
		background: #bd4441;
		background: -webkit-gradient(linear, left top, left bottom, from(#dc6c66), to(#bd4441));
		background: -webkit-linear-gradient(#dc6c66, #bd4441);
		background: -moz-linear-gradient(center top, #dc6c66 0%, #bd4441 100%);
		background: -moz-gradient(center top, #dc6c66 0%, #bd4441 100%);
		background: -o-linear-gradient(#dc6c66, #bd4441);
		filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#dc6c66,endColorstr=#bd4441);
		-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#dc6c66, endColorstr=#bd4441)";
		border: 1px solid #c14844;
		box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
	}
	.highlight-section a:hover {
		margin-top: 2px;
		margin-bottom:0;
		box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
	}

	.wrap {
		padding: 45px 30px 0px 30px;
	}
	.wrap ul,
	.wrap li {
		list-style: none;
		margin: 0;
		padding: 0;
	}
	.wrap .first,
	.wrap .second {
		margin-bottom: 2em;
	}
	.wrap .first ul {
		margin: 1.7em 1em;
		border-top: 1px dashed #E5E5E5;
	}
	.wrap .two p {
		margin: 1.7em 0;
	}
	.resources-section .two fieldset,
	.resources-section .two p {
		margin: 1.7em;
	}
	.wrap .first li {
		border-bottom: 1px dashed #E5E5E5;
		padding: 0.5em 0.7em;
	}
	.wrap ol.tags {
		margin: 1.7em 1em 1.7em 2em;
	}
	.wrap ol.tags li {
		margin: 2px 12px 2px 0px;
	}
	.wrap .first li a {
	}
	.wrap .first h2 {
		margin-top: 0;
		text-shadow: 0 -1px 1px rgba(255, 255, 255, 0.8);
	}
	.wrap .first p {
		padding: 0 0 2em 0;
		border-bottom: 1px dashed #bAbAbA;
	}
	.resources-section {
		position: relative;
		z-index: 1;
	}
	.resources-section .two {
		background: #fff;
		position: relative;
		/*-webkit-border-radius: 0.25em;
		-moz-border-radius: 0.25em;
		border-radius: 0.25em;*/
		-webkit-box-shadow: 0 0 0.25em rgba(0, 0, 0, 0.2);
		-moz-box-shadow: 0 0 0.25em rgba(0, 0, 0, 0.2);
		-o-box-shadow: 0 0 0.25em rgba(0, 0, 0, 0.2);
		box-shadow: 0 0 0.25em rgba(0, 0, 0, 0.2);
	}
	.resources-section .two:before,
	.resources-section .two:after {
		content: '';
		z-index: -1;
		position: absolute;
		left: 11px;
		bottom: 11px;
		width: 70%;
		max-width: 300px; /* avoid rotation causing ugly appearance at large container widths */
		max-height: 100px;
		height: 10px;
		-webkit-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
		-moz-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
		box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
		-webkit-transform: skew(-15deg) rotate(-6deg);
		-moz-transform: skew(-15deg) rotate(-6deg);
		-ms-transform: skew(-15deg) rotate(-6deg);
		-o-transform: skew(-15deg) rotate(-6deg);
		transform: skew(-15deg) rotate(-6deg);
	}
	.resources-section .two:after {
		left: auto;
		right: 11px;
		-webkit-transform: skew(15deg) rotate(6deg);
		-moz-transform: skew(15deg) rotate(6deg);
		-ms-transform: skew(15deg) rotate(6deg);
		-o-transform: skew(15deg) rotate(6deg);
		transform: skew(15deg) rotate(6deg);
	}
	.resources-section .two.second:before,
	.resources-section .two.second:after {
		bottom: 41px;
	}
	
	.wrap h3 {
		/*border-top: 1px solid #e7e7e7;*/
		border-bottom: 1px dashed #dadada;
		/*color: #747474;*/
		margin: 0 0 0.5em 0;
		padding: 0 0 0.8em 0;
		font-weight: normal;
	}
	.resources-section h3 {
		padding: 0.8em 1em;
		border-bottom: 1px solid #E5E5E5;
		background: #f4f4f4;
	}
	.events-section {
		background: url("../../images/layout/stripes.png") 0 bottom repeat-x;
		padding: 0 0 10px 0;
	}
	.events-section .wrap {
		/*background: #ececec url("../../images/layout/noise-lite.png");*/
		background: #fff;
		-webkit-box-shadow: 0 0 0.25em rgba(0, 0, 0, 0.2);
		-moz-box-shadow: 0 0 0.25em rgba(0, 0, 0, 0.2);
		-o-box-shadow: 0 0 0.25em rgba(0, 0, 0, 0.2);
		box-shadow: 0 0 0.25em rgba(0, 0, 0, 0.2);
		position: relative;
		display: block;
		z-index: 1;
	}
	/*.events-section .wrap {
		background: #f4f4f4;
		border: 1px solid #e7e7e7;
		position: relative;
		display: block;
	}
	.events-section .wrap:before,
	.events-section .wrap:after {
		content: ' ';
		z-index: -1;
		position: absolute;
		left: 15px;
		bottom: 15px;
		width: 70%;
		max-width: 300px;
		max-height: 100px;
		height: 55%;
		-webkit-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
		-moz-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
		box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
		-webkit-transform: skew(-15deg) rotate(-6deg);
		-moz-transform: skew(-15deg) rotate(-6deg);
		-ms-transform: skew(-15deg) rotate(-6deg);
		-o-transform: skew(-15deg) rotate(-6deg);
		transform: skew(-15deg) rotate(-6deg);
	}
	.events-section .wrap:after {
		left: auto;
		right: 15px;
		-webkit-transform: skew(15deg) rotate(6deg);
		-moz-transform: skew(15deg) rotate(6deg);
		-ms-transform: skew(15deg) rotate(6deg);
		-o-transform: skew(15deg) rotate(6deg);
		transform: skew(15deg) rotate(6deg);
	}*/
/* Events */
	.event-date {
		width: 40px;
		text-align: center;
	}
	.event-date .month {
		display: block;
		text-transform: uppercase;
		color: #ffff8f;
		background: #72A233; 
		font-weight: bold;
		padding: 2px;
		font-size: x-small;
	}
	.event-date .upcoming {
		background: rgb(0, 104, 55);
		color: #f6f6f6;
	}
	.event-date .day {
		display: block;
		padding: 2px;
		border: 1px solid #f6f6f6;
		line-height: 20px;
	}
	.event-date {
		float: left;
		clear: left;
		width: 40px;
		margin-right: 0.5em;
		margin-bottom: 1em;
		margin-top: 3px;
	}
	.event-headline {
		font-weight: normal;
		margin-left: 50px;
	}
	.event-headline .time {
		display: block;
	}