/**
 * Copyright 2005-2009 by Purdue Research Foundation, West Lafayette, IN 47906.
 * All rights reserved.
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License,
 * version 2 as published by the Free Software Foundation. 
 */

/*

	-- -- -- -- -- -- --
	com_tags CSS
	-- -- -- -- -- -- --

*/
/* Intro */
	#introduction {
		margin: 0 -15px 3em -15px;
		padding: 25px 15px 25px 120px;
		background: #fbf8ea url("images/tags-large.gif") 30px 25px no-repeat;
		border-top: 2px solid #e7dac4;
		border-bottom: 2px solid #e7dac4;
		color: #7c7266;
		}
	#introduction .aside,
	#introduction .subject {
		margin-top: 0;
		margin-bottom: 0;
		padding-top: 0;
		padding-bottom: 0;
		background: transparent;
		border: none;
		}
	#introduction h3 {
		margin-top: 0;
		color: #7c7266;
		}
	#introduction .columns {
		border: none;
		}
	#introduction ul,
	#introduction li {
		list-style: none;
		margin: 1em 0;
		padding: 0;
		}
	#introduction li {
		margin: 0;
		padding: 0 0 0 15px;
		background: transparent url("images/arrow.gif") 0 50% no-repeat;
		}
/* Four Columns */
	.com_tags .four {
		border-top: 1px solid #e0e0d7;
		margin-bottom: 3em;
		}
	.com_tags .four h3 { 
		color: #000; 
		margin-top: 1em; 
		padding-top: 0em;
		}
	.com_tags .four h3 a { 
		color: #000; 
		border-bottom: none; 
		}
	.com_tags .four ul {
		margin: 1em 0;
		}
	.com_tags .four li {
		margin: 1em 0;
		}
	.com_tags .first h2 { 
		font-weight: normal;
		margin: 0;
		padding: 0.5em 0 0 0;
		line-height: 1em;
		border-top: 2px solid #e0e0d7;
		}
	.com_tags .fourth { 
		border-right: none;
		}
	.com_tags .big {
		height: 3em;
		}
	.com_tags .four {
		margin-bottom: 3em;
		}
	.com_tags .browse a {
		font-weight: bold;
		font-size: 1.2em;
		}
	.com_tags form.search {
		background-position: 0 0.9em;
		border: 1px solid #fff;
		}
/* Item listing */
	.com_tags .search {
		margin: 0 1em 0.5em 1em;
		border: none;
		}
	.com_tags .sub-nav {
		margin-top: 0;
		}
	.com_tags .main h3 {
		display: none;
		}
	.com_tags .results .resource .title {
		margin-right: 220px;
		}
	.com_tags .results .stats { 
		margin: -1.5em 0 0 0;
		float: right;
		width: 190px;
		background: none;
		}
	.com_tags .results .resource .stats p,
	.com_tags .stats p { 
		color: #999; 
		font-size: 90%;
		margin: 0 0 0.5em 0;
		padding: 0;
		}
	.com_tags .results .href {
		font-size: 85%;
		color: green;
		}
	.com_tags .aside > p {
		margin-top: 0;
		float: left;
		}
	.com_tags .block {
		padding: 1em;
		}
	.com_tags .block .tags,
	.com_tags .block .tags li,
	.com_tags .block .tags li a {
		float: none;
		display: inline;
		line-height: 2.5em;
		}
	.com_tags .block .tags li a {
		white-space: nowrap;
		line-height: 2em;
		}
	.com_tags .block h3 {
		display: block;
		margin: 0 0 1em 0;
		padding: 0;
		}
	.com_tags .moretags {
		padding: 0.5em 1em;
		margin-bottom: 0;
		text-align: right;
		background-color: #E3E3E3;
		}
	#taglist {
		margin-top: 1em;
		}
/* Misc. */
	.moreresults {
		margin: 0 1em 2em 1em;
		padding: 0;
		font-weight: bold;
		color: #999;
		}
/* IE 6 hacks */	
	* html .category-header small {
		right: 310px;
		}
	* html .results li.resource {
		width: auto;
		}
	* html .results .stats { 
		position: relative;
		}