/*@import url("../../../../../core/components/com_members/site/assets/css/members.css");*/

/* Intro */
	#introduction:after {
		content: "\f007";
	}
	#page_header {
		padding: 30px;
		margin: 0;
		background: #fff;
		border-bottom: 1px solid rgba(0, 0, 0, 0.1);
		position: static;
	}

/* Page Structure */
	#page_container {
		margin: 0;
		padding: 0;
		background: #f9f9f9;
	}
	#page_sidebar {
		background: #333;
	}
	#page_main {
	}

	#profile-privacy {
		color: #f9f9f9;
		color: rgba(255, 255, 255, 0.7);
	}
	a#profile-privacy:hover {
		color: #fff;
	}
	#profile-privacy:before {
		content: "\f0eb";
		font-family: 'Fontcons';
		color: #f9f9f9;
		color: rgba(255, 255, 255, 0.7);
		margin-right: 0.4em;
	}
	#profile-privacy.private:before {
		content: "\f023";
		color: #fff;
		color: rgba(255, 255, 255, 0.9);
	}

	#page_options + #page_header {
		margin-right: 0;
	}
	#page_identity {
		display: none;
		position: relative;
	}
	#page_identity a {
		display: block;
		text-align: center;
		border: none;
	}
	#page_identity a:hover { 
		border: none;
	}
	#page_identity img {
		width: 100%;
		max-width: 100%;
		/*max-height: 100%;*/
	}
	#page_content {
		margin: 0;
		padding: 30px;
	}
	#page_content section.section {
		padding: 0;
	}

/* Menu */
	#page_menu {
		list-style: none;
		margin: 0;
		padding: 0;
		border-top: 1px solid #222;
	}
	#page_menu li {
		position: relative;
		margin: 0;
		padding: 0;
		border-bottom: 1px solid #222;
	}
	#page_menu li a {
		color: #aaa;
		position: relative;
		display: block;
		padding: 0.75em 2em 0.75em 3.9em;
		border: none;
	}
	#page_menu li a:before,
	#page_menu li a:after {
		content: "";
		position: absolute;
		left: 1.8em;
		top: 0.6em;
		width: 1em;
		height: 1em;
		font-size: 1.2em;
		font-family: 'Fontcons';
		-ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
		filter: alpha(opacity=100);
		opacity: 1;
		background: none;
		speak: none;
		font-style: normal;
		font-weight: normal;
		text-align: center;
	}
	#page_menu li a:before {
		content: attr(data-icon);
		color: #ccc;
	}
	#page_menu li a:hover {
		border: none;
		background: rgba(0, 0, 0, 0.35);
		color: #fff;
	}
	#page_menu li a:hover:before {
		-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
		filter: alpha(opacity=100);
		opacity: 1;
	}
	#page_menu li.active {
		color: #eee;
	}
	#page_menu li.active>a {
		background: #f9f9f9;
		color: #222;
		font-weight: 500;
	}
	#page_menu li.active>a:before {
		color: #222;
	}
	#page_menu li.active>a:hover {
		border: none;
	}
	#page_menu li.active:after {
		content: "";
		display: none;
	}

	/* Meta badges */
	#page_menu li .meta {
		position: absolute;
		right: 1em;
		top: 0.75em;
	}
	#page_menu li .meta .count {
		background: #555;
		background: rgba(255, 255, 255, 0.2);
		color: #aaa;
		font-size: 0.9em;
		line-height: 1.2;
		padding: 0.2em 0.4em;
		border-radius: 0.125em;
	}
	#page_menu li.active .meta .count {
		background: #ddd;
	}

	/* Alerts */
	#page_menu li a.alrt {
		position: absolute;
		top: 1.2em;
		right: 5em;
		-webkit-border-radius: 50%;
		   -moz-border-radius: 50%;
		    -ms-border-radius: 50%;
		     -o-border-radius: 50%;
		        border-radius: 50%;
		background: #dd5555;
		padding: 0;
		height: 8px;
		width: 8px;
		color: #fff;
		z-index: 911;
	}
	#page_menu li a.alrt span {
		position: relative;
		display: block;
		top: 15px;
		left: -9999px;
		min-width: 10em;
		max-width: 18em;
		padding: 5px 10px;
		background: #dd5555;
	}
	#page_menu li a.alrt span:after {
		content: "";
		position: absolute;
		top: -11px;
		left: 5px;
		border: 6px solid transparent;
		border-color: transparent transparent #dd5555 transparent;
	}
	#page_menu li a.alrt:hover span {
		left: -9px;
	}
	#page_menu li a.alrt span strong {
		display: block;
		padding: 5px 10px;
		margin: -5px -10px 5px -10px;
		border-bottom: 1px solid #a62525;
	}

	/* Sub-menus */
	#page_menu li ul {
		list-style: none;
		margin: 0 0 0 30px;
		position: relative;
	}
	#page_menu li ul:after {
		content: "";
		width: 1px;
		background: #222;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
	}
	#page_menu li ul li {
		margin: 0;
		padding: 0;
		border: none;
	}
	#page_menu li ul li a {
		padding-left: 1em;
	}

	#page_menu li.option-select {
		padding: 0.75em 2em;
	}
	#page_menu.js li {
		display: none;
	}
	#page_menu.js li.option-select,
	#page_menu.js li.option-select select {
		display: block;
	}
	#page_menu.js li.option-select select {
		width: 100%;
	}

	.entries img {
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		-ms-border-radius: 50%;
		-o-border-radius: 50%;
		border-radius: 50%;
	}
	.entries tbody td.entry-img {
		width: 50px;
		padding-left: 0;
		padding-right: 0;
	}
	.section-header {
		display: none;
	}

	#page_content.member_dashboard {
		padding: 0;
	}

/* Member Messages */
	#sbox-content .hub-mail {
		padding: 10px;
		width: auto;
		min-height: 380px;
		background-image: -webkit-linear-gradient(-45deg, rgba(96, 171, 216, 0.7) 25%, transparent 25%, transparent 50%, rgba(96, 171, 216, 0.7) 50%, rgba(96, 171, 216, 0.7) 75%, transparent 75%, transparent);
		background-image: -moz-linear-gradient(-45deg, rgba(96, 171, 216, 0.7) 25%, transparent 25%, transparent 50%, rgba(96, 171, 216, 0.7) 50%, rgba(96, 171, 216, 0.7) 75%, transparent 75%, transparent);
		background-image: -ms-linear-gradient(-45deg, rgba(96, 171, 216, 0.7) 25%, transparent 25%, transparent 50%, rgba(96, 171, 216, 0.7) 50%, rgba(96, 171, 216, 0.7) 75%, transparent 75%, transparent);
		background-image: -o-linear-gradient(-45deg, rgba(96, 171, 216, 0.7) 25%, transparent 25%, transparent 50%, rgba(96, 171, 216, 0.7) 50%, rgba(96, 171, 216, 0.7) 75%, transparent 75%, transparent);
		background-image: linear-gradient(-45deg, rgba(96, 171, 216, 0.7) 25%, transparent 25%, transparent 50%, rgba(96, 171, 216, 0.7) 50%, rgba(96, 171, 216, 0.7) 75%, transparent 75%, transparent);
		-webkit-background-size: 30px 30px;
		   -moz-background-size: 30px 30px;
		    -ms-background-size: 30px 30px;
		     -o-background-size: 30px 30px;
		        background-size: 30px 30px;
	}
	#sbox-content .hub-mail .cont {
		background: #FFF;
	}
	#sbox-content .hub-mail .cont h3 {
		line-height: 1;
		font-size: 1.1em;
		font-weight: 400;
		letter-spacing: .1em;
		text-transform: uppercase;
		margin: 0;
		padding: 1em 1.618em;
		color: #fff;
		-webkit-box-shadow: 0 2px 0 rgba(0,0,0,0.06);
		-moz-box-shadow: 0 2px 0 rgba(0,0,0,0.06);
		box-shadow: 0 2px 0 rgba(0,0,0,0.06);
		background-color: #333;
	}
	#sbox-content .hub-mail .cont #msg-to {
		display: block;
	}
	#sbox-content .hub-mail .cont input[type=submit] {
		width: auto;
	}
	#sbox-content .hub-mail .cont .hint {
		font-size: 0.85em;
		color: #999;
		display: block;
	}
	#sbox-content .hub-mail .cont .required {
		color: #f00;
		font-size: 0.6em;
		text-transform: uppercase;
	}
	#sbox-content .hub-mail #members {
		display: block;
		width: 50%;
	}
	#sbox-content .hub-mail .smallinput {
		width: 1px;
	}

	#page_sidebar .message-member a {
		margin: 0;
		padding: 0;
		display: block;
		width: 1em;
		height: 1em;
		font-size: 1.2em;
		line-height: 1;
		overflow: hidden;
		border: none;
		white-space: nowrap;
	}
	#page_sidebar .message-member a:before { 
		content: "\2709";
		font-family: "Fontcons";
		margin-right: 1em;
	}
	#page_sidebar .message-member a:hover {
		border: none;
	}

	.com_members .input-wrap ul {
		list-style: none;
		margin: 0;
	}
	.com_members .input-wrap li {
		margin: 0;
		padding: 0.2em 0;
	}
	.com_members #hubForm li label,
	.com_members .input-wrap li label,
	.com_members .input-wrap li input[type=radio],
	.com_members .input-wrap li input[type=checkbox] {
		width: auto;
		display: inline-block;
		margin-right: 0.5em;
	}
	.com_members .input-wrap li label {
		font-weight: normal;
	}

/* No results */
	.com_members .results-none {
		max-width: 30em;
		margin: 90px auto;
		padding: 5em 0 0 0;
		text-align: center;
		position: relative;
	}
	.com_members .results-none p {
		font-size: 1.5em;
		line-height: 1.8em;
		font-weight: 300;
		margin: 0 0 2em 0;
	}
	.com_members .results-none:before {
		position: absolute;
		top: 0px;
		left: 50%;
		font-size: 5em;
		margin-left: -0.5em;
		content: "\2298";
		font-family: "Fontcons";
		color: rgba(0, 0, 0, 0.2);
	}

/* Applied filters */
	.com_members #applied-filters {
		display: block;
		border: 1px solid #E9E9E9;
		padding: 0.5em 1em;
		margin: 0 0 1em 0;
	}
	.com_members #applied-filters ul.filters-list {
		margin: 0.2em 0 0 0;
		overflow: hidden;
	}
	.com_members #applied-filters p {
		float: left;
		margin: 0.4em 1em 0.4em 0;
	}
	.com_members #applied-filters .filters-list li {
		float: left;
		list-style: none;
		margin: 0 0.5em 0.3em 0;
		padding: 0.2em 0.5em;
		background: #d9d9d9;
		-webkit-border-radius: 0.25em;
		-moz-border-radius: 0.25em;
		-o-border-radius: 0.25em;
		border-radius: 0.25em;
	}
	.com_members #applied-filters .filters-list li a.filters-x {
		padding-right: 0.5em;
		color: #aaa;
		border-bottom: none;
	}
	.com_members #applied-filters .filters-list li a.filters-x:hover {
		border-bottom: none;
		color: #222;
	}

/* Add filters */
	.com_members #add-filters {
		display: none;
		background-color: #fff;
		border: 1px solid #E9E9E9;
		padding: 0.5em 1em;
		margin: 0 0 1em 0;
		overflow: hidden;
	}
	.com_members #add-filters p {
		margin: 0;
		text-align: center;
	}
	.com_members #add-filters select {
		width: 100%;
		margin: 5px 0;
	}
	.com_members #add-filters input[type=text] {
		width: auto;
	}

	.container>.results {
		margin-top: 30px;
	}
	.results:before,
	.results:after {
		content: "";
		display: table;
		line-height: 0;
	}
	.results:after {
		clear: left;
	}
	.result-img {
		width: 80px;
		height: 80px;
		margin: 0 auto 1em auto;
		overflow: hidden;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		border-radius: 50%;
		border: 2px solid rgba(0, 0, 0, 0.1);
	}
	.result-img img {
		width: 100%;
		max-width: 100%;
	}
	.result-details {
		opacity: 0.7;
	}
	.result-snippet {
		margin: 0 0 auto 0;
	}
	.result-url a {
		display: block;
	}

	/* Tiles */
	.tiled .result {
		width: 48.35%;
		margin-right: 3.225806451612903%;
		float: left;
		border: 1px solid rgba(0, 0, 0, 0.1);
		-webkit-border-radius: 0.25em;
		-moz-border-radius: 0.25em;
		-o-border-radius: 0.25em;
		border-radius: 0.25em;
		padding: 1.5em;
		margin-bottom: 2em;
		background: #fcfcfc;
		position: relative;
		-webkit-transition: all .1s ease-out;
		-moz-transition: all .1s ease-out;
		-o-transition: all .1s ease-out;
		transition: all .1s ease-out;
		text-align: center;
	}
	.tiled .result-body {
		overflow: hidden;
		position: relative;
		height: 17em;
	}
	.tiled .result:first-child {
		border: 1px solid rgba(0, 0, 0, 0.1);
	}
	.tiled .result:nth-child(even) {
		margin-right: 0;
	}
	.tiled .result:hover {
		background: #fff;
		border: 1px solid rgba(0, 0, 0, 0.3);
	}
	.tiled .result-title a {
		font-size: 1.2em;
	}
	.tiled .result-snippet {
		display: block;
		padding: 1em 0 0 0;
		margin: 0;
		height: 1px;
		overflow: hidden;
	}
	.tiled .result-snippet:before {
		content: "";
		clear: left;
		display: table;
		line-height: 0;
	}
	.tiled .result-extras {
		margin: 1em 0 0 0;
	}

	.results .message-member a {
		display: block;
	}
	.results .you {
		display: block;
		background-color: #5FBB4D;
		color: #fff;
		padding: .7em .91em;
		text-align: center;
		line-height: 1;
	}

@media (min-width: 40em) {
	#page_identity {
		display: block;
		background-color: #fff;
	}
	#page_identity a,
	#page_identity img {
		max-width: 6em;
	}
	#page_identity a {
		min-width: 6em;
	}
	#page_container {
		display: table;
		table-layout: fixed;
	}
	#page_sidebar {
		display: table-cell;
		width: 6em;
		min-width: 6em;
		vertical-align: top;
	}
	#page_main {
		z-index: 555;
		display: table-cell;
		vertical-align: top;
		width: 100%;
	}
	#page_menu {
		margin: 0 0 30px 0;
	}
	#page_menu li a {
		width: 6em;
		text-indent: -500em;
	}
	#page_menu li a:before,
	#page_menu li a:after,
	#page_menu li a.alrt {
		text-indent: 0;
	}
	#page_menu.js li {
		display: block;
	}
	#page_menu.js li.option-select {
		display: none;
	}

	.tiled .result {
		width: 31%;
	}
	.tiled .result:nth-child(even) {
		margin-right: 3.225806451612903%;
	}
	.tiled .result:nth-child(3n) {
		margin-right: 0;
	}
}
@media (min-width: 50em) {
	.com_members #add-filters p {
		text-align: left;
	}
	.com_members #add-filters select {
		width: 23%;
		margin: 0.5em 0 0.5em 0.2em;
	}
	.com_members #filter-submit {
		margin-left: 0.8em;
	}

	#page_sidebar {
		width: 225px;
		min-width: 225px;
	}
	#page_identity a,
	#page_identity img {
		max-width: 225px;
	}
	#page_identity a {
		min-width: 150px;
		max-width: 225px;
		min-height: 100px;
	}
	#page_menu li a {
		text-indent: 0;
		width: auto;
	}
	#page_menu li .meta {
		right: 2em;
	}

	.tiled .result {
		width: 48.35%;
		text-align: left;
	}
	.tiled .result-body {
		height: 8em;
	}
	.tiled .result:nth-child(3n) {
		margin-right: 3.225806451612903%;
	}
	.tiled .result:nth-child(even) {
		margin-right: 0;
	}
	.tiled .result-title {
		margin-top: 0;
	}
	.result-img {
		float: left;
		margin-right: 1em;
		width: 60px;
		height: 60px;
	}
}
@media (min-width: 70em) {
	#page_sidebar {
		width: 285px;
		min-width: 285px;
	}
	#page_menu li a {
		padding: 0.75em 2em 0.75em 6.5em;
	}
	#page_menu li a.alrt {
		padding: 0;
	}
	#page_menu li a:before {
		left: 3.9em;
	}
	#page_identity a,
	#page_identity img {
		max-width: 285px;
	}
	#page_header {
		padding: 30px 60px;
	}
	#page_options {
		right: 60px;
	}
	#page_content {
		padding: 30px 60px;
	}

	.tiled .result {
		width: 31%;
		margin-right: 3.225806451612903%;
	}
	.tiled .result:nth-child(even) {
		margin-right: 3.225806451612903%;
	}
	.tiled .result:nth-child(3n) {
		margin-right: 0;
	}
}
