/*@import url("../../../../../core/components/com_members/site/assets/css/members.css");*/

/* Intro */
	#introduction:after {
		content: "\f007";
	}

	#page_header {
		padding: 30px;
		margin: 0;
		background: #fff;
		border-bottom: 1px solid rgba(0, 0, 0, 0.1);
		position: static;
	}

/* Page Structure */
	#page_container {
		margin: 0;
		padding: 0;
		background: #f9f9f9;
	}
	#page_sidebar {
		background: #333;
	}
	#page_main {
	}

	#profile-privacy {
		color: #f9f9f9;
		color: rgba(255, 255, 255, 0.7);
	}
	a#profile-privacy:hover {
		color: #fff;
	}
	#profile-privacy:before {
		content: "\f0eb";
		font-family: 'Fontcons';
		color: #f9f9f9;
		color: rgba(255, 255, 255, 0.7);
		margin-right: 0.4em;
	}
	#profile-privacy.private:before {
		content: "\f023";
		color: #fff;
		color: rgba(255, 255, 255, 0.9);
	}

	#page_options + #page_header {
		margin-right: 0;
	}
	#page_identity {
		display: none;
		position: relative;
	}
	#page_identity a {
		display: block;
		text-align: center;
		border: none;
	}
	#page_identity a:hover { 
		border: none;
	}
	#page_identity img {
		width: 100%;
		max-width: 100%;
		max-height: 300px;
	}
	#page_content {
		margin: 0;
		padding: 30px;
	}
	#page_content section.section {
		padding: 0;
	}

/* Menu */
	#page_menu {
		list-style: none;
		margin: 0;
		padding: 0;
		border-top: 1px solid #222;
	}
	#page_menu li {
		position: relative;
		margin: 0;
		padding: 0;
		border-bottom: 1px solid #222;
	}
	#page_menu li a {
		color: #aaa;
		position: relative;
		display: block;
		padding: 0.75em 2em 0.75em 3.9em;
		border: none;
	}
	#page_menu li a:before,
	#page_menu li a:after {
		content: "";
		position: absolute;
		left: 1.8em;
		top: 0.6em;
		width: 1em;
		height: 1em;
		font-size: 1.2em;
		font-family: 'Fontcons';
		-ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
		filter: alpha(opacity=100);
		opacity: 1;
		background: none;
		speak: none;
		font-style: normal;
		font-weight: normal;
		text-align: center;
	}
	#page_menu li a:before {
		content: attr(data-icon);
		color: #ccc;
	}
	#page_menu li a:hover {
		border: none;
		background: rgba(0, 0, 0, 0.35);
		color: #fff;
	}
	#page_menu li a:hover:before {
		-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
		filter: alpha(opacity=100);
		opacity: 1;
	}
	#page_menu li.active {
		color: #eee;
	}
	#page_menu li.active>a {
		background: #f9f9f9;
		color: #222;
		font-weight: 500;
	}
	#page_menu li.active>a:before {
		color: #222;
	}
	#page_menu li.active>a:hover {
		border: none;
	}
	#page_menu li.active:after {
		content: "";
		display: none;
	}

	/* Meta badges */
	#page_menu li .meta {
		position: absolute;
		right: 1em;
		top: 0.75em;
	}
	#page_menu li .meta .count {
		background: #555;
		background: rgba(255, 255, 255, 0.2);
		color: #aaa;
		font-size: 0.9em;
		line-height: 1.2;
		padding: 0.2em 0.4em;
		border-radius: 0.125em;
	}
	#page_menu li.active .meta .count {
		background: #ddd;
	}

	/* Alerts */
	#page_menu li a.alrt {
		position: absolute;
		top: 1.2em;
		right: 5em;
		-webkit-border-radius: 50%;
		   -moz-border-radius: 50%;
		    -ms-border-radius: 50%;
		     -o-border-radius: 50%;
		        border-radius: 50%;
		background: #dd5555;
		padding: 0;
		height: 8px;
		width: 8px;
		color: #fff;
		z-index: 911;
	}
	#page_menu li a.alrt span {
		position: relative;
		display: block;
		top: 15px;
		left: -9999px;
		min-width: 10em;
		max-width: 18em;
		padding: 5px 10px;
		background: #dd5555;
	}
	#page_menu li a.alrt span:after {
		content: "";
		position: absolute;
		top: -11px;
		left: 5px;
		border: 6px solid transparent;
		border-color: transparent transparent #dd5555 transparent;
	}
	#page_menu li a.alrt:hover span {
		left: -9px;
	}
	#page_menu li a.alrt span strong {
		display: block;
		padding: 5px 10px;
		margin: -5px -10px 5px -10px;
		border-bottom: 1px solid #a62525;
	}

	/* Sub-menus */
	#page_menu li ul {
		list-style: none;
		margin: 0 0 0 30px;
		position: relative;
	}
	#page_menu li ul:after {
		content: "";
		width: 1px;
		background: #222;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
	}
	#page_menu li ul li {
		margin: 0;
		padding: 0;
		border: none;
	}
	#page_menu li ul li a {
		padding-left: 1em;
	}

	#page_menu li.option-select {
		padding: 0.75em 2em;
	}
	#page_menu.js li {
		display: none;
	}
	#page_menu.js li.option-select,
	#page_menu.js li.option-select select {
		display: block;
	}
	#page_menu.js li.option-select select {
		width: 100%;
	}

	.entries img {
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		-ms-border-radius: 50%;
		-o-border-radius: 50%;
		border-radius: 50%;
	}
	.section-header {
		display: none;
	}

	#page_content.member_dashboard {
		padding: 0;
	}

/* Member Messages */
	#sbox-content .hub-mail {
		padding: 10px;
		width: auto;
		min-height: 380px;
		background-image: -webkit-linear-gradient(-45deg, rgba(96, 171, 216, 0.7) 25%, transparent 25%, transparent 50%, rgba(96, 171, 216, 0.7) 50%, rgba(96, 171, 216, 0.7) 75%, transparent 75%, transparent);
		background-image: -moz-linear-gradient(-45deg, rgba(96, 171, 216, 0.7) 25%, transparent 25%, transparent 50%, rgba(96, 171, 216, 0.7) 50%, rgba(96, 171, 216, 0.7) 75%, transparent 75%, transparent);
		background-image: -ms-linear-gradient(-45deg, rgba(96, 171, 216, 0.7) 25%, transparent 25%, transparent 50%, rgba(96, 171, 216, 0.7) 50%, rgba(96, 171, 216, 0.7) 75%, transparent 75%, transparent);
		background-image: -o-linear-gradient(-45deg, rgba(96, 171, 216, 0.7) 25%, transparent 25%, transparent 50%, rgba(96, 171, 216, 0.7) 50%, rgba(96, 171, 216, 0.7) 75%, transparent 75%, transparent);
		background-image: linear-gradient(-45deg, rgba(96, 171, 216, 0.7) 25%, transparent 25%, transparent 50%, rgba(96, 171, 216, 0.7) 50%, rgba(96, 171, 216, 0.7) 75%, transparent 75%, transparent);
		-webkit-background-size: 30px 30px;
		   -moz-background-size: 30px 30px;
		    -ms-background-size: 30px 30px;
		     -o-background-size: 30px 30px;
		        background-size: 30px 30px;
	}
	#sbox-content .hub-mail .cont {
		background: #FFF;
	}
	#sbox-content .hub-mail .cont h3 {
		line-height: 1;
		font-size: 1.1em;
		font-weight: 400;
		letter-spacing: .1em;
		text-transform: uppercase;
		margin: 0;
		padding: 1em 1.618em;
		color: #fff;
		-webkit-box-shadow: 0 2px 0 rgba(0,0,0,0.06);
		-moz-box-shadow: 0 2px 0 rgba(0,0,0,0.06);
		box-shadow: 0 2px 0 rgba(0,0,0,0.06);
		background-color: #333;
	}
	#sbox-content .hub-mail .cont #msg-to {
		display: block;
	}
	#sbox-content .hub-mail .cont input[type=submit] {
		width: auto;
	}
	#sbox-content .hub-mail .cont .hint {
		font-size: 0.85em;
		color: #999;
		display: block;
	}
	#sbox-content .hub-mail .cont .required {
		color: #f00;
		font-size: 0.6em;
		text-transform: uppercase;
	}
	#sbox-content .hub-mail #members {
		display: block;
		width: 50%;
	}
	#sbox-content .hub-mail .smallinput {
		width: 1px;
	}
	.message-member a {
		margin: 0;
		padding: 0;
		display: block;
		width: 1em;
		height: 1em;
		font-size: 1.2em;
		line-height: 1;
		overflow: hidden;
		border: none;
		white-space: nowrap;
	}
	.message-member a:before { 
		content: "\2709";
		font-family: "Fontcons";
		margin-right: 1em;
	}
	.message-member a:hover {
		border: none;
	}

@media (min-width: 40em) {
	#page_identity {
		display: block;
	}
	#page_identity a,
	#page_identity img {
		max-width: 6em;
	}
	#page_identity a {
		min-width: 6em;
	}
	#page_container {
		display: table;
		table-layout: fixed;
	}
	#page_sidebar {
		display: table-cell;
		width: 6em;
		min-width: 6em;
		vertical-align: top;
	}
	#page_main {
		z-index: 555;
		display: table-cell;
		vertical-align: top;
		width: 100%;
	}
	#page_menu {
		margin: 0 0 30px 0;
	}
	#page_menu li a {
		width: 6em;
		text-indent: -500em;
	}
	#page_menu li a:before,
	#page_menu li a:after,
	#page_menu li a.alrt {
		text-indent: 0;
	}
	#page_menu.js li {
		display: block;
	}
	#page_menu.js li.option-select {
		display: none;
	}
}
@media (min-width: 50em) {
	#page_sidebar {
		width: 225px;
		min-width: 225px;
	}
	#page_identity a,
	#page_identity img {
		max-width: 225px;
	}
	#page_identity a {
		min-width: 150px;
		max-width: 225px;
		min-height: 100px;
	}
	#page_menu li a {
		text-indent: 0;
		width: auto;
	}
	#page_menu li .meta {
		right: 2em;
	}
}
@media (min-width: 70em) {
	#page_sidebar {
		width: 285px;
		min-width: 285px;
	}
	#page_menu li a {
		padding: 0.75em 2em 0.75em 6.5em;
	}
	#page_menu li a.alrt {
		padding: 0;
	}
	#page_menu li a:before {
		left: 3.9em;
	}
	#page_identity a,
	#page_identity img {
		max-width: 285px;
	}
	/*#page_identity {
		margin: 30px 60px 0px 60px;
	}*/
	#page_header {
		padding: 30px 60px;
	}
	#page_options {
		right: 60px;
	}
	#page_content {
		padding: 30px 60px;
	}
}