<?xml version="1.0" encoding="utf-8"?>
<extension version="1.7" type="plugin" group="%=group=%">
	<name>%=friendlyGroup=% - %=friendlyExtension=%</name>
	<author>%=author_name=%</author>
	<copyright>Copyright (c) 2005-2020 The Regents of the University of California.</copyright>
	<license>http://opensource.org/licenses/MIT MIT</license>
	<description>%=description=%</description>
	<files>
		<filename plugin="%=extension=%">%=extension=%.php</filename>
	</files>
	<languages>
		<language tag="en-GB">en-GB.plg_%=group=%_%=extension=%.ini</language>
	</languages>
	<config>
		<fields name="params">
		</fields>
	</config>
</extension>

