/*input { 
	border-width: expression(this.type=="radio"?'0px':this.type=="checkbox"?'0px':'1px'); 
}
html>body #element-box {
	height: 1px;
}*/
/*filter: progid:DXImageTransform.Microsoft.glow(Color='#999999', Strength=1);*/
#masthead h1 {
	font-weight: bold;
}
#module-status span.loggedin-users,
#module-status a {
	height: 1%;
	display: inline-block;
}
#module-status .logout a {
	background: #3a4148;
	border-right: 1px solid #72767b;
	border-bottom: 1px solid #72767b;
}
form,
table,
#wrap,
#content-box,
#element-box,
#toolbar-box {
	height: 1%;
}
#toolbar-box .header,
#toolbar-box .header a {
	height: 1%;
	position: relative;
	float: left;
}
.component fieldset legend {
	margin: 0 0 0 -10px;
	text-indent: 0px;
	padding-left: 20px;
}
.component table.paramlist tr.row1 { 
	background-color: #f9f9f9; 
}
.component table.paramlist tr.row1 td.paramlist_key { 
	background-color: #eeeeee; 
}
div.width-45 {  
	width: 44%; 
}
div.width-55 { 
	width: 54%; 
}
div.width-50 { 
	width: 49%; 
}
div.width-70 { 
	width: 69%; 
}
div.width-30 { 
	width: 29%; 
}
div.width-60 { 
	width: 59%; 
}
div.width-40 { 
	width: 39%; 
}
fieldset.adminform {
	position: relative;
	
}
fieldset.adminform legend {
	/*margin: -10px 0 10px -8px;
	text-indent: 20px;
	display: block;
	position: absolute;
	border: 1px solid #bbb;
	border-bottom: 1px solid #fff;*/
	margin: -3px 0 0px -8px;
	text-indent: 20px;
	display: block;
	position: relative;
	border: 1px solid #bbb;
	border-bottom: 1px solid #fff;
}
.pagination .list-footer li strong,
.pagination .list-footer li span,
.pagination .list-footer li a {
	height: 1%;
	position: relative;
}
.box {
	height: 1%;
	filter: progid:DXImageTransform.Microsoft.glow(Color='#999999', Strength=2); /* IE6,IE7 */
}