img { display:block; margin-bottom:10px; }
.postpreview p { word-wrap:break-word;}
.postpreview h1 { font-family: san-serif; font-size: x-large; }
.postpreview { padding: 20px;
			 min-width: 400px;
}

#helpbox p{
	padding-left: 10px;
	padding-right: 10px;
}

#helpbox h1{
	padding-top:10px;
	padding-right: 10px;
	padding-left:10px;
	padding-bottom:0;
	font-size: 1.9em;
	font-weight:none;
	font-family:'Share-Regular', 'RopaSansRegular', 'LacunaRegular', 
	'Impact', 'Arial Narrow', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#helpbox h2{
	padding-right: 10px;
	padding-left:10px;
	font-weight:none;
	font-family:'Share-Regular', 'RopaSansRegular', 'LacunaRegular', 
	'Impact', 'Arial Narrow', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.myButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #dcecfb;
	/* -webkit-box-shadow:inset 0px 1px 0px 0px #dcecfb; */
	/* box-shadow:inset 0px 1px 0px 0px #dcecfb; */
	background-color:#bedbfa;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #000000; 
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #528ecc;
}
.myButton:hover {
	background-color:#80b5ea;
		color:#ffffff;
}
.myButton:active {
	position:relative;
	top:1px;
	color:#ffffff;
	
}
.myButton:visted {
	color:#ffffff;
}

	
.feedtable td
{
padding-top: 10px;
margin-top: 10px;
}
