.postpreview img { 
display:block;
margin-right: auto;
margin-left: auto;
backround-color: lime;}
.postpreview p { word-wrap:break-word;}
.postpreview h1 { font-family: san-serif; font-size: x-large; }
.postpreview 
{ 
	padding: 20px;
	min-width: 450px;
	text-align: center;
}

.fancybox-next
{
	max-width: 100px;
}

.fancybox-prev
{
	max-width: 100px;
}

#helpbox p{
	padding-left: 10px;
	padding-right: 10px;
}

#helpbox h1{
	padding-top:10px;
	padding-right: 10px;
	padding-left:10px;
	padding-bottom:0;
	font-size: 1.9em;
	font-weight:none;
	font-family:'Share-Regular', 'RopaSansRegular', 'LacunaRegular', 
	'Impact', 'Arial Narrow', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#helpbox h2{
	padding-right: 10px;
	padding-left:10px;
	font-weight:none;
	font-family:'Share-Regular', 'RopaSansRegular', 'LacunaRegular', 
	'Impact', 'Arial Narrow', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.main
{
	padding-bottom: 50px;
}

#generateFeed
{
	background-color: green;
}	
.feedtable td
{
padding-top: 10px;
margin-top: 10px;
}

.approveBtn{
	color: white; 
	background-image: linear-gradient(to bottom, #009900, #003D00);		
}

.reviewBtn{
	color: white; 
	background-image: linear-gradient(to bottom, #9900CC, #5C007A);
}

.removeBtn{
	color: white; 
	background-image: linear-gradient(to bottom, #FF0000, #B22400);
}

