.page-main{
	padding-bottom:50px;
}

.main section{
	padding-top: -40px;	
}

.button-container{
	padding: 40px;
	text-align: center; 
	z-index: 99;
}

.postpreview img { 
	display:block;
	margin-right: auto;
	margin-left: auto;
}
.postpreview p { 
	word-wrap:break-word;
}

.postpreview h1 {
	font-family: san-serif; font-size: x-large;
}
.postpreview 
{ 
	padding: 20px;
	min-width: 450px;
	text-align: center;
}

.postpreview-container{
	display: none;
}

.fancybox-next
{
	max-width: 100px;
}

.fancybox-prev {
	max-width: 100px;
}

#helpbox p {
	padding-left: 10px;
	padding-right: 10px;
}

#helpbox{
	padding:20px;
}

#helpbox h1 {
	padding-top:10px;
	padding-right: 10px;
	padding-left:10px;
	padding-bottom:0;
	font-size: 1.9em;
	font-weight:none;
	font-family:'Share-Regular', 'RopaSansRegular', 'LacunaRegular', 
	'Impact', 'Arial Narrow', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#helpbox h2 {
	padding-right: 10px;
	padding-left:10px;
	font-weight:none;
	font-family:'Share-Regular', 'RopaSansRegular', 'LacunaRegular', 
	'Impact', 'Arial Narrow', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.main {
	padding-bottom: 50px;
}

#generateFeed {
	background-color: green;
}	
.feedtable td {
padding-top: 10px;
margin-top: 10px;
}

.approveBtn{
	color: white; 
	background-image: linear-gradient(to bottom, #009900, #003D00);		
}

.reviewBtn{
	color: white; 
	background-image: linear-gradient(to bottom, #9900CC, #5C007A);
}

.removeBtn{
	color: white; 
	background-image: linear-gradient(to bottom, #FF0000, #B22400);
}

.disableBtn{
	background-color: lime;
	color:red;
}

.review-status
{
	color: purple;
}

.remove-status
{
	color: red;
}

.approve-status
{
	color: green;
}

.feed-btn {
	-moz-box-shadow:inset 0px 1px 0px 0px #dcecfb;
	-webkit-box-shadow:inset 0px 1px 0px 0px #dcecfb;
	box-shadow:inset 0px 1px 0px 0px #dcecfb;
	background-color:#bedbfa;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #84bbf3;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #528ecc;
}
.feed-btn:hover {
	background-color:#80b5ea;
}
.feed-btn:active {
	position:relative;
	top:1px;
}
.feed-btn:visted {
 color: white;
 }
