@import url("/core/components/com_projects/site/assets/css/projects.css");


/* Introduction */
	
/* Icon */
	body #introduction small.intro-after,
	body #introduction:after {
		content: "\f03f";
	}
	#introduction {
		background: #fbf8ea!important;
	}
	body #introduction:before {
		background-color: #FEFEFE;
	}
	#content .four {
		border-top: none;
	}
	ul.flow {
		border: none;
	}
	#content .four ul.flow li {
		margin-right: 1em;
	}
	.add:before,
	.add:after,
	.browse:before {
		top: 0;
		left: 0;
		bottom: 0;
		width: 1em;
		height: auto;
	}
	#content .browse:before,
	.browse:before {
		content: "\f00b";
		top: 0;
		height: auto;
		width: 16px;
		font-size: 16px;
	}
	#content-header-extra ul {
		list-style: none;
	}
	