@import url("/core/components/com_groups/site/assets/css/groups.css");

#page_main {
	background: #f7f7f7;
}

#page_content .subject {
	margin-right: 240px;
}

#page_content {
	margin: 0;
	padding: 20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.populargroups hr {
	margin: 0;
}

.group-list {
	margin: 1em 0;
}

.group-list > a:laft-child {
	margin-bottom: 0;
}

.group-list .logo {
	max-width: none;
	padding: 0;
	display: block;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	border-radius: 100px;
	position: relative;
	width: 40px;
	height: 40px;
	overflow: hidden;
}

.group-list .details-w-logo {
	margin-left: 55px;
}

body #page_header {
	margin-bottom: 0;
}

#page_header .divider {
	display: none;
}

#page_header h2 {
	float: none;
}

#page_header h3 {
	float: none;
	display: block;
	text-transform: uppercase;
	margin-top: 0.5em;
	font-family: 'latolight', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#page_options {
	position: static;
	padding-bottom: 1em;
}

#page_header h2 a:hover {
	border-bottom: 0;
}

#group_options .manager > a {
	color: #fff;
}

#group_options .member > a, #group_options .manager > a {
	height: auto;
	line-height: 14px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 14px;
}

html.chrome #group_options .dropdown-toggle, #group_options .dropdown-toggle {
	height: auto;
	line-height: 14px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 14px;
}

@media (min-width: 40em) {
	#page_main {
		position: relative;
	}
}
.btn.version-title {
	color: #628d29;
	text-shadow: none;
}
