<?xml version="1.0" encoding="utf-8"?>

<!--
@package      hubzero-cms
@copyright    Copyright (c) 2005-2020 The Regents of the University of California.
@license      http://opensource.org/licenses/MIT MIT
-->

<config>
	<fieldset name="basic">
		<field name="subpage_separator" type="text" menu="hide" default="/" label="COM_WIKI_CONFIG_SEPARATOR_LABEL" description="COM_WIKI_CONFIG_SEPARATOR_DESC" />
		<field name="homepage" type="text" menu="hide" default="MainPage" label="COM_WIKI_CONFIG_MAIN_PAGE_LABEL" description="COM_WIKI_CONFIG_MAIN_PAGE_DESC" />
		<field name="max_pagename_length" type="text" menu="hide" default="100" label="COM_WIKI_CONFIG_PAGENAME_LENGTH_LABEL" description="COM_WIKI_CONFIG_PAGENAME_LENGTH_DESC" />
		<field name="comments" type="radio" default="1" label="COM_WIKI_CONFIG_COMMENTS_LABEL" description="COM_WIKI_CONFIG_COMMENTS_DESC">
			<option value="0">JOFF</option>
			<option value="1">JON</option>
		</field>
		<field name="comment_ratings" type="radio" default="0" label="COM_WIKI_CONFIG_RATINGS_LABEL" description="COM_WIKI_CONFIG_RATINGS_DESC">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
	</fieldset>
	<fieldset name="files">
		<field name="filepath" type="text" menu="hide" default="/site/wiki" label="COM_WIKI_CONFIG_FILE_UPLOAD_LABEL" description="COM_WIKI_CONFIG_FILE_UPLOAD_DESC" />
		<field name="mathpath" type="text" menu="hide" default="/site/wiki/math" label="COM_WIKI_CONFIG_MATH_UPLOAD_LABEL" description="COM_WIKI_CONFIG_MATH_UPLOAD_DESC" />
		<field name="tmppath" type="text" menu="hide" default="/site/wiki/tmp" label="COM_WIKI_CONFIG_TEMP_UPLOAD_LABEL" description="COM_WIKI_CONFIG_TEMP_UPLOAD_DESC" />
	</fieldset>
	<fieldset name="cache">
		<field name="cache" type="radio" default="0" label="COM_WIKI_CONFIG_CACHE_LABEL" description="COM_WIKI_CONFIG_CACHE_DESC">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field name="cache_time" type="text" default="15" label="COM_WIKI_CONFIG_CACHE_TIME_LABEL" description="COM_WIKI_CONFIG_CACHE_TIME_DESC" />
	</fieldset>
	<fieldset name="permissions" label="JCONFIG_PERMISSIONS_LABEL" description="JCONFIG_PERMISSIONS_DESC">
		<field name="rules" type="rules" label="JCONFIG_PERMISSIONS_LABEL" class="inputbox" validate="rules" filter="rules" component="com_wiki" section="component" />
	</fieldset>
</config>
