<?xml version="1.0" encoding="utf-8"?>

<!--
@package        hubzero-cms
@file           administrator/components/com_wishlist/config.xml
@copyright      Copyright 2005-2011 Purdue University. All rights reserved.
@license        http://www.gnu.org/licenses/lgpl-3.0.html LGPLv3

Copyright 2005-2011 Purdue University. All rights reserved.

This file is part of: The HUBzero(R) Platform for Scientific Collaboration

The HUBzero(R) Platform for Scientific Collaboration (HUBzero) is free
software: you can redistribute it and/or modify it under the terms of
the GNU Lesser General Public License as published by the Free Software
Foundation, either version 3 of the License, or (at your option) any
later version.

HUBzero is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.

HUBzero is a registered trademark of Purdue University.
-->

<config>
	<fieldset name="basic">
		<field name="categories" type="text" menu="hide" label="COM_WISHLIST_CATEGORIES_LABEL" default="general, resource, group, user" description="COM_WISHLIST_CATEGORIES_DESC" />
		<field name="group" type="text" menu="hide" label="COM_WISHLIST_GROUP_LABEL" default="hubdev" description="COM_WISHLIST_GROUP_DESC" />
		<field name="maxtags" type="text" menu="hide" label="COM_WISHLIST_MAXTAGS_LABEL" default="10" description="COM_WISHLIST_MAXTAGS_DESC" />
		<field name="banking" type="radio" default="0" label="COM_WISHLIST_BANKING_LABEL" description="COM_WISHLIST_BANKING_DESC">
			<option value="1">COM_WISHLIST_BANKING_ENABLED</option>
			<option value="0">COM_WISHLIST_BANKING_DISABLED</option>
		</field>
		<field name="show_percentage_granted" type="radio" default="0" label="COM_WISHLIST_SHOW_PERCENTAGE_LABEL" description="COM_WISHLIST_SHOW_PERCENTAGE_DESC">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
	</fieldset>
	<fieldset name="advisory">
		<field name="allow_advisory" type="radio" default="0" label="COM_WISHLIST_ALLOW_ADVISORY_LABEL" description="COM_WISHLIST_ALLOW_ADVISORY_DESC">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
		<field name="votesplit" type="radio" default="0" label="COM_WISHLIST_VOTEPSLIT_LABEL" description="COM_WISHLIST_VOTEPSLIT_DESC">
			<option value="0">50/50</option>
			<option value="1">80/20</option>
		</field>
	</fieldset>
	<fieldset name="files">
		<field name="webpath" type="text" menu="hide" default="/site/wishlist" label="COM_WISHLIST_WEBPATH_LABEL" description="COM_WISHLIST_WEBPATH_DESC" />
		<field name="maxAllowed" type="text" menu="hide" default="40000000" label="COM_WISHLIST_MAXALLOWED_LABEL" description="COM_WISHLIST_MAXALLOWED_DESC" />
		<field name="file_ext" type="textarea" rows="10" cols="30" menu="hide" label="COM_WISHLIST_FILE_EXT_LABEL" default="jpg,jpeg,jpe,bmp,tif,tiff,png,gif,pdf,zip,mpg,mpeg,avi,mov,wmv,asf,asx,ra,rm,txt,rtf,doc,xsl,html,js,wav,mp3,eps,ppt,pps,swf,tar,tex,gz" description="COM_WISHLIST_FILE_EXT_DESC" />
	</fieldset>
</config>
