/* not yet supported
.keyframes(@name; @arguments) {
	@-moz-keyframes @name { @arguments(); }
	@-webkit-keyframes @name { @arguments(); }
	@keyframes @name { @arguments(); }
}
*/
@import url('/core/plugins/projects/publications/assets/css/curation.css');
.button-wrapper:before,
.disabled .button-wrapper.bw-previous:before {
  color: #fff;
  margin-left: 0.5rem;
  z-index: 10;
}
.item-add:before {
  margin: -0.1rem 0 0 -1.2em;
  line-height: 1em;
}
.blockelement input.btn {
  width: auto;
}
#pub-editor input.btn:focus {
  background-color: #000;
}
ul.itemlist li.item-new,
div.item-new {
  padding: 1em;
}
.checker:before,
.element_overview .checker:before {
  margin-top: 0.7em;
}
.draft-review .element-instructions:before {
  margin: -0.3em 0 0 -70px;
}
