<?php
/**
 * @package    framework
 * @copyright  Copyright (c) 2005-2020 The Regents of the University of California.
 * @license    http://opensource.org/licenses/MIT MIT
 */

namespace Hubzero\Console\Command;

use Hubzero\Console\Output;
use Hubzero\Console\Arguments;

/**
 * %=command_name+ucf=% command class
 **/
class %=command_name+ucf=% extends Base implements CommandInterface
{
	/**
	 * Default (required) command
	 *
	 * @return  void
	 **/
	public function execute()
	{

	}

	/**
	 * Output help documentation
	 *
	 * @return  void
	 **/
	public function help()
	{

	}
}
