<?php

use Hubzero\Content\Migration\Base;

/**
 * Migration script for %=description=%
 **/
class %=class_name=% extends Base
{
	/**
	 * Up
	 **/
	public function up()
	{
%=up=%
	}

	/**
	 * Down
	 **/
	public function down()
	{
%=down=%
	}
}
