// out: groups.css

@import "../../less/_mixins/mixins";
@import "../../less/_vars/vars";

@import url("/core/components/com_groups/site/assets/css/groups.css");

#page_menu {

	li {
		border-bottom-color: @colorSidebarLine;

		a {
			line-height: 1.6rem;

			&:hover {
				color: @colorSidebarTextHover;
			}

			&:before {
				line-height: 1.6rem;
			}
		}

		.meta .count {
			text-shadow: none;
		}
	}

	li a,
	li span {
		color: @colorSidebarText;
	}
}

#page_sidebar {
	background: @colorSidebarBg;
}

#page_header {

	h2 {
		float: none;
	}

	h3 {
		font-size: 2.2rem;
		margin: 2rem 0;
		color: @colorHeadings;
	}
}

.group-page.page-overview {

	h3 {
		font-size: 1.1rem;
	}
}

.groups-container .group-contents {
	border: 1px solid rgba(0, 0, 0, 0.3);
}

.groups-container .group-alias,
.group-meta span {
	color: @colorHeadings;
}

.groups-container .user-actions a {
	line-height: 1em;
}

.groups-container .group-identity>span:after {
	font-size: 60px;
}

#page_menu li ul:after,
#page_menu li ul li .page:before {
	background: @colorSidebarLine;
}

#page_menu li.active > a {
	background: #fff;
	color: @colorSidebarTextActive;

	&:before {
		color: @colorSidebarTextActive;
	}
}

#page_menu li.active:after {
	display: none;
}

#description, #member_browser {
	.box-sizing(content-box);

	&:after {
		.box-sizing(content-box);
		top: 15px;
		left: 25px;
		width: 40px;
		height: 40px;
		line-height: 40px;
		padding-top: 0;
	}
}

/* BEGIN: Fixing page creation */
.btn-info {
	color: #fff;
	border-color: inherit;
	background: @colorLink;
}

.form-controls {

	.save {

		.btn {
    	border: 1px solid #fff;
    	border-right-color: inherit;
    	border-bottom-color: inherit;
		}
	}
}

a.fs-dropdown-selected-item span {
	font-weight: normal;
	color: #000;
}

.item-list .item-container:before {
	top: 10px;
}
/* END: Fixing page creation */
