/**
 * Copyright 2005-2009 by Purdue Research Foundation, West Lafayette, IN 47906.
 * All rights reserved.
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License,
 * version 2 as published by the Free Software Foundation. 
 */

/*

	-- -- -- -- -- -- --
	com_xsearch CSS
	-- -- -- -- -- -- --

*/

/* Sections */
	.section {
		padding: 0;
		border-bottom: 1px solid #EFEFEF;
		}
	.main {
		border-bottom: none;
		}
/* Item listing */
	.search {
		margin: 0 1em 0.5em 1em;
		border: none;
		}
	.results .resource { 
		}
	.results .resource .title {
		margin-right: 220px;
		}
	.results .metadata,
	.results .stats { 
		margin: -1.5em 0 0 0;
		float: right;
		width: 190px;
		background: none;
		}
	.results .metadata p, 
	.results .resource .stats p,
	.stats p { 
		color: #999; 
		font-size: 90%;
		margin: 0 0 0.5em 0;
		padding: 0;
		}
	.aside fieldset legend {
		display: none;
		}