// Dark
.dark {
	#masthead {
		background: #444;

		h1 {
			background: #555;
			border-bottom: 1px solid #555;

			a {
				color: #fff;
			}
		}
	}

	#nav ul.menu a {
		color: #ccc;
	}
	#nav ul.menu ul li a {
		color: #747474;
	}

	#account {
		.account-details {
			color: #ddd;
		}
		li {
			&>a {
				color: #ccc;
			}
			&:hover {
				background: #fff;

				.account-details {
					color: #444;
				}
				&>a {
					color: #444;
				}
			}
		}
		li ul li {
			a {
				color: #666;
			}
		}
		#account-info {
			border-left: 1px solid #555;
			border-left: 1px solid rgba(255, 255, 255, 0.1);
		}
	}
}
