// Dark
	.dark #masthead {
		background: #444;
	}
	.dark #masthead h1 {
		background: #555;
		border-bottom: 1px solid #555;
	}
	.dark #masthead h1 a {
		color: #fff;
	}
	.dark #nav ul.menu a {
		color: #ccc;
	}
	.dark #nav ul.menu ul li a {
		color: #747474;
	}
	.dark #account {
		.account-details {
			color: #ddd;
		}
		li {
			&:hover {
				background: #fff;

				.account-details {
					color: #444;
				}
			}
		}
		#account-info {
			border-left: 1px solid #555;
			border-left: 1px solid rgba(255, 255, 255, 0.1);
		}
	}
