/*---------------------------------------------------------------
	Mini Login module
---------------------------------------------------------------*/
	#hubForm_mini {
		padding: 0;
		margin: 1em 0;
		position: relative;
		}
	#hubForm_mini fieldset {
		padding: 1em 1em 1.75em 1em;
		border: none;
		float: left;
		width: 90%;
		margin: 0.7em 0;
		color: #777;
		background: #F5F7F2;
		border: 2px solid #DEE4CD;
		}
	#hubForm_mini legend {
		font-weight: bold;
		}
	#hubForm_mini fieldset fieldset legend {
		font-weight: normal;
		}
	#hubForm_mini.full fieldset {
		padding: 0 2% 1.75em 2%;
		width: 66%;
		}
	#hubForm_mini label {
		display: block;
		padding-bottom:1.5em;
		margin:0;
		}
	#hubForm_mini input, 
	#hubForm_mini select, 
	#hubForm_mini textarea {
		margin-top: 0.25em;
		width: 100%;
		}
	#hubForm_mini.full fieldset fieldset,
	#hubForm_mini fieldset fieldset {
		margin: 1.75em 0 1.75em 0;
		padding: 0 1em 1.75em 1em;
		border: 1px solid #DEE4CD;
		float: none;
		width: auto;
		}
	#hubForm_mini fieldset fieldset label {
		padding-top: 0.7em;
		}
	#hubForm_mini.full fieldset fieldset fieldset,
	#hubForm_mini fieldset fieldset fieldset {
		margin: 0;
		padding: 0;
		border: none;
		float: none;
		width: auto;
		}
	#hubForm_mini fieldset fieldset fieldset label {
		margin-left: 1.75em;
		}
	#hubForm_mini fieldset fieldset fieldset legend label {
		margin-left: 0;
		}
	#hubForm_mini .option {
		display: inline;
		margin: 0 0.25em 0 0 !important;
		margin: 0;
		width: auto;
		}
	#hubForm_mini .indent { 
		margin-left: 1.75em; 
		}

	#hubForm_mini .group label .error,
	#hubForm_mini .group label .warning {
		display: block;
		}
	#hubForm_mini .group label.datepickers {
		margin-bottom: 1.5em;
		}
	#hubForm_mini .group label.datepickers input {
		width: 85%;
		margin-right: 1em;
		}
	#hubForm_mini label em {
		display: block;
		margin: -1.5em 0 0 10em;
		text-align: right;
		font: inherit;
		color: #aa9;
		}
	#hubForm_mini .submit {
		padding:0;
		text-align:center;
		margin:0;
		}
	#hubForm_mini .submit input {
		width:auto;
		margin:0;
		padding:0;
	}

	#hubForm_mini .inactive {
		color: #aa9;
		}
	#hubForm_mini h3 {
		position: absolute;
		padding-top: 1.25em;
		left: 1em;
		margin: 0;
		color: #000;
		font-size: 1em;
		line-height: 1.3em;
		width: 16%;
		}
	#hubForm_mini .explaination {
		position: relative;
		float: right;
		width: 28%;
		}
	#hubForm_mini .explaination a:hover {
		color: #222;
		}
	#hubForm_mini .explaination p {
		margin: 1em 0;
		}
	#hubForm_mini .explaination h2 {
		position: relative;
		margin: 1.5em 0 0.5em;
		padding: 0;
		border: none;
		width: 100%;
		}
	#hubForm_mini .explaination ul {
		position: relative;
		list-style: none;
		color: #57b;
		}
	#hubForm_mini .optional,
	#hubForm_mini .required {
		text-transform: uppercase;
		font-size: xx-small;
		}
	#hubForm_mini .required {
		color: red;
		}
	#hubForm_mini .optional {
		color: #999999;
		}
	#hubForm_mini .hint {
		color: #999;
		font-size: 90%;
		position:relative;
		overflow:visible;
		display:block;
		top: -5em;
		float:right;
		clear:left;
		margin:0;
		padding:0;
		}
	#hubForm_mini .hint a:hover {
		border:none;
	}

	#hubForm_mini .warning,
	#hubForm_mini .error {
		margin: 0;
		}
	#hubForm_mini table {
		margin: 1em 0;
		border-top: 2px solid #DEE4CD;
		border-color: #DEE4CD;
		}
	#hubForm_mini td,
	#hubForm_mini th {
		border-color: #DEE4CD;
		}
	#hubForm_mini table input,
	#hubForm_mini table select {
		width: auto;
		}
	#hubForm_mini fieldset fieldset.fieldsWithErrors,
	#hubForm_mini .fieldsWithErrors {
		border: 1px solid #c00;
		}
	#hubForm_mini fieldset fieldset.fieldsWithErrors legend,
	#hubForm_mini .fieldWithErrors { 
		color: #c00;
		font-weight: bold;
		}
	#hubForm_mini .fieldWithErrors input,
	#hubForm_mini .fieldWithErrors select,
	#hubForm_mini .fieldWithErrors textarea {
		background-color: #F8E5E5;
		}
	#hubForm_mini .fieldWithErrors .required,
	#hubForm_mini .fieldWithErrors .optional {
		font-weight: normal;
		}