.autocorrect-notice {
	font-style: oblique;
	margin: 0.3em 1em;
	opacity: 0.7;
}
.autocorrect-notice:before {
	content: "ÔÅö";
	position: relative;
	color: #178BC1;
	left: -0.5em;
}
#search-form .bar {
	position: relative;
	max-width: 900px;
	margin-top: 50px;
	margin-left: 30px;
}
#search-form .bar .terms {
	width: 100%;
	height: 30px;
	z-index: 10;
	border-radius: 5px;
	padding: 0;
	padding-left: 6px;
	border: 1px solid rgba(0, 0, 0, 0.19);
}
#search-form .bar .terms.with-autocomplete {
	border-bottom-left-radius: 0;
}
#search-form .bar button.submit {
	position: absolute;
	top: 0;
	right: -9px;
	height: 32px;
	width: 110px;
	z-index: 10;
	background: #178BC1;
	border: 0;
	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
	color: #f3f3f3;
	font-weight: bold;
}
#search-form .bar button span {
	display: inline-block;
	padding-left: 1em;
}
#search-form .bar button span:before {
	font-family: 'Fontcons';
	content: '\f002';
	position: relative;
	top: 1px;
	left: -0.5em;
}
#search-form .bar .clear {
	position: absolute;
	top: 6px;
	text-decoration: none;
	border: 0;
	visibility: hidden;
	color: #900;
	font-weight: bold;
	right: 120px;
}
#search-form .bar:hover .clear {
	visibility: visible;
}
#search-form .results {
	max-width: 900px;
	margin-top: 20px;
	border-bottom: 1px solid #ccc;
	border-top: 0;
	padding-bottom: 3em;
	margin-bottom: 0;
	margin-left: 30px;
}

@font-face {
	font-family: 'Fontcons';
	src: url('/core/assets/css/fonts/fontcons-webfont.eot');
	src: url('/core/assets/css/fonts/fontcons-webfont.eot?#iefix') format('embedded-opentype'), 
		url('/core/assets/css/fonts/fontcons-webfont.woff') format('woff'), 
		url('/core/assets/css/fonts/fontcons-webfont.ttf') format('truetype'),
		url('/core/assets/css/fonts/fontcons-webfont.svg#FontconsRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}
.fontcons {
	font-family: 'Fontcons';
}
.complete {
	display: none;
	z-index: 9;
	background-color: #fafafa;
	margin-left: 0;
	margin-top: -5px;
	margin-right: 107px;
	border: 1px solid #eee;
	border-top: 0;
	padding: 0;
	padding-top: 0.5em;
	list-style: none;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	box-shadow: 1px 7px 10px rgba(0,0,0,0.3);
	line-height: 1em;
}
.complete .categories {
	margin-left: 1em;
	margin-bottom: 1em;
}
.complete ul {
	padding-left: 0;
	list-style: none;
	display: inline;
	margin-left: -0.8em;
	clear: left;
	line-height: 0.5em;
	font-size: 110%;
}
.complete li {
	display: inline-block;
	margin-right: 0.4em;
	line-height: 1.1em;
	margin-top: 4px;
	margin-bottom: 0;
}
.complete li.cat {
	display: block;
	max-height: 4.3em;
	overflow: auto;
	padding: 0.2em 2.5em 1em 2.5em !important;
	margin: 0 0.7em;
}
.complete li.cat.orgs:before {
	content: '\f068';
	position: relative;
	left: -1.5em;
}
.complete li.cat.tags:before{
	content: '\f02b';
	position: relative;
	left: -1.5em;
	top: 0.2em;
}
.complete li.cat.users:before{
	content: '\f007';
	position: relative;
	left: -1.5em;
}
.complete li.cat.text ul {
	margin-left: 0;
}
.complete li.cat.text {
	background: #eee;
	margin: 0;
	margin-top: 1em;
	padding: 1em 2em 1em 2.5em !important;
	border-top: 1px dashed #ddd;
	max-height: none;
}
.complete li.cat.text a {
	color: #222;
}
.complete li.cat li {
	cursor: pointer;
}
.complete li a {
	border: 0;
	border-radius: 4px;
}
.complete li a em {
	background: #eee;
}
.complete li.cat.text a em {
	background: #e3e3e3;
}
.complete li a:hover {
	background: rgba(0, 0, 0, 0.04);
}
.complete ul li:after { content: ","; } 
.complete ul li:last-child:after, .complete ul li.cat, .complete .tags li:after { content: ""; }
.complete .tags li {
	margin-right: 0.3em !important;
}
.count {
	height: 24px;
	font-style: oblique;
	margin-left: 30px;
	margin-top: 35px;
	border-bottom: 1px solid #ccc;
	display: inline-block;
	font-size: 90%;
}
.results h3 {
	font-weight: normal;
	margin: 0;
	font-size: 1.2em;
}
.results h3 a {
	border: 0;
}
.results .details td {
	margin: 0;
	font-weight: normal;
	border-bottom: 0;
	border-right: 1px solid #eee;
	padding: 0;
	padding-right: 4px;
	padding-left: 4px;
	display: inline-block;
}
.results .details tr {
}
.results td:last-child {
	border-right: 0;
	padding-right: 0;
}
.results td:first-child {
	text-align: left;
	padding-left: 0;
}
.results .details {
	margin: 0;
	border: 0;
	color: #888;
}
.results blockquote {
	background: transparent;
	margin: 0;
	padding: 0;
	border: 0;
	font-style: normal;
	color: #444;
	line-height: 1.2em;
}
.results li {
	border: 0;
	max-width: 820px;
	padding: 1em 0 0.5em 0;
}
#search-form {
	padding-top: 10px;
}
.results ol.tags, .facets ol.tags {
	margin: 0;	
	padding: 0;
	max-height: 10em;
	overflow: auto;
}
.results ol.tags li {
	display: inline-block;
	padding: 0 2px 0 0;
	margin: 0 !important;
	font-size: 100% !important;
}
.complete li button {
	border: 0;
	background: 0;
	color: #0888ab;
	font-size: 80%;
	padding: 0;
}
.results ol.tags li button, .facets ol.tags li button, .complete .tags li button {
	font-size: 90% !important;
	border: 1px solid #ccc;
	background: #eee;
	color: #666;
	padding: 0 5px;
	border-radius: 6px;
}
button {
	cursor: pointer;
}
button.current, .current button {
	cursor: text;
}
.domains {
	list-style: none;
	display: inline;
	margin: 0 0 0 4px;
	padding: 0;
}
.domains li {
	float: left;
	margin: 0;
}
.domains li button, .pages li button {
	background: #eee;
	border: 1px solid #ddd;
	border-bottom: 1px solid #eee;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	color: #666;
	height: 24px;
	padding-bottom: 1px;
	padding-top: 1px;
}
.domains li.current, .pages li {
	background: transparent;
}
.domains li.current button, .pages li.current button {
	background: #f9f9f9;
	color: #555;
	height: 25px;
	border: 1px solid #ccc;
	border-bottom: 0;
}
.members .domain {
	width: 300px !important;
}
.members .details td:last-child {
	width: 300px !important;
}
.pages {
	max-width: 900px;
	font-style: oblique;
	margin-bottom: 4em;
	white-space: nowrap;
	overflow-x: auto;
	overflow-y: visible;
	margin-top: -1px;
	margin-left: 30px;
}
.pages ol {
	list-style: none;
	display: inline;
	margin-left: 4px;
	padding: 0;
}
.pages li {
	display: inline-block;
	margin: 0;
}
.pages li button {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	border-top: 1px solid #ccc;
	position: relative;
	border-bottom: 1px solid #ddd;
	padding: 0 3px;
}
.pages li.current button {
	border-top: 1px solid #f9f9f9;
	border-bottom: 1px solid #ccc;
}
.count p {
	display: inline;
	font-size: 90%;
}
.count span {
	float: left;
	margin-right: 5px;
	line-height: 26px;
}
.info {
	margin-left: 30px;
	font-style: oblique;
	opacity: 0.7;
	margin-top: 1em;
}
.results blockquote:before {
	content: '';
}
input.terms:focus {
  background-color: #FFFFFF;
  border-color: #0FA1CA;
}
.alt-link {
	font-size: x-small;
	vertical-align: super;
}
.citation.details td {
	max-width: 33%;
}
.facets {
	clear: left;
	max-width: 820px;
	border: 0;
	margin: 0;
	margin-left: 20px;
	margin-top: 1em;
}
.facets ol {
	list-style: none;
	margin: 0;
	line-height: 1em;
	max-height: 10em;
	overflow: auto;
}
.facets ol.timeframe {
	max-height: 2.4em;
}
.facets li {
	display: inline-block;
	padding: 0;
	line-height: 1em;
	margin: 0;
	margin-right: 0 !important; /* neeshub */
	font-size: 110%;
	float: none !important;
}
.facets li button, .facets li a {
	font-size: 80% !important;
	border: 0;
	color: #0888ab;
	font-style: oblique;
	background: transparent;
	padding-right: 0;
	padding-left: 2px;
}
.facets li a {
	font-weight: bold;
	background: #ff9 !important;
	color: #333 !important;
	border-radius: 6px;
	padding: 4px !important;
}
.facets li a:hover {
	background: #ff9 !important;
	color: #333 !important;
}
.facets li a span {
	color: #933 !important;
	font-family: monospace;
	position: relative;
	top: -2px;
	padding-left: 6px;
	font-size: 120%;
}
.facets li button:hover {
	background: rgba(0, 0, 0, 0.04);
}
.facets li:after {
	content: ', ';
}
.facets ol.tags li:after, .facets li:last-child:after {
	content: '';
}
.facets .label {
	font-style: oblique;
	text-align: right;
	padding-top: 2px;
	max-width: 110px;
}
.facets .inline.search input {
	border: 1px solid #ccc;
	border-radius: 6px;
	width: 90px;
	color: #555;
	padding-left: 6px;
}
.facets .inline.search {
	position: relative;
	color: #999;
}
.facets .inline.search:after {
	font-family: 'Fontcons';
	content: '\f002';
	position: absolute;
	top: 0;
	right: 6px;
}
.facets select {
	background: transparent;
	border: 0;
	color: #554693;
	font-style: oblique;
	font-size: 80%;
}
.facets td {
	padding-bottom: 2px;
	border-bottom: 1px solid #eee;
}
.facets tr:last-child td {
	border: 0;
}
.throbber {
	margin-top: 2.5em;
}
hr {
	margin-top: 2em;
	border-top: 1px dashed #999;
}
.children {
	max-height: 10em;
	overflow-y: auto;
	font-size: 90%;
	background: #f3f3f3;
	border-radius: 4px;
	font-size: 90%;
	margin: 0.5em 0 0 2em;
	max-height: 10em;
   opacity: 0.8;
	padding: 4px 8px;
}
.children li {
	margin: 0;
	padding: 0 0 0.4em 0;
}
.children h4 {
	margin: 0;
}
a.related {
	font-style: italic;
	font-size: x-small;
	cursor: pointer;
	opacity: 0.7;
}
.throbber.related {
	margin-top: 0;
}
ul.related {
	margin-top: 0;
}
ul.related li {
	padding: 0;
}
.domains .current.subsel button {
	cursor: pointer !important;
}
.domains .current.subsel button:after {
	color: #900;
	content: 'x';
	padding-left: 6px;
	font-weight: bold;
}
