/**
 * Copyright 2005-2015 HUBzero Foundation, LLC.
 * All rights reserved.
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License,
 * version 2 as published by the Free Software Foundation. 
 */

/*

 Standard project layout
--------------------------------------------- */
.project-innerwrap {
	display: table;
	table-layout: fixed;
}
.main-menu {
	padding: 0;
	background: #333;
}
.main-content {
	padding: 30px;
	background: #f9f9f9;
	min-height: 400px;
	position: relative;
}

.main-menu ul.projecttools {
	list-style: none;
	margin: 0;
	padding: 0;
	border-top: 1px solid #222;
}
.main-menu ul.assetlist {
	padding: 0;
	margin: 0;
	border-top: 1px solid #222;
}
.main-menu ul.projecttools li {
	position: relative;
	margin: 0;
	padding: 0;
	border-bottom: 1px solid #222;
}
.main-menu ul.projecttools li a:before {
	color: #ccc;
	font-family: "Fontcons";
	content: attr(data-icon);
}
.main-menu ul.projecttools li a:hover {
	border: none;
	background: rgba(0, 0, 0, 0.35);
	color: #fff;
}
.main-menu ul.projecttools li.active a:before,
#plg-header h3:before {
	color: black;
}
.main-menu ul.projecttools li.assets>span {
	padding-left: 20px;
}
.main-menu ul.projecttools li a,
.main-menu ul.projecttools li.assets>span {
	color: #aaa;
	position: relative;
	display: block;
	padding: 0.75em 2em 0.75em 3.9em;
	border: none;
}
.main-menu ul.projecttools li.active {
	color: #eee;
	font-weight: 500;
}
.main-menu ul.projecttools li.active a {
	background: #f9f9f9;
	color: #222;
}
.main-menu ul.projecttools li.active a span {
	font-weight: bold;
}
.main-menu ul.projecttools li.editing {
	background: #FFFFFF;
	padding-right: 0;
}
.main-menu ul.assetlist {
	background: #2a2a2a;
}
.main-menu ul.projecttools li.pt_title,
ul.projecttools li.pt_title:hover {
	font-weight: bold;
	font-size: 110%;
	background: #e6dac6;
	color: #000000;
	border: none;
}
.main-menu ul.projecttools a:hover,
ul.projecttools a:focus {
	border: none;
	outline: none; 
}

.main-menu ul.jsm li {
	display: none;
}
.main-menu ul.jsm li.option-select {
	padding: 0.5em;
}
.main-menu ul.jsm li.option-select,
.main-menu ul.jsm li.option-select select {
	display: block;
}
.main-menu ul.jsm li.option-select select {
	width: 100%;
}
/* Counts (left-hand menu)
--------------------------------------------- */
.main-menu ul.projecttools li a span.mini {
	background: #555;
	background: rgba(255, 255, 255, 0.2);
	color: #aaa;
	font-size: 0.9em;
	line-height: 1.2;
	padding: 0.2em 0.4em;
	border-radius: 0.125em;
	float: right;
}
.main-menu ul.assetlist li a span.mini {
	margin-right: 6px;
}
.main-menu ul.projecttools li a span.highlight span {
	background: red;
	color: white;
}
/* Right-hand side blocks
--------------------------------------------- */
.sidebox {
	background: #fbfbfb;
	border: 1px solid #cccccc;
	margin-bottom: 3em;
	margin-top: 0;
	padding-bottom: 1em;
}
.sidebox h4 {
	margin: 0;
	padding: 0.2em 0.5em 1em 0.5em;
	color: #333;
	background-color: #ededed;
}
.sidebox ul {
	list-style: none;
	padding: 0 1em 0 1em;
	margin: 0;
	font-size: 85%;
}
.sidebox ul li {
	border-bottom: 1px solid #e2e2e2;
	padding: 0.3em 0;
}
.sidebox ul li:last-child {
	border: none;
}
.sidebox .restype {
	font-size: 100%;
}
.sidebox .published, .sidebox .draft {
	padding: 0;
	background: none;
}
.sidebox ul.tdlists {
	padding: 0 0.5em;
}
.sidebox ul.tdlists li.newcolor {
	padding-right: 0;
}
.sidebox .noitems p {
	margin: 0;
	padding: 0.5em 1em;
	font-size: 85%;
}

@media (min-width: 40em) {
	.project-innerwrap {
		display: table;
		table-layout: fixed;
	}
	.main-menu {
		display: table-cell;
		width: 6em;
		min-width: 6em;
		vertical-align: top;
	}
	.main-content {
		z-index: 555;
		display: table-cell;
		vertical-align: top;
		width: 100%;
	}
	.main-menu ul.jsm li {
		display: block;
	}
	.main-menu ul.jsm li.option-select {
		display: none;
	}
}
@media (min-width: 50em) {
	.main-menu {
		width: 225px;
		min-width: 225px;
	}
}
@media (min-width: 70em) {
	.main-menu {
		width: 285px;
		min-width: 285px;
	}
	.main-menu ul.projecttools li a,
	.main-menu ul.projecttools li.assets>span {
		padding: 0.6em 2em 0.6em 6.5em;
	}
}
