@import url("/core/plugins/groups/collections/assets/css/collections.css");

ul.sub-menu {
	margin: 0px 0px 20px 0px;
}

#page_options {
  margin-left: 20px !important;
}

ul.sub-menu {
  margin: 0;
}

.post .actions a.edit, .post .actions a.delete {
  width: auto;
}

