<?xml version="1.0" encoding="utf-8"?>

<!--
@package        hubzero-cms
@file           administrator/components/com_tools/config.xml
@copyright      Copyright 2005-2011 Purdue University. All rights reserved.
@license        http://www.gnu.org/licenses/lgpl-3.0.html LGPLv3

Copyright 2005-2011 Purdue University. All rights reserved.

This file is part of: The HUBzero(R) Platform for Scientific Collaboration

The HUBzero(R) Platform for Scientific Collaboration (HUBzero) is free
software: you can redistribute it and/or modify it under the terms of
the GNU Lesser General Public License as published by the Free Software
Foundation, either version 3 of the License, or (at your option) any
later version.

HUBzero is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.

HUBzero is a registered trademark of Purdue University.
-->

<config>
	<params>
		<param name="mw_on" type="list" default="0" label="Middleware" description="Indicate whether the component is active or not">
			<option value="0">OFF</option>
			<option value="1">ON</option>
			<option value="2">ON (admin only)</option>
		</param>
		<param name="mw_redirect" type="text" menu="hide" label="Redirect" default="/home" description="The URL to redirect to when middleware is OFF" />
		<param name="mwDBDriver" type="text" menu="hide" label="Middleware DB Driver" default="mysql" description="Middleware DB Driver" />
		<param name="mwDBHost" type="text" menu="hide" label="Middleware DB Host" default="localhost" description="Middleware DB Host" />
		<param name="mwDBPort" type="text" menu="hide" label="Middleware DB Port" default="" description="Middleware DB Port" />
		<param name="mwDBUsername" type="text" menu="hide" label="Middleware DB Username" default="" description="Middleware DB Username" />
		<param name="mwDBPassword" type="text" menu="hide" label="Middleware DB Password" default="" description="Middleware DB Password" />
		<param name="mwDBDatabase" type="text" menu="hide" label="Middleware Database" default="" description="Middleware Database" />
		<param name="mwDBPrefix" type="text" menu="hide" label="Middleware DB Prefix" default="" description="Middleware DB Prefix" />
		<param name="storagehost" type="text" menu="hide" label="Storage host" default="" description="The host the storage indicator should use" />
		<param name="show_storage" type="list" default="1" label="Show storage" description="Select wether to show the storage meter or not.">
			<option value="1">Yes</option>
			<option value="0">No</option>
		</param>
	</params>
</config>
