/*---------------------------------------------------------------
	Intro Page
---------------------------------------------------------------*/
/* Flaxible columns */
	#content .three,
	#content .four {
		border-top: 1px solid #e0e0d7;
		}
	#content .firstset .four, 
	#content .firstset .three {
		border: none;
		margin: 0;
		}
	#content .first h2 { 
		font-weight: normal;
		margin: 0;
		padding: 0.5em 0 0 0;
		line-height: 1em;
		border: none;
		border-top: 2px solid #e0e0d7;
		}	
	#content .columns h3 { 
		/*color: #000; */
		margin-top: 1em;
		padding-top: 0em;
		border: none;
		text-transform: uppercase;
		}
	#content .columns h3 a { 
		color: #000; 
		border-bottom: none;
		}
	#content ul {
		list-style: none;
		margin-left: 0;
		}
	#content .four {
		margin-bottom: 2em;
		}
	#content .firstset .four {
		margin-bottom: 0;
		}
	#content .four .three {
		margin-top: -1px;
		margin-bottom: 2em;
		}
	.learnmore span {
		display: none;
		}
	
	
	
	.contentheading {
		border-bottom: 1px solid #E0E0D7;
		}
	table.contentpaneopen td {
		padding:5px 0;
		}
	.firstset {
		border-bottom:1px solid #E0E0D7;
		}
	.frontpage .contentheading,
	.frontpage .firstset {
		border-bottom: none;
		}
	#content .lastset div {
		border:none;
		}
	
/* Banner area */
	#home-splash { 
		margin: 0;
		padding: 5px 45px 0 45px;
		min-height: 230px;
		height: 240px;
		border-top: 5px solid #1e1e1e;
		border-bottom: 5px solid #1e1e1e;
		background: #444 url("../images/layout/trail_bg.gif");
		}
	#features {
		margin: 0;
		padding: 0;
		width: 600px;
		height: 230px;
		float: left;
		color: #aaa;
		border: none;
		}
	#features a,
	#features img {
		border: none;
		}
	#welcome {
		color: #999;
		margin: 0 0 0 600px;
		padding: 0 0 0 15px;
		height: 230px;
		}
	#welcome h2,
	#welcome h3 { 
		border: none;
		display: block;
		font-weight: normal;
		color: #A87C58;
		text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.7);
		font-size: 22px;
		line-height: 30px;
		margin: 15px 0 15px 0;
		}
	#welcome p {
		color:#aeaeae;
		text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.6);
		line-height:21px;
		font-size:12px;
		}