/**
 * Copyright 2005-2009 by Purdue Research Foundation, West Lafayette, IN 47906.
 * All rights reserved.
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License,
 * version 2 as published by the Free Software Foundation. 
 */

/*---------------------------------------------------------------
	'Take a tour' pages 
---------------------------------------------------------------*/
	
	 #howtocontribute { 
		margin: 0;
		padding: 0;	
		width: 100%;		
		}
		
	 #devided td h3 { 
		margin: 0.5em 0 0.5em 0;
		padding: 0;	
		color:#000;		
		}
	 .examples {
	 	border-top: 1px solid #303030;
	 }
	 #howtocontribute table {
		margin: 0;
		padding: 0;
		border-collapse: collapse;width: 100%;
		border: none;
		}
	 #howtocontribute td {
	 	border: none;
		vertical-align:top;
		width:50%;
	 	}
	 #howtocontribute td p {
	 	margin: 0.5em 0 0.5em 0;
		padding: 0;
		color:#000;
	 	}
	 #howtocontribute td ul {
	 	margin: 0.5em 0 0.5em 1.5em;
		padding: 0;
		color:#000;
		line-height: 1.3em;
	 	}
	 #howtocontribute td a, a:visited {
	 	border-bottom: 1px solid #000;
		color: #000; 
	 }
	 #howtocontribute td a:hover {
	 	border-bottom: 1px solid #00f;
		color: #00f; 
	 }
			
	 #howtocontribute .num1 {	
	 	padding: 10px 5px 10px 40px;
		background: #444 url("../images/demopage/num1.gif") 5px 5px no-repeat;
		color: #fff;
		border-top: 1px solid #ccc;
		}
	 #howtocontribute .num2 {	
	 	padding: 10px 5px 10px 40px;
		background: #444 url("../images/demopage/num2.gif") 5px 5px no-repeat;
		color: #fff;
		border-top: 1px solid #ccc;
		}
	 #howtocontribute .num3 {	
	 	padding: 10px 5px 10px 40px;
		background: #444 url("../images/demopage/num3.gif") 5px 5px no-repeat;
		color: #fff;
		border-top: 1px solid #ccc;		
		}
	 #howtocontribute .num4 {	
	 	padding: 10px 5px 10px 40px;
		background: #444 url("../images/demopage/num4.gif") 5px 5px no-repeat;
		color: #fff;
		border-top: 1px solid #ccc;	
		}
	 #howtocontribute .num5 {	
	 	padding: 10px 5px 10px 40px;
		background: #444 url("../images/demopage/num5.gif") 5px 5px no-repeat;
		color: #fff;
		border-top: 1px solid #ccc;	
		}
	 #howtocontribute .instructions {	
		display:block;
		height:408px;
		overflow: auto;
		}
	#howtocontribute ul.tips {
	    /*list-style: none; */
		margin:1em; 
		padding: 0; }
	/*#howtocontribute   ul.tips li { background: url("../images/demopage/arrow.gif") 5px 0 no-repeat; padding: 0 0 0 25px; }*/
	 #howtocontribute .startcontribution {	
	 	padding: 10px 5px 10px 40px;
		background: #000 url("../images/demopage/start.gif") 5px 5px no-repeat;
		color: #fff;
		height:20px;
		border-top: 1px solid #ccc;
		border-bottom: 1px solid #000;

		}
	 #howtocontribute .startcontribution h4 {	
	 	margin:0;
		padding:0;
		color: #fff;
		}
	 #howtocontribute .startcontribution a, a:visited {	
		color:  #bb0003; 
		border-bottom: 1px solid  #bb0003;
		}
	 #howtocontribute .startcontribution a:hover {	
		color:  #53b0e7;
		border-bottom: 1px solid  #53b0e7;
		}
	
	 #howtocontribute p { padding: 0 1em 1em 1.5em;  }
	 #howtocontribute .twocolumn {
		padding: 0;
		background-color: #303030;
		color: #ccc;	
		margin: 1em 0 1em 0;
		border: none;
		float: left;
		width: 35%;		
		text-align: left;
		
		}
	 #howtocontribute .left {
		border-right: 1px solid #ccc;
		height:450px;
		background: #a6a6a6;
		width:63%;
		}
	 #howtocontribute .right {
		margin-left: -1px;		
		border-left: 1px solid #ccc;
		background: #303030;
		height:450px;
		overflow:hidden;
		
		}
	 #howtocontribute h3 { 
		margin: 0 0 0.5em 0;
		padding: 1em 0 0 1em;
		color:#fff;
		text-shadow: none;
		}
	 #howtocontribute p { 
		margin: 0em;
		
		}
	 #howtocontribute span { 
		color:  #F16906;
		}
	 #howtocontribute .spacer {
		display: block;
		height:8px;
	    }
	 .muted {
		color:  #c3c3c3;
		padding: 0;
		line-height: 1.3em;
		margin: 0;
	    }
	 ul.muted {
		color:  #cebebe;
		padding: 0;
		line-height: 1.2em;
		margin: 0 1em 0 3em;
	    }
	
	 #howtocontribute .top_section_presentations, .top_section_tools, .top_section_publications,
	 .top_section_downloads, .top_section_animations, .top_section_teachingmat {
		color:  #FFF;
		overflow:hidden;
		margin:0;
		border-bottom: 1px solid #ccc;
		background: #670b00 url("../images/demopage/top_howtocontribute.jpg") 0 0 no-repeat;
		/*background: #670b00 0 0 no-repeat;*/
		height:450px;
	    }
	 #howtocontribute .top_section_presentations .shift, .top_section_tools .shift, .top_section_publications .shift,
	 .top_section_downloads .shift, .top_section_animations .shift, .top_section_teachingmat .shift {
		margin-left: 20em;
		width: 60%;
		overflow:hidden;
	    }
	
	 #howtocontribute .top_section_presentations {
		/*background: #444 url("../images/demopage/top_presentations.jpg") 0 0 no-repeat;*/
		/*border-bottom: 2px solid #000;*/
		
	 	}
	 #howtocontribute .top_section_tools {
		/*background: #386b40 url("../images/demopage/top_tools.jpg") 0 0 no-repeat;*/
	 	}
	 #howtocontribute .top_section_publications {
		background: #670b00 url("../images/demopage/top_publications.jpg") 0 0 no-repeat;
	 	}
	 #howtocontribute .top_section_downloads {
		background: #670b00 url("../images/demopage/top_downloads.jpg") 0 0 no-repeat;
	 	}
	 #howtocontribute .top_section_animations {
		background: #670b00  url("../images/demopage/top_animations.jpg") 0 0 no-repeat;
	 	}
	 #howtocontribute .top_section_teachingmat {
		background: #670b00  url("../images/demopage/top_teachingmat.jpg") 0 0 no-repeat;
	 	}
	
	/*#howtocontribute ul { 
		margin: 0 1em 0 3em;
		padding: 0;
		color:#FFFFFF;
		line-height: 1.3em;
		}
		
	 #howtocontribute a, a:visited {
		color:#94cced;
		border-bottom: 1px solid  #94cced;
		}
	 #howtocontribute a:hover {
		color:#53b0e7;
		border-bottom: 1px solid  #53b0e7;
		}*/
	 
	 #howtocontribute .extra_info  .popcontent a { float: none; margin: 0; }
	 
	 #howtocontribute .extra_info  {
		display:inline;
		margin: 0.2em 0 0 0.3em;
		padding:0;
		position:absolute;
		}
	 #howtocontribute .extra_info  a {
		
		margin: 0;
		border: none;
	
		}
	 #howtocontribute .extra_info	.show .popcontent { left: -225px; }
	 
	 #howtocontribute .extra_info .popcontent .bottom {
		margin: 0;
		padding: 0;
		display: block;
		height: 33px;
		width: 342px;
		background: url("../images/demopage/balloon_bot_rotated.png") bottom left no-repeat;
		}
	
