/**
 * Copyright 2005-2009 by Purdue Research Foundation, West Lafayette, IN 47906.
 * All rights reserved.
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License,
 * version 2 as published by the Free Software Foundation. 
 */

/*

	-- -- -- -- -- -- --
	nanohub.org CSS
	IE 6 Windows hacks
	-- -- -- -- -- -- --

*/

/* Misc. */
	table {
		width: 98%;
		}
	#help-container fieldset.reporter {
		width: 42%;
		}
	#help-container .submit {
		margin: 0.5em 0 0 0;
		}
/* Forms */
	#hubForm fieldset {
		position: relative;
		}
	#hubForm .group {
		padding: 1.5em 0 1.5em 0;
		}
	/* The following two rules fix some odd behavior with content shifting when mousing over a link in a fieldset */
	#hubForm .hint {
		border: 1px solid #F5F7F2;
		}
	#hubForm .hint a {
		border: 1px solid #F5F7F2;
		margin: 0;
		padding: 0;
		}
/* Unset some PNG images IE 6 can't display correctly */
	#header h1,
	#wrap,
	#footer,
	#trail {
		background-image: none;
		}
/* Add the filter so the PNG logo will look right */
	#header h1 a {
		background: none;
		filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/templates/hubbasic/images/logos/yourhub.png', sizingMethod='crop');
		}
/* Toolbar */
	#toolbar {
		background: url("../images/toolbar-bg-loggedout.gif") 0 0 no-repeat;
		}
	#toolbar li#username { 
		float: none;
		margin: 0;
		}
	#toolbar li#login a, 
	#toolbar li#logout a { 
		background: url("../images/toolbar-button.gif") 0 0 no-repeat;
		}
	#toolbar li#register a,
	#toolbar li#myaccount a { 
		background: url("../images/toolbar-button.gif") right top no-repeat;
		}
/* Navigation */
	#nav li {
		white-space: nowrap;
		width: 1%;
		}
	#nav a {
		display: inline-block;
		}
/* Sub-menu (tabs) */
	#sub-menu li a,
	#sub-menu li a:hover,
	#sub-menu li.active a {
		width: 1%;
		white-space: nowrap;
		}
	#sub-menu li.active a:hover {
		background: url("../images/tabs.gif") right -76px no-repeat;
		}
	#sub-menu li.active a:hover span {
		background: url("../images/tabs.gif") 0 -76px no-repeat;
		}
	#sub-menu {
		margin-bottom: 0px;
		}
/* Content */
	#content {
		height: 250px;
		}
	#content-header-extra {
		right: 15px;
		}
/* Footer */
	#bottom-nav,
	#footer {
		background-image: none;
		}
	#frontpage #content .firstset .four,
	#bottom-nav .four {
		width: 24.9%;
		padding: 0;
		}
	#frontpage #content .firstset .second {
		width: 48.5%;
		}
	#frontpage #content .lastset .three {
		width: 31.5%;
		}
	#features-wrap {
		margin-right: -3px;
		}
	#bottom-nav h3 {
		margin-left: 1em;
		}
	#bottom-nav ul {
		margin-left: 1em;
		margin-right: 1em;
		}
	#bottom-nav ul li {
		margin: 0;
		padding: 0;
		height: 1em;
		}
	#bottom-nav a {
		height: 1em;
		}
/* Modal */
	#sbox-window {
		top: 50% !important;
		left: 50% !important;
		}
/* Misc */
	.category-header small {
		right: 300px;
		}
	.results li.resource {
		width: auto;
		}
	.results .metadata { 
		position: relative;
		}
/* News 
	.news h3 {
		margin-bottom: -0.5em;
		}
	.news .date {
		margin-top: -1.5em;
		height: 4em;
		overflow: hidden;
		}*/
/* Overlay */
	#overlay {
		position: absolute;
		background-color: #000;
		filter: alpha(opacity=70);
		height: 100%;
		width: 100%;
		}
/* Applesearch */
	#searchform {
		width: 200px;
		padding-bottom: 3px;
		right: 20px;
		}
	#searchform div {
		width: auto;
		}
	#searchform fieldset {
		background: none;
		width: 195px;
		filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/templates/zepar/images/applesearch/srch_l.png', sizingMethod='crop');
		}
	#searchform input {
		width: 160px;
		}
	#endcap {
		background: none;
		filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/templates/zepar/images/applesearch/srch_r.png', sizingMethod='crop');
		}
	#endcap.close {
		background: none;
		filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/templates/zepar/images/applesearch/srch_r_x.png', sizingMethod='crop');
		}

/*---------------------------------------------------------------
	Components
---------------------------------------------------------------*/		

/* com_support */
	.com_support ol.comments li {
	    margin: 0 !important;
	    padding: 0 0 2em 125px;
	    border-top: 1px solid #efefef;
		}
	.com_support ol.comments li li {
		border: none;
		}
	.com_support ol.comments div.cwrap { 
		height: 6em;
		}
	.com_support ol.comments dl.comment-details {
	    margin: 1em 20px 1.7em -62px !important;
		}	
	.com_support ol.comments li.private dl.comment-details {
		position: relative;
		}
	.com_support ol.comments li.author dl.comment-details {
		position: relative;
		}
	.com_support .subject #hubForm {
		float: left;
		}
	.com_support .subject #hubForm,
	.com_support .subject #hubForm fieldset,
	.com_support .subject #hubForm .group {
		height: 1%;
		}
/* com_myhub */
	.modcontrols {
		margin: -2em 0 1em 0;
		padding: 0;
		position:inherit;
		}
	#cpnl li input {
		margin-top: -0.4em;
		}
	.edimodl {
		line-height: 1em;
		}
	.delmodl {
		display: inline-block;
		}
	table .sortcolumn {
		width: 32%;
		}
	ul.sortable li .sessionlist li {
		padding: 0.6em;
		}
	ul.sortable li .sessionlist li a {
		position: relative;
		}
	ul.sortable li .sessionlist ul {
		position: relative;
		}
/* com_topics */
	.com_topics ol.comments div.cwrap { 
		height: 6em;
		}
	.com_topics #useroptions {
		margin-bottom: 0;
		padding-bottom: 0;
		}
	.com_topics .aside p input {
		width: 13em;
		}
	.com_topics #revisionhistory {
		clear: none;
		float:left;
		}
	.com_topics .article-toc ul {
		height: 300px;
		list-style: none;
		}
	.com_topics .article-toc ul ul {
		height: auto;
		}
/* com_groups */
	.com_groups #overview-section,
	.com_groups #resources-section,
	.com_groups #wiki-section,
	.com_groups #forum-section {
		border-color: #fff;
		}
	.com_groups ol.comments div.cwrap { 
		height: 6em;
		}
	.com_groups #useroptions {
		margin-bottom: 0;
		padding-bottom: 0;
		}
	.com_groups .aside p input {
		width: 13em;
		}
	.com_groups #revisionhistory {
		clear: none;
		float:left;
		}
	.com_groups .article-toc ul {
		height: 300px;
		list-style: none;
		}
	.com_groups .article-toc ul ul {
		height: auto;
		}
/* com_resources */
	.com_resources #about-section,
	.com_resources #citations-section,
	.com_resources #reviews-section,
	.com_resources #versions-section,
	.com_resources #questions-section,
	.com_resources #usage-section {
		border-color: #fff;
		}
	.com_resources .resource td p {
		margin: 0 0 1em 0;
		}
	.com_resources .supportingdocs ul li {
		position: static;
		}
	.com_resources .supportingdocs .help {
		position: static; 
		top: 0; 
		right: 0;
		float: right;
		margin-top: -1.5em;
		}
	.rankinfo {
		position: static;
		}
	.rankinfo dt {
		position: static;
		}
	.rankinfo dt span { 
		position: static;
		float: left;
		}
	.rankinfo dd {
		display: none;
		}
	.rankinfo.active dd {
		left: 0px;
		}
	.rankinfo dd p {
		background: url("../../images/ranking_popup.gif") left top no-repeat;
		}
	.rankinfo dd div {
		background: url("../../images/ranking_popup.gif") left bottom no-repeat;
		}
	.related-resources td.ranking span { 
		margin: 3px 0 0 10px;
		}
	.com_resources ol.comments li {
		clear: left;
		margin: 0 !important;
		padding: 0 0 1em 0px;
		border-top: 1px solid #efefef;
		}
	.com_resources ol.comments dl.comment-details {
		margin: 1em 20px 2em 0px !important;
		}
/* com_events */
	.com_events ul.events li {
		background-image: none;
		border-top: 1px solid #ddd;
		}
	.com_events .ecalendar .today {
		width: 13%;
		}
	.com_events .ecalendar caption a:hover,
	.com_events .datenav a:hover {
		background-position: 0 -15px;
		}
	.com_events ul.events div.ewrap { 
		height: 6em;
		}
	.ecalendar caption a.prv,
	.datenav a.prv {
		background-image: url("../html/com_events/calendar-previous.png");
		}
/* com_members */
	.com_members #profile-section h3,
	.com_members #contributions-section h3,
	.com_members #usage-section h3,
	.com_members #groups-section h3,
	.com_members #points-section h3 {
		display: none;
		}
/* com_xpolls */
	.pollresults {
		width: 98%;
		}
/* com_kb */
	.com_kb .withleft .threecolumn {
		width: 30%;
		}
/* com_contribute */
	.com_contribute #steps li#trash {
		float: right;
		margin: 0 26% 0 0;
		margin-top: -1.2em;
		}
/* com_mw */
	#app-options .app-close a { 
		display: inline-block;
		}
	#diskusage #du-amount {
		float: none;
		}
/* Password strength checker */
	#meter-container {
		position: static; /* IE is dumb */
		}
	#meter-container #passwd-meter { 
		position: static;
		}
	#meter-container #passwd-meter span {
		position: static;
		}
