/**
 * Copyright 2005-2009 by Purdue Research Foundation, West Lafayette, IN 47906.
 * All rights reserved.
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License,
 * version 2 as published by the Free Software Foundation. 
 */

body {
		margin: 2em;
		padding: 0;
		font: 8pt/16pt "Lucida Grande", "Trebuchet MS", Tahoma, sans-serif;
		text-align: center;
		height: 100%;
		overflow: auto;
		background: #fff;
		}

	a {
		font-weight: normal;
		text-decoration: none;
		border-bottom: 1px solid #5681bb;
		color: #5681bb;
		}
	a:hover {
		color: #fff;
		background-color: #f30; 
		}

/*---------------------------------------------------------------
	Tables
---------------------------------------------------------------*/
	table {
		margin: 0;
		margin-bottom: 2em;
		margin-top: 1em;
		border-collapse: collapse;
		width: 100%;
		padding: 0;
		font: 8pt/16pt "Lucida Grande", "Trebuchet MS", Tahoma, sans-serif;
		}
	caption {
		padding: 0.4em 1.4em;
		text-align: left;
		color: #000;
		}
	thead {
		background: transparent;
		}
	thead th {
		padding: 0.4em 1.2em;
		border-top: 1px solid #dfdfdf;
		text-align: left;
		background: transparent;
		}
	tbody td,
	tfoot td {
		padding: 0.4em 1.4em;
		border-bottom: 1px solid #eee;
		text-align: left;
		}
	tbody th {
		text-align: left;
		vertical-align: top;
		padding: 0.4em 1.4em;
		border-bottom: 1px solid #eee;
		}

	.aLeft { text-align: left; }
	.aCenter { text-align: center; }
	.aRight { text-align: right; }
	
	.resource tbody td,
	.resource tfoot td,
	.resource tbody th {
		border-top: 1px solid #E5E5E5;
		border-bottom: none;
		padding: 0.4em 1.2em;
		}
	.resource tbody th { white-space:nowrap; }
	.resource tbody td p:first-child { margin-top: 0; }
	.resource tbody th a { display: none; }

/*---------------------------------------------------------------
	Header
---------------------------------------------------------------*/
	#header { 
		font: 8pt/13pt "Lucida Grande", "Trebuchet MS", Tahoma, sans-serif;
		color: #999;
		margin: 0 0 3em 0;
		border-top: 1px #aaa dashed;
		border-bottom: 1px #aaa dashed;
		}
	#header { 
		text-align: center;
		}
	#header h1 {
		margin: 0.7em;
		padding: 0;
		text-align: center;
		}
	#header h1 a { 
		border: none;
		color: #999;
		display: inline;
		}

/*---------------------------------------------------------------
	Content
---------------------------------------------------------------*/
	#content h1 { font-size: 10pt; text-align: center; border-bottom: 1px #aaa dashed; padding: 0.5em; margin: -2em 0 2em 0;}
	#content a:link:after, 
	#content a:visited:after {
		content: " (" attr(href) ") ";
		font-size: 90%;
		}
	#content a[href^="/"]:after {
		content: " (http://www.nanohub.org" attr(href) ") ";
		}
	#content ol.tags a:link:after, 
	#content ol.tags a:visited:after {
		content: "";
		font-size: 90%;
		}
	#content ol.tags a[href^="/"]:after {
		content: "";
		}
	#wrap {
		margin: 0 auto;
		text-align: left;
		}

/*---------------------------------------------------------------
	Tagcloud
---------------------------------------------------------------*/
	ol.tags { 
		margin: 0;
		padding: 0;
		}
	ol.tags li {
		margin: 0;
		padding: 0;
		display: inline;
		list-style: none;
		background: none;
		width: auto;
		height: auto;
		}
	ol.tags li a { 
		margin: 0 4px 5px 0;
		padding: 3px 5px;
		line-height: 1.8em;
		background: #FFF6D3;
		border: 1px solid #DFD5AF;
		white-space:nowrap;
		width: auto;
		height: auto;
		}
	ol.tags li a:hover {
		text-decoration: none;
		background: #F0EBD6;
		}

	.extras .type,
	.extras .about,
	.extras .popcontent { display: none; }
		
/*---------------------------------------------------------------
	Footer
---------------------------------------------------------------*/
	#footer { 
		margin: 0;
		margin-top: 2.7em;
		border-top: 1px dashed #aaa;
		}
	#footer ul {
		margin: 0;
		padding: 1em 0 0 0;
		overflow: hidden;
		text-align: right;
		list-style: none;
		color: #bba;
		}
	#footer li {
		display: inline;
		margin-left: 2em;
		}
	#footer .policy {
		position: absolute;
		margin: 0;
		left: 3em;
		text-align: left;
		}

	#column-right { margin-bottom: 2em; }

	#tab,
	#toolbar,
	#help-pane,
	form, 
	#searchform,
	#nav, 
	#column-left ul,
	.stats a,
	.starsz,
	#footer .policy { display: none; }
	