/**
 * Copyright 2005-2009 by Purdue Research Foundation, West Lafayette, IN 47906.
 * All rights reserved.
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License,
 * version 2 as published by the Free Software Foundation. 
 */

div#tagbrowser {
		text-align: left; 
		position: relative; 
		height: 373px; 
		margin-bottom: 15px; 
		display: none;
		}
	#tbh2 {
		display: none;
		}

	#level-1, 
	#level-2, 
	#level-3 {
		background-color: transparent;
		margin: 0;
		padding: 0;
		width: 33%;
		height: 350px;
		float: left;
		}
	
	div.ie {
		background: #fff url("../images/tagbrowser/backgroundie.jpg") no-repeat left top; 
		height: 373px; 
		border: 1px solid #c5c5c5;
		}
	#tagbrowser h3 {
		padding-top: 0;
		margin-top: 0;
		color: #999;
		font-size: 1.4em;
		font-weight: bold;
		text-shadow:none;
		}
/*\*/
	#tagbrowser ul {
		border: 1px solid #C5C5C5; 
		height: 350px; 
		overflow: auto; 
		margin: 0; 
		padding: 0;
		background: #fff url("../images/tagbrowser/blankscrollwinxp.gif") top right no-repeat;
		}
	html>body #tagbrowser ul {
		background: #fff url("../images/tagbrowser/blankscrollsafari.gif") top right no-repeat;
		}
	html>body #tagbrowser #level-3 ul {
		background-image: none;
		}
	#tagbrowser li#selecta {
		height: 200px; 
		text-align: center; 
		color: #c8c8c8; 
		font-size: 30px; 
		font-weight: bold; 
		margin: 140px auto 0 0px; 
		line-height: 1em;
		}

	#level-1 ul {
		border-right: 1px solid #c5c5c5;
		}
	#level-2 ul {
		border-left: 0; 
		border-right: 1px solid #c5c5c5;
		}
	#level-3 ul {
		background-image: none; 
		border-left: 0; 
		overflow: hidden;
		}

	#tagbrowser li {
		margin: 0px; 
		padding:0px;
		background-image: none;
		}
	#level-2 ul li {
		/*margin-right: 15px;*/
		}
	#level-3 ul li {
		padding: 10px;
		background-image: none;
		}
	#level-1 ul li.ie a {
		display: inline; 
		background: none; 
		padding: 0; 
		width: 10px; 
		text-decoration: underline; 
		color: blue;
		}
	#level-1 ul li.ie a:hover {
		color: blue;
		}
	#tagbrowser #level-1 ul a, 
	#tagbrowser #level-2 ul a {
		background: #fff url("../images/tagbrowser/arrowoff.gif") right 50% no-repeat; 
		display: block; 
		padding: 2px 12px 2px 2px; 
		margin: 0; 
		text-decoration: none; 
		border: none;
		color: #333;
		}
	#tagbrowser #level-1 ul a.open, 
	#tagbrowser #level-2 ul a.open {
		background: #D0D0D0 url("../images/tagbrowser/arrowon.gif") right 50% no-repeat; 
		}
	#tagbrowser #level-1 ul a.hi, 
	#tagbrowser #level-2 ul a.hi {
		background: #3875D7 url("../images/tagbrowser/arrowhi.gif") right 50% no-repeat; 
		color: #fff;
		}
	#tagbrowser #level-1 ul a:hover, 
	#tagbrowser #level-2 ul a:hover {
		background: #3875D7 url("../images/tagbrowser/arrowhi.gif") right 50% no-repeat; 
		color: #fff;
		}
	#level-3 h4, 
	#level-3 h5 {
		font-size: 13px; 
		margin: 0 0 3px 0; 
		border: 0; 
		font-weight: normal; 
		line-height: 1em;
		}
	#level-3 h4 {
		color: #a1a5a9;
		}
	#level-3 h5 {
		color: #39AA44; 
		margin-bottom: 10px;
		}
	#tagbrowser a.more {
		text-decoration: none; 
		text-align: center; 
		padding-top: 0px; 
		color: #000;
		}
/* */
#tagbrowser div.ie p {margin: 150px 100px; font-size: 18px; font-weight: bold;}
