/**
 * Copyright 2005-2009 by Purdue Research Foundation, West Lafayette, IN 47906.
 * All rights reserved.
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License,
 * version 2 as published by the Free Software Foundation. 
 */

/*

	-- -- -- -- -- -- --
	com_whois CSS
	-- -- -- -- -- -- --

*/

/* Data tables */
	.com_whois table {
		border-collapse: collapse;
		margin: 1em 0 2.5em 0;
		padding: 0;
		border-top: 2px solid #ccc;
		border-bottom: 2px solid #eee;
		font-size: 90%;
		}
	.com_whois th {
		font-weight: bold;
		}
	.com_whois caption {
		text-align: left;
		margin-bottom: 1em;
		padding-bottom: 0;
		}
	.com_whois thead {
		border-top: none;
		border-bottom: 2px solid #ccc;
		}
	.com_whois thead th,
	.com_whois thead td { 
		padding: 0.5em 1em;
		vertical-align: top;
		border-top: none;
		}
	.com_whois .group {
		background-image: none;
		}
	.com_whois tbody th,
	.com_whois tbody td { 
		padding: 0.5em 1em 0.5em 1em;
		}
	.com_whois tbody th {
		text-align: left;
		}
	.com_whois tbody td {
		text-align: left;
		}
	.com_whois .textual-data {
		text-align: left;
		}
	.com_whois .numerical-data {
		text-align: right;
		}
	.com_whois .odd {
		background-color: #f6f6f1;
		}
	.com_whois .odd .highlight {
		background-color: #e1eae8;
		}
	.com_whois .odd .group {
		background-color: #eeeee9;
		background-image: none;
		}
	.com_whois .odd .increase {
		background-color: #e1eddc;
		}
	.com_whois .odd .decrease {
		background-color: #ede2dc;
		}
	.com_whois .even {
		}
	.com_whois .even .highlight {
		background-color: #edf3f1;
		}
	.com_whois .even .group {
		background-color: #f7f7f7;
		background-image: none;
		}
	.com_whois .even .increase {
		background-color: #e9f5e8;
		}
	.com_whois .even .decrease {
		background-color: #f5eae8;
		}
	.com_whois .summary {
		background-color: #edf3f1;
		border-top: 2px solid #ccc;
		}
	.com_whois .summary .highlight {
		background-color: #d1dedc;
		}
	.com_whois .summary .group {
		background-color: #e1eae8;
		background-image: none;
		}
	.com_whois .summary .increase {
		background-color: #dce6d3;
		}
	.com_whois .summary .decrease {
		background-color: #e8dbd3;
		}