/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

h1, h2, h3, h4 {
	font-weight: normal;
}

html,
button,
input,
select,
textarea {
	color: #222;
}

html {
	font-size: 1em;
	line-height: 1.4;
	background: #f9f9f9 url(../images/body-bg.png);
}

a {
	color: #f5a81c;
	text-decoration: none;
	position: relative;
}
a:after {
	content: '';
	height: 1px;
	width: 100%;
	display: block;
	position: absolute;
	border-bottom: 1px dotted #f5a81c;
	bottom: -2px;
	left: 0;
}
a:hover:after {
	display: none;
}

::-moz-selection {
	background: #b3d4fc;
	text-shadow: none;
}

::selection {
	background: #b3d4fc;
	text-shadow: none;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

audio,
canvas,
img,
video {
	vertical-align: middle;
}

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

textarea {
	resize: vertical;
}

.browsehappy {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}

header h1 {
	-webkit-animation: show-h1 2.1s;
	-moz-animation:	show-h1 2.1s;
	-o-animation:	  show-h1 2.1s;
	animation:		 show-h1 2.1s;
}

@-webkit-keyframes show-h1 {
	0%, 40% { -webkit-transform: translateY(-10px); opacity: 0 }
	100% { -webkit-transform: translateY(0px); opacity: 1; -webkit-transition-timing-function: ease-in-out}
}
@-moz-keyframes show-h1 {
	0%, 40% { -moz-transform: translateY(-10px); opacity: 0 }
	100% { -moz-transform: translateY(0px); opacity: 1; -moz-transition-timing-function: ease-in-out}
}
@-o-keyframes show-h1 {
	0%, 40% { -o-transform: translateY(-10px); opacity: 0 }
	100% { -o-transform: translateY(0px); opacity: 1; -o-transition-timing-function: ease-in-out}
}
@keyframes show-h1 {
	0%, 40% { transform:translateY(-10px); opacity: 0 }
	100%{ transform:translateY(0px); opacity: 1; transition-timing-function: ease-in-out }
}

header h2 {
	line-height: 1em;
	-webkit-animation: show-h2 3.1s;
	   -moz-animation: show-h2 3.1s;
	     -o-animation: show-h2 3.1s;
	        animation: show-h2 3.1s;
}

@-webkit-keyframes show-h2 {
	0%, 40% { -webkit-transform: translateY(30px); opacity: 0 }
	100% { -webkit-transform: translateY(0px); opacity: 1; -webkit-transition-timing-function: ease-in-out}
}
@-moz-keyframes show-h2 {
	0%, 40% { -moz-transform: translateY(30px); opacity: 0 }
	100% { -moz-transform: translateY(0px); opacity: 1; -moz-transition-timing-function: ease-in-out}
}
@-o-keyframes show-h2 {
	0%, 40% { -o-transform: translateY(30px); opacity: 0 }
	100% { -o-transform: translateY(0px); opacity: 1; -o-transition-timing-function: ease-in-out}
}
@keyframes show-h2 {
	0%, 40% { transform:translateY(30px); opacity: 0 }
	100%{ transform:translateY(0px); opacity: 1; transition-timing-function: ease-in-out }
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.wrap {
	position: relative;
}

.logos {
	position: absolute;
	top: 40px;
	width: 100%;
	box-sizing: border-box;
	padding: 0 30px;
	z-index: 100;
}
.logos .inner {
	max-width: 1800px;
	margin: 0 auto;
	position: relative;
}
.logos #hubzero {
	position: absolute;
	top: -15px;
	left: 0;
	width: 150px;
}
.logos #amazon {
	position: absolute;
	top: 0;
	right: 0;
	width: 100px;
}

header {
	background: url(../images/clouds.png) bottom repeat-x;
	position: relative;
	overflow: hidden;
}

header:after {
	content: '';
	position: absolute;
	display: block;
	height: 110px;
	width: 100%;
	background: url(../images/clouds-bottom.png) center no-repeat;
	background-size: auto 110px;
	bottom: 0;
}

header .inner {
	max-width: 1400px;
	margin: 0 auto;
	padding: 80px 30px 0;
	text-align: center;
	position: relative;
}

header h1 {
	font-family: 'latolight',Verdana, Geneva, sans-serif;
	font-size: 2em;
	margin: 1em auto 2em;
	line-height: 1.2em;
	max-width: 1400px;
}

header h2 {
	font-family: 'latolight',Verdana, Geneva, sans-serif;
	margin: 0;
	padding: 0 0 30px 0;
}

header .screen {
	background: url(../images/screen.png) center;
	height: 702px;
	width: 657px;
	margin: 0 auto;
}

header .displays {
	position: relative;
}

header .display {
	max-width: 50%;
	position: relative;
	z-index: 5;
}

header .web {
	max-width: 50%;
	position: absolute;
	top: 20%;
	left: 0;
	z-index: 1;
	-webkit-animation: show-display 1s;
	   -moz-animation: show-display 1s;
	     -o-animation: show-display 1s;
	        animation: show-display 1s;
}

header .tool {
	max-width: 50%;
	position: absolute;
	top: 23%;
	right: 0;
	z-index: 1;
	-webkit-animation: show-display 1s;
	   -moz-animation: show-display 1s;
	     -o-animation: show-display 1s;
	        animation: show-display 1s;
}

@-webkit-keyframes show-display {
	0%, 10% { opacity: 0 }
	100% { opacity: 1; -webkit-transition-timing-function: ease-in-out}
}
@-moz-keyframes show-display {
	0%, 10% { opacity: 0 }
	100% { opacity: 1; -moz-transition-timing-function: ease-in-out}
}
@-o-keyframes show-display {
	0%, 10% { opacity: 0 }
	100% { opacity: 1; -o-transition-timing-function: ease-in-out}
}
@keyframes show-display {
	0%, 10% { opacity: 0 }
	100%{ opacity: 1; transition-timing-function: ease-in-out }
}

.content {
	background: #fff;
	font-family: 'latolight',Verdana, Geneva, sans-serif;
	overflow: hidden;
	font-size: 1.1em;
}

.content .inner {
	max-width: 1000px;
	margin: 0 auto;
	color: #605d62;
}

.intro {
	width: 75%;
	margin: 0 auto;
	padding: 1em 0;
	text-align: center;
	font-size: 1.2em;
}

.fun {
	width: 75%;
	margin: 0 auto;
	padding: 1em 0;
	text-align: center;
	font-size: 2.2em;
}

.content h4 {
	font-family: 'latoregular',Verdana, Geneva, sans-serif;
	font-size: 0.8em;
	text-transform: uppercase;
	margin: 2em 0 0 0;
	letter-spacing: 0.1em;
}

.content .section + h2 {
	margin-top: 4em;
}

.content h3 {
	font-family: 'latoregular',Verdana, Geneva, sans-serif;
	color: #474747;
}

.content h2 {
	text-align: center;
	font-family: 'latobold',Verdana, Geneva, sans-serif;
	font-size: 1em;
	text-transform: uppercase;
	margin: 2em auto 0;
	letter-spacing: 0.05em;
	border-bottom: 1px dotted #ccc;
	width: 75%;
	color: #d93c2f;
}

.content h2.info {
	color: #0482b2;
}

.content h2 span {
	position: relative;
	background: #fff;
	display: inline-block;
	padding: 0.2em 1em;
	line-height: 1.8em;
	top: 1em;
}
.section {
	margin: 6em 20px 4em;
	display: table;
	position: relative;
}
.section.inverted {
	display: table;
}

h2 + .section {
	margin-top: 4em;
}

.section:before {
	content: '';
	width: 200px;
	height: 1px;
	background: #efefef;
	top: -3em;
	left: 50%;
	margin-left: -100px;
	display: block;
	position: absolute;
}

h2 + .section:before {
	display: none;
}

.cols {
	display: table-row;
}

.center {
	text-align: center;
}

.cols .col {
	box-sizing: border-box;
	display: table-cell;
	vertical-align: middle;
}

.col.icon {
	width: 45%;
	text-align: center;
}

.col.spacer {
	width: 10%;
}

.col.txt {
	width: 45%;
}
.section.inverted .col.txt {
	text-align: right;
}

.icon img {
	width: 60%;
	max-width: 250px;
}

.nomobile {
	display: table-cell;
}

.mobile {
	display: none !important;
}

a.b {
	display: inline-block;
	padding: 0.1em 1.3em;
	background: #f5a81c;
	color: #fff;
	font-size: 0.9em;
	text-decoration: none;
	-webkit-border-radius: 25px;
	   -moz-border-radius: 25px;
	    -ms-border-radius: 25px;
	     -o-border-radius: 25px;
	        border-radius: 25px;
	-webkit-transition: all 0.2s ease;
	   -moz-transition: all 0.2s ease;
	    -ms-transition: all 0.2s ease;
	     -o-transition: all 0.2s ease;
	        transition: all 0.2s ease;
}

a.b:hover {
	background: #e4910e;
	-webkit-transform: scale(1.05);
	   -moz-transform: scale(1.05);
	    -ms-transform: scale(1.05);
	     -o-transform: scale(1.05);
	        transform: scale(1.05);
}
a.b:after {
	display: none;
}

.bam {
	background: #f1f1f1;
	padding: 1em 0 0 0;
	overflow: hidden;
}

.bam.babam {
	background: #242424;
}

.bam.babam h2,
.bam.babam p,
.bam.babam h3 {
	color: #fff;
}

.bam.babam p.intro {
	color: #cfcfcf;
}

.bam .col p {
	font-size: 0.9em;
}

.content .bam h2 {
	border-bottom: none;
	margin: 2em auto 2em;
}

.content .bam h2 span {
	background: none;
	position: relative;
}
.content .bam h2 span:before,
.content .bam h2 span:after {
	content: '';
	display: block;
	position: absolute;
	top: 1em;
	width: 100%;
	height: 1px;
	border-bottom: 1px dotted #CCC;
}
.content .bam.babam h2 span:before,
.content .bam.babam h2 span:after {
	border-bottom: 1px dotted #575555;
}

.content .bam h2 span:before {
	right: 100%;
}
.content .bam h2 span:after {
	left: 100%;
}

.content .bam h4 {
	margin-bottom: -0.3em;
	color: #333;
}

.content .bam .inner {
	max-width: 1200px;
	margin: 0 auto;
	color: #605d62;
}

.bam .section {
	margin-top: 1em;
}

.bam .section:before {
	display: none;
}

.bam .cols .col {
	vertical-align: top;
}

.bam ul {
	list-style: none;
	margin: 0 ;
	padding: 0;
}

.bam ul li {
	margin: 0 0 3em 0;
	min-height: 2em;
	position: relative;
	padding: 0 0 0 6.6em;
}

.bam ul li:before {
	font-family: 'hubzero-amazon';
	content: 'i';
	display: block;
	position: absolute;
	font-size: 2em;
	height: 2em;
	width: 2em;
	top: 0;
	left: 0;
	background: #0482b2;
	color: #fff;
	padding: 0.2em;
	text-align: center;
	line-height: 2em;
	-webkit-border-radius: 2em;
	   -moz-border-radius: 2em;
	    -ms-border-radius: 2em;
	     -o-border-radius: 2em;
	        border-radius: 2em;
}

.bam ul li.contact:before {
	content: 'c';
}
.bam ul li.terms:before {
	content: 't';
}
.bam ul li.logins:before {
	content: 's';
}
.bam ul li.analytics:before {
	content: 'a';
}
.bam ul li.captcha:before {
	content: 'x';
}

.cols.cols3 .col {
	width: 33.33%;
	padding: 0 20px;
	text-align: center;
}

.bam .cols.cols3 h3 {
	position: relative;
	padding: 5em 0 0 0;
}

.bam .cols.cols3 h3:before {
	font-family: 'hubzero-amazon';
	content: 'q';
	display: block;
	position: absolute;
	font-size: 4em;
	height: 1em;
	width: 2em;
	top: 0;
	left: 50%;
	color: #fff;
	padding: 0em;
	text-align: center;
	line-height: 1em;
	margin-left: -1em;
	-webkit-border-radius: 2em;
	   -moz-border-radius: 2em;
	    -ms-border-radius: 2em;
	     -o-border-radius: 2em;
	        border-radius: 2em;
}

.bam .cols.cols3 .col.idea h3:before {
	content: 'b';
}

.bam .cols.cols3 .col.error h3:before {
	content: 'e';
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (max-width: 1000px) {
	header:after {
		height: 75px;
		background-size: auto 75px;
	}
}

@media only screen and (max-width: 800px) {
	.cols {
		display: block;
	}
	.cols .col {
		display: block;
	}
	.col.icon {
		width: 100%;
		text-align: center;
	}
	.col.spacer {
		display: none;
	}
	.col.txt {
		width: 100%;
		text-align: center;
	}
	.section.inverted .col.txt {
		text-align: center;
	}
	.icon img {
		max-width: 160px;
	}
	.nomobile {
		display: none !important;
	}
	.mobile {
		display: block !important;
	}
}

@media only screen and (max-width: 1160px) {
	.logos {
		position: static;
		margin: 30px auto 0;
		max-width: 1000px;
	}
}

@media only screen and (min-width: 1750px) {
	.logos {
		position: fixed;
	}
}

@media only screen and (max-width: 1400px) {
	header h1 {
		max-width: 1000px;
	}
}

@media only screen and (max-height: 800px) {
	header .display {
		max-width: 40%;
	}
	header .web {
		max-width: 40%;
		top: 20%;
	}
	header .tool {
		max-width: 40%;
		top: 20%;
	}
}

@media only screen and (max-width: 860px) {
	.bam .cols {
		display: block;
	}
	.bam .cols .col {
		display: block;
	}
	.bam .col.spacer {
		display: none;
	}
	.bam .col.txt {
		width: 100%;
	}
	.bam .cols.cols3 .col {
		width: 100%;
	}
	.bam .cols.cols3 .col {
		padding-bottom: 2em;
	}
	.bam .cols.cols3 .col:last-of-type {
		padding-bottom: 0;
	}
	.bam .cols.cols3 .col p {
		width: 70%;
		margin-left: auto;
		margin-right: auto;
	}
}

@media only screen and (max-width: 600px) {
	header:after {
		height: 50px;
		background-size: auto 50px;
	}
	header .web, header .tool {
		display: none;
	}
	header .display {
		max-width: 70%;
	}
	.logos #hubzero {
		width: 100px;
	}
	.logos #amazon {
		width: 70px;
	}
}

@media only screen and (max-width: 500px) {
	.bam h3 {
		text-align: center;
	}
	.bam ul li {
		padding: 4em 0 0 0;
		text-align: center;
	}
	.bam ul li:before {
		font-size: 2em;
		height: 2em;
		width: 2em;
		top: 0;
		left: 50%;
		padding: 0.2em;
		line-height: 2em;
		margin-left: -1em;
	}
	.bam .cols.cols3 .col h3 {
		padding: 5em 0 0 0;
	}
}

@media print,
	   (-o-min-device-pixel-ratio: 5/4),
	   (-webkit-min-device-pixel-ratio: 1.25),
	   (min-resolution: 120dpi) {
}

@media 
(-webkit-min-device-pixel-ratio: 2), 
(min-resolution: 192dpi) {
	html {
		background: #f9f9f9 url(../images/body-bg-x2.png);
		background-size: 160px 160px;
	}
	
	header .screen {
		background: url(../images/screen-x2.png) center;
		background-size: 657px 703px;
		height: 703px;
	}
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
	background-color: transparent;
	border: 0;
	overflow: hidden;
	*text-indent: -9999px;
}

.ir:before {
	content: "";
	display: block;
	width: 0;
	height: 150%;
}

.hidden {
	display: none !important;
	visibility: hidden;
}

.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
}

.invisible {
	visibility: hidden;
}

.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

.clearfix {
	*zoom: 1;
}

#system-debug {
	display: none !important;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
	* {
		background: transparent !important;
		color: #000 !important;
		box-shadow: none !important;
		text-shadow: none !important;
	}

	a,
	a:visited {
		text-decoration: underline;
	}

	a[href]:after {
		content: " (" attr(href) ")";
	}

	abbr[title]:after {
		content: " (" attr(title) ")";
	}

	.ir a:after,
	a[href^="javascript:"]:after,
	a[href^="#"]:after {
		content: "";
	}

	pre,
	blockquote {
		border: 1px solid #999;
		page-break-inside: avoid;
	}

	thead {
		display: table-header-group;
	}

	tr,
	img {
		page-break-inside: avoid;
	}

	img {
		max-width: 100% !important;
	}

	@page {
		margin: 0.5cm;
	}

	p,
	h2,
	h3 {
		orphans: 3;
		widows: 3;
	}

	h2,
	h3 {
		page-break-after: avoid;
	}
}

/* Fonts */

@font-face {
	font-family: 'latobold';
	src: url('../fonts/lato-bol-webfont.eot');
	src: url('../fonts/lato-bol-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/lato-bol-webfont.woff') format('woff'),
		 url('../fonts/lato-bol-webfont.ttf') format('truetype'),
		 url('../fonts/lato-bol-webfont.svg#latobold') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'latohairline';
	src: url('../fonts/lato-hai-webfont.eot');
	src: url('../fonts/lato-hai-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/lato-hai-webfont.woff') format('woff'),
		 url('../fonts/lato-hai-webfont.ttf') format('truetype'),
		 url('../fonts/lato-hai-webfont.svg#latohairline') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'latolight';
	src: url('../fonts/lato-lig-webfont.eot');
	src: url('../fonts/lato-lig-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/lato-lig-webfont.woff') format('woff'),
		 url('../fonts/lato-lig-webfont.ttf') format('truetype'),
		 url('../fonts/lato-lig-webfont.svg#latolight') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'latoregular';
	src: url('../fonts/lato-reg-webfont.eot');
	src: url('../fonts/lato-reg-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/lato-reg-webfont.woff') format('woff'),
		 url('../fonts/lato-reg-webfont.ttf') format('truetype'),
		 url('../fonts/lato-reg-webfont.svg#latoregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'latoblack';
	src: url('../fonts/lato-bla-webfont.eot');
	src: url('../fonts/lato-bla-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/lato-bla-webfont.woff') format('woff'),
		 url('../fonts/lato-bla-webfont.ttf') format('truetype'),
		 url('../fonts/lato-bla-webfont.svg#latoblack') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "hubzero-amazon";
	src: url("../fonts/hubzero-amazon.eot");
	src: url("../fonts/hubzero-amazon.eot?#iefix") format("embedded-opentype"),
		 url("../fonts/hubzero-amazon.woff") format("woff"),
		 url("../fonts/hubzero-amazon.ttf") format("truetype"),
		 url("../fonts/hubzero-amazon.svg#hubzero-amazon") format("svg");
	font-weight: normal;
	font-style: normal;
}