<?xml version="1.0" encoding="utf-8"?>
<extension type="component" version="2.5" method="upgrade">
	<name>com_config</name>
	<creationDate>February 2015</creationDate>
	<author>HUBzero</author>
	<authorUrl>hubzero.org</authorUrl>
	<authorEmail>support@hubzero.org</authorEmail>
	<copyright>Copyright 2005-2019 HUBzero Foundation, LLC.</copyright>
	<license>http://opensource.org/licenses/MIT MIT</license>
	<version>1.1.0</version>
	<description>COM_CONFIG_XML_DESCRIPTION</description>
	<administration>
		<languages folder="admin">
			<language tag="en-GB">language/en-GB.com_config.ini</language>
		</languages>
	</administration>
</extension>
