<?xml version="1.0" encoding="utf-8"?>

<!--
@package        hubzero-cms
@file           administrator/components/com_kb/config.xml
@copyright      Copyright 2005-2011 Purdue University. All rights reserved.
@license        http://www.gnu.org/licenses/lgpl-3.0.html LGPLv3

Copyright 2005-2011 Purdue University. All rights reserved.

This file is part of: The HUBzero(R) Platform for Scientific Collaboration

The HUBzero(R) Platform for Scientific Collaboration (HUBzero) is free
software: you can redistribute it and/or modify it under the terms of
the GNU Lesser General Public License as published by the Free Software
Foundation, either version 3 of the License, or (at your option) any
later version.

HUBzero is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.

HUBzero is a registered trademark of Purdue University.
-->

<config>
	<params>
		<param name="geodb_driver" type="text" default="mysql" label="Geolocation Database type" description="TIPDTATABASETYPE" />
		<param name="geodb_host" type="text" default="localhost" label="Geolocation DB Hostname" description="TIPDATABASEHOSTNAME" />
		<param name="geodb_port" type="text" default="" label="Geolocation DB Port" description="TIPDATABASEPORT" />
		<param name="geodb_user" type="text" default="" label="Geolocation DB Username" description="TIPDATABASEUSERNAME" />
		<param name="geodb_password" type="password" default="" label="Geolocation DB Password" description="TIPDATABASEPASSWORD" />
		<param name="geodb_database" type="text" default="" label="Geolocation DB Schema" description="TIPDATABASENAME" />
		<param name="geodb_prefix" type="text" default="" label="Geolocation DB Table Prefix" description="TIPDATABASEPREFIX" />
		<param name="@spacer" type="spacer" default="" label="" description="" />
		<param name="ldap_primary" type="text" default="ldap://localhost" label="LDAP Primary Host URI" description="TIPPRIMARYLDAP" />
		<param name="ldap_secondary" type="text" default="" label="LDAP Secondary Host URI" description="TIPSECONDARYLDAP" />
		<param name="ldap_basedn" type="text" default="" label="LDAP Base DN" description="TIPLDAPBASEDN" />
		<param name="ldap_searchdn" type="text" default="" label="LDAP Search DN" description="TIPLDAPSEARCHDN" />
		<param name="ldap_searchpw" type="password" default="" label="LDAP Search Password" description="TIPLDAPSEARCHPASSWORD" />
		<param name="ldap_managerdn" type="text" default="" label="LDAP Manager DN" description="TIPLDAPMANAGERDN" />
		<param name="ldap_managerpw" type="password" default="" label="LDAP Manager Password" description="TIPLDAPMANAGERPASSWORD" />
		<param name="ldap_tls" type="radio" default="0" label="Use LDAP TLS" description="TIPLDAPTLS">
			<option value="0">No</option>
			<option value="1">Yes</option>
		</param>
	</params>
	<fieldset name="basic">
		<field name="geodb_driver" type="text" default="mysql" label="Geolocation Database type" description="TIPDTATABASETYPE" />
		<field name="geodb_host" type="text" default="localhost" label="Geolocation DB Hostname" description="TIPDATABASEHOSTNAME" />
		<field name="geodb_port" type="text" default="" label="Geolocation DB Port" description="TIPDATABASEPORT" />
		<field name="geodb_user" type="text" default="" label="Geolocation DB Username" description="TIPDATABASEUSERNAME" />
		<field name="geodb_password" type="password" default="" label="Geolocation DB Password" description="TIPDATABASEPASSWORD" />
		<field name="geodb_database" type="text" default="" label="Geolocation DB Schema" description="TIPDATABASENAME" />
		<field name="geodb_prefix" type="text" default="" label="Geolocation DB Table Prefix" description="TIPDATABASEPREFIX" />
		<field name="@spacer" type="spacer" default="" label="" description="" />
		<field name="ldap_primary" type="text" default="ldap://localhost" label="LDAP Primary Host URI" description="TIPPRIMARYLDAP" />
		<field name="ldap_secondary" type="text" default="" label="LDAP Secondary Host URI" description="TIPSECONDARYLDAP" />
		<field name="ldap_basedn" type="text" default="" label="LDAP Base DN" description="TIPLDAPBASEDN" />
		<field name="ldap_searchdn" type="text" default="" label="LDAP Search DN" description="TIPLDAPSEARCHDN" />
		<field name="ldap_searchpw" type="password" default="" label="LDAP Search Password" description="TIPLDAPSEARCHPASSWORD" />
		<field name="ldap_managerdn" type="text" default="" label="LDAP Manager DN" description="TIPLDAPMANAGERDN" />
		<field name="ldap_managerpw" type="password" default="" label="LDAP Manager Password" description="TIPLDAPMANAGERPASSWORD" />
		<field name="ldap_tls" type="radio" default="0" label="Use LDAP TLS" description="TIPLDAPTLS">
			<option value="0">No</option>
			<option value="1">Yes</option>
		</field>
	</fieldset>
</config>

