@import url('/core/plugins/projects/publications/assets/css/publications.css');

#pubintro .step-one {
	background: transparent url("/core/plugins/projects/publications/assets/img/intro_step_one.png") top no-repeat;
}
#pubintro .step-two {
	background: transparent url("/core/plugins/projects/publications/assets/img/intro_step_two.png") top no-repeat;
}
#pubintro .step-three {
	background: transparent url("/core/plugins/projects/publications/assets/img/intro_step_three.png") top no-repeat;
}

#pubintro .col h4 {
	margin-top: 11rem;
}

#pubintro p {
	margin-top: 2rem;
}

.num {
	float: none;
	background: no-repeat;
	color: #448884;
	font-size: 1em;
	padding: 0;
}

#pubintro .col h4 {
	font-size: 1.3rem;
	padding: 0;
}