.wrapper {
  display: grid;
  grid-template-columns: repeat(4, [col] 1fr);
  grid-template-rows: repeat(4, auto);
}

.contentpaneopen p {
  margin: 0;
}

.ambassador-header {
  display: flex;
  flex-wrap: nowrap;
  grid-column: col/span 4;
  grid-row: 1;
  background: url("/app/site/media/images/providence-doucet-87304-unsplash.jpg");
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 100%), url("/app/site/media/images/providence-doucet-87304-unsplash.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  align-items: center;
  height: 20rem;
  text-align: center;
  padding: 2.5em;
  color: #fff;
}

.ambassador-header .intro {
  grid-column: 1/span 4;
  align-self: center;
  width: 100%;
  margin: 0 auto;
}

@media only screen and (min-width: 901px) {
  .ambassador-header .intro {
    grid-column: 2/span 2;
    width: 50%;
  }
}

@supports (display: grid) {
  .ambassador-header .intro {
    width: auto;
  }
}

.ambassador-header h2 {
  color: #fff;
}

@media only screen and (min-width: 901px) {
  .ambassador-header {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
  }
}

@supports (display: grid) {
  .ambassador-header {
    width: auto;
  }
}

.ambassador {
  grid-column: col/span 4;
  grid-row: 2;
  padding: 2.5em;
}

.ambassador p {
  margin: 1em 0 !important;
}

.participate-wrapper {
  display: flex;
  flex-wrap: wrap;
  grid-column: col/span 4;
  grid-row: 3;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1.5fr 1fr;
  background-color: #007991;
  color: #fff;
}

.participate-wrapper .big {
  grid-column: span 2;
  grid-row: 2;
  background: url("/app/site/media/images/pexels-photo-462680.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
}

@media only screen and (min-width: 901px) {
  .participate-wrapper .big {
    grid-column: 2/span 1;
    grid-row: 1;
    width: 50%;
  }
}

@supports (display: grid) {
  .participate-wrapper .big {
    width: auto;
    height: auto;
  }
}

.participate-wrapper .participate {
  grid-column: span 2;
  grid-row: 1;
  align-self: center;
  order: -1;
  width: 100%;
  padding: 2.5em;
}

.participate-wrapper .participate ul li a {
  text-decoration: underline;
  color: #fff;
}

.participate-wrapper .participate ul li a:hover {
  color: #cca231;
}

@media only screen and (min-width: 901px) {
  .participate-wrapper .participate {
    grid-column: 1/span 1;
    grid-row: 1;
    width: 50%;
  }
}

@supports (display: grid) {
  .participate-wrapper .participate {
    width: auto;
  }
}

@media only screen and (min-width: 901px) {
  .participate-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
  }
}

.apply {
  grid-column: col/span 4;
  grid-row: 4;
  padding: 2.5em;
}

.apply .emphasis {
  font-weight: bold;
  color: #007991;
}

.apply .link {
  margin-top: 4em;
  text-align: center;
}

.apply .link a {
  text-transform: uppercase;
  box-shadow: inset 0 0 0 2px #007991;
  color: #007991;
  transition: color 0.25s 0.08333s;
  position: relative;
  padding: .25em .75em;
}

.apply .link a::before, .apply .link a::after {
  border: 0 solid transparent;
  box-sizing: border-box;
  content: '';
  pointer-events: none;
  position: absolute;
  width: 0;
  height: 0;
  bottom: 0;
  right: 0;
}

.apply .link a::before {
  border-bottom-width: 2px;
  border-left-width: 2px;
}

.apply .link a::after {
  border-top-width: 2px;
  border-right-width: 2px;
}

.apply .link a:hover {
  color: #cca231;
}

.apply .link a:hover::before, .apply .link a:hover::after {
  border-color: #cca231;
  transition: border-color 0s, width 0.25s, height 0.25s;
  width: 100%;
  height: 100%;
}

.apply .link a:hover::before {
  transition-delay: 0s, 0s, 0.25s;
}

.apply .link a:hover::after {
  transition-delay: 0s, 0.25s, 0s;
}
