.module-feature .billboard-image,
.module-feature .blog-img,
.module-feature .newsletter-img,
.module-feature .fmn-img, .two .module-workshops .billboard-image {
  border: 1px #f1f1f1 solid;
  height: 100%;
  overflow: hidden;
  width: 100%;
}

.module-feature .billboard-image img, .module-feature .blog-img img, .module-feature .newsletter-img img, .module-feature .fmn-img img, .two .module-workshops .billboard-image img {
  height: 100%;
  object-fit: cover;
  transition: 3s ease-in-out;
  width: 100%;
}

.module-feature .billboard-image:hover img, .module-feature .blog-img:hover img, .module-feature .newsletter-img:hover img, .module-feature .fmn-img:hover img, .two .module-workshops .billboard-image:hover img {
  transform: scale(1.1);
}

.module-feature .partner-img,
.module-feature .group-img, .five .module-sites .group .group-img {
  border: 1px #f1f1f1 solid;
  height: 100%;
  overflow: hidden;
  text-align: center;
  width: 100%;
}

.module-feature .partner-img img, .module-feature .group-img img, .five .module-sites .group .group-img img {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  transition: 3s ease-in-out;
}

.module-feature .partner-img:hover img, .module-feature .group-img:hover img, .five .module-sites .group .group-img:hover img {
  transform: translateY(-50%) scale(1.1);
}

.one .module-fmn .fmn {
  display: flex;
  flex-wrap: nowrap;
  margin: 1em .75em;
  position: relative;
}

.one .module-fmn .fmn-title {
  background-color: #fff;
  font-family: "montserratregular", Helvetica Neue, Helvetica, sans-serif;
  padding: .5em;
  position: static;
}

.community-container {
  display: flex;
  flex-wrap: wrap;
  display: grid;
  grid-gap: 2em;
  grid-template-columns: repeat(auto-fit, minmax(22rem, max-content));
  justify-content: center;
}

.communities {
  margin: 2em;
  padding: 1em;
  transition: .2s ease;
  width: 22rem;
}

.communities hr {
  background: #8cc540;
  margin: 0;
  transition: .3s;
  width: 45%;
}

.communities h4 {
  transition: .2s;
}

.communities p a {
  color: #2b2b2b;
  font-family: "open_sansregular", Helvetica Neue, Helvetica, sans-serif;
}

.communities p a:hover, .communities p a:visited {
  color: #2b2b2b;
}

.communities:hover {
  border-left: 4px solid #008099;
}

.communities:hover hr {
  background-color: #008099;
  width: 65%;
}

.communities:hover h4 {
  margin-left: .25em;
}

.communities:hover h4 a {
  color: #008099;
}

.content-header {
  display: none;
}

.module-feature {
  display: flex;
  flex-wrap: wrap;
  display: grid;
  grid-gap: 0.625em;
  grid-template-columns: repeat(auto-fit, minmax(12.5rem, 1fr));
  grid-auto-flow: dense;
  grid-auto-rows: 12.5rem;
  margin: 1em;
}

.module-feature .billboard,
.module-feature .resource,
.module-feature .group,
.module-feature .blog,
.module-feature .newsletter,
.module-feature .fmn {
  position: relative;
}

.module-feature .billboard-header,
.module-feature .partner-title,
.module-feature .group-description,
.module-feature .blog-title,
.module-feature .newsletter-title,
.module-feature .fmn-title {
  background-color: #fff;
  border: 1px solid #f1f1f1;
  bottom: 0;
  opacity: .95;
  padding: .625em;
  position: absolute;
  width: 100%;
}

.module-feature .billboard-header a,
.module-feature .partner-title a,
.module-feature .group-description a,
.module-feature .blog-title a,
.module-feature .newsletter-title a,
.module-feature .fmn-title a {
  display: block;
  /* Fallback for non-webkit */
  display: -webkit-box;
  height: 2.2em;
  /* Fallback for non-webkit */
  font-family: "montserratregular", Helvetica Neue, Helvetica, sans-serif;
  margin: 0 auto;
  font-size: 1em;
  line-height: 1.1;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #597f2f;
}

.module-feature .billboard-header a:hover,
.module-feature .partner-title a:hover,
.module-feature .group-description a:hover,
.module-feature .blog-title a:hover,
.module-feature .newsletter-title a:hover,
.module-feature .fmn-title a:hover {
  color: #008099;
}

.module-feature .billboard-tag,
.module-feature .partner-tag,
.module-feature .group-tag,
.module-feature .blog-tag,
.module-feature .newsletter-tag,
.module-feature .fmn-tag {
  background-color: #248232;
  bottom: 5em;
  font-family: "open_sansregular", Helvetica Neue, Helvetica, sans-serif;
  font-size: .8em;
  font-weight: bold;
  left: -.5em;
  padding: .5em .8em;
  position: absolute;
  text-transform: uppercase;
}

.module-feature .billboard-tag::before,
.module-feature .partner-tag::before,
.module-feature .group-tag::before,
.module-feature .blog-tag::before,
.module-feature .newsletter-tag::before,
.module-feature .fmn-tag::before {
  content: '';
  height: 0;
  width: 0;
  display: block;
  position: absolute;
  bottom: -0.625em;
  left: 0;
  border-top: 8px solid #195b23;
  border-left: 8px solid transparent;
}

.module-feature .billboard-tag span,
.module-feature .partner-tag span,
.module-feature .group-tag span,
.module-feature .blog-tag span,
.module-feature .newsletter-tag span,
.module-feature .fmn-tag span {
  color: #fff;
}

.module-feature .big, .module-feature .flex {
  grid-column: span 2;
  grid-row: span 2;
  flex: 1 1 20rem;
  height: 15rem;
  margin: .15625em;
}

@supports (display: grid) {
  .module-feature .big, .module-feature .flex {
    height: auto;
    margin: 0;
    width: auto;
  }
}

@media only screen and (min-width: 77.5em) {
  .module-feature .big, .module-feature .flex {
    grid-row: span 1;
  }
}

@media only screen and (min-width: 64.6875em) {
  .module-feature .flex {
    grid-column: span 3;
    grid-row: span 1;
  }
}

@media only screen and (min-width: 90.3125em) {
  .module-feature .flex {
    grid-row: span 1;
  }
}

.module-feature .horizontal {
  grid-column: span 2;
  flex: 1 1 20rem;
  height: 15rem;
  margin: .15625em;
}

@supports (display: grid) {
  .module-feature .horizontal {
    height: auto;
    margin: 0;
    width: auto;
  }
}

@media only screen and (min-width: 39.0625em) {
  .module-feature .horizontal {
    grid-column: span 3;
  }
}

.module-feature .regular {
  flex: 1 1 20rem;
  height: 15rem;
  margin: .15625em;
}

@supports (display: grid) {
  .module-feature .regular {
    height: auto;
    margin: 0;
    width: auto;
  }
}

.search-wrapper {
  grid-column: col/span 4;
  grid-row: row 2;
  justify-content: center;
  padding: 2.5em;
  text-align: center;
}

.search-wrapper h5 {
  margin: 0 auto 1em;
  width: 75%;
}

#rsearch {
  width: 70%;
}

.page-body .content .search input[type='submit'] {
  background-color: #597f2f;
  color: #fff;
}

.explore {
  padding: 1em;
}

@media only screen and (min-width: 36.875em) {
  .explore {
    padding: 2.5em;
  }
}

.one {
  background-color: #f1f1f1;
}

.one p {
  margin: 1em 0;
}

.one .fmn-intro {
  padding: 2.5em;
  text-align: center;
}

.one .fmn-intro .link {
  border-radius: 2px;
  box-shadow: inset 0 0 0 1px #597f2f;
  color: #597f2f;
  padding: .25em .75em;
  position: relative;
  text-transform: capitalize;
  transition: color 0.25s 0.08333s;
}

.one .fmn-intro .link::before, .one .fmn-intro .link::after {
  border: 0 solid transparent;
  box-sizing: border-box;
  content: '';
  height: 0;
  pointer-events: none;
  position: absolute;
  width: 0;
  bottom: 0;
  right: 0;
}

.one .fmn-intro .link::before {
  border-bottom-width: 1px;
  border-left-width: 1px;
}

.one .fmn-intro .link::after {
  border-top-width: 1px;
  border-right-width: 1px;
}

.one .fmn-intro .link:hover {
  color: #008099;
}

.one .fmn-intro .link:hover::before, .one .fmn-intro .link:hover::after {
  border-color: #008099;
  border-radius: 2px;
  height: 100%;
  transition: border-color 0s, width 0.25s, height 0.25s;
  width: 100%;
}

.one .fmn-intro .link:hover::before {
  transition-delay: 0s, 0s, 0.25s;
}

.one .fmn-intro .link:hover::after {
  transition-delay: 0s, 0.25s, 0s;
}

.one .module-fmn {
  display: flex;
  flex-wrap: wrap;
  display: grid;
  grid-gap: 2em;
  grid-template-columns: repeat(auto-fit, minmax(23.4375rem, max-content));
  grid-auto-rows: 8rem;
  justify-content: center;
}

@supports (display: grid) {
  .one .module-fmn .fmn {
    margin: 0;
  }
}

.one .module-fmn .fmn-img {
  background-color: #fff;
  border-right: 3px solid #8cc540;
  height: 100%;
  overflow: hidden;
  width: 12.5rem;
}

.one .module-fmn .fmn-img img {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  transition: 3s ease-in-out;
}

.one .module-fmn .fmn-img:hover img {
  transform: translateY(-50%) scale(1.1);
}

.one .module-fmn .fmn-img::after {
  visibility: hidden;
}

.one .module-fmn .fmn-title a {
  display: block;
  /* Fallback for non-webkit */
  display: -webkit-box;
  height: 7rem;
  /* Fallback for non-webkit */
  margin: 0 auto;
  font-size: 1rem;
  line-height: 1.4;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.one .module-fmn .fmn-tag {
  background-color: #248232;
  bottom: -.875em;
  font-family: "open_sansregular", Helvetica Neue, Helvetica, sans-serif;
  font-size: .8em;
  font-weight: bold;
  left: -.5em;
  padding: .5em .8em;
  position: absolute;
  text-transform: uppercase;
}

.one .module-fmn .fmn-tag::before {
  content: '';
  height: 0;
  width: 0;
  display: block;
  position: absolute;
  bottom: 2.56em;
  left: 0;
  border-bottom: 6px solid #195b23;
  border-left: 6px solid transparent;
}

.one .module-fmn .fmn-tag span {
  color: #fff;
}

.one .module-fmn .regular {
  height: 7rem;
  width: 23.4375rem;
}

@supports (display: grid) {
  .one .module-fmn .regular {
    height: auto;
  }
}

.one .ambassador {
  align-self: center;
  padding: 2.5em;
  text-align: center;
}

.one .ambassador .link {
  border-radius: 2px;
  box-shadow: inset 0 0 0 1px #597f2f;
  color: #597f2f;
  padding: .25em .75em;
  position: relative;
  text-transform: capitalize;
  transition: color 0.25s 0.08333s;
  margin-top: 3em;
}

.one .ambassador .link::before, .one .ambassador .link::after {
  border: 0 solid transparent;
  box-sizing: border-box;
  content: '';
  height: 0;
  pointer-events: none;
  position: absolute;
  width: 0;
  bottom: 0;
  right: 0;
}

.one .ambassador .link::before {
  border-bottom-width: 1px;
  border-left-width: 1px;
}

.one .ambassador .link::after {
  border-top-width: 1px;
  border-right-width: 1px;
}

.one .ambassador .link:hover {
  color: #008099;
}

.one .ambassador .link:hover::before, .one .ambassador .link:hover::after {
  border-color: #008099;
  border-radius: 2px;
  height: 100%;
  transition: border-color 0s, width 0.25s, height 0.25s;
  width: 100%;
}

.one .ambassador .link:hover::before {
  transition-delay: 0s, 0s, 0.25s;
}

.one .ambassador .link:hover::after {
  transition-delay: 0s, 0.25s, 0s;
}

.two {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 4em 0;
}

.two .workshops {
  align-self: center;
  padding: 2.5em;
  width: 100%;
}

@media only screen and (min-width: 68.75em) {
  .two .workshops {
    width: 50%;
  }
}

.two .module-workshops {
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  width: 100%;
}

@media only screen and (min-width: 68.75em) {
  .two .module-workshops {
    width: 50%;
  }
}

.two .module-workshops .regular {
  flex: 1 1 15rem;
  height: 15rem;
  margin: .15625em;
}

.two .module-workshops .billboard {
  position: relative;
}

.two .module-workshops .billboard .billboard-tag {
  background-color: #248232;
  bottom: 5em;
  font-family: "open_sansregular", Helvetica Neue, Helvetica, sans-serif;
  font-size: .8em;
  font-weight: bold;
  left: -.5em;
  padding: .5em .8em;
  position: absolute;
  text-transform: uppercase;
}

.two .module-workshops .billboard .billboard-tag::before {
  content: '';
  height: 0;
  width: 0;
  display: block;
  position: absolute;
  bottom: -0.625em;
  left: 0;
  border-top: 8px solid #195b23;
  border-left: 8px solid transparent;
}

.two .module-workshops .billboard .billboard-tag span {
  color: #fff;
}

.two .module-workshops .billboard .billboard-header {
  background-color: #fff;
  border: 1px solid #f1f1f1;
  bottom: 0;
  opacity: .95;
  padding: .625em;
  position: absolute;
  width: 100%;
}

.two .module-workshops .billboard .billboard-header a {
  display: block;
  /* Fallback for non-webkit */
  display: -webkit-box;
  height: 2.2em;
  /* Fallback for non-webkit */
  font-family: "montserratregular", Helvetica Neue, Helvetica, sans-serif;
  margin: 0 auto;
  font-size: 1em;
  line-height: 1.1;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #597f2f;
}

.two .module-workshops .billboard .billboard-header a:hover {
  color: #008099;
}

.no-webp .three .horizonal,
.no-jpeg2000 .three .horizontal,
.no-jpegxr .three .horizontal {
  background: url("/app/site/media/images/workgroup.jpg");
}

.webp .three .horizontal {
  background: url("/app/site/media/images/workgroup.webp");
}

.jpeg2000 .three .horizontal {
  background: url("/app/site/media/images/workgroup.jp2");
}

.jpeg2xr .three .horizontal {
  background: url("/app/site/media/images/workgroup.jxr");
}

.three {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 4em;
}

.three .horizontal {
  background-repeat: no-repeat !important;
  background-size: cover !important;
  height: 20rem;
  width: 100%;
}

@media only screen and (min-width: 56.3125em) {
  .three .horizontal {
    width: 50%;
  }
}

.three .classrooms {
  align-self: center;
  order: -1;
  padding: 2.5em;
  width: 100%;
}

@media only screen and (min-width: 56.3125em) {
  .three .classrooms {
    order: 1;
    width: 50%;
  }
}

.no-webp .four,
.no-jpeg2000 .four,
.no-jpegxr .four {
  background: url("/app/site/media/images/workgroup-tech.jpg");
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 100%), url("/app/site/media/images/workgroup-tech.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.webp .four {
  background: url("/app/site/media/images/workgroup-tech.webp");
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 100%), url("/app/site/media/images/workgroup-tech.webp");
  background-repeat: no-repeat;
  background-size: cover;
}

.jpeg2000 .four {
  background: url("/app/site/media/images/workgroup-tech.jp2");
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 100%), url("/app/site/media/images/workgroup-tech.jp2");
  background-repeat: no-repeat;
  background-size: cover;
}

.jpeg2xr .four {
  background: url("/app/site/media/images/workgroup-tech.jxr");
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 100%), url("/app/site/media/images/workgroup-tech.jxr");
  background-repeat: no-repeat;
  background-size: cover;
}

.four {
  color: #fff;
  padding: 2.5em;
  text-align: center;
}

.four h2 {
  color: #fff;
}

.five {
  display: flex;
  flex-wrap: wrap;
  margin: 4em 0;
}

.five .sites {
  align-self: center;
  padding: 2.5em;
  width: 100%;
}

@media only screen and (min-width: 68.75em) {
  .five .sites {
    width: 50%;
  }
}

.five .module-sites {
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  width: 100%;
}

@media only screen and (min-width: 68.75em) {
  .five .module-sites {
    width: 50%;
  }
}

.five .module-sites .regular {
  flex: 1 1 15rem;
  height: 15rem;
  margin: .15625em;
}

.five .module-sites .group {
  position: relative;
}

.five .module-sites .group .group-tag {
  background-color: #248232;
  bottom: 5em;
  font-family: "open_sansregular", Helvetica Neue, Helvetica, sans-serif;
  font-size: .8em;
  font-weight: bold;
  left: -.5em;
  padding: .5em .8em;
  position: absolute;
  text-transform: uppercase;
}

.five .module-sites .group .group-tag::before {
  content: '';
  height: 0;
  width: 0;
  display: block;
  position: absolute;
  bottom: -0.625em;
  left: 0;
  border-top: 8px solid #195b23;
  border-left: 8px solid transparent;
}

.five .module-sites .group .group-tag span {
  color: #fff;
}

.five .module-sites .group .group-description {
  background-color: #fff;
  border: 1px solid #f1f1f1;
  bottom: 0;
  opacity: .95;
  padding: .625em;
  position: absolute;
  width: 100%;
}

.five .module-sites .group .group-description a {
  display: block;
  /* Fallback for non-webkit */
  display: -webkit-box;
  height: 2.2em;
  /* Fallback for non-webkit */
  font-family: "montserratregular", Helvetica Neue, Helvetica, sans-serif;
  margin: 0 auto;
  font-size: 1em;
  line-height: 1.1;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #597f2f;
}

.five .module-sites .group .group-description a:hover {
  color: #008099;
}

.c-six {
  display: flex;
  flex-wrap: nowrap;
  background-color: #f1f1f1;
  padding: 2.5em;
  text-align: center;
}

.c-six .link {
  border-radius: 2px;
  box-shadow: inset 0 0 0 1px #597f2f;
  color: #597f2f;
  padding: .25em .75em;
  position: relative;
  text-transform: capitalize;
  transition: color 0.25s 0.08333s;
}

.c-six .link::before, .c-six .link::after {
  border: 0 solid transparent;
  box-sizing: border-box;
  content: '';
  height: 0;
  pointer-events: none;
  position: absolute;
  width: 0;
  bottom: 0;
  right: 0;
}

.c-six .link::before {
  border-bottom-width: 1px;
  border-left-width: 1px;
}

.c-six .link::after {
  border-top-width: 1px;
  border-right-width: 1px;
}

.c-six .link:hover {
  color: #008099;
}

.c-six .link:hover::before, .c-six .link:hover::after {
  border-color: #008099;
  border-radius: 2px;
  height: 100%;
  transition: border-color 0s, width 0.25s, height 0.25s;
  width: 100%;
}

.c-six .link:hover::before {
  transition-delay: 0s, 0s, 0.25s;
}

.c-six .link:hover::after {
  transition-delay: 0s, 0.25s, 0s;
}
