//Color variables
$green: #84bf41;
$dark-blue: #222b37;
// $dark-blue: #2E2D4D;
$teal: #007991;
$pink: #cb48b7;
$med-blue: #5f5980;
$light-gray: #F1F2F2;
$orange: #cca231;
$black: #000;
$white: #fff;

//Mixins for showcase module
@mixin showcase-header($font-size, $line-height, $lines-to-show) {
  display: block; /* Fallback for non-webkit */
  display: -webkit-box;
  height: $font-size*$line-height*$lines-to-show; /* Fallback for non-webkit */
  margin: 0 auto;
  font-size: $font-size;
  line-height: $line-height;
  -webkit-line-clamp: $lines-to-show;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  color: $white;
}

//Extends for showcase module
%showcase-tag {
  position: absolute;
  bottom: 50px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 11px;
  padding: 5px 10px;
  background-color: $green;
  a {
    color: $white;
  }
}
%image-gradient {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 50%,rgba(0,0,0,1) 100%);
  height: 200px;
  width: 100%;
}
.contentpaneopen {
  display: grid;
  grid-template-columns: repeat(4, [col] 1fr);
  grid-template-rows: repeat(9, [row] auto);
  p:first-child {
    margin: 0;
  }
  p:nth-child(2) {
    margin: 0;
  }
}
.link {
  text-transform: uppercase;
  margin-top: 3rem;
}
.link-anchor {
  color: inherit;
  &:hover {
    color: inherit;
  }
  &:visited {
    color: inherit;
  }
}
.white {
  color: $white;
  a {
    padding: .25em .75em;
    border: 1px solid $white;
  }
  a:active {
    color: $white;
  }
  a:visited {
    color: $white;
  }
  a:hover {
    color: $orange;
  }
}

//Feature
.feature {
  grid-column: col / span 4;
  grid-row: row;
}
.module-feature {
  display: flex;
  flex-wrap: wrap;
  grid-column: col / span 4;
  grid-row: row;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-rows: 200px;
  grid-auto-flow: dense;
  grid-gap: 5px;
  .big {
    flex: 1 1 20rem;
    height: 15rem;
    margin: 2.5px;
    grid-column: span 2;
    grid-row: span 2;
  }
  .flex {
    @extend .big;
  }
  .horizontal {
    flex: 1 1 20rem;
    height: 15rem;
    margin: 2.5px;
    grid-column: span 2;
  }
  .regular {
    flex: 1 1 20rem;
    height: 15rem;
    margin: 2.5px;
  }
  .billboard-image {
    width: 100%;
    height: 100%;
    margin: auto;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
  .billboard-image::after {
    @extend %image-gradient;
  }
  .billboard {
    position: relative;
    .billboard-tag {
      @extend %showcase-tag;
    }
    .billboard-header {
      position: absolute;
      bottom: 0;
      padding: 10px;
      a {
        @include showcase-header(1em, 1, 2);
      }
    }
  }
  .resource {
    position: relative;
    .partner-img {
      height: 100%;
      width: 100%;
      text-align: center;
      overflow: hidden;
      img {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
      }
    }
    .partner-img::after {
      @extend %image-gradient;
    }
    .partner-tag {
      @extend %showcase-tag;
    }
    .partner-title {
      position: absolute;
      bottom: 0;
      padding: 10px;
      a {
        @include showcase-header(1em, 1, 2);
      }
    }
  }
  .group {
    position: relative;
    .group-img {
      height: 100%;
      width: 100%;
      text-align: center;
      overflow: hidden;
      img {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
      }
    }
    .group-img::after {
      @extend %image-gradient;
    }
    .group-tag {
      @extend %showcase-tag;
    }
    .group-description {
      position: absolute;
      bottom: 0;
      padding: 10px;
      a {
        @include showcase-header(1em, 1, 2);
      }
    }
  }
}
//Search
.search-wrapper {
  grid-column: col / span 4;
  grid-row: row 2;
  justify-content: center;
  text-align: center;
  padding: 2.5em;
  margin-bottom: 5em;
  h4 {
    font-family: 'montserratultra_light', 'Montserrat', Helvetica Neue, Helvetica, sans-serif;
  }
}
#rsearch {
  width: 70%;
}
.page-body > .content form.search input[type="submit"] {
  background-color: $green;
  color: $white;
}

//Explore
.explore {
  grid-column: col / span 4;
  grid-row: row 3;
  padding: 2.5em;
  margin-bottom: 5em;
  .community-container {
    display: flex;
    flex-wrap: wrap;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
    grid-auto-rows: minmax(250px, 1fr);
    grid-gap: 10px;
  }
  h4 {
    font-family: 'montserratultra_light', 'Montserrat', Helvetica Neue, Helvetica, sans-serif;
    height: 4rem;
  }
}
.communities {
  width: 20rem;
  padding: 10px;
  border-left: 1px solid $green;
}

//Faculty Mentoring Network
#one {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  grid-column: col / span 4;
  grid-row: row 4;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr;
  background-color: $teal;
  color: $white;
  h2 {
    color: $white;
  }
  a {
    color: $white;
    &:active {
      color: $white;
    }
    &:visited {
      color: $white;
    }
  }
  p {
    margin: 1em 0;
  }
  .fmn {
    width: 100%;
    grid-column: span 4;
    text-align: center;
    padding: 2.5em;
  }
  .module-fmn {
    display: flex;
    flex-wrap: wrap;
    grid-column: span 4;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 17rem;
    .regular {
      flex: 1 1 20rem;
      height: 15rem;
    }
    .billboard-image {
      width: 100%;
      height: 100%;
      margin: auto;
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
    .billboard-image::after {
      @extend %image-gradient;
    }
    .billboard {
      position: relative;
      .billboard-tag {
        @extend %showcase-tag;
      }
      .billboard-header {
        position: absolute;
        bottom: 0;
        padding: 10px;
        a {
          @include showcase-header(1em, 1, 2);
        }
      }
    }
  }
}

//Workshops and Meetings
#two {
  display: flex;
  justify-content: center;
  grid-column: col / span 4;
  grid-row: row 5;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  margin: 4em 0;
  .workshops {
    width: 50%;
    align-self: center;
    grid-column: 1 / span 3;
    padding: 2.5em;
  }
  .module-workshops {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    grid-column: 4 / span 3;
    align-self: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 20rem;
    grid-gap: 5px;
    .regular {
      flex: 1 1 20rem;
      height: 15rem;
      margin: 2.5px;
    }
    .billboard-image {
      width: 100%;
      height: 100%;
      margin: auto;
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
    .billboard-image::after {
      @extend %image-gradient;
    }
    .billboard {
      position: relative;
      .billboard-tag {
        @extend %showcase-tag;
      }
      .billboard-header {
        position: absolute;
        bottom: 0;
        padding: 10px;
        a {
          @include showcase-header(1em, 1, 2);
        }
      }
    }
  }
}

//Classrooms
#three {
  display: flex;
  grid-column: col / span 4;
  grid-row: row 6;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 20rem;
  margin-bottom: 4em;
  .horizontal {
    width: 50%;
    background: url('/app/site/media/images/climate-kic-350836.jpg');
    background-size: cover;
    // background-position: center;
    background-repeat: no-repeat;
  }
  .classrooms {
    width: 50%;
    padding: 2.5em;
    align-self: center;
  }
}

//Collaborative Publishing
#four {
  grid-column: col / span 4;
  grid-row: row 7;
  height: 15rem;
  background: url('/app/site/media/images/stefan-stefancik-257625.jpg');
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.6) 100%), url('/app/site/media/images/stefan-stefancik-257625.jpg');
  background-size: 100%;
  background-position: center;
  background-color: $dark-blue;
  color: $white;
  text-align: center;
  padding: 2.5em;
  h2 {
    color: $white;
  }
}

//Project Websites
#five {
  display: flex;
  grid-column: col / span 4;
  grid-row: row 8;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  margin: 4em 0;
  .sites {
    width: 50%;
    align-self: center;
    grid-column: 1 / span 3;
    padding: 2.5em;
  }
  .module-sites {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    grid-column: span 3;
    align-self: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 17rem;
    grid-gap: 5px;
    .regular {
      flex: 1 1 20rem;
      height: 15rem;
      margin: 2.5px;
    }
    .group {
      position: relative;
      .group-img {
        height: 100%;
        width: 100%;
        text-align: center;
        overflow: hidden;
        img {
          position: relative;
          top: 50%;
          transform: translateY(-50%);
        }
      }
      .group-img::after {
        @extend %image-gradient;
      }
      .group-tag {
        @extend %showcase-tag;
      }
      .group-description {
        position: absolute;
        bottom: 0;
        padding: 10px;
        a {
          @include showcase-header(1em, 1, 2);
        }
      }
    }
  }
}
// Private Working Groups
#c-six {
  display: flex;
  grid-column: col / span 4;
  grid-row: row 9;
  text-align: center;
  background-color: $med-blue;
  color: $white;
  padding: 2.5em;
  h2 {
    color: $white;
  }
  a {
    color: $white;
    &:active {
      color: $white;
    }
    &:visited {
      color: $white;
    }
  }
  p {
    margin: 1em 0;
  }
  // .horizontal {
  //   width: 50%;
  //   background-color: #D8D8D8;
  //   border: 1px solid #979797;
  // }
  // .groups {
  //   width: 50%;
  //   padding: 2.5em;
  // }
}
@media only screen and (min-width: 320px) and (max-width: 589px) {
  #one {
    flex-wrap: wrap;
    // grid-template-rows: 25rem auto;
    .module-fmn {
      // grid-template-rows: repeat(4, 15rem);
      .regular {
        grid-column: 1 / span 4;
      }
    }
  }
  #two {
    flex-wrap: wrap;
    grid-template-rows: 25rem auto;
    .workshops {
      width: 100%;
      grid-column: span 6;
    }
    .module-workshops{
      width: 100%;
      grid-column: span 6;
      grid-template-rows: repeat(3, 15rem);
      .regular {
        width: 100%;
        height: 15rem;
        margin: 2.5px;
        grid-column: span 6;
      }
    }
  }
  #three {
    flex-wrap: wrap;
    grid-template-rows: repeat(2, 1fr);
    .classrooms {
      width: 100%;
      order: -1;
      grid-column: span 4;
      grid-row: 1;
    }
    .horizontal {
      width: 100%;
      height: 15rem;
      grid-column: span 4;
    }
  }
  #five {
    flex-wrap: wrap;
    grid-template-rows: 25rem auto;
    .sites {
      width: 100%;
      grid-column: span 6;
    }
    .module-sites {
      width: 100%;
      grid-column: span 6;
      grid-template-rows: repeat(3, 15rem);
      .regular {
        width: 100%;
        height: 15rem;
        grid-column: span 6;
      }
    }
  }
  #c-six {
    flex-wrap: wrap;
    grid-template-rows: repeat(2, 1fr);
    .groups {
      width: 100%;
      order: -1;
      grid-column: span 4;
      grid-row: 1;
    }
    .horizontal {
      width: 100%;
      height: 15rem;
      grid-column: span 4;
    }
  }
}
@media only screen and (min-width: 590px) and (max-width: 900px) {
  #one {
    .module-fmn {
      grid-template-rows: repeat(2, 10rem);
      .regular {
        grid-column: span 2;
      }
    }
  }
  #two {
    flex-wrap: wrap;
    grid-template-rows: repeat(2, 1fr);
    .workshops {
      width: 100%;
      grid-column: 1 / span 6;
    }
    .module-workshops {
      width: 100%;
      grid-column: 1 / span 6;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(2, 10rem);
      .regular {
        grid-column: span 2;
      }
      div:last-child {
        grid-column: span 4;
      }
    }
  }
  #three {
    flex-wrap: wrap;
    grid-template-rows: repeat(2, 1fr);
    .classrooms {
      width: 100%;
      order: -1;
      grid-column: span 4;
      grid-row: 1;
    }
    .horizontal {
      width: 100%;
      height: 20rem;
      grid-column: span 4;
    }
  }
  #five {
    flex-wrap: wrap;
    grid-template-rows: repeat(2, 1fr);
    .sites {
      width: 100%;
      grid-column: span 6;
    }
    .module-sites {
      width: 100%;
      grid-column: 1 / span 6;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(2, 10rem);
      .regular {
        grid-column: span 2;
      }
      div:last-child {
        grid-column: span 4;
      }
    }
  }
}
@media only screen and (min-width: 625px) and (max-width: 829px) {
  .feature {
    .horizontal {
      grid-column: span 3;
    }
  }
}
@media only screen and (min-width: 901px) and (max-width: 1200px) {
  #two {
    flex-wrap: wrap;
    grid-template-rows: repeat(2, 1fr);
    .workshops {
      width: 100%;
      grid-column: 1 / span 6;
      grid-row: 1;
    }
    .module-workshops {
      grid-column: 1 / span 6;
      grid-row: 2;
    }
  }
  #five {
    flex-wrap: wrap;
    grid-template-rows: repeat(2, 1fr);
    .sites {
      width: 100%;
      grid-column: 1 / span 6;
      grid-row: 1;
    }
    .module-sites {
      grid-column: 1 / span 6;
      grid-row: 2;
    }
  }
}
@media only screen and (min-width: 1035px) and (max-width: 1239px) {
  .feature {
    .flex {
      grid-column: span 3;
      grid-row: span 1;
    }
  }
}
@media only screen and (min-width: 1240px) and (max-width: 1444px) {
  .feature {
    .big {
      grid-row: span 1;
    }
  }
}
@media only screen and (min-width: 1445px) and (max-width: 1650px) {
  .feature {
    .flex {
      grid-row: span 1;
    }
  }
}
//Reset widths if css grid is supported & reset <p> margins
@supports (display:grid) {
  .feature {
    p {
      margin: 1em 0;
    }
    .big {
      width: auto;
      height: auto;
      margin: 0;
    }
    .horizontal {
      width: auto;
      height: auto;
      margin: 0;
    }
    .regular {
      width: auto;
      height: auto;
      margin: 0;
    }
  }
  .explore {
    p {
      margin: 1em 0;
    }
    .community-container {
      .communities {
        width: auto;
      }
    }
  }
  #one {
    p {
      margin: 1em 0;
    }
    .fmn {
      width: auto;
    }
    .module-fmn {
      width: auto;
      .regular {
        width: auto;
        height: auto;
      }
    }
  }
  #two {
    p {
      margin: 1em 0;
    }
    .workshops {
      width: auto;
    }
    .module-workshops {
      width: auto;
      .regular {
        width: auto;
        height: auto;
        margin: 0;
      }
    }
  }
  #three {
    p {
      margin: 1em 0;
    }
    .horizontal {
      width: auto;
    }
    .classrooms {
      width: auto;
    }
  }
  #five {
    p {
      margin: 1em 0;
    }
    .sites {
      width: auto;
    }
    .module-sites {
      width: auto;
      .regular {
        width: auto;
        height: auto;
        margin: 0;
      }
    }
  }
  #c-six {
    p {
      margin: 1em 0;
    }
    .horizontal {
      width: auto;
    }
    .groups {
      width: auto;
    }
  }
}
