@import 'variables.scss';
@import 'mixins.scss';

.wrapper {
  @include grid-template(repeat(4, [col] 1fr), repeat(9, [row] auto), null);
}
.link {
  text-transform: uppercase;
  margin-top: 3rem;
}
.link-anchor {
  color: inherit;
  &:hover {
    color: inherit;
  }
  &:visited {
    color: inherit;
  }
}
.white {
  color: $white;
  a {
    padding: .25em .75em;
    border: 1px solid $white;
  }
  a:active {
    color: $white;
  }
  a:visited {
    color: $white;
  }
  a:hover {
    color: $orange;
  }
}

//Feature
.feature {
  @include grid(col / span 4, row);
}
.module-feature {
  @include flexbox(wrap);
  @include grid(col / span 4, row);
  @include grid-template(repeat(auto-fit, minmax(200px, 1fr)), null, 5px);
  grid-auto-rows: 200px;
  grid-auto-flow: dense;
  .big {
    flex: 1 1 20rem;
    height: 15rem;
    margin: 2.5px;
    @include grid(span 2, span 2);
  }
  .flex {
    @extend .big;
  }
  .horizontal {
    flex: 1 1 20rem;
    height: 15rem;
    margin: 2.5px;
    @include grid(span 2, null);
  }
  .regular {
    flex: 1 1 20rem;
    height: 15rem;
    margin: 2.5px;
  }
  .billboard-image {
    @extend %showcase-img;
  }
  .billboard {
    position: relative;
    .billboard-tag {
      @include showcase-tag($green, $white);
    }
    .billboard-header {
      position: absolute;
      bottom: 0;
      padding: 10px;
      a {
        @include showcase-header(1em, 1, 2);
      }
    }
  }
  .resource {
    position: relative;
    .partner-img {
      @extend %showcase-group;
    }
    .partner-tag {
      @include showcase-tag($green, $white);
    }
    .partner-title {
      position: absolute;
      bottom: 0;
      padding: 10px;
      a {
        @include showcase-header(1em, 1, 2);
      }
    }
  }
  .group {
    position: relative;
    .group-img {
      @extend %showcase-group;
    }
    .group-tag {
      @include showcase-tag($green, $white);
    }
    .group-description {
      position: absolute;
      bottom: 0;
      padding: 10px;
      a {
        @include showcase-header(1em, 1, 2);
      }
    }
  }
}
//Search
.search-wrapper {
  @include grid(col / span 4, row 2);
  justify-content: center;
  text-align: center;
  padding: 2.5em;
  margin-bottom: 5em;
  h4 {
    font-family: 'montserratultra_light', 'Montserrat', Helvetica Neue, Helvetica, sans-serif;
  }
}
#rsearch {
  width: 70%;
}
.page-body > .content form.search input[type="submit"] {
  background-color: $green;
  color: $white;
}

//Explore
.explore {
  @include grid(col / span 4, row 3);
  padding: 2.5em;
  margin-bottom: 5em;
  .community-container {
    @include flexbox(wrap);
    @include grid-template(repeat(auto-fit, minmax(425px, 1fr)), null, 10px);
    grid-auto-rows: auto;
  }
  h4 {
    font-family: 'montserratultra_light', 'Montserrat', Helvetica Neue, Helvetica, sans-serif;
  }
}
.communities {
  width: 20rem;
  padding: 10px;
  h4 {
    position: relative;
    padding-bottom: 1rem;
    border-bottom: 1px solid $green;
    &:after {
      content: '';
      width: 65%;
      height: 1.1px;
      background-color: $white;
      position: absolute;
      right: 0;
      bottom: -1px;
    }
  }
}

//Faculty Mentoring Network
#one {
  @include flexbox(wrap);
  justify-content: center;
  @include grid(col / span 4, row 4);
  @include grid-template(repeat(4, 1fr), repeat(3, 1fr), null);
  background-color: $teal;
  color: $white;
  h2 {
    color: $white;
  }
  a {
    color: $white;
    &:active {
      color: $white;
    }
    &:visited {
      color: $white;
    }
  }
  p {
    margin: 1em 0;
  }
  .fmn {
    width: 100%;
    @include grid(span 4, null);
    text-align: center;
    padding: 2.5em;
    .link {
      @include buttons($white);
    }
  }
  .module-fmn {
    @include flexbox(wrap);
    @include grid(span 4, null);
    @include grid-template(repeat(4, 1fr), 17rem);
    .regular {
      flex: 1 1 20rem;
      height: 15rem;
    }
    .billboard-image {
      @extend %showcase-img;
    }
    .billboard {
      position: relative;
      .billboard-tag {
        @include showcase-tag($green, $white);
      }
      .billboard-header {
        position: absolute;
        bottom: 0;
        padding: 10px;
        a {
          @include showcase-header(1em, 1, 2);
        }
      }
    }
  }
  .ambassador {
    @include grid(1 / span 4, 3);
    align-self: center;
    text-align: center;
    padding: 2.5em;
    .link {
      @include buttons($white);
    }
  }
}

//Workshops and Meetings
#two {
  @include flexbox;
  justify-content: center;
  @include grid(col / span 4, row 5);
  @include grid-template(repeat(6, 1fr), null);
  margin: 4em 0;
  .workshops {
    width: 50%;
    align-self: center;
    @include grid(1 / span 3, null);
    padding: 2.5em;
    .link {
      @include buttons($green);
    }
  }
  .module-workshops {
    @include flexbox(wrap);
    @include grid(4 / span 3, null);
    width: 50%;
    align-self: center;
    @include grid-template(repeat(3, 1fr), 20rem, 5px);
    .regular {
      flex: 1 1 20rem;
      height: 15rem;
      margin: 2.5px;
    }
    .billboard-image {
      @extend %showcase-img;
    }
    .billboard {
      position: relative;
      .billboard-tag {
        @include showcase-tag($green, $white);
      }
      .billboard-header {
        position: absolute;
        bottom: 0;
        padding: 10px;
        a {
          @include showcase-header(1em, 1, 2);
        }
      }
    }
  }
}

//Classrooms
#three {
  @include flexbox;
  @include grid(col / span 4, row 6);
  @include grid-template(repeat(2, 1fr), 20rem);
  margin-bottom: 4em;
  .horizontal {
    width: 50%;
    background: url('/app/site/media/images/climate-kic-350836.jpg');
    background-size: cover;
    // background-position: center;
    background-repeat: no-repeat;
  }
  .classrooms {
    width: 50%;
    padding: 2.5em;
    align-self: center;
  }
}

//Collaborative Publishing
#four {
  @include grid(col / span 4, row 7);
  height: 15rem;
  @include bcg-img('/app/site/media/images/stefan-stefancik-257625.jpg');
  background-color: $dark-blue;
  color: $white;
  text-align: center;
  padding: 2.5em;
  h2 {
    color: $white;
  }
}

//Project Websites
#five {
  @include flexbox;
  @include grid(col / span 4, row 8);
  @include grid-template(repeat(6, 1fr), null);
  margin: 4em 0;
  .sites {
    width: 50%;
    align-self: center;
    @include grid(1 / span 3, null);
    padding: 2.5em;
  }
  .module-sites {
    @include flexbox(wrap);
    width: 50%;
    @include grid(span 3, null);
    align-self: center;
    @include grid-template(repeat(3, 1fr), 17rem, 5px);
    .regular {
      flex: 1 1 20rem;
      height: 15rem;
      margin: 2.5px;
    }
    .group {
      position: relative;
      .group-img {
        @extend %showcase-group;
      }
      .group-tag {
        @include showcase-tag($green, $white);
      }
      .group-description {
        position: absolute;
        bottom: 0;
        padding: 10px;
        a {
          @include showcase-header(1em, 1, 2);
        }
      }
    }
  }
}
// Private Working Groups
#c-six {
  @include flexbox;
  @include grid(col / span 4, row 9);
  text-align: center;
  background-color: $med-blue;
  color: $white;
  padding: 2.5em;
  h2 {
    color: $white;
  }
  .link {
    @include buttons($white);
  }
}
@media only screen and (min-width: 320px) and (max-width: 589px) {
  #one {
    flex-wrap: wrap;
    // grid-template-rows: 25rem auto;
    .module-fmn {
      // grid-template-rows: repeat(4, 15rem);
      .regular {
        grid-column: 1 / span 4;
      }
    }
  }
  #two {
    flex-wrap: wrap;
    grid-template-rows: 25rem auto;
    .workshops {
      width: 100%;
      grid-column: span 6;
    }
    .module-workshops{
      width: 100%;
      grid-column: span 6;
      grid-template-rows: repeat(3, 15rem);
      .regular {
        width: 100%;
        height: 15rem;
        margin: 2.5px;
        grid-column: span 6;
      }
    }
  }
  #three {
    flex-wrap: wrap;
    grid-template-rows: repeat(2, 1fr);
    .classrooms {
      width: 100%;
      order: -1;
      grid-column: span 4;
      grid-row: 1;
    }
    .horizontal {
      width: 100%;
      height: 15rem;
      grid-column: span 4;
    }
  }
  #five {
    flex-wrap: wrap;
    grid-template-rows: 25rem auto;
    .sites {
      width: 100%;
      grid-column: span 6;
    }
    .module-sites {
      width: 100%;
      grid-column: span 6;
      grid-template-rows: repeat(3, 15rem);
      .regular {
        width: 100%;
        height: 15rem;
        grid-column: span 6;
      }
    }
  }
  #c-six {
    flex-wrap: wrap;
    grid-template-rows: repeat(2, 1fr);
    .groups {
      width: 100%;
      order: -1;
      grid-column: span 4;
      grid-row: 1;
    }
    .horizontal {
      width: 100%;
      height: 15rem;
      grid-column: span 4;
    }
  }
}
@media only screen and (min-width: 590px) and (max-width: 900px) {
  #one {
    .module-fmn {
      grid-template-rows: repeat(2, 10rem);
      .regular {
        grid-column: span 2;
      }
    }
  }
  #two {
    flex-wrap: wrap;
    grid-template-rows: repeat(2, 1fr);
    .workshops {
      width: 100%;
      grid-column: 1 / span 6;
    }
    .module-workshops {
      width: 100%;
      grid-column: 1 / span 6;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(2, 10rem);
      .regular {
        grid-column: span 2;
      }
      div:last-child {
        grid-column: span 4;
      }
    }
  }
  #three {
    flex-wrap: wrap;
    grid-template-rows: repeat(2, 1fr);
    .classrooms {
      width: 100%;
      order: -1;
      grid-column: span 4;
      grid-row: 1;
    }
    .horizontal {
      width: 100%;
      height: 20rem;
      grid-column: span 4;
    }
  }
  #five {
    flex-wrap: wrap;
    grid-template-rows: repeat(2, 1fr);
    .sites {
      width: 100%;
      grid-column: span 6;
    }
    .module-sites {
      width: 100%;
      grid-column: 1 / span 6;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(2, 10rem);
      .regular {
        grid-column: span 2;
      }
      div:last-child {
        grid-column: span 4;
      }
    }
  }
}
@media only screen and (min-width: 625px) and (max-width: 829px) {
  .feature {
    .horizontal {
      grid-column: span 3;
    }
  }
}
@media only screen and (min-width: 901px) and (max-width: 1200px) {
  #two {
    flex-wrap: wrap;
    grid-template-rows: repeat(2, 1fr);
    .workshops {
      width: 100%;
      grid-column: 1 / span 6;
      grid-row: 1;
    }
    .module-workshops {
      grid-column: 1 / span 6;
      grid-row: 2;
    }
  }
  #five {
    flex-wrap: wrap;
    grid-template-rows: repeat(2, 1fr);
    .sites {
      width: 100%;
      grid-column: 1 / span 6;
      grid-row: 1;
    }
    .module-sites {
      grid-column: 1 / span 6;
      grid-row: 2;
    }
  }
}
@media only screen and (min-width: 1035px) and (max-width: 1239px) {
  .feature {
    .flex {
      grid-column: span 3;
      grid-row: span 1;
    }
  }
}
@media only screen and (min-width: 1240px) and (max-width: 1444px) {
  .feature {
    .big {
      grid-row: span 1;
    }
  }
}
@media only screen and (min-width: 1445px) and (max-width: 1650px) {
  .feature {
    .flex {
      grid-row: span 1;
    }
  }
}
//Reset widths if css grid is supported & reset <p> margins
@supports (display:grid) {
  .feature {
    p {
      margin: 1em 0;
    }
    .big {
      width: auto;
      height: auto;
      margin: 0;
    }
    .horizontal {
      width: auto;
      height: auto;
      margin: 0;
    }
    .regular {
      width: auto;
      height: auto;
      margin: 0;
    }
  }
  .explore {
    p {
      margin: 1em 0;
    }
    .community-container {
      .communities {
        width: auto;
      }
    }
  }
  #one {
    p {
      margin: 1em 0;
    }
    .fmn {
      width: auto;
    }
    .module-fmn {
      width: auto;
      .regular {
        width: auto;
        height: auto;
      }
    }
  }
  #two {
    p {
      margin: 1em 0;
    }
    .workshops {
      width: auto;
    }
    .module-workshops {
      width: auto;
      .regular {
        width: auto;
        height: auto;
        margin: 0;
      }
    }
  }
  #three {
    p {
      margin: 1em 0;
    }
    .horizontal {
      width: auto;
    }
    .classrooms {
      width: auto;
    }
  }
  #five {
    p {
      margin: 1em 0;
    }
    .sites {
      width: auto;
    }
    .module-sites {
      width: auto;
      .regular {
        width: auto;
        height: auto;
        margin: 0;
      }
    }
  }
  #c-six {
    p {
      margin: 1em 0;
    }
    .horizontal {
      width: auto;
    }
    .groups {
      width: auto;
    }
  }
}
