@import 'variables.scss';
@import 'mixins.scss';

.wrapper {
  @include grid-template(repeat(4, [col] 1fr), repeat(4, [row] minmax(30rem, auto)));
}

//Banner
.intro-container {
  @include flexbox;
  @include grid(col / span 4, row);
  @include grid-template(repeat(4, 1fr), repeat(2, auto));
  @include bcg-img('/app/site/media/images/pexels-photo-355988.jpg');
  @include bcg($black, $white);
  min-height: 25rem;
  @include respond-at(901px) {
    @include grid-template(repeat(4, 1fr), 35rem);
  }
  @include grid-support {
    height: auto;
  }
}
.intro {
  @include grid(1 / span 4, 1);
  width: 100%;
  align-self: center;
  padding: 2.5em;
  .tagline {
    color: $white;
  }
  @include respond-at(901px) {
    @include grid(1 / span 2, null);
    width: 40%;
  }
  @include grid-support {
    width: auto;
  }
}
.feature {
  @include grid(1 / span 4, 2);
  position: relative;
  margin: 2em;
  padding: 2em;
  border: 2px solid $link-color;
  h2 {
    position: absolute;
    top: -1.6rem;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: $link-color;
  }
  h5 {
    color: $white;
  }
  @include respond-at(901px) {
    @include grid(3 / span 2, 1);
    align-self: center;
  }
  .billboard-image {
    @extend %showcase-img;
    transition: all 3s ease-in-out;
    overflow: hidden;
    img {
      transition: all 3s ease-in-out;
    }
    &:hover {
      img {
        transform: scale(1.1);
      }
    }
  }
  .billboard {
    position: relative;
    height: 20rem;
    .billboard-tag {
      @include showcase-tag($green, $white);
    }
    .billboard-header {
      position: absolute;
      bottom: 0;
      padding: 10px;
      a {
        @include showcase-header(1em, 1, 2);
      }
    }
  }
}

//Resources
.one {
  @include grid(col / span 4, row 2);
  @include grid-template(1fr, repeat(4, auto));
  @include bcg($med-blue, $white);
  h2 {
    color: $white;
  }
  h3 {
    @extend h2;
  }
}
h3 {
  font-family: 'montserratultra_light', 'Montserrat', Helvetica Neue, Helvetica, sans-serif;
}
@include respond-at(901px) {
  @include grid-template(repeat(4, 1fr), repeat(2, minmax(23rem, auto)));
}
.resources {
  @include flexbox(wrap);
  @include grid(null, 1);
  @include grid-template(1fr, repeat(2, auto));
  flex: 1;
  @include respond-at(901px) {
    @include grid(1 / span 4, 1);
    @include grid-template(repeat(4, 1fr), auto);
  }
  .oer {
    @include grid(1fr, 1);
    width: 100%;
    padding: 2.5em;
    align-self: center;
    order: -1;
    .link {
      padding-top: 2em;
      a {
        @include btn-border-drawing($white, $orange, 2px, bottom, right);
      }
    }
    @include respond-at(901px) {
      @include grid(3 / span 2, null);
      order: 0;
      width: 50%;
    }
    @include grid-support {
      width: auto;
    }
  }
  .module-left {
    @include flexbox(wrap);
    @include grid-template(repeat(auto-fit, minmax(15rem, 1fr)), null, 5px);
    grid-auto-rows: 15rem;
    width: 100%;
    padding: 2.5em;
    .resource-img {
      @extend %showcase-img;
    }
    .resource {
      flex: 1 1 15rem;
      height: 15rem;
      position: relative;
      margin: 5px;
      .resource-tag {
        @include showcase-tag($dark-blue, $white);
      }
      .resource-title {
        position: absolute;
        bottom: 0;
        padding: 10px;
        a {
          @include showcase-header(1em, 1, 2);
        }
      }
      @include grid-support {
        margin: 0;
      }
    }
    @include respond-at(901px){
      @include grid(1 / span 2, null);
      @include grid-template(1fr, repeat(3, 15rem), 5px);
      width: 50%;
    }
    @include respond-at(1201px) {
      @include grid-template(repeat(3, 1fr), 1fr, 5px);
      grid-auto-rows: auto;
    }
    @include grid-support {
      width: auto;
    }
  }
}
.software {
  @include flexbox(wrap);
  @include grid(1fr, 2);
  @include grid-template(1fr, repeat(2, auto));
  flex: 1;
  @include respond-at(901px) {
    @include grid(1 / span 4, 2);
    @include grid-template(repeat(2, 1fr), null);
  }
  .left {
    width: 100%;
    padding: 2.5em;
    .link {
      padding-top: 2em;
      a {
        @include btn-border-drawing($white, $orange, 2px, bottom, right);
      }
    }
    @include respond-at(901px) {
      width: 50%;
    }
    @include grid-support {
      width: auto;
    }
  }
  .software-logos {
    @include flexbox(wrap);
    @include grid-template(repeat(auto-fit, minmax(100px, 1fr)), null, 10px);
    grid-auto-rows: 125px;
    width: 100%;
    padding: 2.5em;
    justify-items: center;
    align-self: center;
    text-align: center;
    .logo-wrap {
      width: 9rem;
      height: 8rem;
      transition: all 0.3s ease-in-out;
      @include grid-support {
        width: auto;
        height: auto;
      }
      img {
        height: 65%;
        width: 100px;
        object-fit: scale-down;
      }
      &:hover {
        transform: scale(1.1);
        a {
          color: $orange;
        }
      }
    }
    h6 {
      align-self: center;
      padding-top: .5em;
      margin: 0;
      color: $light-gray;
      a {
        color: $light-gray;
      }
    }
    @include respond-at(901px) {
      width: 50%;
    }
    @include grid-support {
      width: auto;
    }
  }
}
.sub-title {
  margin-left: 30px;
}

//Network & Community
.two {
  @include grid(col / span 4, row 3);
  @include grid-template(1fr, repeat(2, auto));
}
.network {
  @include flexbox(wrap);
  @include grid(null, 1);
  @include grid-template(1fr, repeat(2, auto));
  @include respond-at(901px) {
    @include grid-template(repeat(2, 1fr), 23rem);
  }
  .network-logos {
    @include grid-template(repeat(auto-fit, minmax(75px, 1fr)), null, 5px);
    justify-items: center;
    padding: 2.5em;
    .logo {
      align-self: center;
      background-color: transparent !important;
      border: none !important;
      width: 4.6rem !important;
    }
  }
  .left {
    width: 100%;
    padding: 2.5em;
    @include respond-at(901px) {
      @include grid(1 / span 1, null);
      width: 50%;
    }
    @include grid-support {
      width: auto;
    }
  }
  .right {
    @include grid(1fr, 1);
    order: -1;
    width: 100%;
    @extend .left;
    @include respond-at(901px) {
      @include grid(2 / span 1, null);
      order: 0;
      width: 50%;
    }
    @include grid-support {
      width: auto;
    }
  }
  .link {
    padding-top: 2em;
    a {
      @include btn-border-drawing($link-color, $orange, 2px, bottom, right);
    }
  }
}
.community {
  @include flexbox(wrap);
  @include grid-template(1fr, repeat(2, auto));
  @include respond-at(901px) {
    @include grid-template(repeat(2, 1fr), auto);
  }
  .left {
    width: 100%;
    padding: 2.5em;
    @include respond-at(620px) {
      @include grid-template(repeat(2, 1fr), repeat(2, auto));
    }
    @include respond-at(901px) {
      width: 50%;
    }
    .title {
      @include grid(null, 1);
      @include respond-at(620px) {
        @include grid(span 2, null);
      }
    }
    ul {
      @include grid(null, 2);
      list-style: none;
      @include respond-at(620px) {
        @include grid(span 1, null);
      }
    }
    .button {
      @include grid(null, 3);
      margin: 1em 0;
      text-align: center;
      a {
        @include btn-border-drawing($link-color, $orange, 2px, bottom, right);
      }
      @include respond-at(620px) {
        @include grid(null, 2);
      }
      h6 {
        position: relative;
        top: 50%;
      }
    }
    @include grid-support {
      width: auto;
    }
  }
  .right {
    width: 100%;
    @include respond-at(901px) {
      width: 50%;
    }
    @include grid-support {
      width: auto;
    }
  }
  .module-right {
    @include flexbox(wrap);
    @include grid-template(repeat(4, 1fr), repeat(4, 15rem));
    @include respond-at(1001px) {
      @include grid-template(nykk, repeat(2, 15rem), 5px);
    }
    .horizontal {
      @include grid(span 4, null);
      flex: 1 1 30rem;
      height: 15rem;
      @include respond-at(901px) {
        @include grid(span 4, null);
        flex: 1 1 24rem;
        height: 12rem;
      }
      @include respond-at(1001px) {
        @include grid(span 2, null);
      }
      @include grid-support {
        width: auto;
        height: auto;
      }
    }
    .regular {
      @include grid(span 2, null);
      flex: 1 1 15rem;
      height: 15rem;
      @include respond-at(901px) {
        @include grid(span 2, null);
        flex: 1 1 12rem;
        height: 12rem;
      }
      @include respond-at(1001px) {
        @include grid(span 1, null);
      }
      @include grid-support {
        width: auto;
        height: auto;
      }
    }
    .billboard-image {
      @extend %showcase-img;
    }
    .billboard {
      position: relative;
      .billboard-tag {
        @include showcase-tag($green, $white);
      }
      .billboard-header {
        position: absolute;
        bottom: 0;
        padding: 10px;
        a {
          @include showcase-header(1em, 1, 2);
        }
      }
    }
    .resource-img {
      @extend %showcase-img;
    }
    .resource {
      position: relative;
      .resource-tag {
        @include showcase-tag($dark-blue, $white);
        background-color: $dark-blue;
      }
      .resource-title {
        position: absolute;
        bottom: 0;
        padding: 10px;
        a {
          @include showcase-header(1em, 1, 2);
        }
      }
    }
    .partner-img {
      @extend %showcase-group;
    }
    .partner-tag {
      @include showcase-tag($green, $white);
    }
    .partner-title {
      position: absolute;
      bottom: 0;
      padding: 10px;
      a {
        @include showcase-header(1em, 1, 2);
      }
    }
    .group {
      position: relative;
      .group-img {
        @extend %showcase-group;
      }
      .group-tag {
        @include showcase-tag($green, $white);
      }
      .group-description {
        position: absolute;
        bottom: 0;
        padding: 10px;
        a {
          @include showcase-header(1em, 1, 2);
        }
      }
    }
    @include grid-support {
      width: auto;
    }
  }
}

//Services
.three {
  @include flexbox(wrap);
  flex: 1;
  justify-content: space-between;
  @include grid(col / span 4, row 4);
  @include grid-template(2fr , repeat(5, auto), 10px);
  justify-self: center;
  padding: 2.5em;
  @include respond-at(901px) {
    @include grid-template(repeat(4, 1fr), auto, 10px);
  }
  h4 {
    font-family: 'montserratultra_light', 'Montserrat', Helvetica Neue, Helvetica, sans-serif;
  }
  .title {
    width: 100%;
    @include grid(span 4, null);
    text-align: center;
  }
  .service {
    @include grid(1 / span 2, null);
    position: relative;
    width: 100%;
    border: 1px solid $green;
    border-radius: 6px;
    padding: 1.5em 1em 2.5em 1em;
    margin: 5px 0;
    @include respond-at(901px) {
      @include grid(span 2, null);
      width: 47%;
      margin: 5px;
    }
    @include respond-at(1201px) {
      @include grid(span 1, null);
      width: 21%;
    }
    h4 {
      height: 4.5rem;
    }
    .button {
      position: absolute;
      bottom: .5rem;
    }
    .link {
      a {
        @include btn-border-drawing($link-color, $orange, 2px, bottom, right);
      }
    }
    @include grid-support {
      width: auto;
      margin: 0;
    }
  }
}
