.feature .billboard-image, .feature .blog-img, .feature .newsletter-img, .feature .fmn-img, .resources .module-left .resource-img, .community .module-right .billboard-image, .community .module-right .resource-img, .community .module-right .blog-img, .community .module-right .newsletter-img, .community .module-right .fmn-img {
  height: 100%;
  overflow: hidden;
  width: 100%;
}

.feature .billboard-image img, .feature .blog-img img, .feature .newsletter-img img, .feature .fmn-img img, .resources .module-left .resource-img img, .community .module-right .billboard-image img, .community .module-right .resource-img img, .community .module-right .blog-img img, .community .module-right .newsletter-img img, .community .module-right .fmn-img img {
  height: 100%;
  object-fit: cover;
  transition: 3s ease-in-out;
  width: 100%;
}

.feature .billboard-image:hover img, .feature .blog-img:hover img, .feature .newsletter-img:hover img, .feature .fmn-img:hover img, .resources .module-left .resource-img:hover img, .community .module-right .billboard-image:hover img, .community .module-right .resource-img:hover img, .community .module-right .blog-img:hover img, .community .module-right .newsletter-img:hover img, .community .module-right .fmn-img:hover img {
  transform: scale(1.1);
}

.community .module-right .partner-img, .community .module-right .group .group-img {
  height: 100%;
  overflow: hidden;
  text-align: center;
  width: 100%;
}

.community .module-right .partner-img img, .community .module-right .group .group-img img {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  transition: 3s ease-in-out;
}

.community .module-right .partner-img:hover img, .community .module-right .group .group-img:hover img {
  transform: translateY(-50%) scale(1.1);
}

.feature .billboard-image::after, .feature .blog-img::after, .feature .newsletter-img::after, .feature .fmn-img::after, .resources .module-left .resource-img::after, .community .module-right .billboard-image::after, .community .module-right .resource-img::after, .community .module-right .blog-img::after, .community .module-right .newsletter-img::after, .community .module-right .fmn-img::after, .community .module-right .partner-img::after, .community .module-right .group .group-img::after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 50%, black 100%);
  height: 100%;
  width: 100%;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(4, [col] 1fr);
  grid-template-rows: repeat(4, [row] minmax(30rem, auto));
}

.wrapper h3 {
  font-family: 'Martel', serif;
}

.intro-container {
  display: flex;
  flex-wrap: nowrap;
  grid-column: col/span 4;
  grid-row: row;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, auto);
  background: url("/app/site/media/images/pexels-photo-355988.jpg");
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 100%), url("/app/site/media/images/pexels-photo-355988.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #000;
  color: #fff;
  min-height: 25rem;
}

@media only screen and (min-width: 901px) {
  .intro-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 35rem;
  }
}

@supports (display: grid) {
  .intro-container {
    height: auto;
  }
}

.intro {
  grid-column: 1/span 4;
  grid-row: 1;
  align-self: center;
  padding: 2.5em;
  width: 100%;
}

.intro .tagline {
  color: #fff;
}

@media only screen and (min-width: 901px) {
  .intro {
    grid-column: 1/span 2;
    width: 40%;
  }
}

@supports (display: grid) {
  .intro {
    width: auto;
  }
}

.feature {
  grid-column: 1/span 4;
  grid-row: 2;
  border: 1px solid #84bf41;
  border-radius: 6px;
  margin: 2em;
  padding: 2em;
  position: relative;
}

.feature h2 {
  color: #84bf41;
  font-size: 1.5rem;
  left: 0;
  position: absolute;
  text-transform: uppercase;
  top: -1.6rem;
}

.feature h3 {
  color: #fff;
}

.feature h5 {
  color: #fff;
}

@media only screen and (min-width: 901px) {
  .feature {
    grid-column: 3/span 2;
    grid-row: 1;
    align-self: center;
  }
}

.feature .module-feature {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 9rem;
}

.feature .billboard-image {
  background-color: #fff;
  overflow: hidden;
  transition: 3s ease-in-out;
}

.feature .billboard-image img {
  transition: 3s ease-in-out;
}

.feature .billboard-image:hover img {
  transform: scale(1.1);
}

.feature .billboard {
  height: 10rem;
  position: relative;
}

.feature .billboard .billboard-tag {
  background-color: #84bf41;
  bottom: 5em;
  font-size: .8em;
  font-weight: bold;
  padding: .5em .8em;
  position: absolute;
  text-transform: uppercase;
}

.feature .billboard .billboard-tag a {
  color: #fff;
}

.feature .billboard .billboard-header {
  bottom: 0;
  padding: 10px;
  position: absolute;
}

.feature .billboard .billboard-header a {
  display: block;
  /* Fallback for non-webkit */
  display: -webkit-box;
  height: 2em;
  /* Fallback for non-webkit */
  margin: 0 auto;
  font-size: 1em;
  line-height: 1;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #fff;
}

.feature .blog {
  display: flex;
  flex-wrap: nowrap;
  position: relative;
}

.feature .blog-title {
  position: absolute;
  bottom: 0;
  padding: 10px;
}

.feature .blog-title a {
  display: block;
  /* Fallback for non-webkit */
  display: -webkit-box;
  height: 2em;
  /* Fallback for non-webkit */
  margin: 0 auto;
  font-size: 1em;
  line-height: 1;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #fff;
}

.feature .newsletter {
  position: relative;
}

.feature .newsletter .newsletter-title {
  bottom: 0;
  padding: 10px;
  position: absolute;
}

.feature .newsletter .newsletter-title a {
  display: block;
  /* Fallback for non-webkit */
  display: -webkit-box;
  height: 2.86rem;
  /* Fallback for non-webkit */
  margin: 0 auto;
  font-size: 1.1rem;
  line-height: 1.3;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #fff;
}

.feature .fmn-img {
  background-color: #fff;
}

.feature .fmn {
  position: relative;
}

.feature .fmn .fmn-title {
  bottom: 0;
  padding: 10px;
  position: absolute;
}

.feature .fmn .fmn-title a {
  display: block;
  /* Fallback for non-webkit */
  display: -webkit-box;
  height: 2.86rem;
  /* Fallback for non-webkit */
  margin: 0 auto;
  font-size: 1.1rem;
  line-height: 1.3;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #fff;
}

.feature .fmn .fmn-tag {
  background-color: #84bf41;
  bottom: 5em;
  font-size: .8em;
  font-weight: bold;
  padding: .5em .8em;
  position: absolute;
  text-transform: uppercase;
}

.feature .fmn .fmn-tag a {
  color: #fff;
}

.feature .horizontal {
  grid-column: 1/span 2;
}

@supports (display: grid) {
  .feature .horizontal {
    height: auto;
    margin: 0;
    width: auto;
  }
}

.feature .regular {
  flex: 1 1 20rem;
  height: 10rem;
  margin: 2.5px;
}

@supports (display: grid) {
  .feature .regular {
    height: auto;
    margin: 0;
    width: auto;
  }
}

.one {
  grid-column: col/span 4;
  grid-row: row 2;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, auto);
  background-color: #F1F2F2;
}

@media only screen and (min-width: 901px) {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, minmax(23rem, auto));
}

.resources {
  display: flex;
  flex-wrap: wrap;
  grid-row: 1;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, auto);
  flex: 1;
}

@media only screen and (min-width: 901px) {
  .resources {
    grid-column: 1/span 4;
    grid-row: 1;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
  }
}

.resources .oer {
  grid-column: 1fr;
  grid-row: 1;
  align-self: center;
  order: -1;
  padding: 2.5em;
  width: 100%;
}

.resources .oer .link {
  box-shadow: inset 0 0 0 1px #6E9C39;
  color: #6E9C39;
  padding: .25em .75em;
  position: relative;
  text-transform: uppercase;
  transition: color 0.25s 0.08333s;
  border-radius: 2px;
  margin-top: 2em;
}

.resources .oer .link::before, .resources .oer .link::after {
  border: 0 solid transparent;
  box-sizing: border-box;
  content: '';
  height: 0;
  pointer-events: none;
  position: absolute;
  width: 0;
  bottom: 0;
  right: 0;
}

.resources .oer .link::before {
  border-bottom-width: 1px;
  border-left-width: 1px;
}

.resources .oer .link::after {
  border-top-width: 1px;
  border-right-width: 1px;
}

.resources .oer .link:hover {
  color: #cca231;
}

.resources .oer .link:hover::before, .resources .oer .link:hover::after {
  border-color: #cca231;
  height: 100%;
  transition: border-color 0s, width 0.25s, height 0.25s;
  width: 100%;
}

.resources .oer .link:hover::before {
  transition-delay: 0s, 0s, 0.25s;
}

.resources .oer .link:hover::after {
  transition-delay: 0s, 0.25s, 0s;
}

@media only screen and (min-width: 901px) {
  .resources .oer {
    grid-column: 3/span 2;
    order: 0;
    width: 50%;
  }
}

@supports (display: grid) {
  .resources .oer {
    width: auto;
  }
}

.resources .module-left {
  display: flex;
  flex-wrap: wrap;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-auto-rows: 15rem;
  padding: 2.5em;
  width: 100%;
}

.resources .module-left .resource {
  flex: 1 1 15rem;
  height: 15rem;
  margin: 5px;
  position: relative;
}

.resources .module-left .resource .resource-tag {
  background-color: #222b37;
  bottom: 5em;
  font-size: .8em;
  font-weight: bold;
  padding: .5em .8em;
  position: absolute;
  text-transform: uppercase;
}

.resources .module-left .resource .resource-tag a {
  color: #fff;
}

.resources .module-left .resource .resource-title {
  bottom: 0;
  padding: 10px;
  position: absolute;
}

.resources .module-left .resource .resource-title a {
  display: block;
  /* Fallback for non-webkit */
  display: -webkit-box;
  height: 2em;
  /* Fallback for non-webkit */
  margin: 0 auto;
  font-size: 1em;
  line-height: 1;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #fff;
}

@supports (display: grid) {
  .resources .module-left .resource {
    margin: 0;
  }
}

@media only screen and (min-width: 901px) {
  .resources .module-left {
    grid-column: 1/span 2;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 15rem);
    width: 50%;
  }
}

@media only screen and (min-width: 1201px) {
  .resources .module-left {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-auto-rows: auto;
  }
}

@supports (display: grid) {
  .resources .module-left {
    width: auto;
  }
}

.software {
  display: flex;
  flex-wrap: wrap;
  grid-column: 1fr;
  grid-row: 2;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, auto);
  flex: 1;
}

@media only screen and (min-width: 901px) {
  .software {
    grid-column: 1/span 4;
    grid-row: 2;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

.software .left, .software .network .right, .network .software .right {
  padding: 2.5em;
  width: 100%;
}

.software .left .link, .software .network .right .link, .network .software .right .link {
  box-shadow: inset 0 0 0 1px #6E9C39;
  color: #6E9C39;
  padding: .25em .75em;
  position: relative;
  text-transform: uppercase;
  transition: color 0.25s 0.08333s;
  border-radius: 2px;
  margin-top: 2em;
}

.software .left .link::before, .software .network .right .link::before, .network .software .right .link::before, .software .left .link::after, .software .network .right .link::after, .network .software .right .link::after {
  border: 0 solid transparent;
  box-sizing: border-box;
  content: '';
  height: 0;
  pointer-events: none;
  position: absolute;
  width: 0;
  bottom: 0;
  right: 0;
}

.software .left .link::before, .software .network .right .link::before, .network .software .right .link::before {
  border-bottom-width: 1px;
  border-left-width: 1px;
}

.software .left .link::after, .software .network .right .link::after, .network .software .right .link::after {
  border-top-width: 1px;
  border-right-width: 1px;
}

.software .left .link:hover, .software .network .right .link:hover, .network .software .right .link:hover {
  color: #cca231;
}

.software .left .link:hover::before, .software .network .right .link:hover::before, .network .software .right .link:hover::before, .software .left .link:hover::after, .software .network .right .link:hover::after, .network .software .right .link:hover::after {
  border-color: #cca231;
  height: 100%;
  transition: border-color 0s, width 0.25s, height 0.25s;
  width: 100%;
}

.software .left .link:hover::before, .software .network .right .link:hover::before, .network .software .right .link:hover::before {
  transition-delay: 0s, 0s, 0.25s;
}

.software .left .link:hover::after, .software .network .right .link:hover::after, .network .software .right .link:hover::after {
  transition-delay: 0s, 0.25s, 0s;
}

@media only screen and (min-width: 901px) {
  .software .left, .software .network .right, .network .software .right {
    width: 50%;
  }
}

@supports (display: grid) {
  .software .left, .software .network .right, .network .software .right {
    width: auto;
  }
}

.software .software-logos {
  display: flex;
  flex-wrap: wrap;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  align-self: center;
  grid-auto-rows: 125px;
  justify-items: center;
  padding: 2.5em;
  text-align: center;
  width: 100%;
}

.software .software-logos .logo-wrap {
  height: 8rem;
  transition: .3s ease-in-out;
  width: 9rem;
}

@supports (display: grid) {
  .software .software-logos .logo-wrap {
    height: auto;
    width: auto;
  }
}

.software .software-logos .logo-wrap img {
  height: 65%;
  object-fit: scale-down;
  width: 100px;
}

.software .software-logos .logo-wrap:hover {
  transform: scale(1.1);
}

.software .software-logos .logo-wrap:hover a {
  color: #cca231;
}

.software .software-logos h6 {
  align-self: center;
  margin: 0;
  padding-top: .5em;
}

@media only screen and (min-width: 901px) {
  .software .software-logos {
    width: 50%;
  }
}

@supports (display: grid) {
  .software .software-logos {
    width: auto;
  }
}

.sub-title {
  margin-left: 30px;
}

.two {
  grid-column: col/span 4;
  grid-row: row 3;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, auto);
}

.network {
  display: flex;
  flex-wrap: wrap;
  grid-row: 1;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, auto);
}

@media only screen and (min-width: 901px) {
  .network {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 23rem;
  }
}

.network .network-logos {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(auto-fit, minmax(75px, 1fr));
  justify-items: center;
  padding: 2.5em;
}

.network .network-logos .logo {
  align-self: center;
  background-color: transparent !important;
  border: none !important;
  width: 4.6rem !important;
}

.network .left, .network .right {
  padding: 2.5em;
  width: 100%;
}

@media only screen and (min-width: 901px) {
  .network .left, .network .right {
    grid-column: 1/span 1;
    width: 50%;
  }
}

@supports (display: grid) {
  .network .left, .network .right {
    width: auto;
  }
}

.network .right {
  grid-column: 1fr;
  grid-row: 1;
  order: -1;
  width: 100%;
}

@media only screen and (min-width: 901px) {
  .network .right {
    grid-column: 2/span 1;
    order: 0;
    width: 50%;
  }
}

@supports (display: grid) {
  .network .right {
    width: auto;
  }
}

.network .link {
  box-shadow: inset 0 0 0 1px #6E9C39;
  color: #6E9C39;
  padding: .25em .75em;
  position: relative;
  text-transform: uppercase;
  transition: color 0.25s 0.08333s;
  border-radius: 2px;
  margin-top: 2em;
}

.network .link::before, .network .link::after {
  border: 0 solid transparent;
  box-sizing: border-box;
  content: '';
  height: 0;
  pointer-events: none;
  position: absolute;
  width: 0;
  bottom: 0;
  right: 0;
}

.network .link::before {
  border-bottom-width: 1px;
  border-left-width: 1px;
}

.network .link::after {
  border-top-width: 1px;
  border-right-width: 1px;
}

.network .link:hover {
  color: #cca231;
}

.network .link:hover::before, .network .link:hover::after {
  border-color: #cca231;
  height: 100%;
  transition: border-color 0s, width 0.25s, height 0.25s;
  width: 100%;
}

.network .link:hover::before {
  transition-delay: 0s, 0s, 0.25s;
}

.network .link:hover::after {
  transition-delay: 0s, 0.25s, 0s;
}

.community {
  display: flex;
  flex-wrap: wrap;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, auto);
  padding: 0 2.5em;
}

@media only screen and (min-width: 901px) {
  .community {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
  }
}

.community .left, .community .network .right, .network .community .right {
  padding-right: 2.5em;
  width: 100%;
}

@media only screen and (min-width: 620px) {
  .community .left, .community .network .right, .network .community .right {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
  }
}

@media only screen and (min-width: 901px) {
  .community .left, .community .network .right, .network .community .right {
    width: 50%;
  }
}

.community .left .title, .community .network .right .title, .network .community .right .title {
  grid-row: 1;
}

@media only screen and (min-width: 620px) {
  .community .left .title, .community .network .right .title, .network .community .right .title {
    grid-column: span 2;
  }
}

.community .left ul, .community .network .right ul, .network .community .right ul {
  grid-row: 2;
  list-style: none;
}

@media only screen and (min-width: 620px) {
  .community .left ul, .community .network .right ul, .network .community .right ul {
    grid-column: span 1;
  }
}

.community .left .button, .community .network .right .button, .network .community .right .button {
  grid-row: 3;
  margin: 1em 0;
  text-align: center;
}

.community .left .button a, .community .network .right .button a, .network .community .right .button a {
  box-shadow: inset 0 0 0 1px #6E9C39;
  color: #6E9C39;
  padding: .25em .75em;
  position: relative;
  text-transform: uppercase;
  transition: color 0.25s 0.08333s;
  border-radius: 2px;
  position: relative;
  top: 50%;
}

.community .left .button a::before, .community .network .right .button a::before, .network .community .right .button a::before, .community .left .button a::after, .community .network .right .button a::after, .network .community .right .button a::after {
  border: 0 solid transparent;
  box-sizing: border-box;
  content: '';
  height: 0;
  pointer-events: none;
  position: absolute;
  width: 0;
  bottom: 0;
  right: 0;
}

.community .left .button a::before, .community .network .right .button a::before, .network .community .right .button a::before {
  border-bottom-width: 1px;
  border-left-width: 1px;
}

.community .left .button a::after, .community .network .right .button a::after, .network .community .right .button a::after {
  border-top-width: 1px;
  border-right-width: 1px;
}

.community .left .button a:hover, .community .network .right .button a:hover, .network .community .right .button a:hover {
  color: #cca231;
}

.community .left .button a:hover::before, .community .network .right .button a:hover::before, .network .community .right .button a:hover::before, .community .left .button a:hover::after, .community .network .right .button a:hover::after, .network .community .right .button a:hover::after {
  border-color: #cca231;
  height: 100%;
  transition: border-color 0s, width 0.25s, height 0.25s;
  width: 100%;
}

.community .left .button a:hover::before, .community .network .right .button a:hover::before, .network .community .right .button a:hover::before {
  transition-delay: 0s, 0s, 0.25s;
}

.community .left .button a:hover::after, .community .network .right .button a:hover::after, .network .community .right .button a:hover::after {
  transition-delay: 0s, 0.25s, 0s;
}

@media only screen and (min-width: 620px) {
  .community .left .button, .community .network .right .button, .network .community .right .button {
    grid-row: 2;
  }
}

@supports (display: grid) {
  .community .left, .community .network .right, .network .community .right {
    width: auto;
  }
}

.community .right {
  border: 1px solid #84bf41;
  border-radius: 6px;
  position: relative;
  width: 100%;
}

@media only screen and (min-width: 901px) {
  .community .right {
    width: 50%;
  }
}

@supports (display: grid) {
  .community .right {
    width: auto;
  }
}

.community .right h2 {
  color: #84bf41;
  position: absolute;
  top: -.95em;
}

.community .module-right {
  display: flex;
  flex-wrap: wrap;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 15rem);
  padding: 1em;
}

@media only screen and (min-width: 1001px) {
  .community .module-right {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: nykk;
    grid-template-rows: repeat(2, 15rem);
  }
}

.community .module-right .horizontal {
  grid-column: span 4;
  flex: 1 1 30rem;
  height: 15rem;
}

@media only screen and (min-width: 901px) {
  .community .module-right .horizontal {
    grid-column: span 4;
    flex: 1 1 24rem;
    height: 12rem;
  }
}

@media only screen and (min-width: 1001px) {
  .community .module-right .horizontal {
    grid-column: span 2;
  }
}

@supports (display: grid) {
  .community .module-right .horizontal {
    height: auto;
    width: auto;
  }
}

.community .module-right .regular {
  grid-column: span 2;
  flex: 1 1 15rem;
  height: 15rem;
}

@media only screen and (min-width: 901px) {
  .community .module-right .regular {
    grid-column: span 2;
    flex: 1 1 12rem;
    height: 12rem;
  }
}

@media only screen and (min-width: 1001px) {
  .community .module-right .regular {
    grid-column: span 1;
  }
}

@supports (display: grid) {
  .community .module-right .regular {
    height: auto;
    width: auto;
  }
}

.community .module-right .billboard {
  position: relative;
}

.community .module-right .billboard .billboard-tag {
  background-color: #84bf41;
  bottom: 5em;
  font-size: .8em;
  font-weight: bold;
  padding: .5em .8em;
  position: absolute;
  text-transform: uppercase;
}

.community .module-right .billboard .billboard-tag a {
  color: #fff;
}

.community .module-right .billboard .billboard-header {
  bottom: 0;
  padding: 10px;
  position: absolute;
}

.community .module-right .billboard .billboard-header a {
  display: block;
  /* Fallback for non-webkit */
  display: -webkit-box;
  height: 2em;
  /* Fallback for non-webkit */
  margin: 0 auto;
  font-size: 1em;
  line-height: 1;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #fff;
}

.community .module-right .resource {
  position: relative;
}

.community .module-right .resource .resource-tag {
  background-color: #222b37;
  bottom: 5em;
  font-size: .8em;
  font-weight: bold;
  padding: .5em .8em;
  position: absolute;
  text-transform: uppercase;
  background-color: #222b37;
}

.community .module-right .resource .resource-tag a {
  color: #fff;
}

.community .module-right .resource .resource-title {
  bottom: 0;
  padding: 10px;
  position: absolute;
}

.community .module-right .resource .resource-title a {
  display: block;
  /* Fallback for non-webkit */
  display: -webkit-box;
  height: 2em;
  /* Fallback for non-webkit */
  margin: 0 auto;
  font-size: 1em;
  line-height: 1;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #fff;
}

.community .module-right .partner-tag {
  background-color: #84bf41;
  bottom: 5em;
  font-size: .8em;
  font-weight: bold;
  padding: .5em .8em;
  position: absolute;
  text-transform: uppercase;
}

.community .module-right .partner-tag a {
  color: #fff;
}

.community .module-right .partner-title {
  bottom: 0;
  padding: 10px;
  position: absolute;
}

.community .module-right .partner-title a {
  display: block;
  /* Fallback for non-webkit */
  display: -webkit-box;
  height: 2em;
  /* Fallback for non-webkit */
  margin: 0 auto;
  font-size: 1em;
  line-height: 1;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #fff;
}

.community .module-right .group {
  position: relative;
}

.community .module-right .group .group-tag {
  background-color: #84bf41;
  bottom: 5em;
  font-size: .8em;
  font-weight: bold;
  padding: .5em .8em;
  position: absolute;
  text-transform: uppercase;
}

.community .module-right .group .group-tag a {
  color: #fff;
}

.community .module-right .group .group-description {
  bottom: 0;
  padding: 10px;
  position: absolute;
}

.community .module-right .group .group-description a {
  display: block;
  /* Fallback for non-webkit */
  display: -webkit-box;
  height: 2em;
  /* Fallback for non-webkit */
  margin: 0 auto;
  font-size: 1em;
  line-height: 1;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #fff;
}

.community .module-right .blog {
  display: flex;
  flex-wrap: nowrap;
  position: relative;
}

.community .module-right .blog-title {
  position: absolute;
  bottom: 0;
  padding: 10px;
}

.community .module-right .blog-title a {
  display: block;
  /* Fallback for non-webkit */
  display: -webkit-box;
  height: 2em;
  /* Fallback for non-webkit */
  margin: 0 auto;
  font-size: 1em;
  line-height: 1;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #fff;
}

.community .module-right .newsletter {
  position: relative;
}

.community .module-right .newsletter .newsletter-title {
  bottom: 0;
  padding: 10px;
  position: absolute;
}

.community .module-right .newsletter .newsletter-title a {
  display: block;
  /* Fallback for non-webkit */
  display: -webkit-box;
  height: 2.86rem;
  /* Fallback for non-webkit */
  margin: 0 auto;
  font-size: 1.1rem;
  line-height: 1.3;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #fff;
}

.community .module-right .fmn {
  position: relative;
}

.community .module-right .fmn .fmn-title {
  bottom: 0;
  padding: 10px;
  position: absolute;
}

.community .module-right .fmn .fmn-title a {
  display: block;
  /* Fallback for non-webkit */
  display: -webkit-box;
  height: 2.86rem;
  /* Fallback for non-webkit */
  margin: 0 auto;
  font-size: 1.1rem;
  line-height: 1.3;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #fff;
}

.community .module-right .fmn .fmn-tag {
  background-color: #84bf41;
  bottom: 5em;
  font-size: .8em;
  font-weight: bold;
  padding: .5em .8em;
  position: absolute;
  text-transform: uppercase;
}

.community .module-right .fmn .fmn-tag a {
  color: #fff;
}

.community .module-right .fmn .fmn-tag span {
  color: #fff;
}

@supports (display: grid) {
  .community .module-right {
    width: auto;
  }
}

.three {
  display: flex;
  flex-wrap: wrap;
  grid-column: col/span 4;
  grid-row: row 4;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 2fr;
  grid-template-rows: repeat(5, auto);
  flex: 1;
  justify-content: space-between;
  justify-self: center;
  padding: 2.5em;
}

@media only screen and (min-width: 901px) {
  .three {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
  }
}

.three h4 {
  font-family: 'montserratultra_light', 'Montserrat', Helvetica Neue, Helvetica, sans-serif;
}

.three .title {
  grid-column: span 4;
  text-align: center;
  width: 100%;
}

.three .service {
  grid-column: 1/span 2;
  border: 1px solid #84bf41;
  border-radius: 6px;
  margin: 5px 0;
  padding: 1.5em 1em 2.5em;
  position: relative;
  width: 100%;
}

@media only screen and (min-width: 901px) {
  .three .service {
    grid-column: span 2;
    width: 47%;
    margin: 5px;
  }
}

@media only screen and (min-width: 1201px) {
  .three .service {
    grid-column: span 1;
    width: 21%;
  }
}

.three .service h4 {
  height: 4.5rem;
}

.three .service .button {
  bottom: .5rem;
  position: absolute;
}

.three .service .link {
  box-shadow: inset 0 0 0 1px #6E9C39;
  color: #6E9C39;
  padding: .25em .75em;
  position: relative;
  text-transform: uppercase;
  transition: color 0.25s 0.08333s;
  border-radius: 2px;
}

.three .service .link::before, .three .service .link::after {
  border: 0 solid transparent;
  box-sizing: border-box;
  content: '';
  height: 0;
  pointer-events: none;
  position: absolute;
  width: 0;
  bottom: 0;
  right: 0;
}

.three .service .link::before {
  border-bottom-width: 1px;
  border-left-width: 1px;
}

.three .service .link::after {
  border-top-width: 1px;
  border-right-width: 1px;
}

.three .service .link:hover {
  color: #cca231;
}

.three .service .link:hover::before, .three .service .link:hover::after {
  border-color: #cca231;
  height: 100%;
  transition: border-color 0s, width 0.25s, height 0.25s;
  width: 100%;
}

.three .service .link:hover::before {
  transition-delay: 0s, 0s, 0.25s;
}

.three .service .link:hover::after {
  transition-delay: 0s, 0.25s, 0s;
}

@supports (display: grid) {
  .three .service {
    margin: 0;
    width: auto;
  }
}
