@import 'variables.scss';
@import 'mixins.scss';

.wrapper {
  @include grid-template(repeat(4, [col] 1fr), repeat(4, [row] minmax(30rem, auto)));
}
.link {
  text-transform: uppercase;
}
//Banner
.intro-container {
  @include grid(col / span 4, row);
  @include grid-template(repeat(4, 1fr), null);
  @include bcg-img('/app/site/media/images/pexels-photo-355988.jpg');
  height: 25rem;
  @include bcg($black, $white);
}
.intro {
  @include grid(1 / span 2, null);
  width: 40%;
  align-self: center;
  padding: 2.5em;
  .tagline {
    color: $white;
  }
}

//Resources
.one {
  @include grid(col / span 4, row 2);
  @include grid-template(repeat(4, 1fr), repeat(2, minmax(23rem, auto)));
  @include bcg($med-blue, $white);
  h2 {
    color: $white;
  }
  h3 {
    @extend h2;
  }
}
h3 {
  font-family: 'montserratultra_light', 'Montserrat', Helvetica Neue, Helvetica, sans-serif;
}
.resources {
  @include flexbox;
  flex: 1;
  @include grid(1 / span 4, 1);
  @include grid-template(repeat(2, 1fr), null);
  .oer {
    width: 50%;
    padding: 2.5em;
    align-self: center;
    .link {
      @include buttons($white);
      padding-top: 2em;
    }
  }
  .module-left {
    @include flexbox;
    @include grid-template(repeat(3, 1fr), null, 5px);
    width: 50%;
    padding: 2.5em;
    .resource-img {
      @extend %showcase-img;
    }
    .resource {
      position: relative;
      margin: 5px;
      .resource-tag {
        @include showcase-tag($dark-blue, $white);
      }
      .resource-title {
        position: absolute;
        bottom: 0;
        padding: 10px;
        a {
          @include showcase-header(1em, 1, 2);
        }
      }
    }
  }
}
.software {
  @include flexbox;
  flex: 1;
  @include grid(1 / span 4, 2);
  @include grid-template(repeat(2, 1fr), null);
  .left {
    width: 50%;
    padding: 2.5em;
    .link {
      @include buttons($white);
      padding-top: 2em;
    }
  }
  .software-logos {
    width: 50%;
    padding: 2.5em;
    @include flexbox(wrap);
    @include grid-template(repeat(auto-fit, minmax(100px, 1fr)), null, 10px);
    grid-auto-rows: 125px;
    justify-items: center;
    align-self: center;
    text-align: center;
    .logo-wrap {
      img {
        height: 65%;
        object-fit: scale-down;
      }
    }
    h6 {
      align-self: center;
      padding-top: .5em;
      margin: 0;
      color: $light-gray;
    }
  }
}
.sub-title {
  margin-left: 30px;
}

//Network & Community
.two {
  @include grid(col / span 4, 3);
}
.network {
  @include flexbox;
  @include grid-template(repeat(2, 1fr), 23rem);
  .network-logos {
    padding: 2.5em;
    @include grid-template(repeat(auto-fit, minmax(75px, 1fr)), null, 5px);
    justify-items: center;
    .logo {
      align-self: center;
      background-color: transparent !important;
      border: none !important;
      width: 75px !important;
    }
  }
  .left {
    padding: 2.5em;
    width: 50%;
  }
  .right {
    @extend .left;
  }
  .link {
    @include buttons($green);
    padding-top: 2em;
  }
}
.community {
  @include flexbox;
  @include grid-template(repeat(2, 1fr), null);
  .left {
    width: 50%;
    padding: 2.5em;
    @include grid-template(repeat(2, 1fr), null);
    .title {
      @include grid(1 / span 2, null);
    }
    ul {
      list-style: none;
    }
    .button {
      @include buttons($green);
      text-align: center;
      h6 {
        position: relative;
        top: 50%;
      }
    }
  }
  .right {
    width: 50%;
  }
  .module-right {
    @include flexbox(wrap);
    @include grid-template(repeat(4, 1fr), repeat(2, 200px), 5px);
    .horizontal {
      width: 24rem;
      height: 15rem;
      @include grid(span 2, null);
    }
    .regular {
      width: 12rem;
      height: 15rem;
    }
    .billboard-image {
      @extend %showcase-img;
    }
    .billboard {
      position: relative;
      .billboard-tag {
        @include showcase-tag($green, $white);
      }
      .billboard-header {
        position: absolute;
        bottom: 0;
        padding: 10px;
        a {
          @include showcase-header(1em, 1, 2);
        }
      }
    }
    .resource-img {
      @extend %showcase-img;
    }
    .resource {
      position: relative;
      .resource-tag {
        @include showcase-tag($dark-blue, $white);
        background-color: $dark-blue;
      }
      .resource-title {
        position: absolute;
        bottom: 0;
        padding: 10px;
        a {
          @include showcase-header(1em, 1, 2);
        }
      }
    }
    .partner-img {
      @extend %showcase-group;
    }
    .partner-tag {
      @include showcase-tag($green, $white);
    }
    .partner-title {
      position: absolute;
      bottom: 0;
      padding: 10px;
      a {
        @include showcase-header(1em, 1, 2);
      }
    }
    .group {
      position: relative;
      .group-img {
        @extend %showcase-group;
      }
      .group-tag {
        @include showcase-tag($green, $white);
      }
      .group-description {
        position: absolute;
        bottom: 0;
        padding: 10px;
        a {
          @include showcase-header(1em, 1, 2);
        }
      }
    }
  }
}

//Services
.three {
  @include flexbox(wrap);
  flex: 1;
  justify-content: space-between;
  @include grid(col / span 4, row 4);
  @include grid-template(repeat(4, 1fr), auto, 10px);
  justify-self: center;
  padding: 2.5em;
  h4 {
    font-family: 'montserratultra_light', 'Montserrat', Helvetica Neue, Helvetica, sans-serif;
  }
  .title {
    width: 100%;
    @include grid(span 4, null);
    text-align: center;
  }
  .service {
    position: relative;
    width: 21%;
    border: 1px solid $green;
    border-radius: 6px;
    padding: 1.5em 1em 2.5em 1em;
    h4 {
      height: 4.5rem;
    }
    .button {
      position: absolute;
      bottom: .5rem;
    }
    .link {
      @include buttons($green);
    }
  }
}

@media only screen and (min-width: 320px) and (max-width: 900px) {
  .intro-container {
    .intro {
      width: 100%;
      grid-column: 1 / span 4;
    }
  }
  .resources {
    flex-wrap: wrap;
    grid-template-rows: 20rem auto;
    .module-left {
      width: 100%;
      flex-wrap: wrap;
      grid-column: 1 / span 4;
      grid-row: 2;
      grid-template-rows: repeat(3, 17rem);
      .regular {
        grid-column: span 3;
      }
    }
    .oer {
      width: 100%;
      order: -1;
      grid-column: 1 / span 4;
      grid-row: 1;
    }
  }
  .software {
    flex-wrap: wrap;
    grid-template-rows: repeat(2, 1fr);
    .left {
      width: 100%;
      grid-column: 1 / span 4;
      grid-row: 1;
    }
    .software-logos {
      width: 100%;
      grid-column: 1 / span 4;
      grid-row: 2;
    }
  }
  .network {
    flex-wrap: wrap;
    grid-template-rows: repeat(2, 1fr);
    .left {
      width: 100%;
      grid-column: 1 / span 4;
      grid-row: 2;
    }
    .right {
      width: 100%;
      order: -1;
      grid-column: 1 / span 4;
      grid-row: 1;
    }
  }
  .community {
    flex-wrap: wrap;
    grid-template-rows: repeat(2, 1fr);
    .left {
      width: 100%;
      grid-column: 1 / span 4;
      grid-row: 1;
    }
    .right {
      width: 100%;
      grid-column: 1 / span 4;
      grid-row: 2;
    }
    .module-right {
      grid-template-rows: repeat(4, 150px);
      .big {
        grid-column: span 4;
        grid-row: span 2;
      }
      .regular {
        grid-column: span 2;
      }
      .horizontal {
        grid-column: span 4;
      }
    }
  }
  .three {
    flex-wrap: wrap;
    grid-template-rows: 1fr 2fr 2fr 2fr 2fr;
    .service {
      width: 100%;
      grid-column: 1 / span 4;
    }
  }
}
@media only screen and (min-width: 901px) and (max-width: 1200px) {
  .resources {
    .module-left {
      grid-template-rows: repeat(3, 15rem);
      .regular {
        grid-column: span 3;
      }
    }
  }
  .community {
    .module-right {
      grid-template-rows: repeat(4, 200px);
      .big {
        grid-column: span 4;
        grid-row: span 2;
      }
      .regular {
        grid-column: span 2;
      }
      .horizontal {
        grid-column: span 4;
      }
    }
  }
  .three {
    .service {
      grid-column: span 2;
    }
  }
}
//Reset widths if css grid is supported
@supports (display:grid) {
  .intro-container {
    height: auto;
    .intro {
      width: auto;
    }
  }
  .resources {
    .oer {
      width: auto;
    }
    .module-left {
      width: auto;
      .resource {
        margin: 0;
      }
    }
  }
  .software {
    .left {
      width: auto;
    }
    .software-logos {
      width: auto;
    }
  }
  .network {
    .left {
      width: auto;
    }
    .right {
      width: auto;
    }
  }
  .community {
    .left {
      width: auto;
    }
    .right {
      width: auto;
    }
    .module-right {
      width: auto;
      .horizontal {
        width: auto;
        height: auto;
      }
      .regular {
        width: auto;
        height: auto;
      }
    }
  }
  .three {
    .service {
      width: auto;
    }
  }
}
