.content-header {
  display: none;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 7rem auto;
}

.wrapper hr {
  background-color: #222b37;
  margin: 0 0 1em;
  width: 45%;
}

.wrapper h2 {
  margin-bottom: 0;
}

.header {
  grid-column: 1/span 4;
  grid-row: 1;
  display: flex;
  flex-wrap: nowrap;
}

@media only screen and (min-width: 921px) {
  .header {
    grid-column: 1/span 3;
    grid-row: 1;
  }
}

.header .header-title {
  width: 70%;
}

.header img {
  height: 100%;
}

.header h1 {
  border-bottom: 3px solid #84bf41;
  color: #222b37;
  font-family: 'montserratultra_light', Helvetica Neue, Helvetica, sans-serif;
  margin: 1rem 0;
}

.header h4 {
  font-family: 'Martel', serif;
  text-align: right;
}

.twitter-wrapper {
  grid-column: 1/span 4;
}

@media only screen and (min-width: 921px) {
  .twitter-wrapper {
    grid-column: 4/span 1;
    grid-row: 1/span 2;
    margin-left: 1.5em;
  }
}

.activities-wrapper {
  grid-column: 1/span 4;
  grid-row: 2;
}

@media only screen and (min-width: 921px) {
  .activities-wrapper {
    grid-column: 1/span 3;
    grid-row: 2;
  }
}

.row {
  background-color: #F1F2F2;
  height: fit-content;
  margin-top: 3em;
  padding: 1em;
}

.row .regular {
  display: flex;
  flex-direction: column;
  height: auto;
  margin: 0 .75em .75em;
  width: 12rem;
}

.row .newsletter {
  position: relative;
}

.row .newsletter-img {
  border: none;
  width: 100%;
  height: 7rem;
  overflow: hidden;
}

.row .newsletter-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.row .newsletter-tag {
  position: absolute;
  bottom: 0;
  text-transform: uppercase;
  font-weight: bold;
  font-size: .8em;
  padding: .5em .8em;
  background-color: #84bf41;
}

.row .newsletter-tag a {
  color: #fff;
}

.row .newsletter-title {
  display: block;
  /* Fallback for non-webkit */
  display: -webkit-box;
  height: 4.8em;
  /* Fallback for non-webkit */
  margin: 0 auto;
  font-size: 1em;
  line-height: 1.2;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #fff;
  border-bottom: 2px solid #84bf41;
}

.row .newsletter-title a {
  color: #222b37;
}

.module-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media only screen and (min-width: 60.375em) {
  .module-row {
    display: flex;
    flex-wrap: nowrap;
  }
}

.inner-wrap {
  display: flex;
  flex-wrap: wrap;
  margin-top: 3em;
}

.blogs,
.newsletters {
  width: 100%;
}

@media only screen and (min-width: 47.5em) {
  .blogs,
  .newsletters {
    width: 50%;
  }
}

.module-blogs,
.module-newsletters {
  display: flex;
  flex-wrap: wrap;
}

.module-blogs .regular,
.module-newsletters .regular {
  flex: 1 1 20rem;
  margin: 0 .75em .75em;
}

.blog, .newsletter {
  display: flex;
  flex-wrap: nowrap;
  position: relative;
}

.blog-img, .newsletter-img {
  background-color: #fff;
  border-right: 3px solid #84bf41;
  height: 5rem;
  overflow: hidden;
  transition: 3s ease-in-out;
  width: 5rem;
}

.blog-img img, .newsletter-img img {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  transition: 3s ease-in-out;
}

.blog-img:hover img, .newsletter-img:hover img {
  transform: translateY(-50%) scale(1.1);
}

.blog-title, .newsletter-title {
  margin-left: .5em;
}

.blog-title a, .newsletter-title a {
  display: block;
  /* Fallback for non-webkit */
  display: -webkit-box;
  height: 4.8em;
  /* Fallback for non-webkit */
  margin: 0 auto;
  font-size: 1em;
  line-height: 1.2;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #fff;
  color: #4c4c4c;
}

.blog-title span, .newsletter-title span {
  color: #4c4c4c;
}
