.oer {
  color: #222b37;
  margin: 2em;
  padding: 1em;
  transition: .2s ease;
  width: 22rem;
}

.oer hr {
  background: #222b37;
  margin: 0;
  transition: .3s;
  width: 45%;
}

.oer h4 {
  transition: .2s;
}

.oer a {
  color: #222b37;
}

.oer a:hover, .oer a:visited {
  color: #222b37;
}

.oer:hover {
  border-left: 4px solid #222b37;
}

.oer:hover hr {
  width: 65%;
}

.oer:hover h4 {
  margin-left: .25em;
}

.link-anchor {
  color: inherit;
}

.link-anchor:hover {
  color: inherit;
}

.link-anchor:visited {
  color: inherit;
}

.wrapper h3,
.wrapper h4 {
  font-family: 'Martel', serif;
}

.wrapper p {
  font-size: 1rem;
}

.link {
  box-shadow: inset 0 0 0 1px #6E9C39;
  color: #6E9C39;
  padding: .25em .75em;
  position: relative;
  text-transform: uppercase;
  transition: color 0.25s 0.08333s;
  border-radius: 2px;
}

.link::before, .link::after {
  border: 0 solid transparent;
  box-sizing: border-box;
  content: '';
  height: 0;
  pointer-events: none;
  position: absolute;
  width: 0;
  bottom: 0;
  right: 0;
}

.link::before {
  border-bottom-width: 1px;
  border-left-width: 1px;
}

.link::after {
  border-top-width: 1px;
  border-right-width: 1px;
}

.link:hover {
  color: #cca231;
}

.link:hover::before, .link:hover::after {
  border-color: #cca231;
  height: 100%;
  transition: border-color 0s, width 0.25s, height 0.25s;
  width: 100%;
}

.link:hover::before {
  transition-delay: 0s, 0s, 0.25s;
}

.link:hover::after {
  transition-delay: 0s, 0.25s, 0s;
}

.no-webp .oer-header,
.no-jpeg2000 .oer-header,
.no-jpegxr .oer-header {
  background: url("/app/site/media/images/library.jpg");
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 100%), url("/app/site/media/images/library.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.webp .oer-header {
  background: url("/app/site/media/images/library.webp");
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 100%), url("/app/site/media/images/library.webp");
  background-repeat: no-repeat;
  background-size: cover;
}

.jpeg2000 .oer-header {
  background: url("/app/site/media/images/library.jp2");
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 100%), url("/app/site/media/images/library.jp2");
  background-repeat: no-repeat;
  background-size: cover;
}

.jpegxr .oer-header {
  background: url("/app/site/media/images/library.jxr");
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 100%), url("/app/site/media/images/library.jxr");
  background-repeat: no-repeat;
  background-size: cover;
}

.oer-header {
  display: flex;
  flex-wrap: nowrap;
  background-color: #000;
  color: #fff;
  height: 25rem;
  text-align: center;
  visibility: hidden;
}

.oer-header .intro {
  align-self: center;
  margin: 0 auto;
  padding: 2.5em;
}

.oer-header .intro .link {
  box-shadow: inset 0 0 0 1px #fff;
  color: #fff;
  padding: .25em .75em;
  position: relative;
  text-transform: uppercase;
  transition: color 0.25s 0.08333s;
  border-radius: 2px;
}

.oer-header .intro .link::before, .oer-header .intro .link::after {
  border: 0 solid transparent;
  box-sizing: border-box;
  content: '';
  height: 0;
  pointer-events: none;
  position: absolute;
  width: 0;
  bottom: 0;
  right: 0;
}

.oer-header .intro .link::before {
  border-bottom-width: 1px;
  border-left-width: 1px;
}

.oer-header .intro .link::after {
  border-top-width: 1px;
  border-right-width: 1px;
}

.oer-header .intro .link:hover {
  color: #cca231;
}

.oer-header .intro .link:hover::before, .oer-header .intro .link:hover::after {
  border-color: #cca231;
  height: 100%;
  transition: border-color 0s, width 0.25s, height 0.25s;
  width: 100%;
}

.oer-header .intro .link:hover::before {
  transition-delay: 0s, 0s, 0.25s;
}

.oer-header .intro .link:hover::after {
  transition-delay: 0s, 0.25s, 0s;
}

.oer-header h2 {
  color: #fff;
  visibility: hidden;
}

.oer-header p {
  margin: 2em auto;
  max-width: 65%;
  visibility: hidden;
}

.learn {
  grid-column: col/span 4;
  grid-row: row 2;
  padding: 2.5em;
}

.oer-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.oer {
  visibility: hidden;
}

#one {
  background-color: #F1F2F2;
  padding: 0 2em;
}

#one .sharing {
  display: flex;
  flex-wrap: wrap;
  padding: 2em;
  width: 100%;
}

@media only screen and (min-width: 981px) {
  #one .sharing {
    display: flex;
    flex-wrap: nowrap;
  }
}

#one .sharing img {
  height: 30rem;
}

#one .sharing ul {
  list-style-type: none;
  text-align: left;
}

#one .sharing-wrap {
  align-self: center;
  margin-bottom: 2em;
  text-align: center;
}

@media only screen and (min-width: 981px) {
  #one .sharing-wrap {
    margin-bottom: 0;
    margin-right: 2em;
  }
}

#one .sharing-wrap h3,
#one .sharing-wrap p,
#one .sharing-wrap ul {
  text-align: left;
}

#one .sharing-wrap ul {
  margin-bottom: 2em;
}

#one .img-wrap {
  height: 100%;
  width: 100%;
}

#one .img-wrap img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#two {
  padding: 2.5em;
  text-align: center;
}

.projects-wrap {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2em;
}

@media only screen and (min-width: 781px) {
  .projects-wrap {
    display: flex;
    flex-wrap: nowrap;
  }
}

.project {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: space-between;
  margin: 1em;
}

.project h6 {
  font-family: 'Martel', serif;
  margin-top: .5em;
  text-align: left;
}

#three {
  display: flex;
  flex-wrap: wrap;
}

@media only screen and (min-width: 981px) {
  #three {
    display: flex;
    flex-wrap: nowrap;
  }
}

#three .culture {
  align-self: center;
  padding: 2.5em;
}

#three .img-wrap {
  width: 100%;
  height: 100%;
}
