.wrapper {
  display: grid;
  grid-template-columns: repeat(3, [col] 1fr);
  grid-template-rows: repeat(5, [row] auto);
}

.one {
  display: flex;
  flex-wrap: wrap;
  grid-column: col/span 3;
  grid-row: row;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  visibility: hidden;
}

.one .postdoc-intro {
  grid-column: 1/span 3;
  grid-row: 1;
  padding: 0 .625em;
}

@media only screen and (min-width: 50.0625em) {
  .one .postdoc-intro {
    grid-column: 1/span 2;
  }
}

.one .current-postdocs {
  grid-column: 1/span 3;
  grid-row: 2;
  padding: 0 1.125em 0 .625em;
  position: relative;
}

.one .current-postdocs .postdoc-title {
  background-image: linear-gradient(30deg, #8cc540 0%, #fff 100%);
  background-position: 0 88%;
  background-repeat: no-repeat;
  background-size: 100% .1em;
  padding: 0 3px;
  left: 0;
  position: absolute;
  text-align: left;
  top: -1em;
}

@media only screen and (min-width: 50.0625em) {
  .one .current-postdocs {
    grid-column: 3/span 1;
    grid-row: 1;
  }
}

@media only screen and (min-width: 50.0625em) {
  .one {
    display: flex;
    flex-wrap: nowrap;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
    padding: 2.5em;
  }
}

.two {
  display: flex;
  flex-wrap: wrap;
  grid-column: col/span 3;
  grid-row: row 2;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, auto);
  background-color: #f1f1f1;
  padding: 2.5em;
}

.two h2 {
  grid-column: 1/span 3;
  grid-row: 1;
}

.two .postdoc-activities {
  grid-column: 1/span 3;
  grid-row: 2;
}

@media only screen and (min-width: 50.0625em) {
  .two .postdoc-activities {
    grid-column: 1/span 2;
    grid-row: 2;
  }
}

.two .img-container {
  grid-column: 1/span 3;
  grid-row: 3;
  margin: 0 auto;
}

.two .img-container img {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

@media only screen and (min-width: 50.0625em) {
  .two .img-container {
    grid-column: 3/span 1;
    grid-row: 2;
    width: 50%;
  }
}

@supports (display: grid) {
  .two .img-container {
    width: auto;
  }
}

@media only screen and (min-width: 50.0625em) {
  .two {
    display: flex;
    flex-wrap: nowrap;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
  }
}

.three {
  display: flex;
  flex-wrap: wrap;
  grid-column: col/span 3;
  grid-row: row 3;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  padding: 2.5em;
}

.three .img-container {
  grid-column: 1/span 3;
  grid-row: 2;
  padding: 0 .625em;
}

@media only screen and (min-width: 50.0625em) {
  .three .img-container {
    grid-column: 1/span 1;
    grid-row: 1;
  }
}

.three .postdoc-activities {
  grid-column: 1/span 3;
  align-self: center;
  order: -1;
  padding: 0 10px;
}

@media only screen and (min-width: 50.0625em) {
  .three .postdoc-activities {
    grid-column: 2/span 2;
    order: 1;
  }
}

@media only screen and (min-width: 50.0625em) {
  .three {
    display: flex;
    flex-wrap: nowrap;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
  }
}

.four {
  display: flex;
  flex-wrap: wrap;
  grid-column: col/span 3;
  grid-row: row 4;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  background-color: #f1f1f1;
  padding: 2.5em;
}

.four .postdoc-activities {
  grid-column: 1/span 3;
  grid-row: 1;
  align-self: center;
  padding: 0 .625em;
}

@media only screen and (min-width: 43.8125em) {
  .four .postdoc-activities {
    grid-column: 1/span 2;
  }
}

.four .img-container {
  grid-column: 1/span 3;
  grid-row: 2;
  padding: 0 10px;
}

@media only screen and (min-width: 50.0625em) {
  .four .img-container {
    grid-column: 3/span 1;
    grid-row: 1;
  }
}

@media only screen and (min-width: 50.0625em) {
  .four {
    display: flex;
    flex-wrap: nowrap;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
  }
}

.five {
  grid-column: col/span 3;
  grid-row: row 5;
}

@media only screen and (min-width: 50.0625em) {
  .five {
    padding: 2.5em;
  }
}

.past-postdocs {
  display: grid;
  grid-gap: 3.125em;
  grid-template-columns: 18.75rem;
  grid-auto-rows: 21.875rem;
  justify-content: center;
}

@media only screen and (min-width: 42.5em) {
  .past-postdocs {
    display: grid;
    grid-gap: 3.125em;
    grid-template-columns: repeat(2, 18.75rem);
  }
}

@media only screen and (min-width: 81.875em) {
  .past-postdocs {
    display: grid;
    grid-gap: 3.125em;
    grid-template-columns: repeat(3, 18.75rem);
  }
}

a {
  border: none;
}

ul.postdoc-list {
  list-style: none;
}

#postdoc-pos1 {
  display: none;
  padding: 0.9375em;
}

.type-em {
  font-size: 1.2rem;
  font-style: italic;
  line-height: 1em;
}

.open-positions {
  border: 1px solid #eb6546;
  padding: 10px;
  position: relative;
}

.ribbon {
  height: 75px;
  overflow: hidden;
  position: absolute;
  right: -5px;
  text-align: right;
  top: -5px;
  width: 75px;
  z-index: 1;
}

.ribbon span {
  background: #79A70A;
  background: linear-gradient(#F70505 0%, #8F0808 100%);
  box-shadow: 0 3px 10px -5px black;
  color: #FFF;
  display: block;
  font-size: 10px;
  font-weight: bold;
  line-height: 20px;
  position: absolute;
  right: -21px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  text-align: center;
  text-transform: uppercase;
  top: 19px;
  width: 100px;
}

.ribbon span::before {
  border-bottom: 3px solid transparent;
  border-left: 3px solid #8F0808;
  border-right: 3px solid transparent;
  border-top: 3px solid #8F0808;
  content: '';
  left: 0;
  position: absolute;
  top: 100%;
  z-index: -1;
}

.ribbon span::after {
  border-bottom: 3px solid transparent;
  border-left: 3px solid transparent;
  border-right: 3px solid #8F0808;
  border-top: 3px solid #8F0808;
  content: '';
  position: absolute;
  right: 0;
  top: 100%;
  z-index: -1;
}

.icon-spinner {
  -webkit-animation: spin-animation .2s infinite linear;
  animation: spin-animation .2s infinite linear;
  display: inline-block;
}

@keyframes spin-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}

.card {
  height: 0;
  margin-bottom: 6.6em;
  padding-bottom: calc(100% - 1em);
  position: relative;
}

.card h2 {
  color: #fff;
  font-size: 1.4em;
  left: 0;
  line-height: 1.6em;
  margin: 0;
  padding: .625em 1em;
  position: absolute;
  top: calc(100% - 1em);
  transition: .3s;
  width: 100%;
  z-index: 10;
}

.card h2 span {
  display: block;
}

.card h2 strong {
  display: block;
  font-size: 1.03rem;
  font-weight: 400;
}

.card h2:before, .card h2:after {
  border: 8px solid;
  content: '';
  left: 0;
  position: absolute;
  top: -.7em;
  transition: .3s;
  width: 0;
}

.card h2:after {
  bottom: 0;
  top: auto;
}

@media only screen and (min-width: 47.9375em) {
  .card.active {
    height: auto;
    padding-bottom: 0;
  }
}

.card.active h2 {
  padding: .5em 1em .5em 4em;
  top: 0;
}

.card.active h2 span {
  display: block;
  /* Fallback for non-webkit */
  display: -webkit-box;
  height: 2em;
  /* Fallback for non-webkit */
  margin: 0 auto;
  font-size: 1em;
  line-height: 1;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card.active h2 strong {
  display: block;
  /* Fallback for non-webkit */
  display: -webkit-box;
  height: 1.28em;
  /* Fallback for non-webkit */
  margin: 0 auto;
  font-size: 0.8em;
  line-height: 1.6;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card.active h2:before {
  top: 0;
}

.card.active h2:after {
  bottom: -.7em;
}

.card.focus {
  transition: .5s;
}

.card.unfocus {
  opacity: .4 !important;
  transform: scale(0.9) !important;
  transition: .5s;
}

.card .card-content {
  bottom: 1em;
  height: 21.875rem;
  left: 1em;
  position: absolute;
  right: 0;
  top: 0;
  transition: .3s;
}

.card .btn-action {
  border: 5px solid;
  border-radius: 50%;
  color: #fff;
  height: 3.375rem;
  position: absolute;
  right: 1em;
  text-align: center;
  top: 0.9375em;
  transition: .3s;
  width: 3.375rem;
  z-index: 20;
}

.card .btn-action i {
  font-size: inherit;
}

.card.active .btn-action {
  top: 3.875em;
}

.card .description {
  bottom: 3.375em;
  left: 1.875em;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  right: 1.875em;
  top: 100%;
  transition: 1.2s;
}

.card .description p {
  display: block;
  /* Fallback for non-webkit */
  display: -webkit-box;
  height: 8rem;
  /* Fallback for non-webkit */
  margin: 0 auto;
  font-size: 1rem;
  line-height: 1.6;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card .menu:before {
  content: '\f039';
  font-family: 'Fontcons';
  font-style: normal;
}

.card .arrow-left:before {
  content: '\2190';
  font-family: 'Fontcons';
  font-style: normal;
}

.card .profile:before {
  content: '\f007';
  font-family: 'Fontcons';
  font-style: normal;
  padding: 0 .5em;
}

.card .contact:before {
  content: '\2709';
  font-family: 'Fontcons';
  font-style: normal;
  padding: 0 .5em;
}

.card .card-footer {
  height: 0;
  overflow: hidden;
  transition: .3s;
}

.card .card-footer a {
  color: #fff;
  display: block;
  float: left;
  font-size: 1.75rem;
  height: 3.3125rem;
  line-height: 3.25rem;
  margin-bottom: .9375em;
  margin-left: .3125em;
  position: relative;
  text-decoration: none;
  top: 200px;
  width: 3.25rem;
}

.card .card-footer a:nth-child(1) {
  transition: .5s;
}

.card .card-footer a:nth-child(2) {
  transition: .6s;
}

.card .img-container {
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  transition: .3s;
  width: 100%;
  z-index: 3;
}

.card.active .img-container {
  border-radius: 50%;
  height: 3.75rem;
  left: 0;
  top: .75em;
  width: 3.75rem;
  z-index: 20;
}

.card.active .card-content {
  padding-top: 5.6em;
}

@media only screen and (min-width: 767px) {
  .card.active .card-content {
    margin-right: 1em;
    position: relative;
  }
}

.card.active .description {
  opacity: 1;
  padding-top: 5em;
  top: 3.125em;
}

.card.active .card-footer {
  height: 5.125rem;
  left: 1em;
  overflow: visible;
  padding-left: 1.5625em;
  padding-top: .9375em;
  position: absolute;
  right: 0;
  top: calc(100% - 5em);
}

.card.active .card-footer a {
  top: 0;
}

.green h2 {
  background-color: #248232;
}

.green h2:after {
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-right-color: #248232;
  border-top-color: #248232;
}

.green h2:before {
  border-bottom-color: #030a04;
  border-left-color: transparent;
  border-right-color: #030a04;
  border-top-color: transparent;
}

.green.active h2:before {
  border-bottom-color: #248232;
  border-left-color: transparent;
  border-right-color: #248232;
  border-top-color: transparent;
}

.green.active h2:after {
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-right-color: #030a04;
  border-top-color: #030a04;
}

.green .btn-action {
  background-color: #248232;
}

.green .btn-action:hover {
  background-color: #0e3213;
}

.green .card-footer h4 {
  color: #030a04;
}

.green .card-footer a {
  background-color: #0e3213;
  color: #fff;
}

.green .card-footer a:hover {
  background-color: black;
}

.green.active .card-content {
  background-color: #cdf1d3;
}

.green.active .card-footer {
  background-color: #2faa41;
}

.dark-blue h2 {
  background-color: #222b37;
}

.dark-blue h2:after {
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-right-color: #222b37;
  border-top-color: #222b37;
}

.dark-blue h2:before {
  border-bottom-color: black;
  border-left-color: transparent;
  border-right-color: black;
  border-top-color: transparent;
}

.dark-blue.active h2:before {
  border-bottom-color: #222b37;
  border-left-color: transparent;
  border-right-color: #222b37;
  border-top-color: transparent;
}

.dark-blue.active h2:after {
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-right-color: black;
  border-top-color: black;
}

.dark-blue .btn-action {
  background-color: #222b37;
}

.dark-blue .btn-action:hover {
  background-color: black;
}

.dark-blue .card-footer h4 {
  color: black;
}

.dark-blue .card-footer a {
  background-color: black;
  color: #fff;
}

.dark-blue .card-footer a:hover {
  background-color: black;
}

.dark-blue.active .card-content {
  background-color: #a8b6c9;
}

.dark-blue.active .card-footer {
  background-color: #354457;
}

.past-postdocs .card {
  height: 0;
  padding-bottom: calc(100% - 16px);
}

.past-postdocs .card.active .description {
  padding-top: 5em;
}

.past-postdocs .card.active .card-footer {
  top: calc(100% - 1em);
}
