@import 'variables.scss';
@import 'mixins.scss';

.wrapper {
  h3,
  h4 {
    font-family: 'Martel', serif;
  }
}

//Feature
.feature {
  .module-feature {
    @include flexbox(wrap);
    justify-content: center;
  }

  .resource-img {
    @extend %showcase-img;
    }

  .resource {
    flex: 1 1 10rem;
    height: 15rem;
    margin: 2.5px;
    position: relative;

    .resource-tag {
      @include showcase-tag($dark-blue, $white);
    }

    .resource-title {
      bottom: 0;
      padding: 10px;
      position: absolute;

      a {
        @include showcase-header(1em, 1, 2);
      }
    }
  }
}

//search
// .search-wrapper {
//   @include grid(col / span 4, row 2);
//   justify-content: center;
//   padding: 2.5em;
//   text-align: center;
// }
//
// #rsearch {
//   width: 70%;
// }

// .page-body > .content form.search input[type="submit"] {
//   background-color: $green;
//   color: $white;
// }

//Discover
.discover {
  @include flexbox(wrap);
  justify-content: center;
  padding: 30px;

  h2 {
    width: 100%;
  }
}
.discover-wrap {
  @include flexbox(wrap);
  justify-content: center;
}

.resources {
  @extend %anchor;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .link {
    @include btn-border-drawing($link-color, $orange, 1px, bottom, right);
    align-self: flex-start;
    border-radius: 2px;
    color: $link-color !important;

    &:hover {
      color: $orange !important;
    }
  }
}

//OER and Resources
.one {
  background-color: $light-gray;
}

.resource-oer {
  @include flexbox;

  .oer {
    align-self: center;
    margin: 1em auto;
    padding: 2.5em;
    text-align: center;
    width: 60%;
  }

  .link {
    @include btn-border-drawing($link-color, $orange, 1px, bottom, right);
    border-radius: 2px;
  }
}

.resource-fmn {
  @include flexbox(wrap);
  flex: 1;

  .module-fmn {
    @include flexbox(wrap);
    @include respond-at(901px) {
      width: 50%;
    }
    justify-content: center;
    width: 100%;
    padding: 1em;
    align-self: center;
  }

  .resource-img {
    @extend %showcase-img;
    }

  .resource {
    position: relative;
    flex: 1 1 10rem;
    height: 15rem;
    margin: 2.5px;

    .resource-tag {
      @include showcase-tag($dark-blue, $white);
    }

    .resource-title {
      bottom: 0;
      padding: 10px;
      position: absolute;

      a {
        @include showcase-header(1em, 1, 2);
      }
    }
  }

  .fmn {
    @include respond-at(901px) {
      order: 1;
      width: 50%;
    }
    align-self: center;
    order: -1;
    padding: 2.5em;
    width: 100%;
  }
  @include respond-at(901px) {
    @include grid(null, 1fr);
  }
  @include grid-support {
    width: auto;
  }
}
.resource-partner {
  @extend .resource-fmn;

  .partner {
    @extend .fmn;
    @include respond-at(901px) {
      order: -1;
    }
  }
  .module-partner {
    @extend .module-fmn;
  }
}

.row {
  @include flexbox(wrap);
  @include respond-at(901px) {
    @include flexbox;
  }
  padding: 2.5em;
}

.row-wrap {
  @include respond-at(901px) {
    order: 1;
    width: 50%;
  }
  align-self: center;
  order: -1;
  padding: 2.5em;
  width: 100%;
}

.module-recent {
  @include respond-at(901px) {
    width: 50%;
  }
  width: 100%;

  .regular {
    height: 18rem;
  }
}

.newsletter-img {
  @extend %showcase-img;
}

.newsletter {
  position: relative;
  margin: 0 auto;
  width: 75%;

  .newsletter-title {
    bottom: 0;
    padding: 10px;
    position: absolute;

    a {
      @include showcase-header(1.1rem, 1.3, 2);
    }
  }
}

.browse {
  text-align: center;
  padding: 2.5em;
  margin: 0 auto;

  .link {
    @include btn-border-drawing($link-color, $orange, 1px, bottom, right);
    border-radius: 2px;
    margin: 0 1em;
  }
}

//Collections
.two {
  @include flexbox(wrap);

  .big {
    @include respond-at(901px) {
      width: 50%;
    }
    width: 100%;

    img {
      display: block;
      margin: 0 auto;
      width: 30rem;
    }
  }

  .collections {
    @include respond-at(901px) {
      order: 1;
      width: 50%;
    }
    align-self: center;
    order: -1;
    padding: 2.5em;
    width: 100%;

    .link {
      @include btn-border-drawing($link-color, $orange, 1px, bottom, right);
      border-radius: 2px;
      margin-top: 3em;

    }
  }
}

//Software
.three {
  @include flexbox(wrap);
  background-color: $light-gray;

  .software {
    @include respond-at(901px) {
      width: 50%;
    }
    align-self: center;
    padding: 2.5em;
    text-align: center;
    width: 100%;

    .link {
      @include btn-border-drawing($link-color, $orange, 1px, bottom, right);
      border-radius: 2px;
      margin-top: 3em;
    }
  }

  .software-logos {
    @include flexbox(wrap);
    @include grid-template(repeat(auto-fit, minmax(100px, 1fr)), null, 5px);
    @include respond-at(901px) {
      width: 50%;
    }
    align-self: center;
    grid-auto-rows: 125px;
    justify-content: center;
    justify-items: center;
    padding: 2.5em;
    text-align: center;
    width: 100%;

    .logo-wrap {
      @include grid-support {
        height: auto;
        width: auto;
      }
      height: 8rem;
      padding: 5px;
      transition: .3s ease-in-out;
      width: 8rem;

      img {
        height: 65%;
        object-fit: scale-down;
      }

      h6 {
        align-self: center;
        margin: 0;
        padding-top: .5em;
      }

      &:hover {
        transform: scale(1.1);

        a {
          color: $orange;
        }
      }
    }
  }
}
