.service {
  margin: 2em;
  padding: 1em;
  transition: .2s ease;
  width: 22rem;
}

.service hr {
  background: #8cc540;
  margin: 0;
  transition: .3s;
  width: 45%;
}

.service h4 {
  transition: .2s;
}

.service p a {
  color: #4c4c4c;
  display: unset;
  font-family: "open_sansregular", Helvetica Neue, Helvetica, sans-serif;
  font-weight: normal;
}

.service p a:hover, .service p a:visited {
  color: #4c4c4c;
}

.service p a::after {
  display: none;
}

.service:hover {
  border-left: 4px solid #393c3d;
}

.service:hover hr {
  background-color: #393c3d;
  width: 65%;
}

.service:hover h4 {
  margin-left: .25em;
}

.service:hover h4 a {
  color: #393c3d;
}

.content-header {
  display: none;
}

.no-webp .service-header,
.no-jpeg2000 .service-header,
.no-jpegxr .service-header {
  background: url("/app/site/media/images/workdesk.jpg");
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 100%), url("/app/site/media/images/workdesk.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.webp .service-header {
  background: url("/app/site/media/images/workdesk.webp");
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 100%), url("/app/site/media/images/workdesk.webp");
  background-repeat: no-repeat;
  background-size: cover;
}

.jpeg2000 .service-header {
  background: url("/app/site/media/images/workdesk.jp2");
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 100%), url("/app/site/media/images/workdesk.jp2");
  background-repeat: no-repeat;
  background-size: cover;
}

.jpegxr .service-header {
  background: url("/app/site/media/images/workdesk.jxr");
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 100%), url("/app/site/media/images/workdesk.jxr");
  background-repeat: no-repeat;
  background-size: cover;
}

.service-header {
  display: flex;
  flex-wrap: nowrap;
  color: #fff;
  text-align: center;
}

.service-header .intro {
  align-self: center;
  margin: 0 auto;
  padding: 2.5em;
  width: 75%;
}

.service-header .intro .link {
  border-radius: 2px;
  box-shadow: inset 0 0 0 1px #fff;
  color: #fff;
  padding: .25em .75em;
  position: relative;
  text-transform: capitalize;
  transition: color 0.25s 0.08333s;
}

.service-header .intro .link::before, .service-header .intro .link::after {
  border: 0 solid transparent;
  box-sizing: border-box;
  content: '';
  height: 0;
  pointer-events: none;
  position: absolute;
  width: 0;
  bottom: 0;
  right: 0;
}

.service-header .intro .link::before {
  border-bottom-width: 1px;
  border-left-width: 1px;
}

.service-header .intro .link::after {
  border-top-width: 1px;
  border-right-width: 1px;
}

.service-header .intro .link:hover {
  color: #8cc540;
}

.service-header .intro .link:hover::before, .service-header .intro .link:hover::after {
  border-color: #8cc540;
  border-radius: 2px;
  height: 100%;
  transition: border-color 0s, width 0.25s, height 0.25s;
  width: 100%;
}

.service-header .intro .link:hover::before {
  transition-delay: 0s, 0s, 0.25s;
}

.service-header .intro .link:hover::after {
  transition-delay: 0s, 0.25s, 0s;
}

.service-header h2 {
  color: #fff;
}

.learn {
  padding: 2.5em;
}

.services {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.one {
  display: flex;
  flex-wrap: nowrap;
}

.one .community {
  background-color: #f1f1f1;
  padding: 2.5em;
  text-align: center;
  width: 100%;
}

.one .community .link {
  border-radius: 2px;
  box-shadow: inset 0 0 0 1px #597f2f;
  color: #597f2f;
  padding: .25em .75em;
  position: relative;
  text-transform: capitalize;
  transition: color 0.25s 0.08333s;
  display: block;
}

@media only screen and (min-width: 41.875em) {
  .one .community .link {
    display: initial;
  }
}

.one .community .link::before, .one .community .link::after {
  border: 0 solid transparent;
  box-sizing: border-box;
  content: '';
  height: 0;
  pointer-events: none;
  position: absolute;
  width: 0;
  bottom: 0;
  right: 0;
}

.one .community .link::before {
  border-bottom-width: 1px;
  border-left-width: 1px;
}

.one .community .link::after {
  border-top-width: 1px;
  border-right-width: 1px;
}

.one .community .link:hover {
  color: #393c3d;
}

.one .community .link:hover::before, .one .community .link:hover::after {
  border-color: #393c3d;
  border-radius: 2px;
  height: 100%;
  transition: border-color 0s, width 0.25s, height 0.25s;
  width: 100%;
}

.one .community .link:hover::before {
  transition-delay: 0s, 0s, 0.25s;
}

.one .community .link:hover::after {
  transition-delay: 0s, 0.25s, 0s;
}

.no-webp .two .big, .no-webp .three .big, .no-webp .four .big,
.no-jpeg2000 .two .big,
.no-jpeg2000 .three .big,
.no-jpeg2000 .four .big,
.no-jpegxr .two .big,
.no-jpegxr .three .big,
.no-jpegxr .four .big {
  background: url("/app/site/media/images/workplace.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.webp .two .big, .webp .three .big, .webp .four .big {
  background: url("/app/site/media/images/workplace.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.jpeg2000 .two .big, .jpeg2000 .three .big, .jpeg2000 .four .big {
  background: url("/app/site/media/images/workplace.jp2");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.jpegxr .two .big, .jpegxr .three .big, .jpegxr .four .big {
  background: url("/app/site/media/images/workplace.jxr");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.two, .three, .four {
  display: flex;
  flex-wrap: wrap;
}

.two .mentor, .three .mentor, .four .mentor, .three .workshop, .four .curate {
  align-self: center;
  padding: 2.5em;
  width: 100%;
}

@media only screen and (min-width: 56.3125em) {
  .two .mentor, .three .mentor, .four .mentor, .three .workshop, .four .curate {
    width: 50%;
  }
}

.two .big, .three .big, .four .big {
  height: 20rem;
  width: 100%;
}

@media only screen and (min-width: 56.3125em) {
  .two .big, .three .big, .four .big {
    width: 50%;
  }
}

.two .link, .three .link, .four .link {
  border-radius: 2px;
  box-shadow: inset 0 0 0 1px #597f2f;
  color: #597f2f;
  padding: .25em .75em;
  position: relative;
  text-transform: capitalize;
  transition: color 0.25s 0.08333s;
}

.two .link::before, .three .link::before, .four .link::before, .two .link::after, .three .link::after, .four .link::after {
  border: 0 solid transparent;
  box-sizing: border-box;
  content: '';
  height: 0;
  pointer-events: none;
  position: absolute;
  width: 0;
  bottom: 0;
  right: 0;
}

.two .link::before, .three .link::before, .four .link::before {
  border-bottom-width: 1px;
  border-left-width: 1px;
}

.two .link::after, .three .link::after, .four .link::after {
  border-top-width: 1px;
  border-right-width: 1px;
}

.two .link:hover, .three .link:hover, .four .link:hover {
  color: #393c3d;
}

.two .link:hover::before, .three .link:hover::before, .four .link:hover::before, .two .link:hover::after, .three .link:hover::after, .four .link:hover::after {
  border-color: #393c3d;
  border-radius: 2px;
  height: 100%;
  transition: border-color 0s, width 0.25s, height 0.25s;
  width: 100%;
}

.two .link:hover::before, .three .link:hover::before, .four .link:hover::before {
  transition-delay: 0s, 0s, 0.25s;
}

.two .link:hover::after, .three .link:hover::after, .four .link:hover::after {
  transition-delay: 0s, 0.25s, 0s;
}

.no-webp .three .big,
.no-jpeg2000 .three .big,
.no-jpegxr .three .big {
  background: url("/app/site/media/images/workdesk-rule.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.webp .three .big {
  background: url("/app/site/media/images/workdesk-rule.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.jpeg2000 .three .big {
  background: url("/app/site/media/images/workdesk-rule.jp2");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.jpegxr .three .big {
  background: url("/app/site/media/images/workdesk-rule.jxr");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.three .workshop {
  order: -1;
}

@media only screen and (min-width: 901px) {
  .three .workshop {
    order: 1;
  }
}

.three .big {
  height: 20rem;
}

.no-webp .four .big,
.no-jpeg2000 .four .big,
.no-jpegxr .four .big {
  background: url("/app/site/media/images/workdesk-mouse.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.webp .four .big {
  background: url("/app/site/media/images/workdesk-mouse.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.jpeg2000 .four .big {
  background: url("/app/site/media/images/workdesk-mouse.jp2");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.jpegxr .four .big {
  background: url("/app/site/media/images/workdesk-mouse.jxr");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.four .curate {
  order: -1;
}

.five {
  display: flex;
  flex-wrap: nowrap;
  background-color: #f1f1f1;
  padding: 2.5em;
}

.five .contact-qubes {
  align-self: center;
  margin: 0 auto;
  text-align: center;
}

.five .contact-qubes .link {
  border-radius: 2px;
  box-shadow: inset 0 0 0 1px #597f2f;
  color: #597f2f;
  padding: .25em .75em;
  position: relative;
  text-transform: capitalize;
  transition: color 0.25s 0.08333s;
}

.five .contact-qubes .link::before, .five .contact-qubes .link::after {
  border: 0 solid transparent;
  box-sizing: border-box;
  content: '';
  height: 0;
  pointer-events: none;
  position: absolute;
  width: 0;
  bottom: 0;
  right: 0;
}

.five .contact-qubes .link::before {
  border-bottom-width: 1px;
  border-left-width: 1px;
}

.five .contact-qubes .link::after {
  border-top-width: 1px;
  border-right-width: 1px;
}

.five .contact-qubes .link:hover {
  color: #393c3d;
}

.five .contact-qubes .link:hover::before, .five .contact-qubes .link:hover::after {
  border-color: #393c3d;
  border-radius: 2px;
  height: 100%;
  transition: border-color 0s, width 0.25s, height 0.25s;
  width: 100%;
}

.five .contact-qubes .link:hover::before {
  transition-delay: 0s, 0s, 0.25s;
}

.five .contact-qubes .link:hover::after {
  transition-delay: 0s, 0.25s, 0s;
}
