@import 'variables.scss';
@import 'mixins.scss';

.content-header {
  display: none;
}

//Header

.no-webp .service-header,
.no-jpeg2000 .service-header,
.no-jpegxr .service-header {
  @include bcg-img('/app/site/media/images/workdesk.jpg');
}

.webp {
  .service-header {
    @include bcg-img('/app/site/media/images/workdesk.webp');
  }
}

.jpeg2000 {
  .service-header {
    @include bcg-img('/app/site/media/images/workdesk.jp2');
  }
}

.jpegxr {
  .service-header {
    @include bcg-img('/app/site/media/images/workdesk.jxr');
  }
}

.service-header {
  @include flexbox;
  color: $white;
  text-align: center;

  .intro {
    align-self: center;
    margin: 0 auto;
    padding: 2.5em;
    width: 75%;

    .link {
      @include btn-border-drawing($white, $color-accent, 1px, bottom, right);
    }
  }

  h2 {
    color: $white;
  }
}

//Services
.learn {
  padding: 2.5em;
}

.services {
  @include flexbox(wrap);
  justify-content: center;
}

.service {
  @extend %anchor;
}

//Community Building
.one {
  @include flexbox;

  .community {
    background-color: $white-smoke;
    padding: 2.5em;
    text-align: center;
    width: 100%;

    .link {
      @include respond-at(41.875em) {
        display: initial;
      }
      @include btn-border-drawing($color-link, $color-link-hover, 1px, bottom, right);
      display: block;
    }
  }
}

//Run a FMN
.no-webp .two .big,
.no-jpeg2000 .two .big,
.no-jpegxr .two .big {
  @include bcg-plain-img('/app/site/media/images/workplace.jpg');
}

.webp {
  .two {
    .big {
      @include bcg-plain-img('/app/site/media/images/workplace.webp');
    }
  }
}

.jpeg2000 {
  .two {
    .big {
      @include bcg-plain-img('/app/site/media/images/workplace.jp2');
    }
  }
}

.jpegxr {
  .two {
    .big {
      @include bcg-plain-img('/app/site/media/images/workplace.jxr');
    }
  }
}

.two {
  @include flexbox(wrap);

  .mentor {
    @include respond-at(56.3125em) {
      width: 50%;
    }
    align-self: center;
    padding: 2.5em;
    width: 100%;
  }

  .big {
    @include respond-at(56.3125em) {
      width: 50%;
    }
    height: 20rem;
    width: 100%;
  }

  .link {
    @include btn-border-drawing($color-link, $color-link-hover, 1px, bottom, right);
  }
}

//Run a Workshop
.no-webp .three .big,
.no-jpeg2000 .three .big,
.no-jpegxr .three .big {
  @include bcg-plain-img('/app/site/media/images/workdesk-rule.jpg');
}

.webp {
  .three {
    .big {
      @include bcg-plain-img('/app/site/media/images/workdesk-rule.webp');
    }
  }
}

.jpeg2000 {
  .three {
    .big {
      @include bcg-plain-img('/app/site/media/images/workdesk-rule.jp2');
    }
  }
}

.jpegxr {
  .three {
    .big {
      @include bcg-plain-img('/app/site/media/images/workdesk-rule.jxr');
    }
  }
}

.three {
  @extend .two;

  .workshop {
    @extend .mentor;
    @include respond-at(901px) {
      order: 1;
    }
    order: -1;
  }

  .big {
    @extend .big;
    height: 20rem;
  }
}

//Curate Your Own Resources
.no-webp .four .big,
.no-jpeg2000 .four .big,
.no-jpegxr .four .big {
  @include bcg-plain-img('/app/site/media/images/workdesk-mouse.jpg');
}

.webp {
  .four {
    .big {
      @include bcg-plain-img('/app/site/media/images/workdesk-mouse.webp');
    }
  }
}

.jpeg2000 {
  .four {
    .big {
      @include bcg-plain-img('/app/site/media/images/workdesk-mouse.jp2');
    }
  }
}

.jpegxr {
  .four {
    .big {
      @include bcg-plain-img('/app/site/media/images/workdesk-mouse.jxr');
    }
  }
}

.four {
  @extend .two;

  .big {
    @extend .big;
  }

  .curate {
    @extend .mentor;
    order: -1;
  }
}

//Contact
.five {
  @include flexbox;
  background-color: $white-smoke;
  padding: 2.5em;

  .contact-qubes {
    align-self: center;
    margin: 0 auto;
    text-align: center;

    .link {
      @include btn-border-drawing($color-link, $color-link-hover, 1px, bottom, right);
    }
  }
}
