@import 'variables';
@import 'mixins';

.wrapper {
  padding-bottom: 3em;

  h3,
  h4 {
    font-family: 'Martel', serif;
  }

  h4 {
    margin-top: 2em;
  }

  p {
    font-size: 1rem;
  }
}

.intro-wrap {
  @include bcg-img('/app/site/media/images/stefan-stefancik-257625.jpg');
  @include flexbox;
  min-height: 22rem;
}

.intro {
  align-self: center;
  color: $white;
  margin: 0 auto;
  padding: 0 2em;
  text-align: center;

  .link {
    @include btn-border-drawing($white, $orange, 1px, bottom, right);
  }

  h2,
  h5 {
    color: $white;
  }

  h5 {
    font-family: 'Martel', serif;
    font-size: 1rem;
    margin-top: 2em;

    a {
      color: $white;
      text-decoration: underline;

      &:hover {
        color: $orange;
      }
    }
  }
}

.wrap {
  @include grid-template(1fr, auto, 2em);

  @include respond-at(757px) {
    @include grid-template(3fr 2fr, auto, 2em);
  }

}

.tools {
  padding: 2.5em 0 0 2.5em;

  blockquote {
    @include respond-at(901px) {
      float: right;
      position: relative;
      text-align: right;
      top: -3.75em;
      width: 30%;
    }
  }
}

.featured {
  @include respond-at(757px) {
    margin: 2.5em 2.5em 0 0;
  }
  margin: 2.5em;
  position: relative;

  .cards {
    border: 1px solid $green;
    border-radius: 6px;
  }

  h2 {
    color: $green;
    position: absolute;
    top: -.96em;
  }
}

.cards {
  @include flexbox(wrap);
}

.card {
  @include respond-at(501px) {
    width: calc((100% / 2) - 30px);
  }
  @include respond-at(901px) {
    width: calc((100% / 3) - 30px);
  }
  margin: 15px;
  transition: .2s ease-in-out;
  width: 100%;

  &:hover {
    .card__inner {
      transform: scale(1.05);

      h6 {
        color: $orange;
      }
    }
  }

  &__inner {
    cursor: pointer;
    position: relative;
    text-align: center;
    transition: .2s ease-in-out;
    width: 100%;

    img {
      height: 5rem;
      object-fit: scale-down;
      width: 100px;
    }

    h6 {
      align-self: center;
      color: $link-color;
      padding-top: .5em;
    }

    &:after {
      transition: .3s ease-in-out;
    }

  }

  //Expander
  &__expander {
    align-items: center;
    background-color: $dark-blue;
    color: $white;
    display: flex;
    justify-content: center;
    position: relative;
    transition: .2s ease-in-out;
    width: 100%;

    .close {
      fill: $white;
      margin-top: .25em;
      position: absolute;
      right: 10px;
      top: 10px;
      width: 1rem;

      &:hover {
        opacity: .9;
      }
    }
  }

  &.is-collapsed {
    .card__inner {
      &:after {
        content: '';
        opacity: 0;
      }
    }

    .card__expander {
      margin-top: 0;
      max-height: 0;
      min-height: 0;
      opacity: 0;
      overflow: hidden;
    }
  }

  &.is-expanded {
    .card__inner {
      background-color: $light-gray;

      &:after {
        border-bottom: 15px solid $dark-blue;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        bottom: -30px;
        content: '';
        display: block;
        height: 0;
        left: calc(50% - 15px);
        opacity: 1;
        position: absolute;
        width: 0;
      }
    }

    .card__expander {
      opacity: 1;
      overflow: visible;
      margin-top: 30px;
      max-height: 1000px;
      min-height: 200px;
    }

    &:hover {
      .card__inner {
        transform: scale(1);
      }
    }
  }
}

.inner-card-wrap {
  @include respond-at(865px) {
    @include grid-template(repeat(3, 1fr), repeat(2, auto), 1em);
  }
  @include grid-template(repeat(3, 1fr), repeat(3, auto), 1em);
  padding: 1em;
}

.cta-wrap {
  @include respond-at(865px) {
    @include grid(1 / span 1, 1);
  }
  @include grid(1 / span 3, 1);

  img {
    @include respond-at(865px) {
      height: auto;
    }
    display: block;
    margin: 0 auto;
    max-height: 15rem;
  }
}

.cta {
  margin-top: .5em;
  text-align: center;

  .btn {
    font-size: .8rem !important;
    margin-bottom: .5em;
  }
}

.description {
  @include respond-at(865px) {
    @include grid(2 / span 2, 1);
  }
  @include grid(1 / span 3, 2);

  blockquote {
    background-color: transparent;
    color: $light-gray;
  }
}

.tag-wrap {
  @include respond-at(865px) {
    @include grid(1 / span 3, 2);
  }
  @include grid(1 / span 3, 3);
}

.tag-icon {
  fill: $white;
  width: 1rem;
}

.tags {
  margin: 0 .5em;
}

.related-wrap {
  display: inline-block;

  hr {
    background: $dark-blue;
    margin: 0;
    width: 45%;
  }
}


//Expander Widths

//When 3 cards in a row
@media screen and (min-width: 901px) {

  .card:nth-of-type(3n+2) .card__expander {
    margin-left: calc(-100% - 30px);
  }
  .card:nth-of-type(3n+3) .card__expander {
    margin-left: calc(-200% - 60px);
  }
  .card:nth-of-type(3n+4) {
    clear: left;
  }
  .card__expander {
    width: calc(300% + 60px);
  }

}

//when 2 cards in a row
@media screen and (min-width: 501px) and (max-width: 900px) {

  .card:nth-of-type(2n+2) .card__expander {
    margin-left: calc(-100% - 30px);
  }
  .card:nth-of-type(2n+3) {
    clear: left;
  }
  .card__expander {
    width: calc(200% + 30px);
  }

}
