/**
 * Copyright 2005-2009 by Purdue Research Foundation, West Lafayette, IN 47906.
 * All rights reserved.
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License,
 * version 2 as published by the Free Software Foundation. 
 */

/*---------------------------------------------------------------
	Store
---------------------------------------------------------------*/
	.storeitems {
		list-style: none;
		margin: 0 0 1em 0;
		padding: 0 0 0 0;
		border-top: 2px solid #e4e4e4;
		}
	.storeitems li {
		margin: 1em 0 0 0;
		padding: 10px 0 10em 25px;
		border-bottom: 1px solid #e4e4e4;
		background: transparent;
		}
	.storeitems li.featured {
		background: transparent url("images/hot.gif") 0 0 no-repeat;
		}
	.storeitems li.new {
		background: transparent url("images/new.gif") 0 0 no-repeat;
		}
	.storeitems h4 { 
		margin: 0;
		padding: 0;
		}
	.storeitems p {
		margin-top: 0;
		padding-top: 0;
		color: #666;
		}
	.imageholder a, .imageholder a:hover {
		border:none;
	}
	
	.shoppingcart {
		background: transparent url("images/cart.gif") 0 0 no-repeat; padding-left: 22px;padding-bottom:0.2em;
	}
	.storefront {
		background: transparent url("images/storefront.gif") 0 0 no-repeat; padding-left: 20px;padding-bottom:0.2em; 
	}
	.mypoints {
		background: #fff url("images/coin.gif") 0 0 no-repeat; padding-left: 18px;padding-bottom:0.2em;
	}
	#useroptions li { white-space:nowrap; }
	.sizes { margin-right:3em; color:#888; }
	
	.totals { height:30px; font-weight:bold; vertical-align:middle; }
	.imageholder { float:left; margin: 0; padding: 0;  }
	.infoholder  { position:absolute; left:200px; padding: 0 1em 0 1em; width:50%; }
	.purchase  { position:absolute; right:7em; padding: 0 3em 0 1em;  }
	a.actionlink {color:#999999; text-transform:uppercase; font-size:0.8em;border-bottom:1px solid #e2e2e2; font-weight:normal; }
	a.actionlink:hover { border:none;color:#666666; }
		
	.sidetitle { display:block; color:#333333; font-weight:bold; }
	.buy {
		background: transparent url("images/buy.gif") 0 0 no-repeat;
		margin: 0.5em 0 0 1em;
		padding: 15px 0 0 45px;
		
		}
	.update {
		background: transparent url("images/update.gif") 0 0 no-repeat;
		margin: -7px 0 0 0;
		padding: 15px 0 0 45px;
		}
	.empty {
		background: transparent url("images/empty.gif") 0 0 no-repeat;
		margin: -7px 0 0 0;
		padding: 15px 0 0 45px;
		}
	.checkout {
		background: transparent url("images/checkout.gif") 0 0 no-repeat;
		margin: 0 0 0 -3em;
		padding: 15px 0 0 80px;		
		}
	.reassure {
		font-weight: bold;
		margin: 3.5em -6em -4em 0;
		font-style:italic;
		color: #000000;
		float:right;
		padding: 0;
		}
	.confirm {
		font-weight: bold;
		font-style:italic;
		color: #000000;
		float:right;
		padding: 0;
		margin: 3.5em -4em 1em 0;
	}	
	.process_order {
		background: transparent  url("images/confirm_order.gif") 0 0 no-repeat;
		margin: 0.5em 0 0 -7em;
		padding: 15px 30px 0 95px;

		}	
	.finalize_order {
		background: #fff url("images/place_order.gif") 0 0 no-repeat;
		margin: -0.5em 0 0 -3em;
		padding: 15px 0 0 95px;
		height: 15px;
		width: 100px;
		}	
	.button:hover {
		border: none;
		background-color: #fff;
		background-position: 0 -15px; }
	.checkout_disabled, .checkout_disabled:hover {
		background:  transparent url("images/checkout_disabled.gif") 0 0 no-repeat;
		margin: 0;
		padding: 15px 0 0 66px;
		height: 15px;
		width: 66px;
		}
	.buy_disabled, .buy_disabled:hover {
		background: transparent url("images/buy_disabled.gif") 0 0 no-repeat;
		margin: 0.5em 0 0 1em;
		padding: 15px 0 0 45px;
		
		}
	.process {float:right;padding-right:6em; padding-top:0.5em; padding-left:3em; display:block; }
	.cancelorder {}
	
	.price  {
		color: #000;
		text-transform: lowercase;
		font-size: 120%;	
		margin: 0 0 1em 0;	
		padding: 0 0 0.5em 1em;
		border: 0;
		display:block;
		
	}
	.price a {
		background:  transparent url("images/coin.gif") 0 1px  no-repeat;
		padding: 0 0 1em 1em;
		border:0;
		width:20px;		
	}
	.price a:hover { border:0; }
	.coin:hover { border:none; }
	.coin, a.coin  {
		margin: 0.3em 0 0 0.3em;
		background:  transparent url("images/coin.gif") 0 0  no-repeat;
		padding: 0 0.5em 0 0.5em;
		border: none;
		display:block;
	}
	.point-balance {
		margin-top: 0;
		background: #F7F4F2;
		border-top: 1px solid #E7DFD8;
		border-bottom: 1px solid #E7DFD8;
		text-align: center;
		color: #333;
		font-weight: bold;
		font-size: 1.4em;
		padding: 0.5em;
		}
	.point-balance span {
		display: none;
		}
	.point-balance small {
		color: #888;
		}
	.order_summary, .final_summary {
		margin-top: 0;
		background: #F7F4F2;
		border-top: 1px solid #E7DFD8;
		border-bottom: 1px solid #E7DFD8;
		color: #333;
		padding: 0.5em 1em 0.5em 1em;
		}
	.order_summary span {
		position:absolute;
		right:7em;
		font-weight: bold;	
		
	}
	
	.final_summary span {
		float:right;
		padding-right: 4em;
		font-weight: bold;	
		
	}
	.order_summary h4, .final_summary h4 {
		padding:0; margin-top:0;margin-bottom:0.5em;
	}
	.order_summary p, .final_summary p {
		margin: 0;
		padding:0;
		
	}
	.totals {
		border-top: 2px solid #E7DFD8;
		margin-top:0.5em;
	
	}
	#balanceupdate { float:right; width: 30%; background:#fff; border-left:1px solid #e4e4e4; right:2em; padding: 0 1em 0 1em; margin:2em 0 0 0; }
	#cartcontent { float:left; width: 60%; padding: 0 1em 0 1em; margin:0 0 3em 0; }
	#cartcontent h3 { margin:0 0 0.5em 0;padding: 0; }
	.footernotes { margin: 7.5em 0 0 0; padding: 0.2em 0 0.5em 0; border-top:1px solid #e4e4e4; }
	.footernotes p {margin:0; padding:0; }
	.sidenotes { padding-top:1em; color:#666666;}
	.quantity { width:12px;}
	.removeitem a { background: transparent url("images/delete.gif") 2px 2px no-repeat; padding: 0.2em 0.8em 0.2em 0.8em;margin: 0; border:none; }
	.removeitem {margin: 0 0 0 0.5em;}
	
	#hubForm h3 { padding: 0.5em 0 0.5em 0;  }
	#hubForm fieldset { width:75%;  }
	.hint { padding-bottom:0; margin-bottom:0; }
	pre { margin: 1.5em 0 0 0;  }
	.yes { color:green;}
	.no { color:red;}
	.button {
		position: absolute;
		border: none;
		overflow: hidden;
		height: 0;
		width: 0;
		border: none;
	}
	.quantityspecs {
		text-align:right;
	}
	
	/* IE 6 Hacks */
	
	* html .infoholder { width:500px;margin-right:3em; }
	* html .purchase { right:-15em;top:0; }
	* html .button { 
 	}
	* html #hubForm fieldset { width:70%;margin-bottom:0; }
	* html .process input { display:inline; width:100px; height:15px;  overflow:hidden; position:relative; }
	* html .process { position:relative; padding-right:2em; padding-top:0.5em; padding-left:3em; }
	* html .reassure {		
		margin: 3em -10em -6em 10em;
		position:relative; padding-right:2em; padding-top:0.5em; padding-left:3em;
		
		}