<?xml version="1.0" encoding="utf-8"?>
<extension version="1.7" type="plugin" group="tags">
	<name>Tags - Events</name>
	<author>HUBzero</author>
	<authorUrl>hubzero.org</authorUrl>
	<authorEmail>support@hubzero.org</authorEmail>
	<copyright>Copyright 2005-2019 HUBzero Foundation, LLC.</copyright>
	<license>http://opensource.org/licenses/MIT MIT</license>
	<description>Allows Searching of Events Component</description>
	<files>
		<filename plugin="events">events.php</filename>
	</files>
	<languages>
		<language tag="en-GB">en-GB.plg_tags_events.ini</language>
	</languages>
</extension>

