<?xml version="1.0" encoding="utf-8"?>

<!--
 Copyright 2005-2009 HUBzero Foundation, LLC.
 All rights reserved.

 This program is free software; you can redistribute it and/or
 modify it under the terms of the GNU General Public License,
 Version 2 as published by the Free Software Foundation.

 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with this program; if not, write to the Free Software
 Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
-->

<config>
	<fieldset name="basic">
		<field name="component_on" type="list" default="1" label="Component ON/OFF" description="Enable projects component">
			<option value="0">OFF</option>
			<option value="1">ON</option>
		</field>
		<field name="min_name_length" type="text" menu="hide" default="6" label="Minimum characters in name" description="Min number of characters a project alias name can contain" />
		<field name="max_name_length" type="text" menu="hide" default="25" label="Maximum characters in name" description="Max number of characters a project alias name can contain" />
		<field name="reserved_names" type="text" menu="hide" default="clone, temp, test" label="Reserved project names" description="Words that cannot be used as project names" />
		<field name="imagepath" type="text" menu="hide" default="/site/projects" label="Image path" description="File path to project images (thumbnails)" />
		<field name="defaultpic" type="text" menu="hide" default="/components/com_projects/site/assets/img/project.png" label="Default picture" description="Default placeholder image for project pictures" />
		<field name="showthumbemail" type="list" default="0" label="Show project thumb in emails" description="Show project thumbnail in html emails (must be OFF for firewalled hubs)">
			<option value="0">hide</option>
			<option value="1">show</option>
		</field>
		<field name="logging" type="list" default="0" label="Log activity" description="Enable detailed activity logging">
			<option value="0">Do not log</option>
			<option value="1">Log all activity except for AJAX calls</option>
			<option value="2">Log all activity</option>
		</field>
		<field name="messaging" type="list" default="0" label="Messaging" description="Enable hub messaging">
			<option value="0">OFF</option>
			<option value="1">ON</option>
		</field>
		<field name="privacy" type="list" default="1" label="Default privacy" description="Set the default privacy for new projects">
			<option value="0">Public - discoverable</option>
			<option value="1">Private - hidden</option>
		</field>
		<field name="internal_layout" type="list" default="standard" label="Default project page layout" description="Set the default project page layout for team members">
			<option value="standard">Standard (left side menu)</option>
			<option value="extended">New (top menu)</option>
		</field>
		<field name="limit" type="text" menu="hide" default="25" label="Browse paging limit" description="Number of projects per page on Browse." />
		<field name="sidebox_limit" type="text" menu="hide" default="3" label="Side module item limit" description="Number of items per box in project page side modules" />
		<field name="group_prefix" type="text" menu="hide" default="pr-" label="Project group prefix" description="Prefix for project group name (system group provisioned for each project to handle permissions)" />
		<field name="documentation" type="text" menu="hide" default="/projects/features" label="URL to documentation" description="URL to a page with the user guide" />
	</fieldset>
	<fieldset name="PROJECTSETUP">
		<field name="grantinfo" type="list" default="0" label="Collect grant info at setup?" description="Ask project creator for grant information, e.g. [NSF] grant id, title, PI">
			<option value="0">NO</option>
			<option value="1">YES</option>
		</field>
		<field name="confirm_step" type="list" default="0" label="Setup - 'Agree to Terms' screen" description="Enable 'Agree to Terms' step during setup">
			<option value="0">OFF</option>
			<option value="1">ON</option>
		</field>
		<field name="edit_settings" type="list" default="0" label="Allow project settings editing?" description="Enable a screen to edit project settings after project setup">
			<option value="0">NO</option>
			<option value="1">YES</option>
		</field>
		<field name="custom_profile" type="list" default="0" label="Use custom profile description template?" description="Allows administrators to define project info fields">
			<option value="0">NO</option>
			<option value="custom">COM_PROJECTS_USE_TEMPLATE</option>
		</field>
		<field name="restricted_data" type="list" default="0" label="Ask about sensitive data?" description="Include a question about sensitive data (HIPAA/FERPA/Export Control)">
			<option value="0">NO</option>
			<option value="2">YES, with one general question</option>
			<option value="1">YES, with HIPAA/FERPA etc. options</option>
		</field>
		<field name="approve_restricted" type="list" default="0" label="Must approve sensitive data projects?" description="Require approval for sensitive data projects?">
			<option value="0">NO</option>
			<option value="1">YES</option>
		</field>
		<field name="privacylink" type="text" menu="hide" default="/legal/privacy" label="URL to Privacy Terms" description="URL to Privacy Terms" />
		<field name="HIPAAlink" type="text" menu="hide" default="/legal/privacy" label="URL to HIPAA information" description="URL to to HIPAA information" />
		<field name="FERPAlink" type="text" menu="hide" default="/legal/privacy" label="URL to FERPA information" description="URL to to FERPA information" />
	</fieldset>
	<fieldset name="ADMINGROUPS">
		<field name="creatorgroup" type="text" menu="hide" default="" label="Restrict project creation to group" description="Alias of a group that can create projects (optional, will restrict all others!)" />
		<field name="admingroup" type="text" menu="hide" default="" label="Admin group" description="Alias of an administrative group that gets notified when a new project is created or over quota" />
		<field name="sdata_group" type="text" menu="hide" default="" label="Sensitive data reviewers group" description="Alias of an administrative group that can access a special project listing to review info on HIPAA/FERPA/export control" />
		<field name="ginfo_group" type="text" menu="hide" default="" label="Sponsored projects reviewers group" description="Alias of an administrative group that can access a special project listing to review and edit sponsored project information and bump up quota" />
		<field name="reportgroup" type="text" menu="hide" default="" label="Report access group" description="Alias of an administrative group that has access to custom reports" />
	</fieldset>
	<fieldset name="FILEREPO">
		<field name="webpath" type="text" menu="hide" default="/srv/projects" label="Files Git repo path" description="Master path for storing project file repos" />
		<field name="offroot" type="list" default="1" label="Files repo path is..." description="Did you specify files Git repo path relative to web root?">
			<option value="0">relative to web root</option>
			<option value="1">absolute</option>
		</field>
		<field name="gitpath" type="text" menu="hide" default="/opt/local/bin/git" label="Git path" description="Path to Git" />
		<field name="defaultQuota" type="text" menu="hide" default="5" label="Default quota (GB)" description="Default disk quota for project files in gigabytes" />
		<field name="premiumQuota" type="text" menu="hide" default="30" label="Premium quota (GB)" description="Premium disk quota for project files in gigabytes" />
		<field name="approachingQuota" type="text" menu="hide" default="90" label="Quota warning at (%)" description="Issue disk quota warning when disk space is used at a certain percentage amount of the given quota" />
		<field name="pubQuota" type="text" menu="hide" default="1" label="Publication quota (GB)" description="Default disk quota for published files in gigabytes" />
		<field name="premiumPubQuota" type="text" menu="hide" default="30" label="Premium publication quota (GB)" description="Premium disk quota for published files in gigabytes" />
	</fieldset>
	<fieldset name="permissions" label="JCONFIG_PERMISSIONS_LABEL" description="JCONFIG_PERMISSIONS_DESC">
		<field name="rules" type="rules" label="JCONFIG_PERMISSIONS_LABEL" class="inputbox" validate="rules" filter="rules" component="com_projects" section="component" />
	</fieldset>
</config>
