<?xml version="1.0" encoding="utf-8"?>

<!--
@package        hubzero-cms
@file           components/com_tools/config.xml
@copyright      Copyright 2005-2015 HUBzero Foundation, LLC.
@license        http://opensource.org/licenses/MIT MIT

Copyright 2005-2015 HUBzero Foundation, LLC.

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in
all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
THE SOFTWARE.

HUBzero is a registered trademark of Purdue University.
-->

<config>
	<fieldset name="basic">
		<field name="contribtool_on" type="radio" default="1" label="Contribtool" description="Indicate whether the component is active or not">
			<option value="0">OFF</option>
			<option value="1">ON</option>
			<option value="2">ON (admin only)</option>
		</field>
		<field name="contribtool_redirect" type="text" menu="hide" label="Redirect" default="/home" description="The URL to redirect to when the component is OFF" />
		<field name="@spacer" type="spacer" default="" label="" description="" />
		<field name="admingroup" type="text" menu="hide" default="apps" label="Admin Group" description="Name of contribtool admin group" />
		<field name="@spacer" type="spacer" default="" label="" description="" />
		<field name="storagehost" type="text" menu="hide" label="Storage Host" default="" description="The host the storage indicator should use" />
		<field name="show_storage" type="list" default="1" label="Show Storage" description="Select whether to show the storage meter or not.">
			<option value="1">Yes</option>
			<option value="0">No</option>
		</field>
		<field name="@spacer" type="spacer" default="" label="" description="" />
		<field name="params_whitelist" type="text" menu="hide" label="Directory Parameter Whitelist" default="/home" description="White-list of directories acceptable to include in tool parameter passing feature" />
		<field name="github" type="list" default="0" label="Accept Github Repo" description="Offer an option to pull code from a remote (public) Github repository.">
			<option value="1">Yes</option>
			<option value="0">No</option>
		</field>
		<field name="jupiter" type="list" default="0" label="Enable Jupyter" description="Offer an option to publish as a Jupyter notebook.">
			<option value="1">Yes</option>
			<option value="0">No</option>
		</field>
	</fieldset>
	<fieldset name="middleware">
		<field name="mw_on" type="list" default="0" label="Middleware" description="Indicate whether the component is active or not">
			<option value="0">OFF</option>
			<option value="1">ON</option>
			<option value="2">ON (admin only)</option>
		</field>
		<field name="zones" type="radio" default="0" label="Zones" description="Allow Tool Session Zones">
			<option value="0">OFF</option>
			<option value="1">ON</option>
		</field>
		<field name="mw_redirect" type="text" menu="hide" label="Redirect" default="/home" description="The URL to redirect to when middleware is OFF" />
		<field name="mwDBDriver" type="text" menu="hide" label="Middleware DB Driver" default="" description="Middleware DB Driver" />
		<field name="mwDBHost" type="text" menu="hide" label="Middleware DB Host" default="" description="Middleware DB Host" />
		<field name="mwDBPort" type="text" menu="hide" label="Middleware DB Port" default="" description="Middleware DB Port" />
		<field name="mwDBUsername" type="text" menu="hide" label="Middleware DB Username" default="" description="Middleware DB Username" autocomplete="off" />
		<field name="mwDBPassword" type="password" menu="hide" label="Middleware DB Password" default="" description="Middleware DB Password" autocomplete="off" />
		<field name="mwDBDatabase" type="text" menu="hide" label="Middleware Database" default="" description="Middleware Database" />
		<field name="mwDBPrefix" type="text" menu="hide" label="Middleware DB Prefix" default="" description="Middleware DB Prefix" />
	</fieldset>
	<fieldset name="sessions">
		<field name="stopRedirect" type="text" menu="hide" label="Session Stop Redirect" default="index.php?option=com_members&amp;task=myaccount" description="The URL to redirect to after stopping a session" />
		<field name="shareable" type="radio" default="1" label="Shareable" description="Allow tool sessions to be shared">
			<option value="0">OFF</option>
			<option value="1">ON</option>
		</field>
		<field name="warn_multiples" type="radio" default="0" label="Warn User of Multiples" description="Warn the user when starting another instance of a tool.">
			<option value="0">OFF</option>
			<option value="1">ON</option>
		</field>
		<field name="launch_ipad" type="list" default="0" label="Launch on iPad" description="Launch tool sessions on iPad?">
			<option value="0">No</option>
			<option value="1">Yes</option>
		</field>
		<field name="launch_ipad_app" type="text" default="" label="iPad app name" description="iPad app name" />
	</fieldset>
	<fieldset name="tool">
		<field name="default_mw" type="text" menu="hide" default="narwhal" label="Default Middleware" description="Name of default middleware" />
		<field name="default_vnc" type="text" menu="hide" default="780x600" label="Default VNC Size" description="Default VNC geometry values" />
		<field name="default_hostreq" type="text" menu="hide" default="sessions" label="Default Required Host Types" description="Default required session host types for new tools (comma seperated)" />
		<field name="developer_site" type="text" menu="hide" default="FORGE" label="Developer Site" description="Name of project development site" />
		<field name="project_path" type="text" menu="hide" default="/tools/" label="Path to Projects" description="Path to projects on development site (usually followed by the tool name)" />
		<field name="invokescript_dir" type="text" menu="hide" default="/apps" label="Invoke Script Dir" description="Directory for invoke script" />
		<field name="dev_suffix" type="text" menu="hide" default="_dev" label="Dev Tool Suffix" description="Suffix indicating the development instance of a tool (e.g. _dev for toolname_dev) " />
		<field name="group_prefix" type="text" menu="hide" default="app-" label="Dev group prefix" description="Prefix to name of development group (e.g. app-) " />
		<field name="sourcecodePath" type="text" menu="hide" default="site/protected/source" label="Source code path" description="Source code path. " />
		<field name="@spacer" type="spacer" default="" label="" description="" />
		<field name="learn_url" type="text" menu="hide" default="http://rappture.org/wiki/FAQ_UpDownloadSrc" label="Learn More URL" description="URL to a uploading source tutorial" />
		<field name="rappture_url" type="text" menu="hide" default="http://rappture.org" label="Rappture URL" description="URL to a rappture tutorial" />
		<field name="demo_url" type="text" menu="hide" default="" label="Demo URL" description="URL to demo explaining contribution process" />
		<field name="@spacer" type="spacer" default="" label="" description="" />
		<field name="exec_pu" type="radio" default="1" label="Include PU" description="Include Purdue campus as a tool access restriction">
			<option value="0">No</option>
			<option value="1">Yes</option>
		</field>
		<field name="@spacer" type="spacer" default="" label="" description="" />
		<field name="screenshot_edit" type="radio" default="0" label="Edit Screenshots" description="Allow editing of screenshots via contribtool and display of screenshots for individual versions">
			<option value="0">OFF</option>
			<option value="1">ON</option>
		</field>
		<field name="@spacer" type="spacer" default="" label="" description="" />
		<field name="downloadable_on" type="radio" default="0" label="Allow Downloadables" description="Include an option to create a downloadable tool">
			<option value="0">No</option>
			<option value="1">Yes</option>
		</field>
	</fieldset>
	<fieldset name="doi">
		<field name="new_doi" type="radio" default="0" label="Enable DOI service?" description="Register DOI handle for new tool releases with Purdue Libraries DOI service">
			<option value="0">No</option>
			<option value="1">Yes</option>
		</field>
		<field name="doi_newservice" type="text" menu="hide" default="" label="DOI service path" description="URL DOI service" />
		<field name="doi_shoulder" type="text" menu="hide" default="" label="DOI shoulder" description="Shoulder DOI service" />
		<field name="doi_userpw" type="text" menu="hide" default="" label="DOI Service User/Password" description="DOI Service User/Password" />
		<field name="doi_xmlschema" type="text" menu="hide" default="" label="DOI XML Schema" description="URL of XML schema to validate against" />
		<field name="doi_newprefix" type="text" menu="hide" default="" label="DOI handle prefix" description="Prefix for DOI handles (e.g. test handles)" />
		<field name="doi_publisher" type="text" menu="hide" default="" label="DOI publisher" description="Publisher name (use full HUB name) for DOI service" />
		<field name="doi_resolve" type="text" menu="hide" default="http://dx.doi.org/" label="DOI resolve url" description="URL for resolving DOIs" />
		<field name="doi_verify" type="text" menu="hide" default="http://n2t.net/ezid/id/" label="DOI verify url" description="URL for verifying DOIs" />
	</fieldset>
	<fieldset name="windows" addfieldpath="/core/components/com_tools/config/fields">
		<field name="windows_key_id" type="text" menu="hide" default="" label="Access Key ID" description="Amazon Web Services (AWS) Access Key ID" />
		<field name="windows_secret_key" type="text" menu="hide" default="" label="Secret Access Key" description="Amazon Web Services (AWS) Secret Access Key" />
		<field name="windows_type" type="resourcetype" menu="hide" default="" label="Resource Type" description="Resource type to use for tool information" />
		<field name="windows_monthly_max_hours" type="text" menu="hide" default="" label="Max Monthly Hours" description="Max hours of windows applicaiton sessions per month" />
	</fieldset>
	<fieldset name="permissions" label="JCONFIG_PERMISSIONS_LABEL" description="JCONFIG_PERMISSIONS_DESC">
		<field name="rules" type="rules" label="JCONFIG_PERMISSIONS_LABEL" class="inputbox" validate="rules" filter="rules" component="com_tools" section="component" />
	</fieldset>
</config>
