/* CSS Document */
	html {
		-webkit-text-size-adjust: 100%;
		-ms-text-size-adjust: 100%;
		text-rendering: optimizeLegibility;
		-webkit-font-smoothing: antialiased;
		overflow-x: hidden;
		height: 100%;
		background: #6e6e6e;
		background: -webkit-gradient(linear, left top, left bottom, from(#2d2d2d), to(#6e6e6e));
		background: -webkit-linear-gradient(#2d2d2d, #6e6e6e);
		background: -moz-linear-gradient(top, #2d2d2d, #6e6e6e);
		background: -moz-gradient(center top, #2d2d2d 0%, #6e6e6e 100%);
		background: -o-linear-gradient(#2d2d2d, #6e6e6e);
		filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#2d2d2d,endColorstr=#6e6e6e);
		-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#2d2d2d, endColorstr=#6e6e6e)";
	}

	body {
		height: 100%;
		background: transparent url("../images/noise-100.png");
		font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
		font-size: 0.8em;
		line-height: 1.6em;
		color: #666;
		min-width: 800px;
		text-rendering: optimizeLegibility;
	}

	a:link, 
	a:visited {
		text-decoration: none;
		color: #0383b2;
	}

	a:hover {

	}

	h1 {
		font-size: 1.8em;
		line-height: 1.3;
	}

	.clr {
		clear: both;
	}

	.newsection {
		height: 20px;
		clear:both;
	}

	form {
		margin: 0;
		padding: 0;
	}

	#wrap {
		margin: 50px 50px 10px 50px;
		-webkit-border-radius: 0.27em;
		-moz-border-radius: 0.27em;
		-ms-border-radius: 0.27em;
		-o-border-radius: 0.27em;
		border-radius: 0.27em;
		background: url("../images/black-10.png");
		-webkit-box-shadow: 0 0 0 0.618em rgba(0, 0, 0, 0.08);
		-moz-box-shadow: 0 0 0 0.618em rgba(0, 0, 0, 0.08);
		-ms-box-shadow: 0 0 0 0.618em rgba(0, 0, 0, 0.08);
		-o-box-shadow: 0 0 0 0.618em rgba(0, 0, 0, 0.08);
		box-shadow: 0 0 0 0.618em rgba(0, 0, 0, 0.08);
	}

/* installer */
	#header {
		overflow: hidden;
		zoom: 1;
		padding: 0 20px;
		margin: 0.61803399em 0 0 0;
		background: #fefefe url("../images/layout/noise.png");
		position: relative;
		border-top: 1px solid #e3e3e3;
		border-bottom: 1px solid #e3e3e3;
		color: #999;
		-webkit-border-radius: 0.27em 0.27em 0 0;
		-moz-border-radius: 0.27em 0.27em 0 0;
		-ms-border-radius: 0.27em 0.27em 0 0;
		-o-border-radius: 0.27em 0.27em 0 0;
		border-radius: 0.27em 0.27em 0 0;
	}
	#header h1 {
		display: inline-block;
		color: #424242;
		padding: 0.2185em;
		font-weight: bold;
	}
	#header #version {
		float: right;
		color: #aaa;
		padding-top: 25px;
		padding-right: 5px;
	}
/* Footer */
	#copyright {
		text-align: center;
		margin: 0 50px 50px 50px;
		color: #999;
	}
	#copyright a {
		color: #ccc;
	}
/* Content */
	#content-box {
		padding: 2em;
		margin: 0;
		background: #f2f2f2 url("../images/noise.png");
		-webkit-border-radius: 0 0 0.27em 0.27em;
		-moz-border-radius: 0 0 0.27em 0.27em;
		-ms-border-radius: 0 0 0.27em 0.27em;
		-o-border-radius: 0 0 0.27em 0.27em;
		border-radius: 0 0 0.27em 0.27em;
		-webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
		-moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
		-ms-box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
		-o-box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
		box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
	}
	#content-pad {
		padding: 0;
	}

	#stepbar {
		float: left;
		width: 200px;
	}
	#stepbar {
		border: none;
		text-align: left;
		padding: 0 0 0.2em 0;
		margin: 0;
		background: #eaeaea url("../images/noise.png");
		border: none;
		-webkit-border-radius: 0.27em;
		-moz-border-radius: 0.27em;
		-ms-border-radius: 0.27em;
		-o-border-radius: 0.27em;
		border-radius: 0.27em;
		-webkit-box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.2), 0 1px 1px rgba(255, 255, 255, 0.4);
		-moz-box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.2), 0 1px 1px rgba(255, 255, 255, 0.4);
		-ms-box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.2), 0 1px 1px rgba(255, 255, 255, 0.4);
		-o-box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.2), 0 1px 1px rgba(255, 255, 255, 0.4);
		box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.2), 0 1px 1px rgba(255, 255, 255, 0.4);
	}
	#stepbar h2 {
		color: #ddd;
		margin: 0;
		padding: 0.5em 1em;
		font-size: 1em;
		text-shadow: 0px -1px 2px #333;
		-webkit-border-radius: 0.27em 0.27em 0 0;
		-moz-border-radius: 0.27em 0.27em 0 0;
		-ms-border-radius: 0.27em 0.27em 0 0;
		-o-border-radius: 0.27em 0.27em 0 0;
		border-radius: 0.27em 0.27em 0 0;
		background: #6e6e6e url("../images/noise.png");
		-webkit-box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.2);
		-moz-box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.2);
		-ms-box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.2);
		-o-box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.2);
		box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.2);
		zoom: 1;
	}
	#stepbar .container {
		list-style: none;
		padding: 0;
		margin: 1.2em 1.2em 1em 1.2em;
		border-top: 1px solid #d9d9d9;
		border-bottom: 1px solid #fff;
	}
	#stepbar .container li {
		border-bottom: 1px solid #d9d9d9;
		border-top: 1px solid #fff;
		margin: 0;
		padding: .61803399em 0;
		font-weight: bold;
		color: #666;
		text-shadow: 0 1px 1px rgba(255, 255, 255, 1);
	}
	#stepbar .container li.step-off {
		color: #666;
	}
	#stepbar .container li.step-on {
		color: #0383b2;
	}
	#stepbar .container li.step-grey {
		color: #a7a7a7
	}
	#stepbar div.box {
		height: 100px;
		width: 100px;
		margin: 0 auto;
		position: relative;
		background: url("../images/hub.png") center center no-repeat;
	}
	
	#step {
		-webkit-border-radius: 0.27em;
		-moz-border-radius: 0.27em;
		-ms-border-radius: 0.27em;
		-o-border-radius: 0.27em;
		border-radius: 0.27em;
		background: #fbfbfb;
		border: 1px solid #e3e3e3;
		padding: 1.61803399em;
		margin-bottom: 1.61803399em;
	}
	#step .step {
		font-size: 1.5em;
		line-height: 1;
		color: #0383b2;
		font-weight: bold;
		padding: 0;
		margin: 0;
	}
	#step a {
		color: #555;
		background: #e0e0e0;
		background: -webkit-gradient(linear, left top, left bottom, from(#FAFAFA), to(#e0e0e0));
		background: -webkit-linear-gradient(#FAFAFA, #e0e0e0);
		background: -moz-linear-gradient(center top, #FAFAFA 0%, #e0e0e0 100%);
		background: -moz-gradient(center top, #FAFAFA 0%, #e0e0e0 100%);
		background: -ms-linear-gradient(#FAFAFA, #e0e0e0);
		background: -o-linear-gradient(#FAFAFA, #e0e0e0);
		background: linear-gradient(#FAFAFA, #e0e0e0);
		filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#FAFAFA,endColorstr=#e0e0e0);
		-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#FAFAFA, endColorstr=#e0e0e0)";
		border: 1px solid #CCC;
		-webkit-box-shadow: inset 0 0 1px #fff;
		-moz-box-shadow: inset 0 0 1px #fff;
		-ms-box-shadow: inset 0 0 1px #fff;
		-o-box-shadow: inset 0 0 1px #fff;
		box-shadow: inset 0 0 1px #fff;
		text-shadow: 0 1px 0 #fff;
		border-color: #CCC #CCC #AAA #AAA;
		padding: 0.4em 0.91em 0.4em 2.91em;
		text-align: center;
		font-weight: normal;
		-webkit-background-clip: padding-box;
		display: inline-block;
		-webkit-border-radius: 0.25em;
		-moz-border-radius: 0.25em;
		-ms-border-radius: 0.25em;
		-o-border-radius: 0.25em;
		border-radius: 0.25em;
		outline: 0;
		font-size: 1em;
		white-space: nowrap;
		word-wrap: normal;
		vertical-align: middle;
		cursor: pointer;
		position: relative;
	}
	#step a:hover {
		background: #e8e8e8;
		background: -webkit-gradient(linear, left top, left bottom, from(#f1f1f1), to(#e8e8e8));
		background: -webkit-linear-gradient(#f1f1f1, #e8e8e8);
		background: -moz-linear-gradient(center top, #f1f1f1 0%, #e8e8e8 100%);
		background: -moz-gradient(center top, #f1f1f1 0%, #e8e8e8 100%);
		background: -o-linear-gradient(#f1f1f1, #e8e8e8);
		filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#f1f1f1,endColorstr=#e8e8e8);
		-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#f1f1f1, endColorstr=#e8e8e8)";
		border: 1px solid #aaaaaa;
		-webkit-box-shadow: inset 0 0 1px #fff, 0 0 2px rgba(0, 0, 0, 0.35);
		-moz-box-shadow: inset 0 0 1px #fff, 0 0 2px rgba(0, 0, 0, 0.35);
		-ms-box-shadow: inset 0 0 1px #fff, 0 0 2px rgba(0, 0, 0, 0.35);
		-o-box-shadow: inset 0 0 1px #fff, 0 0 2px rgba(0, 0, 0, 0.35);
		box-shadow: inset 0 0 1px #fff, 0 0 2px rgba(0, 0, 0, 0.35);
	}
	#step a:before {
		background: rgba(0, 0, 0, 0.08);
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		width: 1em;
		text-align: center;
		font-size: 1.2em;
		font-weight: normal;
		line-height: 2.1;
		padding: 0 0.5em;
		-webkit-border-radius: 0.25em 0 0 0.25em;
		-moz-border-radius: 0.25em 0 0 0.25em;
		-ms-border-radius: 0.25em 0 0 0.25em;
		-o-border-radius: 0.25em 0 0 0.25em;
		border-radius: 0.25em 0 0 0.25em;
		content: "\2190";
		font-family: 'Fontcons';
	}
	#step .next a {
		padding: 0.4em 2.91em 0.4em 0.91em;
	}
	#step .next a:before {
		display: none;
	}
	#step .next a:after {
		background: rgba(0, 0, 0, 0.08);
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		width: 1em;
		text-align: center;
		font-size: 1.2em;
		font-weight: normal;
		line-height: 2.1;
		padding: 0 0.5em;
		-webkit-border-radius: 0 0.25em 0.25em 0;
		-moz-border-radius: 0 0.25em 0.25em 0;
		-ms-border-radius: 0 0.25em 0.25em 0;
		-o-border-radius: 0 0.25em 0.25em 0;
		border-radius: 0 0.25em 0.25em 0;
		content: "\2192";
		font-family: 'Fontcons';
	}
	#step .prev a {
		margin-left: 1em;
	}
	#step .refresh a:before {
		content: "\f021";
	}
	
	#installer {
		-webkit-border-radius: 0.27em;
		-moz-border-radius: 0.27em;
		-ms-border-radius: 0.27em;
		-o-border-radius: 0.27em;
		border-radius: 0.27em;
		border: 1px solid #e3e3e3;
		padding: 0;
		background: #fbfbfb;
	}
	#installer h2 {
		padding: 1.61803399em;
		border-top: 1px solid #e3e3e3;
		border-bottom: 1px solid #e3e3e3;
		margin: 0 0 1.61803399em 0;
		background: #eaeaea url("../images/noise.png");
		text-shadow: 0 1px 1px rgba(255, 255, 255, 1);
		font-size: 1em;
	}
	#installer h2:first-child {
		margin-top: 0;
		border-top: none;
	}
	#installer .m>div {
		padding: 0 1.61803399em 1.61803399em 1.61803399em;
	}
	#installer iframe {
		width: 100%;
		height: 500px;
	}
	
	#installer fieldset {
		border: none;
	}

	#right, 
	#warning {
		margin-left: 220px;
	}

	#rightpad {
		width: 100%;
		float: left;
	}

	.far-right {
		float: right;
		text-align: right;
		margin-top: -0.325em;
	}
	.far-right div {
		display: inline;
	}

