@logoRatio: 3.461;
@logoWidth: 10rem;
@logoHeight: @logoWidth / @logoRatio;
@headerTopBottomPadding: 1rem;

@skinnyLogoWidth: 7rem;
@skinnyLogoHeight: @skinnyLogoWidth / @logoRatio;
@skinnyHeaderTopBottomPadding: 0.75rem;

@dadashboardW: 250px;