<?xml version="1.0" encoding="utf-8"?>
<!--
@package        hubzero-cms
@file           administrator/components/com_jobs/config.xml
@copyright      Copyright 2005-2011 Purdue University. All rights reserved.
@license        http://www.gnu.org/licenses/lgpl-3.0.html LGPLv3

Copyright 2005-2011 Purdue University. All rights reserved.

This file is part of: The HUBzero(R) Platform for Scientific Collaboration

The HUBzero(R) Platform for Scientific Collaboration (HUBzero) is free
software: you can redistribute it and/or modify it under the terms of
the GNU Lesser General Public License as published by the Free Software
Foundation, either version 3 of the License, or (at your option) any
later version.

HUBzero is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.

HUBzero is a registered trademark of Purdue University.
-->

<config>
	<params>
		<param name="component_enabled" type="radio" default="1" label="Enable this component?" description="Turn the whole component on/off">
			<option value="1">yes</option>
			<option value="0">no</option>
		</param>		
		<param name="industry" type="text" menu="hide" label="Industry Name" default="" description="Name of industry where jobs are posted" />
		<param name="admingroup" type="text" menu="hide" label="Admin Group" default="" description="Name of a HUB group to have unrestricted access to job postings and resumes, in addition to Joomla site administrators" />
		<param name="specialgroup" type="text" menu="hide" label="Special Services Group " default="" description="Name of a HUB group to have access to restricted-level subscriptions (usually above Premium)" />
		 <param name="autoapprove" type="radio" default="1" label="Auto approve job postings" description="Auto approve job postings from employer with a valid subscription">
			<option value="1">yes</option>
			<option value="0">no</option>
		</param>
		 <param name="defaultsort" type="radio" default="category" label="By default sort jobs by..." description="Default sorting of jobs by either category or type">
			<option value="category">category</option>
			<option value="type">type</option>
		</param>
		<param name="jobslimit" type="text" menu="hide" label="Limit jobs per page" default="25" description="Specify how many jobs to show on one page by default" />
		<param name="allowsubscriptions" type="radio" default="1" label="Allow user subscriptions?" description="Allow users to subscribe to employer services and post jobs and browse resumes.">
			<option value="1">yes</option>
			<option value="0">no</option>
		</param>
		<param name="usonly" type="radio" default="1" label="US jobs only?" description="Allow to post only US-based jobs">
			<option value="1">yes</option>
			<option value="0">no</option>
		</param>
		<param name="@spacer" type="spacer" default="" label="" description="" />
		<param name="banking" type="radio" default="0" label="Banking" description="Turn economy functions on/off">
			<option value="1">enabled</option>
			<option value="0">disabled</option>
		</param>		
		<param name="promoline" type="text" menu="hide" label="Promo for employers" default="" description="One-liner promotional offer for employers" />
		<param name="infolink" type="text" menu="hide" label="URL to about page" default="" description="URL to page explaining the job search process" />
		<param name="premium_infolink" type="text" menu="hide" label="URL to premium services page" default="" description="URL to page explaining the premium services" />
	</params>
	<fieldset name="basic">
		<field name="component_enabled" type="radio" default="1" label="Enable this component?" description="Turn the whole component on/off">
			<option value="1">yes</option>
			<option value="0">no</option>
		</field>		
		<field name="industry" type="text" menu="hide" label="Industry Name" default="" description="Name of industry where jobs are posted" />
		<field name="admingroup" type="text" menu="hide" label="Admin Group" default="" description="Name of a HUB group to have unrestricted access to job postings and resumes, in addition to Joomla site administrators" />
		<field name="specialgroup" type="text" menu="hide" label="Special Services Group " default="" description="Name of a HUB group to have access to restricted-level subscriptions (usually above Premium)" />
		 <field name="autoapprove" type="radio" default="1" label="Auto approve job postings" description="Auto approve job postings from employer with a valid subscription">
			<option value="1">yes</option>
			<option value="0">no</option>
		</field>
		 <field name="defaultsort" type="radio" default="category" label="By default sort jobs by..." description="Default sorting of jobs by either category or type">
			<option value="category">category</option>
			<option value="type">type</option>
		</field>
		<field name="jobslimit" type="text" menu="hide" label="Limit jobs per page" default="25" description="Specify how many jobs to show on one page by default" />
		<field name="allowsubscriptions" type="radio" default="1" label="Allow user subscriptions?" description="Allow users to subscribe to employer services and post jobs and browse resumes.">
			<option value="1">yes</option>
			<option value="0">no</option>
		</field>
		<field name="usonly" type="radio" default="1" label="US jobs only?" description="Allow to post only US-based jobs">
			<option value="1">yes</option>
			<option value="0">no</option>
		</field>
		<field name="@spacer" type="spacer" default="" label="" description="" />
		<field name="banking" type="radio" default="0" label="Banking" description="Turn economy functions on/off">
			<option value="1">enabled</option>
			<option value="0">disabled</option>
		</field>		
		<field name="promoline" type="text" menu="hide" label="Promo for employers" default="" description="One-liner promotional offer for employers" />
		<field name="infolink" type="text" menu="hide" label="URL to about page" default="" description="URL to page explaining the job search process" />
		<field name="premium_infolink" type="text" menu="hide" label="URL to premium services page" default="" description="URL to page explaining the premium services" />
	</fieldset>
</config>
