<?xml version="1.0" encoding="utf-8"?>
<!--
@package        hubzero-cms
@file           administrator/components/com_jobs/config.xml
@copyright      Copyright 2005-2011 Purdue University. All rights reserved.
@license        http://www.gnu.org/licenses/lgpl-3.0.html LGPLv3

Copyright 2005-2011 Purdue University. All rights reserved.

This file is part of: The HUBzero(R) Platform for Scientific Collaboration

The HUBzero(R) Platform for Scientific Collaboration (HUBzero) is free
software: you can redistribute it and/or modify it under the terms of
the GNU Lesser General Public License as published by the Free Software
Foundation, either version 3 of the License, or (at your option) any
later version.

HUBzero is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.

HUBzero is a registered trademark of Purdue University.
-->

<config>
	<fieldset name="basic">
		<field name="component_enabled" type="list" default="1" label="COM_JOBS_ENABLED_LABEL" description="COM_JOBS_ENABLED_DESC">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
		<field name="industry" type="text" menu="hide" label="COM_JOBS_INDUSTRY_LABEL" default="" description="COM_JOBS_INDUSTRY_DESC" />
		<field name="admingroup" type="text" menu="hide" label="COM_JOBS_ADMINGROUP_LABEL" default="" description="COM_JOBS_ADMINGROUP_DESC" />
		<field name="specialgroup" type="text" menu="hide" label="COM_JOBS_SPECIALGROUP_LABEL" default="" description="COM_JOBS_SPECIALGROUP_DESC" />
		 <field name="autoapprove" type="list" default="1" label="COM_JOBS_AUTOAPPROVE_LABEL" description="COM_JOBS_AUTOAPPROVE_DESC">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
		<field name="jobslimit" type="text" menu="hide" label="COM_JOBS_LIMIT_LABEL" default="25" description="COM_JOBS_LIMIT_DESC" />
		<field name="allowsubscriptions" type="list" default="1" label="COM_JOBS_ALLOWSUBSCRIPTIONS_LABEL" description="COM_JOBS_ALLOWSUBSCRIPTIONS_DESC">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
		<field name="usonly" type="list" default="1" label="COM_JOBS_US_ONLY_LABEL" description="COM_JOBS_US_ONLY_DESC">
			<option value="1">COM_JOBS_US_ONLY_YES</option>
			<option value="0">COM_JOBS_US_ONLY_NO</option>
		</field>
		<field name="promoline" type="text" menu="hide" label="COM_JOBS_PROMOLINE_LABEL" default="" description="COM_JOBS_PROMOLINE_DESC" />
		<field name="infolink" type="text" menu="hide" label="COM_JOBS_INFOLINK_LABEL" default="" description="COM_JOBS_INFOLINK_DESC" />
		<field name="premium_infolink" type="text" menu="hide" label="COM_JOBS_PREMIUM_INFOLINK_LABEL" default="" description="COM_JOBS_PREMIUM_INFOLINK_DESC" />
	</fieldset>
</config>
