.fb-button{
	display: inline-block;
	margin: 0;
	padding: .563rem .844rem;
	border: 0 none;
	background: #16a085;
	color: #fff;
	text-align: center;
	text-decoration: none;
	line-height: 1.61803399em;
	cursor: pointer;
	border-radius: .25rem;
	border: 1px solid rgba(0, 0, 0, 0.13);
}
.fb-button[disabled]{
	background: #ddd !important;
	border: thin solid #ccc;
	color: #777 !important;
	text-shadow: none !important;
	-ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=65)";
	opacity: .65;
	cursor: default;
}
.fb-button:hover{
	text-decoration: none;
}
.fb-clear{
	clear: both;
}
.fb-main{
	margin: 0 auto;
	padding: 0;
	position: relative;
}
.fb-right .input-text,
.fb-right input[type=text],
.fb-right input[type=password],
.fb-right input[type=email],
.fb-right textarea {
	margin-bottom: 0;
}
.fb-save-wrapper{
	position: absolute;
	right: 1.61803399em;
	top: 1.61803399em;
	display: none;
}
.fb-left{
	float: left;
	width: 40%;
	margin-right: 3.172043010752688%;
	padding-top: 30px;
}
.fb-right{
	padding-top: 5em;
	margin: 0;
	padding: 0.61803399em;
	min-height: 100%;
	overflow: hidden;
	background-color: #fff;
	border: 1px solid #d6d6d6;
	border: 1px solid rgba(0, 0, 0, 0.1);
	-webkit-border-radius: .25em;
	-moz-border-radius: .25em;
	border-radius: .25em;
}
.fb-no-response-fields{
	color: #999
}
.fb-tabs{
	list-style: none;
	margin: 0 0 20px 0;
	padding: 0 0 0 20px;
	border-bottom: 1px solid #ccc
}
.fb-tabs li{
	display: inline-block
}
.fb-tabs li a{
	display: block;
	padding: 10px;
	border-radius: 0.25em 0.25em 0 0;
	cursor: pointer;
	border-left: 1px solid transparent;
	border-right: 1px solid transparent;
}
.fb-tabs li.active a{
	border: 1px solid #ccc;
	margin-bottom: -1px;
	border-bottom-color: #f9f9f9;
}
.fb-tab-content .fb-tab-pane{
	padding: 0;
	display: none
}
.fb-tab-content .fb-tab-pane.active{
	display: block
}
.fb-add-field-types .section{
	padding-bottom: 5px;
	margin-bottom: 20px
}
.fb-add-field-types{
	font-size: 0
}
.fb-add-field-types a{
	font-size: 13px;
	display: inline-block;
	width: 48.5%;
	background-color: #666;
	margin-bottom: 9px;
	box-sizing: border-box
}
.fb-add-field-types a:hover {
	background-color: #1abc9c;
	text-decoration: none;
}
.fb-add-field-types a:nth-child(odd){
	margin-right: 3%
}
.fb-add-field-types a .symbol{
	opacity: .6;
	margin: 0 .25em 0 -1em
}
.fb-response-fields{
	padding-bottom: 150px
}
.fb-response-fields a.sortable-placeholder{
	display: block;
	border: 1px dashed #ddd;
	min-height: 80px;
	height: 80px;
	width: 100%
}
.fb-field-wrapper{
	cursor: pointer;
	position: relative;
	margin-bottom: 20px;
}
.fb-field-wrapper input{
	border-radius: 3px;
	border: thin solid #ddd
}
.fb-field-wrapper:hover .actions-wrapper,
.fb-field-wrapper.editing .actions-wrapper{
	display: block
}
.fb-field-wrapper:hover .subtemplate-wrapper{
	border-color: #ddd;
	border-radius: 3px
}
.fb-field-wrapper.editing{
	background-color: #f1f1f1;
	border-radius: 3px
}
.fb-field-wrapper.editing .subtemplate-wrapper{
	border-color: #d9e1e3;
	border-style: solid;
	margin: 0;
	border-radius: 3px
}
.fb-field-wrapper .actions-wrapper{
	display: none;
	position: absolute;
	bottom: -7px;
	right: 5px;
	z-index: 3
}
.fb-field-wrapper .actions-wrapper a{
	display: inline-block;
	background-color: #ccc;
	padding: 2px 8px
}
.edit-response-field input,
.edit-response-field textarea,
.edit-response-field select{
	border: thin solid #ddd;
	border-radius: .25em;
	padding: .5em;
	display: inline-block;
	height: auto;
	vertical-align: middle
}
.edit-response-field input:focus,
.edit-response-field textarea:focus,
.edit-response-field select:focus{
	outline: none;
	border: thin solid #1abc9c
}
.edit-response-field select{
	font-size: 14px
}

.fb-field-wrapper .actions-wrapper a.js-duplicate,
.fb-edit-field-wrapper .js-add-option{
	background-color: #2ecc71;
	border: none
}
.fb-field-wrapper .actions-wrapper a.js-clear,
.fb-edit-field-wrapper .js-remove-option{
	background-color: #e74c3c;
	border: none
}
.fb-field-wrapper .subtemplate-wrapper{
	border: 1px dashed transparent;
	padding: 1em;
	position: relative
}
.fb-field-wrapper .subtemplate-wrapper .cover{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 2
}
.fb-field-wrapper .subtemplate-wrapper > label{
	display: block;
}
.fb-field-wrapper .subtemplate-wrapper abbr{
	color: #f00
}
.fb-field-wrapper .input-line{
	clear: both;
	margin-bottom: 10px
}
.fb-field-wrapper .input-line .above-line{
	margin-top: 7px
}
.fb-field-wrapper .input-line > span{
	display: inline-block;
	vertical-align: top
}
.fb-field-wrapper .input-line > span input{
	width: 100%
}
.fb-field-wrapper .input-line > span > label{
	display: block;
	margin-left: 3px
}
.fb-field-wrapper .help-block{
	display: block;
}
.fb-field-wrapper .subtemplate-wrapper .section-name {
	font-weight: bold;
	font-size: 1.2em;
	padding: 0 0 0.2em 0;
	margin: 0 0 0.5em 0;
	border-bottom: 1px solid #ccc;
}
.option input[type=text],
.other-option .input-text,
.other-option input[type=text],
.other-option input[type=password],
.other-option input[type=email] {
	width: auto;
}

.fb-edit-field-wrapper{
}
.fb-edit-field-wrapper .fb-field-label{
	font-weight: normal;
	background: #eee;
	padding: .75em;
	color: #666;
	font-size: 1.25em
}
.fb-edit-field-wrapper .fb-field-label .field-type{
	margin-top: .5em;
	display: block;
	font-size: 1em
}
.fb-edit-field-wrapper .fb-field-label .field-type:before{
	content: 'Type:  ';
	color: #999
}
.fb-edit-field-wrapper .fb-field-label .fa.fa-arrow-right{
	display: none
}
.fb-edit-field-wrapper .fb-edit-section-header{
	border-bottom: 1px solid #ddd;
	margin-top: 25px;
	margin-bottom: 10px;
	padding-bottom: 5px;
	clear: both;
	font-weight: 700
}
.fb-edit-field-wrapper .js-add-option,
.fb-edit-field-wrapper .js-remove-option{
	padding: 3px 6px
}
.fb-edit-field-wrapper .fb-bottom-add{
	margin-top: 8px
}

.fb-common-wrapper .fb-label-description{
	margin-bottom: 10px
}
.fb-common-wrapper .fb-label-description input,
.fb-common-wrapper .fb-label-description textarea{
	width: 100%
}
.fb-common-wrapper .fb-label-description textarea{
	min-height: 5em
}

.response-field-draggable-helper{
	border: 1px dashed #ddd;
	background: #eee
}
.response-field-address .street {
	width: 100%;
}
.response-field-address .city,
.response-field-address .region,
.response-field-address .zip,
.response-field-address .country{
	width: 49%;
}
.response-field-date .month,
.response-field-date .day,
.response-field-date .year{
	width: 50px
}
.response-field-time .hours,
.response-field-time .minutes,
.response-field-time .seconds{
	width: 50px
}
.response-field-checkboxes .fb-option
.response-field-radio .fb-option{
	margin-bottom: 5px;
	display: inline-block
}
.response-field-website input{
	width: 200px
}

.fa:before {
	content: "";
	font-family: "Fontcons";
	font-style: normal;
}
.fa-plus-circle:before {
	content: "\2295";
}
.fa-minus-circle:before {
	content: "\2296";
}
.fa-envelope-o:before {
	content: "\2709";
}
.fa-orcid:before {
	content: "\f0f1";
}
.fa-country:before {
	content: "\2641";
}
.fa-link:before {
	content: "\26D3";
}
.fa-caret-down:before {
	content: "\f0d7";
}
.fa-circle-o:before {
	content: "\26AA";
}
.fa-square-o:before {
	content: "\2611";
}
.fa-clock-o:before {
	content: "\23F0";
}
.fa-calendar:before {
	content: "\f0d0";
}
.fa-font:before {
	content: "\f031";
}
.fa-usd:before {
	content: "\f0d6";
}
.fa-home:before {
	content: "\2302";
}
.fa-hidden:before {
	content: "\f070";
}
.fa-tags:before {
	content: "\f02b";
}
