.passrules li {
	position: relative;
}
.passrules li:before {
	font-family: "fontcons";
	content: "\26AA";
	margin-right: 5px;
	position: relative;
	top: auto;
	left: auto;
	display: inline-block;
}
.passrules .passed {
	color: green;
}
.passrules .error {
	color: red;
	background: transparent;
	margin: 0;
	padding: 0;
}
.passrules .passed:before {
	content: "\2714";
}
.passrules .error:before {
	content: "\2716";
}