.assets:before {
	content: "\f08c";
	font-family: "Fontcons";
}
.upload-path {
	display: none;
}

#img-container {
	padding: 1em;
	text-align: center;
}
/* Firefox does not honor max-width on img properly */
@-moz-document url-prefix() {
	#img-container img {
		width: 100%;
	}
}
#img-delete {
	white-space: nowrap;
}
/* Drag and drop file upload */
.qq-uploading {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 107px;
	color: #fff;
	font-size: 18px;
	padding: 75px 0 0 0;
	text-align: center;
	background: rgba(0,0,0,0.75);
}
.qq-uploader {
	position: relative;
	margin: 0;
	padding: 0;
}
.qq-upload-button,
.qq-upload-drop-area {
	background: #f7f7f7;
	border: 3px dashed #ddd;
	text-align: center;
	color: #bbb;
	text-shadow: 0 1px 0 #FFF;
	padding: 0;
	margin: 1em;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	font-size: 1.1em;
	font-weight: bold;
}
#component-body .qq-upload-button,
#component-body .qq-upload-drop-area {
	margin: 0 1em 1em 1em;
}

.asset-uploader .columns {
	margin-top: 0;
	padding-top: 0;
}
.qq-upload-button,
.qq-upload-drop-area {
	text-align: center;
	padding: 0.4em 0;
}
.qq-upload-button span,
.qq-upload-drop-area span {
	position: relative;
	padding-left: 1.5em;
}
.qq-upload-button span:before,
.qq-upload-drop-area span:before {
	display: block;
	position: absolute;
	top: 0em;
	left: -0.2em;
	font-family: "Fontcons";
	content: "\f08c";
	font-size: 1.1em;
	line-height: 1;
	content: "\f016";
	left: 0;
	font-weight: normal;
}
.qq-upload-button:hover,
.qq-upload-drop-area:hover,
.qq-upload-drop-area-active {
	border: 3px solid #333;
	color: #333;
	cursor: pointer;
}
.qq-upload-drop-area {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}
.qq-upload-list {
	display: none;
}

.options-link {
	display: block;
	padding: 5px 10px;
	border: 1px solid #efefef;
	border-left: 5px solid #ff27d6;
}