<?xml version="1.0" encoding="utf-8"?>

<!--
@package      hubzero-cms
@copyright    Copyright (c) 2005-2020 The Regents of the University of California.
@license      http://opensource.org/licenses/MIT MIT
-->

<config>
        <fieldset name="delay" label="COM_REDIRECT_DELAY_LABEL" description="COM_REDIRECT_DELAY_LABEL">
        <field name="delay_enabled" type="list" default="DISABLED" label="COM_REDIRECT_IS_DELAY_ENABLED" description="COM_REDIRECT_IS_DELAY_ENABLED">
            <option value="ENABLED">COM_REDIRECT_DELAY_ENABLED</option>
            <option value="DISABLED">COM_REDIRECT_DELAY_DISABLED</option>
        </field>
        <field name="delay_seconds" type="text" default="10" label="COM_REDIRECT_DELAY_SECONDS" description="COM_REDIRECT_DELAY_SECONDS" size="80" />
        <field name="delay_whitelist" type="text" default="" label="COM_REDIRECT_DELAY_WHITELIST" description="COM_REDIRECT_DELAY_WHITELIST" size="80" />
        <field name="delay_blacklist" type="text" default="" label="COM_REDIRECT_DELAY_BLACKLIST" description="COM_REDIRECT_DELAY_BLACKLIST" size="80" />
        <field type="spacer" />
        </fieldset>

	<fieldset name="permissions" label="JCONFIG_PERMISSIONS_LABEL" description="JCONFIG_PERMISSIONS_DESC">
		<field name="rules" type="rules" label="JCONFIG_PERMISSIONS_LABEL" filter="rules" validate="rules" component="com_redirect" section="component" />
	</fieldset>
</config>
