@import url("/modules/mod_reportproblems/assets/css/mod_reportproblems.css");

/* Help Tab */
	#tab {
		position: static;
		top: inherit;
		right: inherit;
		
		float: right;
		font-style: normal;
		padding: 0.9em 0;
		margin: 0 45px 0 0;
		list-style: none;
		width: auto;
		height: auto;
		font-size: 1em;
	}
	#tab a span {
		color: #999999;
		padding-right: 20px;
		background: none;
		display: inline;
	}
	#tab a { 
		display: inline;
		color: #999999;
		border: none;
		background: transparent url("../../images/help.png") right -2px no-repeat;
	}
	#tab a:hover span {
		color: #dddddd;
		background-color: transparent;
	}
	#tab a:hover {
		color: #dddddd;
		background: transparent url("../../images/help.png") right -48px no-repeat;
		background-color: transparent;
	}
