@import url("/core/modules/mod_collect/assets/css/mod_collect.css");

.collector {
	position: absolute;
	top: 7px;
	right: 40px;
	padding: 0;
	margin: 0;
	z-index: 999;
}

.collector a, #trail .collector a {
	color: #fff;
}