<?xml version="1.0" encoding="utf-8"?>
<extension type="component" version="1.5">
	<name>%=component_name+ucf=%</name>
	<author>HUBzero</author>
	<copyright>Copyright (c) 2005-2020 The Regents of the University of California.</copyright>
	<license>http://opensource.org/licenses/MIT MIT</license>
	<languages>
		<language tag="en-GB">en-GB.%=option=%.ini</language>
	</languages>
	<files>
	</files>
	<install>
	</install>
	<uninstall>
	</uninstall>
	<administration>
		<menu>%=component_name+ucf=%</menu>
		<files>
			<filename>access.xml</filename>
			<filename>config.xml</filename>
			<filename>%=component_name=%.php</filename>
			<filename>%=component_name=%.xml</filename>
		</files>
	</administration>
</extension>