@import url("../../../../components/com_collections/assets/css/collections.css");

/* Layout */
	#content {
		padding: 0;
	}
	#content .main {
		display: block;
		margin: 0;
		padding: 30px 50px 30px 50px;
		background: #e1e1e1;
	}
	#content #content-header h2 {
		padding: 30px 60px;
	}
	ul.sub-menu {
		padding: 1em 60px 0 60px;
	}

/* Filters bar */
	fieldset.filters {
		padding: 30px 60px;
		border: none;
	}

/* Posts */
	.post {
		width: 284px;
		-webkit-box-shadow: none;
		   -moz-box-shadow: none;
		    -ms-box-shadow: none;
		     -o-box-shadow: none;
		        box-shadow: none;
	}
	.post:hover {
		-webkit-box-shadow: 0 0 0 4px rgba(0, 0, 0, .08);
		   -moz-box-shadow: 0 0 0 4px rgba(0, 0, 0, .08);
		    -ms-box-shadow: 0 0 0 4px rgba(0, 0, 0, .08);
		     -o-box-shadow: 0 0 0 4px rgba(0, 0, 0, .08);
		        box-shadow: 0 0 0 4px rgba(0, 0, 0, .08);
	}
	.post .stats {
		border-bottom: 1px solid #e1e1e1;
	}
	.post ul + .meta .stats {
		border-top: none;
	}
	.comment, 
	.attribution {
		border-top: none;
	}
	.post.collection::before,
	.post.collection::after {
		display: none;
	}
	#sbox-content .post {
		width: auto;
	}
