<?php
/**
 * @package    hubzero-cms
 * @copyright  Copyright (c) 2005-2020 The Regents of the University of California.
 * @license    http://opensource.org/licenses/MIT MIT
 */

namespace Components\%=component_name+ucf=%\Models;

use Hubzero\Database\Relational;

/**
 * %=component_name+ucfp=% database model
 *
 * @uses  \Hubzero\Database\Relational
 */
class %=component_name+ucfp=% extends Relational
{

}
