<?xml version="1.0" encoding="utf-8"?>

<!--
@package        hubzero-cms
@file           administrator/components/com_courses/config.xml
@copyright      Copyright 2005-2011 Purdue University. All rights reserved.
@license        http://www.gnu.org/licenses/lgpl-3.0.html LGPLv3

Copyright 2005-2011 Purdue University. All rights reserved.

This file is part of: The HUBzero(R) Platform for Scientific Collaboration

The HUBzero(R) Platform for Scientific Collaboration (HUBzero) is free
software: you can redistribute it and/or modify it under the terms of
the GNU Lesser General Public License as published by the Free Software
Foundation, either version 3 of the License, or (at your option) any
later version.

HUBzero is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.

HUBzero is a registered trademark of Purdue University.
-->

<config>
	<params>
		<param name="uploadpath" type="text" menu="hide" default="/site/courses" label="Upload path" description="File path for pictures" size="50" />
		<param name="tmpl" type="text" menu="hide" default="" label="Template" description="Template to use" size="50" />
		<param name="default_asset_groups" type="text" menu="hide" default="Lectures, Homework, Exam" label="Default Asset Groups" description="Comma separated list of default asset groups to create when creating a new unit using the instructor builder." size="50" />
		<param name="section_grade_policy" type="list" default="1" label="Can section owners edit grading policy?" description="Specify whether or not section owners are allowed to editing the grading policy for their section. If no, policy inteface only shows up for course instructors.">
			<option value="0">No</option>
			<option value="1">Yes</option>
		</param>

		<param type="spacer" />
		<param name="auto_approve" type="list" default="1" label="Auto Approve Courses:?" description="Courses are auto approved at creation. Otherwise Hub administrator must manually approve course.">
			<option value="0">No</option>
			<option value="1">Yes</option>
		</param>

		<param type="spacer" />
		<param name="email_comment_processing" type="list" default="0" label="Enable discussion comments via E-mail" description="Enable logic to send course discussion comments via email and process and add responses via email">
			<option value="0">No</option>
			<option value="1">Yes</option>
		</param>
		<param name="email_member_coursesidcussionemail_autosignup" type="list" default="0" label="Enable courses to auto setup new members to receive discussion email by default" description="Automatically setup new course users to get email from the course discussions">
			<option value="0">No</option>
			<option value="1">Yes</option>
		</param>
		
		<param type="spacer" /> 
		<param name="intro_mycourses" type="list" default="1" label="Show My Courses" description="Display list of my courses on course landing page?">
			<option value="0">No</option>
			<option value="1">Yes</option>
		</param>
		<param name="intro_interestingcourses" type="list" default="1" label="Show Interesting Courses" description="Display list of courses having matching tags as the user on the course landing page?">
			<option value="0">No</option>
			<option value="1">Yes</option>
		</param>
		<param name="intro_popularcourses" type="list" default="1" label="Show Popular Courses" description="Display list of popular courses on course landing page?">
			<option value="0">No</option>
			<option value="1">Yes</option>
		</param>
	</params>
	<fieldset name="basic">
		<field name="uploadpath" type="text" menu="hide" default="/site/courses" label="Upload path" description="File path for pictures" size="50" />
		<field name="tmpl" type="text" menu="hide" default="" label="Template" description="Template to use" size="50" />
		<field name="default_asset_groups" type="text" menu="hide" default="Lectures, Homework, Exam" label="Default Asset Groups" description="Comma separated list of default asset groups to create when creating a new unit using the instructor builder." size="50" />
		<field name="section_grade_policy" type="list" default="1" label="Can section owners edit grading policy?" description="Specify whether or not section owners are allowed to editing the grading policy for their section. If no, policy inteface only shows up for course instructors.">
			<option value="0">No</option>
			<option value="1">Yes</option>
		</field>

		<field type="spacer" />
		<field name="auto_approve" type="list" default="1" label="Auto Approve Courses:?" description="Courses are auto approved at creation. Otherwise Hub administrator must manually approve course.">
			<option value="0">No</option>
			<option value="1">Yes</option>
		</field>

		<field type="spacer" />
		<field name="email_comment_processing" type="list" default="0" label="Enable discussion comments via E-mail" description="Enable logic to send course discussion comments via email and process and add responses via email">
			<option value="0">No</option>
			<option value="1">Yes</option>
		</field>
		<field name="email_member_coursesidcussionemail_autosignup" type="list" default="0" label="Enable courses to auto setup new members to receive discussion email by default" description="Automatically setup new course users to get email from the course discussions">
			<option value="0">No</option>
			<option value="1">Yes</option>
		</field>
		
		<field type="spacer" /> 
		<field name="intro_mycourses" type="list" default="1" label="Show My Courses" description="Display list of my courses on course landing page?">
			<option value="0">No</option>
			<option value="1">Yes</option>
		</field>
		<field name="intro_interestingcourses" type="list" default="1" label="Show Interesting Courses" description="Display list of courses having matching tags as the user on the course landing page?">
			<option value="0">No</option>
			<option value="1">Yes</option>
		</field>
		<field name="intro_popularcourses" type="list" default="1" label="Show Popular Courses" description="Display list of popular courses on course landing page?">
			<option value="0">No</option>
			<option value="1">Yes</option>
		</field>
	</fieldset>
</config>
