<?xml version="1.0" encoding="utf-8"?>

<!--
@package        hubzero-cms
@file           administrator/components/com_courses/config.xml
@copyright      Copyright 2005-2011 Purdue University. All rights reserved.
@license        http://www.gnu.org/licenses/lgpl-3.0.html LGPLv3

Copyright 2005-2011 Purdue University. All rights reserved.

This file is part of: The HUBzero(R) Platform for Scientific Collaboration

The HUBzero(R) Platform for Scientific Collaboration (HUBzero) is free
software: you can redistribute it and/or modify it under the terms of
the GNU Lesser General Public License as published by the Free Software
Foundation, either version 3 of the License, or (at your option) any
later version.

HUBzero is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.

HUBzero is a registered trademark of Purdue University.
-->

<config>
	<fieldset name="basic">
		<field name="uploadpath" type="text" menu="hide" default="/site/courses" label="COM_COURSES_UPLOADPATH_LABEL" description="COM_COURSES_UPLOADPATH_DESC" size="50" />
		<field name="tmpl" type="text" menu="hide" default="" label="COM_COURSES_TEMPLATE_LABEL" description="COM_COURSES_TEMPLATE_DESC" size="50" />
		<field name="default_asset_groups" type="text" menu="hide" default="Lectures, Homework, Exam" label="COM_COURSES_ASSETGROUPS_LABEL" description="COM_COURSES_ASSETGROUPS_DESC" size="50" />
		<field name="default_enrollment" type="list" default="0" label="COM_COURSES_ENROLLMENT_LABEL" description="COM_COURSES_ENROLLMENT_DESC">
			<option value="0">COM_COURSES_FIELD_ENROLLMENT_OPEN</option>
			<option value="1">COM_COURSES_FIELD_ENROLLMENT_RESTRICTED</option>
			<option value="2">COM_COURSES_FIELD_ENROLLMENT_CLOSED</option>
		</field>
		<field name="section_grade_policy" type="list" default="1" label="COM_COURSES_GRADEPOLICY_LABEL" description="COM_COURSES_GRADEPOLICY_DESC">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field name="progress_calculation" type="list" default="0" label="COM_COURSES_PROGRESSCALC_LABEL" description="COM_COURSES_PROGRESSCALC_DESC">
			<option value="all">COM_COURSES_PROGRESS_CALCULATION_ALL</option>
			<option value="graded">COM_COURSES_PROGRESS_CALCULATION_GRADED</option>
			<option value="videos">COM_COURSES_PROGRESS_CALCULATION_VIDEOS</option>
			<option value="manual">COM_COURSES_PROGRESS_CALCULATION_MANUAL</option>
		</field>
		<field name="tool_path" type="text" menu="hide" default="" label="COM_COURSES_TOOLPATH_LABEL" description="COM_COURSES_TOOLPATH_DEC" size="50" />
		<field type="spacer" />
		<field name="auto_approve" type="list" default="1" label="COM_COURSES_AUTOAPPROVE_LABEL" description="COM_COURSES_AUTOAPPROVE_DESC">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
	</fieldset>
	<!--
	<fieldset name="intro">
		<field name="intro_mycourses" type="list" default="1" label="COM_COURSES_SHOWMINE_LABEL" description="COM_COURSES_SHOWMINE_DESC">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field name="intro_interestingcourses" type="list" default="1" label="COM_COURSES_SHOWINTERESTING_LABEL" description="COM_COURSES_SHOWINTERESTING_DESC">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field name="intro_popularcourses" type="list" default="1" label="COM_COURSES_SHOWPOPULAR_LABEL" description="COM_COURSES_SHOWPOPULAR_DESC">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
	</fieldset>
	<fieldset name="email">
		<field name="email_comment_processing" type="list" default="0" label="COM_COURSES_EMAIL_PROCESSING_LABEL" description="COM_COURSES_EMAIL_PROCESSING_DESC">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field name="email_member_coursesidcussionemail_autosignup" type="list" default="0" label="COM_COURSES_EMAIL_AUTOSIGNUP_LABEL" description="COM_COURSES_EMAIL_AUTOSIGNUP_DESC">
			<option value="0">No</option>
			<option value="1">JYES</option>
		</field>
	</fieldset>
	-->
	<fieldset name="badges">
		<field name="passport_consumer_key" type="text" menu="hide" default="" label="COM_COURSES_PASSPORTKEY_LABEL" description="COM_COURSES_PASSPORTKEY_DESC" size="50" />
		<field name="passport_consumer_secret" type="text" menu="hide" default="" label="COM_COURSES_PASSPORTSECRET_LABEL" description="COM_COURSES_PASSPORTSECRET_DESC" size="50" />
		<field name="passport_issuer_id" type="text" menu="hide" default="" label="COM_COURSES_PASSPORTISSUER_LABEL" description="COM_COURSES_PASSPORTISSUER_DESC" size="50" />
		<field name="passport_client_id" type="text" menu="hide" default="" label="COM_COURSES_PASSPORTCLIENT_LABEL" description="COM_COURSES_PASSPORTCLIENT_DESC" size="50" />
		<field name="badges_request_type" type="list" default="oauth" label="COM_COURSES_BADGE_REQUEST_LABEL" description="COM_COURSES_BADGE_REQUEST_DESC">
			<option value="oauth">OAuth</option>
			<option value="curl">cURL</option>
		</field>
	</fieldset>
	<fieldset name="unity">
		<field name="unity_key" type="text" menu="hide" default="" label="COM_COURSES_UNiTY_LABEL" description="COM_COURSES_UNiTY_DESC" size="50" />
	</fieldset>
	<fieldset name="permissions" label="JCONFIG_PERMISSIONS_LABEL" description="JCONFIG_PERMISSIONS_DESC">
		<field name="rules" type="rules" label="JCONFIG_PERMISSIONS_LABEL" class="inputbox" validate="rules" filter="rules" component="com_courses" section="component" />
	</fieldset>
</config>