/**
 * Copyright 2005-2009 by Purdue Research Foundation, West Lafayette, IN 47906.
 * All rights reserved.
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License,
 * version 2 as published by the Free Software Foundation. 
 */

/*

	-- -- -- -- -- -- --
	com_members CSS
	-- -- -- -- -- -- --

*/

/* Misc. */
	.com_members .clearfix {
		border: 1px solid transparent;
		}
	.com_members .clearfix:after {
		content: "."; 
		display: block; 
		height: 0px; 
		clear: left; 
		visibility: hidden;
		}
	.com_members .section-header { 
		display: none; 
		}
/* Content blocks */
	.com_members .container {
		margin: 1em 0;
		padding: 0;
		border: 10px solid #f4f4f4;
		background: #f4f4f4;
		}
	.com_members .data-entry {
		border-color: #eef0e7; /*#F5F7F2;*/
		background-color: #eef0e7; /*#F5F7F2;*/
		}
	.com_members .container-block {
		border: 2px solid #e9e9e9;
		background-color: #fff;
		margin: 0;
		padding: 0 15px;
		}
	.com_members .container-block h3 {
		margin: 0 -15px 1em -15px;
		padding: 0.5em 0.7em;
		background: #f8f8f8 url("images/light-stripes.png");
		border-bottom: 2px solid #e9e9e9;
		font-size: 135%;
		}
	.com_members .container-block h4 {
		font-size: 115%;
		border-bottom: 1px solid #eee;
		padding: 0.5em 0.7em;
		font-weight: normal;
		}
	.com_members .container-block .columns {
		margin-top: 0em;
		margin-bottom: 1em;
		}
	.com_members .container-block .entry-content {
		margin: 0 0 2em 0;
		}
	.com_members .container-block .entry-content h4 {
		font-weight: bold;
		}
/* Entries search */
	.com_members .entry-search {
		margin: 0 1em 0 0;
		border: none;
		padding: 0;
		}
	.com_members .entry-search legend,
	.com_members .entry-search label {
		display: none;
		}
	.com_members .entry-search input {
		width: 95%;
		border: 1px solid #A8A8A8;
		background: #fff url("images/search.png") 5px 50% no-repeat;
		padding: 5px 5px 5px 20px;
		}
	.com_members .entry-search-submit {
		float: right;
		margin: 3px 0 0 0;
		}
/* Aside */
	.com_members .aside .container {
		margin: 0 0 1em 0;
		padding: 0;
		background-color: #F4F4ee;
		border: 10px solid #F4F4ee;
		}
	/* Headers */
	.com_members .aside .container h3,
	.com_members .aside .container h4 {
		margin: -10px -10px 1em -10px;
		padding: 5px 10px;
		background-color: #999;
		color: #fff;
		}
	/* Paragraphs */
	.com_members .aside .container p {
		margin: 1em 0 0 0;
		}
	.com_members .aside .container .starter {
		padding: 0 0 0 0;
		position: relative;
		}
	.com_members .aside .container .starter .starter-point {
		border-color: #999 transparent transparent transparent;
		border-style: solid dashed dashed dashed;
		border-width: 10px;
		height: 0;
		width: 0;
		display: block;
		overflow: hidden;
		position: absolute;
		top: -1.2em;
		left: 10px;
		}
	/* Lists */
	.com_members .aside .container ul,
	.com_members .aside .container li {
		margin-left: 0;
		padding-left: 0;
		list-style: none;
		}
	.com_members .aside .container ul {
		margin: 0.5em 0 0.5em 0;
		padding: 0;
		}
	.com_members .aside .container li {
		padding: 0 0 0 0;
		margin: 0.2em 0;
		padding: 0 0 0 15px;
		background: url("images/bullets_small.png") no-repeat 0px -730px; 
		}
	.com_members .aside .container a.active {
		color: #777;
		font-weight: bold;
		}
/* Entries (table) */
	.com_members .entries {
		border: 2px solid #e9e9e9;
		border-top: none;
		background-color: #fff;
		margin: 0;
		padding: 0;
		}
	/* caption */
	.com_members .entries caption {
		font-size: 115%;
		background: #f8f8f8 url("images/light-stripes.png");
		border: 2px solid #e9e9e9;
		border-bottom: 1px solid #e9e9e9;
		margin-right: -2px; /* Fix 2px issue */
		}
	.com_members .container-block h4 span,
	.com_members .entries caption span {
		color: #aaa;
		}
	/* thead */
	.com_members .entries thead th {
		text-align: center;
		font-size: 85%;
		background-color: #fbfbf6;
		}
	.com_members .entries thead th a {
		display: inline-block;
		padding: 0.1em 0.4em;
		margin: 0 0.15em;
		border: 1px solid #fbfbf6; /*#69c;*/
		background-color: #fbfbf6; /*#eff7ff;*/
		}
	.com_members .entries thead th a:hover {
		border-color: #f60;
		color: #f60;
		background-color: #fff;
		}
	.com_members .entries thead th a.active-index {
		background-color: #eee;
		color: #999;
		border-color: #999;
		}
	/* tbody */
	.com_members .entries tbody td {
		text-align: left;
		border-bottom: 1px solid #eee;
		padding: 10px;
		}
	.com_members .entries tbody th {
		width: 50px;
		padding: 10px;
		text-align: center;
		border-bottom: 1px solid #eee;
		}
	.com_members .entries tbody tr.private {
		/*background: #ffe url("images/light-stripes.png");*/
		background-image: none;
		}
	.com_members .entries tbody tr.private .entry-title {
		background: transparent url("images/lock.png") 0 0 no-repeat;
		padding-left: 20px;
		}
	.com_members .entries tbody tr.me {
		background-color: #f6f6f1;
		}
	.com_members .entry-details {
		font-size: 85%;
		color: #999;
		}
	.com_members .entry-details-divider {
		margin-left: 0.5em;
		margin-right: 0.5em;
		}
	.com_members .entries .activity {
		color: #999;
		}
		
	.com_members .entries .entry-id {
		display: none;
		}
	.com_members .container-block .entry-details {
		padding: 0.7em 0 0.7em 0;
		}
/* Submenu (filtering and sorting) */
	.com_members .entries-menu {
		list-style: none;
		padding: 0;
		margin: 0;
		font-size: 85%;
		}
	.com_members .list-footer,
	.com_members .entries-menu {
		min-height: 1px;
		}
	.com_members .entries-menu li {
		float: right;
		padding: 0 0.2em 0.5em 0.2em;
		margin: 0;
		}
	.com_members .entries-menu li a,
	.com_members .entries-menu span.nolink {
		color: #888;
		display: block;
		cursor: pointer;
		font-weight: normal;
		line-height: 1em;
		border: none;
		margin: 0;
		padding: 0.4em 0.75em;
		text-shadow: 0px 1px 1px #fff;
		}
	.com_members .entries-menu span.nolink {
		color: #999;
		}
	.com_members .entries-menu a.active,
	.com_members .entries-menu span.nolink.active {
		color: #fff;
		background-color: #636166;
		-moz-border-radius: 10px;
		-webkit-border-radius: 10px;
		-webkit-border-radius: 10px;
		border-radius: 10px;
		text-shadow: 0 1px 1px rgba(0,0,0,.3);
		text-decoration: none;
		}
	.com_members .entries-menu a:hover {
		color: #fff;
		background-color: #fc9022;
		-moz-border-radius: 10px;
		-webkit-border-radius: 10px;
		-webkit-border-radius: 10px;
		border-radius: 10px;
		text-shadow: 0 1px 1px rgba(0,0,0,.3);
		text-decoration: none;
		}
	.com_members .filter-options li {
		float: left;
		margin: 0 0 0.2em 0;
		}
/* Sub sub menu */
	#sub-sub-menu ul {
		margin: 0 -15px;
		padding: 0.7em 15px;
		list-style: none;
		border: none;
		border-bottom: 1px solid #ddd;
		}
	#sub-sub-menu li {
		margin: 0 0 0 20px;
		padding: 0;
		border: none;
		display: inline;
		}
	#sub-sub-menu .active a {
		color: #333;
		border: none;
		}
	.com_members #sub-menu {
		margin-bottom: -1px;
		}
/* Form stylings */
	#hubForm .threeup {
		margin-left: -1.5%;
		margin-right: -3%;
		padding: 0 0 1.5em 0;
		left: 0;
		margin-top: 1.5em;
		margin-bottom: 1.5em;
		}
	#hubForm .threeup label {
		padding: 0;
		float: left;
		width: 30%;
		margin-left: 0;
		margin-right: 0;
		padding-left: 1.5%;
		padding-right: 1.5%;
		}
	#hubForm .threeup label:first-child {
		margin-left: 0;
		margin-right: 0;
		}
	.full fieldset#actions,
	.full fieldset#filters {
		border: none;
		background: transparent;
		margin: 0;
		padding: 0;
		}
	.full fieldset#filters {
		float: right;
		}
	#hubForm #orgtextlabel {
		display: none;
		}
/* Member picture (loaded via iframe) */
	iframe {
		border: none;
		}
	#member-picture {
		background-color: #F5F7F2;
		}
	#member-picture fieldset {
		margin: 1.5em 0 2em 0;
		padding: 0.5em 0;
		}
/* Search results */
	.com_members .search {
		margin: 0 1em 0.5em 1em;
		border: none;
		}
	.results .member p {
		margin-left: 60px;
		}
	.results .member .title {
		text-indent: 0em;
		}
	.results .member .photo {
	    text-align: center;
		float: left;
	    width: 50px;
		display: block;
		margin: 0.5em 0 0 0;
		padding: 0;
		}
/* TAB: Profile */
	.profile {
		margin-top: 1em;
		border: none;
		background: transparent;
		}
	.profile th, 
	.profile td {
		padding-bottom: 25px;
		border-top: 1px solid #e5e5e5;
		border-bottom: none;
		}
	.profile th {
		text-align: right;
		color: #999;
		white-space: nowrap;
		}
	.profile td {
		padding-right: 1.5em;
		}
	.profile .tags {
		margin: 0;
		}
	.profile ul {
		margin-left: 1.5em;
		list-style: disc;
		}
	.profile td p {
		margin: 1em 0;
		}
	.profile td p:first-child {
		margin-top: 0;
		}
	.profile tr.private {
		background-color: #efefef;
		background-image: none;
		color: #aaa;
		}
		
	.portrait {
		border: 3px double #e5e5e5;
		padding: 10px;
		margin: 0;
		text-align: center;
		}
	.portrait img {
		border: 1px solid #e5e5e5;
		margin: 0;
		padding: 0;
		}
/* Messaging */
	.message { 
		background: url("images/email_go.png") 0 0 no-repeat; 
		padding-left: 20px;
		}
	.message-member a {
		margin: 0;
		padding: 0;
		display: block;
		width: 16px;
		height: 16px;
		overflow: hidden;
		text-indent: 555em;
		float: right;
		}
	.message-member a:hover {
		border: none;
		}
/* TAB: Favorites */
	.com_members .aside legend,
	.com_members #contributions-section>h3,
	.com_members #favorites-section>h3,
	.com_members #profile-section>h3 {
		display: none !important;
		}

/* IE 7 hacks */
	html>body .com_members .filter-options li {
		*margin: -2em 0 0 0;
		}
	html>body .com_members .main .subject {
		*padding-top: 1em;
		}
	html>body .com_members .aside .container .starter .starter-point {
		*top: -1.3em;
		}
/* IE 6 hacks */
