@import '../../../../../templates/bmc/css/pages/variables';
@import '../../../../../templates/bmc/css/pages/mixins';

.wrapper {
  @include grid-template(repeat(4, [col] 1fr), repeat(4, auto));

  p {
    font-size: 1rem;
  }
}

//Header
.no-webp .ambassador-header,
.no-jpeg2000 .ambassador-header,
.no-jpegxr .ambassador-header {
  @include bcg-img('/app/components/com_fmns/site/assets/img/ambassador.jpg');
}

.webp {
  .ambassador-header {
    @include bcg-img('/app/components/com_fmns/site/assets/img/ambassador.webp');
  }
}

.jpeg2000 {
  .ambassador-header {
    @include bcg-img('/app/components/com_fmns/site/assets/img/ambassador.jp2');
  }
}

.jpegxr {
  .ambassador-header {
    @include bcg-img('/app/components/com_fmns/site/assets/img/ambassador.jxr');
  }
}

.ambassador-header {
  @include flexbox;
  @include grid(col / span 4, 1);
  align-items: center;
  background-position: center !important;
  color: $white;
  height: 20rem;
  padding: 2.5em;
  text-align: center;
  visibility: hidden;

  h2 {
    color: $white;
    visibility: hidden;
  }
  @include respond-at(56.3125em) {
    @include grid-template(repeat(4, 1fr), 1fr);
  }
  @include grid-support {
    width: auto;
  }
}

.intro {
  @include grid(1 / span 4, null);
  @include respond-at(56.3125em) {
    @include grid(2 / span 2, null);
    width: 50%;
  }
  @include grid-support {
    width: auto;
  }
  align-self: center;
  margin: 0 auto;
  width: 100%;

  a {
    color: $white;
    text-decoration: underline;
  }

  p {
    visibility: hidden;
  }
}

//Ambassador Description
.ambassador {
  @include grid(col / span 4, 2);
  margin: 1em auto;
  max-width: 70%;
  padding: 2.5em;
  text-align: center;
  visibility: hidden;
}

//Ways to Participate
.participate-wrapper {
  @include flexbox(wrap);
  @include grid(col / span 4, 3);
  @include grid-template(repeat(2, 1fr), 1.5fr 1fr);
  @include respond-at(56.3125em) {
    @include grid-template(repeat(2, 1fr), 1fr);
  }
  background-color: $white-smoke;
}

.big {
  @include grid(span 2, 2);
  @include respond-at(56.3125em) {
    @include grid(2 / span 1, 1);
    width: 50%;
  }
  @include grid-support {
    height: auto;
    width: auto;
  }
  @include bcg-plain-img('/app/components/com_fmns/site/assets/img/colleague.jpg');
  width: 100%;
}

.participate {
  @include grid(span 2, 1);
  align-self: center;
  order: -1;
  padding: 2.5em;
  width: 100%;

  ul {
    li {
      list-style-type: none;
      margin: 0;

      a {
        color: $white;
        text-decoration: underline;

        &:hover {
          color: $color-link-hover;
        }
      }
    }
  }
  @include respond-at(56.3125em) {
    @include grid(1 / span 1, 1);
    width: 50%;
  }
  @include grid-support {
    width: auto;
  }
}

.link {
  @include btn-border-drawing($color-link, $color-link-hover, 1px, bottom, right);
}

span.link {
  a {
    font-family: $font-body;
    font-weight: normal;

    &::after {
      display: none;
    }
  }
}

.center {
  text-align: center;
}

//Current and Former
.current {
  @include grid(1 / span 4, null);
  padding: 2.5em;
}

.current-ambassador-wrap {
  @include flexbox(wrap);
  justify-content: center;
}

.current-ambassador {
  margin: 1em 1.5em;
  width: 9rem;

  img {
    border-radius: 100%;
    height: 9rem;
    margin-bottom: .5em;
    object-fit: cover;
    width: 9rem;
  }

  p {
    margin: 0;
    text-align: left;
  }
}
