@import url("../../../../components/com_tags/assets/css/tags.css");

.entries tbody td a.entry-title {
	background: #fadea3 !important;
	color: #5a2d00 !important;
}
.entries tbody td a.entry-title:before {
	border-color: transparent #fadea3 transparent transparent !important;
}
.entries tbody td a.entry-title:hover {
	background: #f3ae22 !important;
}
.entries tbody td a.entry-title:hover:before {
	border-color: transparent #f3ae22 transparent transparent !important;
}

#introduction .data-entry {
	padding: 0;
	background: transparent;
}
#introduction .entry-search ul.token-input-list-act,
#introduction .entry-search ul.token-input-list-acg,
#introduction .entry-search ul.token-input-list-acm {
	border-top: 1px solid rgba(0, 0, 0, .19);
	border-bottom: 1px solid rgba(0, 0, 0, .19);
	border-left: 1px solid rgba(0, 0, 0, .19);
	border-right: none;
}
#introduction .data-entry input.entry-search-submit,
#introduction .data-entry .entry-search input[type="text"],
#introduction .data-entry .entry-search input {
	border: 1px solid rgba(0, 0, 0, .19);
}
#introduction p {
	font-size: 1.2em;
}
#content .grid h2 {
	border: none;
	margin-bottom: 0.7em;
}