<?xml version="1.0" encoding="utf-8"?>

<!--
@package        hubzero-cms
@file           administrator/components/com_register/config.xml
@copyright      Copyright 2005-2011 Purdue University. All rights reserved.
@license        http://www.gnu.org/licenses/lgpl-3.0.html LGPLv3

Copyright 2005-2011 Purdue University. All rights reserved.

This file is part of: The HUBzero(R) Platform for Scientific Collaboration

The HUBzero(R) Platform for Scientific Collaboration (HUBzero) is free
software: you can redistribute it and/or modify it under the terms of
the GNU Lesser General Public License as published by the Free Software
Foundation, either version 3 of the License, or (at your option) any
later version.

HUBzero is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.

HUBzero is a registered trademark of Purdue University.
-->

<config>
	<params>
		<param name="LoginReturn" type="text" menu="hide" default="" label="Login Return URL" description="Redirect here after login..." />
		<param name="ConfirmationReturn" type="text" menu="hide" default="" label="Confirmation Return URL" description="Redirect here after confirming email..." />
		<param name="passwordMeter" type="radio" default="1" label="Password Strength Meter" description="Show a password strength indicator or not">
			<option value="0">Off</option>
			<option value="1">On</option>
		</param>
		<param name="registrationUsername"  type="text" menu="hide" default="RRUU" label="Username" description="" />
		<param name="registrationPassword"  type="text" menu="hide" default="RRUU" label="Password" description="" />
		<param name="registrationConfirmPassword"  type="text" menu="hide" default="RRUU" label="Password Confirmation" description="" />
		<param name="registrationFullname"  type="text" menu="hide" default="RRUU" label="Full Name" description="" />
		<param name="registrationEmail"  type="text" menu="hide" default="RRUU" label="Email" description="" />
		<param name="registrationConfirmEmail"  type="text" menu="hide" default="RRUU" label="Email Confirmation" description="" />
		<param name="registrationURL"  type="text" menu="hide" default="OHHO" label="URL" description="" />
		<param name="registrationPhone"  type="text" menu="hide" default="OHHO" label="Phone" description="" />
		<param name="registrationEmployment"  type="text" menu="hide" default="RORO" label="Employment" description="" />
		<param name="registrationOrganization"  type="text" menu="hide" default="OOOO" label="Organization" description="" />
		<param name="registrationCitizenship"  type="text" menu="hide" default="RHRH" label="Citizenship" description="" />
		<param name="registrationResidency"  type="text" menu="hide" default="RHRH" label="Residency" description="" />
		<param name="registrationSex"  type="text" menu="hide" default="RHRH" label="Sex" description="" />
		<param name="registrationDisability"  type="text" menu="hide" default="RHRH" label="Disability" description="" />
		<param name="registrationHispanic"  type="text" menu="hide" default="RHRH" label="Hispanic" description="" />
		<param name="registrationRace"  type="text" menu="hide" default="OHHH" label="Race" description="" />
		<param name="registrationInterests"  type="text" menu="hide" default="OOOO" label="Interests" description="" />
		<param name="registrationReason"  type="text" menu="hide" default="OOOO" label="Reason" description=""/>
		<param name="registrationOptIn"  type="text" menu="hide" default="OOUU" label="OptIn" description="" />
		<param name="registrationCAPTCHA"  type="text" menu="hide" default="RHHH" label="CAPTCHA" description="CAPTCHA check" />
		<param name="registrationTOU"  type="text" menu="hide" default="RHRH" label="TOU" description="Terms of Use" />
		<param name="registrationAddress"  type="text" menu="hide" default="OOOO" label="Address" description="" />
	</params>
	<fieldset name="basic">
		<field name="LoginReturn" type="text" menu="hide" default="" label="Login Return URL" description="Redirect here after login..." />
		<field name="ConfirmationReturn" type="text" menu="hide" default="" label="Confirmation Return URL" description="Redirect here after confirming email..." />
		<field name="passwordMeter" type="radio" default="1" label="Password Strength Meter" description="Show a password strength indicator or not">
			<option value="0">Off</option>
			<option value="1">On</option>
		</field>
		<field name="registrationUsername"  type="text" menu="hide" default="RRUU" label="Username" description="" />
		<field name="registrationPassword"  type="text" menu="hide" default="RRUU" label="Password" description="" />
		<field name="registrationConfirmPassword"  type="text" menu="hide" default="RRUU" label="Password Confirmation" description="" />
		<field name="registrationFullname"  type="text" menu="hide" default="RRUU" label="Full Name" description="" />
		<field name="registrationEmail"  type="text" menu="hide" default="RRUU" label="Email" description="" />
		<field name="registrationConfirmEmail"  type="text" menu="hide" default="RRUU" label="Email Confirmation" description="" />
		<field name="registrationURL"  type="text" menu="hide" default="OHHO" label="URL" description="" />
		<field name="registrationPhone"  type="text" menu="hide" default="OHHO" label="Phone" description="" />
		<field name="registrationEmployment"  type="text" menu="hide" default="RORO" label="Employment" description="" />
		<field name="registrationOrganization"  type="text" menu="hide" default="OOOO" label="Organization" description="" />
		<field name="registrationCitizenship"  type="text" menu="hide" default="RHRH" label="Citizenship" description="" />
		<field name="registrationResidency"  type="text" menu="hide" default="RHRH" label="Residency" description="" />
		<field name="registrationSex"  type="text" menu="hide" default="RHRH" label="Sex" description="" />
		<field name="registrationDisability"  type="text" menu="hide" default="RHRH" label="Disability" description="" />
		<field name="registrationHispanic"  type="text" menu="hide" default="RHRH" label="Hispanic" description="" />
		<field name="registrationRace"  type="text" menu="hide" default="OHHH" label="Race" description="" />
		<field name="registrationInterests"  type="text" menu="hide" default="OOOO" label="Interests" description="" />
		<field name="registrationReason"  type="text" menu="hide" default="OOOO" label="Reason" description=""/>
		<field name="registrationOptIn"  type="text" menu="hide" default="OOUU" label="OptIn" description="" />
		<field name="registrationCAPTCHA"  type="text" menu="hide" default="RHHH" label="CAPTCHA" description="CAPTCHA check" />
		<field name="registrationTOU"  type="text" menu="hide" default="RHRH" label="TOU" description="Terms of Use" />
		<field name="registrationAddress"  type="text" menu="hide" default="OOOO" label="Address" description="" />
	</fieldset>
</config>

