@import url("../../../../../core/components/com_collections/site/assets/css/collections.css");

/* Form */
	#sbox-content #hubForm.full fieldset {
		margin: 0;
		border: none;
		background: transparent;
	}
	#sbox-content #hubForm.full .submit {
		padding: 0 0 1em 0;
	}
	#sbox-content.fancybox-inner {
		border: none;
	}
	#sbox-content #hubForm .grid {
		border: none;
	}
	#sbox-content #hubForm .grid label {
		padding-left: 0;
		padding-right: 0;
	}
	#sbox-content #hubForm .grid .or {
		font-weight: bold;
		text-align: center;
		padding-top: 2em;
	}
	#sbox-content .in-collections ul {
		list-style: none;
	}
	#sbox-content .in-collections li {
		margin: 0.2em 0;
	}
	.post-modal section.section {
		background: transparent;
	}

/* Posts */
	.post {
		width: 284px;
		-webkit-box-shadow: 0 0 0 2px rgba(0, 0, 0, .08);
		   -moz-box-shadow: 0 0 0 2px rgba(0, 0, 0, .08);
		    -ms-box-shadow: 0 0 0 2px rgba(0, 0, 0, .08);
		     -o-box-shadow: 0 0 0 2px rgba(0, 0, 0, .08);
		        box-shadow: 0 0 0 2px rgba(0, 0, 0, .08);
	}
	.post:hover {
		-webkit-box-shadow: 0 0 0 4px rgba(0, 0, 0, .1);
		   -moz-box-shadow: 0 0 0 4px rgba(0, 0, 0, .1);
		    -ms-box-shadow: 0 0 0 4px rgba(0, 0, 0, .1);
		     -o-box-shadow: 0 0 0 4px rgba(0, 0, 0, .1);
		        box-shadow: 0 0 0 4px rgba(0, 0, 0, .1);
	}
	.new-post,
	.new-collection,
	.new-post:hover,
	.new-collection:hover {
		-webkit-box-shadow: none;
		   -moz-box-shadow: none;
		    -ms-box-shadow: none;
		     -o-box-shadow: none;
		        box-shadow: none;
	}
	.post .stats {
		border-bottom: 1px solid #e1e1e1;
	}
	.post ul + .meta .stats {
		border-top: none;
	}
	.comment, 
	.attribution {
		border-top: none;
	}
	.post.collection::before,
	.post.collection::after {
		display: none;
	}
	.post-modal section.section {
		margin: 0;
	}
	.post .reposts {
		padding: 0;
	}
	.convo .img-link:hover {
		border: none;
	}
	.convo .img-link img {
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		-ms-border-radius: 50%;
		-o-border-radius: 50%;
		border-radius: 50%;
	}

	.post-modal section.section {
		background: transparent;
	}

	.fancybox-wrap fieldset {
		width: auto;
	}
	.fancybox-wrap fieldset label {
		padding: 1em 0;
	}

section.filters {
	border: none;
}

@media (min-width: 70em) {
	section.main {
		padding: 30px 50px;
	}
}