/*===========================================
	Group Intro
===========================================*/
#introduction:after {
	content: "\f042";
}
.filter-options select {
	margin-right: 1em;
}
.group-list {
	overflow: hidden;
	margin: 10px 0 0 0;
}
.group-list .logo {
	float: left;
	max-width: 30px;
	padding: 3px;
	overflow: hidden;
}
.group-list .logo img {
	width: 100%;
	border-radius: 1px;
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	-webkit-box-shadow: 0 0 1px #000;
	-moz-box-shadow: 0 0 1px #000;
	box-shadow: 0 0 1px #000;
}
.group-list .details {
}
.group-list .details-w-logo {
	margin-left: 45px;
}
.group-list .details h3,
.group-list .details-w-logo h3 {
	margin: 5px 0 0 0 !important;
}
.group-list .status {
	font-size: 10px;
	line-height: 10px;
	font-weight: bold;
	display: inline-block;
	background-color: #6a0;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	margin: 3px 0 0 0;
	padding: 2px 4px 3px 4px;
	color: #fff;
	white-space: nowrap;
}
.group-list .manager {
	background-color: #ff1177;
}
.group-list .not-published {
	background-color: #aaa;
}
#sbox-content .header {
	margin-top: 20px;
}
#sbox-content .header:first-child {
	margin-top: 0;
}
#sbox-content .header:first-child h2 {
	border-top: none;
}
#sbox-content .header h2 {
	margin: 0;
	padding: 5px 10px;
	background: #efefef;
	font-size: 1.5em;
	border-top: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
}
#sbox-content .header p {
	margin: 0;
	padding: 5px 10px 0 10px;
	color: #777;
}
#sbox-content ul {
	border-top: 1px solid #efefef;
	border-bottom: 1px solid #efefef;
	margin: 10px 20px;
	padding: 0;
	list-style: none;
}
#sbox-content ul li {
	margin: 0;
	padding: 5px 0;
}
#sbox-content ul li a {
	float:right;
}

/* Group Browse */
	/* Entries */
	.groups-container {
		margin-top: 30px;
	}
	.groups-container:before,
	.groups-container:after {
		content: "";
		display: table;
		line-height: 0;
		clear: left;
	}
	.groups-container * {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	.groups-container .group {
		display: block;
		margin-bottom: 2em;
		background: #fff;
		position: relative;
	}
	.groups-container .group.notpublished,
	.groups-container .group.inactive {
		background: #f1f1f1;
	}
	.groups-container .group-contents {
		border: 1px solid rgba(0, 0, 0, 0.1);
		transition: all 0.3s ease;
	}
	.groups-container .group-contents:hover {
		border: 1px solid rgba(0, 0, 0, 0.3);
		box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
	}
	.groups-container .group-contents:hover .user-actions {
		opacity: 1;
	}
	.groups-container .group-details {
		padding: 1em;
		height: 6.7em;
		text-align: center;
		overflow: hidden;
	}
	.firefox .groups-container .group-details {
		height: 6.9em;
	}
	.groups-container img {
		height: 100%;
	}
	.groups-container .group-identity {
		display: block;
		overflow: hidden;
		border: none;
		position: relative;
		background: #f1f1f1;
		text-align: center;
		width: 80px;
		height: 80px;
		margin: 1.5em auto 0 auto;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		border-radius: 50%;
	}
	.groups-container .group-identity:hover {
		border: none;
	}
	.groups-container .group-identity>span {
		display: block;
		color: transparent;
		overflow: hidden;
	}
	.groups-container .group-identity>span:after {
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		content: "\f042";
		font-family: "Fontcons";
		font-size: 7em;
		line-height: 1.3em;
		color: #e1e1e1;
	}
	.groups-container .group-alias {
		color: #aaa;
		display: block;
		font-size: 85%;
	}

	.groups-container .group-title {
		display: block;
		font-size: 0.9rem;
		line-height: 1.2rem;
		height: 3.6rem;
		overflow: hidden;
		border: none;
	}
	
/* Group member status */
	.group-membership-status {
		border: 1px solid #ddd;
		background-color: #fff;
		color: #fff;
		padding: 0.1em 0.6em;
		text-transform: uppercase;
		border-radius: 0.25em;
		font-size: 0.75em;
		letter-spacing: 0.1em;
		display: block;
		position: absolute;
		top: 1rem;
		right: -0.3em;
	}
	.group-membership-status.member {
		border-color: #66AA00;
		color: #66AA00;
	}
	.group-membership-status.manager {
		border-color: #ff1177;
		color: #ff1177;
	}
	.group-membership-status.pending {
		border-color: #AA3300;
		color: #AA3300;
	}
	.group-membership-status.invitee {
		border-color: #aaaaaa;
		color: #aaaaaa;
	}
/* Metadata */
	.group-meta {
		background-color: rgba(0, 0, 0, 0.02);
		padding: 1em;
		color: #aaa;
		text-align: center;
		font-size: 85%;
		min-height: 6em;
	}
	.group-meta span {
		color: #666;
		display: block;
	}
/* User actions */
	.groups-container .user-actions {
		font-size: 1.4em;
		width: 1em;
		position: absolute;
		top: 1em;
		left: 1em;
		opacity: 0.5;
		-webkit-transition: opacity 0.2s ease;
		-moz-transition: opacity 0.2s ease;
		transition: opacity 0.2s ease;
	}
	.groups-container .user-actions a {
		display: block;
		width: 1em;
		height: 1em;
		overflow: hidden;
		border: none;
		margin: 0 0 0.5em 0;
		color: #ccc;
		background: transparent;
		padding: 0;
	}
	.groups-container .user-actions a:hover {
		color: #333;
	}
	.groups-container .user-actions .manage:before {
		font-family: "Fontcons";
		content: "\f007";
	}
	.groups-container .user-actions .customize:before {
		font-family: "Fontcons";
		content: "\2699";
	}
	.groups-container .user-actions .cancel:before {
		font-family: "Fontcons";
		content: "\2716";
	}
	.groups-container .user-actions .accept:before {
		font-family: "Fontcons";
		content: "\2714";
	}
	.groups-container .user-actions .delete:before {
		font-family: "Fontcons";
		content: "\f014";
	}
	.groups-container .user-actions a:before {
		margin-right: 2em;
	}
	/* No results */
	.groups-container .results-none {
		max-width: 30em;
		margin: 90px auto;
		padding: 5em 0 0 0;
		text-align: center;
		position: relative;
	}
	.groups-container .results-none p {
		font-size: 1.5em;
		line-height: 1.8em;
		font-weight: 300;
		margin: 0 0 2em 0;
	}
	.groups-container .results-none:before {
		position: absolute;
		top: 0px;
		left: 50%;
		font-size: 5em;
		margin-left: -0.5em;
		content: "\2298";
		font-family: "Fontcons";
		color: rgba(0, 0, 0, 0.2);
	}

@media (min-width: 40em) {
	.groups-container .group {
		float: left;
		width: 48.38709677419355%;
		margin-left: 3.225806451612903%;
	}
	.groups-container .group:first-child,
	.groups-container .group:nth-child(2n+1) {
		margin-left: 0;
	}
}
@media (min-width: 60em) {
	.groups-container .group,
	.groups-container .group:nth-child(2n+1) {
		width: 31.18279569892473%;
		margin-left: 3.225806451612903%;
	}
	.groups-container .group:nth-child(3n+1) {
		margin-left: 0;
	}
}
@media (min-width: 80em) {
	.groups-container .group,
	.groups-container .group:nth-child(2n+1),
	.groups-container .group:nth-child(3n+1) {
		width: 22.58064516129032%;
		margin-left: 3.225806451612903%;
	}
	.groups-container .group:nth-child(4n+1) {
		margin-left: 0;
	}
}

/* Responsive */
	.container .js li {
		display: none;
	}
	.container .js li.option-select {
		display: block;
	}

@media (min-width: 50em) {
	.container .js li {
		display: block;
	}
	.container .js li.option-select {
		display: none;
	}
}

/*===========================================
	Unapproved Group
===========================================
.group-unapproved {
	width:60%;
	margin:0 auto;
	padding:30px 0 50px 0;
	text-align:center;
}
.group-unapproved .name {
	font-size: 8em;
	text-align: center;
	color: #ddd;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.9), 0 -1px 1px rgba(0, 0, 0, 0.2);
	margin: 0;
	padding: 0;
	line-height: 1.2em;
	font-family: 'ArvoRegular', Georgia, 'Times New Roman', 'Times', Serif;
	font-weight: normal;
}
.group-unapproved .description {
	display:block;
	font-size: 2em;
	text-align: center;
	color: #555;
	margin: 0;
	padding: 0;
	line-height: 1.2em;
	font-family: 'ArvoRegular', Georgia, 'Times New Roman', 'Times', Serif;
	font-weight: normal;
}
.group-unapproved .all-groups,
.group-unapproved .my-groups {
	display:inline-block;
	padding:20px 0 0 0;
}


/*===========================================
	View Group
===========================================*/
	#content.com_members { 
		padding: 0;
	}

	#page_container {
		margin: 0;
		padding: 0;
	}
	#page_sidebar {
		background: #e1e1e1;
		background: rgba(0, 0, 0, 0.1);
	}
	#page_main {
		position: relative;
	}

	/* Identity */
	#page_identity {
		display: none;
		margin: 25px 25px 0 25px;
		padding: 0;
		position: relative;
		z-index: 305;
		line-height: 1em;
		border: none;
	}
	#page_identity a {
		display: block;
		min-width: 150px;
		max-width: 165px;
		text-align: center;
		-webkit-border-radius: 0.25em;
		   -moz-border-radius: 0.25em;
		    -ms-border-radius: 0.25em;
		     -o-border-radius: 0.25em;
		        border-radius: 0.25em;
		border: none;
	}
	#page_identity a:hover {
		border: none;
	}
	#page_identity img {
		max-width: 100%;
		max-height: 300px;
		-webkit-border-radius: 0.25em;
		   -moz-border-radius: 0.25em;
		    -ms-border-radius: 0.25em;
		     -o-border-radius: 0.25em;
		        border-radius: 0.25em;
		border: none;
	}

/* Menu */
	#page_menu {
		list-style: none;
		margin: 0;
		padding: 0;
	}
	#page_menu li {
		position: relative;
		margin: 0;
		padding: 0;
		border-bottom: 1px solid #eee;
		border-bottom: 1px solid rgba(255, 255, 255, 0.6);
	}
	#page_menu li:first-child {
		border-top: 1px solid #eee;
	} 
	#page_menu li a,
	#page_menu li span {
		color: #888;
		position: relative;
		display: block;
		background-image: none;
		padding: 0.4em 2em 0.4em 3.5em;
		border: none;
	}
	#page_menu li .page {
		padding-left: 20px;
	}
	#page_menu li a:before,
	#page_menu li a:after,
	#page_menu li span:before,
	#page_menu li span:after {
		content: "";
		position: absolute;
		left: 1.6em;
		top: 0.4em;
		width: 1em;
		height: 1em;
		font-size: 1.2em;
		font-family: 'Fontcons';
		-ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
		filter: alpha(opacity=100);
		opacity: 1;
		background: none;
		speak: none;
		font-style: normal;
		font-weight: normal;
	}
	#page_menu li a:before,
	#page_menu li span:before {
		content: attr(data-icon);
	}
	#page_menu li.protected {
		-ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=90)";
		filter: alpha(opacity=90);
		opacity: 0.9;
	}
	#page_menu li.protected:after {
		content: "\f023";
		position: absolute;
		right: 0.5em;
		top: 0.4em;
		width: 1em;
		height: 1em;
		font-size: 1.2em;
		font-family: 'Fontcons';
		color: #999;
		-ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=90)";
		filter: alpha(opacity=90);
		opacity: 0.9;
		background: none;
	}
	#page_menu li a:hover {
		border-bottom: none;
		color: #444;
	}
	#page_menu li a:hover:before {
		-ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
		filter: alpha(opacity=100);
		opacity: 1;
	}
	#page_menu li.active {
		color: #eee;
	}
	#page_menu li.active>a {
		font-weight: 500;
		color: #eee;
		background: #555;
		background: rgba(0, 0, 0, 0.6);
	}
	#page_menu li.active>a:before {
		color: #FFF;
	}
	#page_menu li.active>a:hover {
		border: none;
	}
	#page_menu li.active:after {
		content: "";
		position: absolute;
		top: 0px;
		right: -0.9em;
		z-index: 444;
		border-top: 1.175em solid transparent;
		border-right: none;
		border-bottom: 1.175em solid transparent;
		border-left: 1em solid #555;
	}
	#page_menu li .meta {
		position: absolute;
		right: 0.5em;
		top: 0.4em;
		padding: 0;
	}
	#page_menu li .meta .count {
		background: #e1e1e1;
		background: rgba(0, 0, 0, 0.1);
		text-shadow: 0 1px 1px #fff;
		font-size: 0.9em;
		line-height: 1.2;
		padding: 0.2em 0.4em;
		border-radius: 0.25em;
	}
	#page_menu li.active .meta .count {
		background: #aaa; 
		color: #555;
	}
	#page_menu li .alrt,
	#page_menu li .alrt:hover {
		position: absolute;
		top: 10px;
		right: 33px;
		border: 1px solid #a62525;
		-webkit-box-shadow: 0 0 2px #aaa, inset 0 1px 2px #f47575;
		-moz-box-shadow: 0 0 2px #aaa, inset 0 1px 2px #f47575;
		box-shadow: 0 0 2px #aaa, inset 0 1px 2px #f47575;
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		border-radius: 10px;
		background: #ec1b1c;
		background-image: -webkit-linear-gradient(top, #ec1b1c, #bc2525);
		background-image: -moz-linear-gradient(top, #ec1b1c, #bc2525);
		background-image: -o-linear-gradient(top, #ec1b1c, #bc2525);
		background-image: -ms-linear-gradient(top, #ec1b1c, #bc2525);
		background-image: linear-gradient(top, #ec1b1c, #bc2525);
		padding: 0;
		height: 6px;
		width: 6px;
		color: #fff;
		font-size: 11px;  
		font-weight: normal;
		line-height: 13px;
		z-index: 911;
	}
	#page_menu li.active .alrt,
	#page_menu li.active .alrt:hover {
		border: 1px solid #FFF;
		-webkit-box-shadow: 0 0 2px #666, inset 0 1px 2px #f47575;
		-moz-box-shadow: 0 0 2px #666, inset 0 1px 2px #f47575;
		box-shadow: 0 0 2px #666, inset 0 1px 2px #f47575;
	}
	#page_menu li .alrt:before {
		display: none;
	}
	#page_menu li .alrt span {
		position: relative;
		display: block;
		top: 15px;
		left: -9999px;
		min-width: 140px;
		max-width: 180px;
		padding: 5px 10px;
		border: 1px solid #a62525;
		-webkit-box-shadow: 0 0 3px #777;
		-moz-box-shadow: 0 0 3px #777;
		box-shadow: 0 0 3px #777;
		color: #777;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
		background: #FFF;
	}
	#page_menu li .alrt span:before {
		content: "";
		position: absolute;
		top: -11px;
		left: 5px;
		width: 11px;
		height: 6px;
		background: url("/core/components/com_groups/site/assets/img/alert-arrow.png") no-repeat left bottom;
		z-index: 922;
		padding-top: 5px;
	}
	#page_menu li .alrt:hover span {
		left: -9px;
	}
	#page_menu li .alrt span h5 {
		background: #ec1b1c;
		background-image: -webkit-linear-gradient(top, #ec1b1c, #bc2525);
		background-image: -moz-linear-gradient(top, #ec1b1c, #bc2525);
		background-image: -o-linear-gradient(top, #ec1b1c, #bc2525);
		background-image: -ms-linear-gradient(top, #ec1b1c, #bc2525);
		background-image: linear-gradient(top, #ec1b1c, #bc2525);
		position: relative;
		padding: 5px 10px;
		margin: -5px -10px 5px -10px;
		color: #000;
		font-weight: bold;
		font-size: 12px;
		letter-spacing: 0;
		text-shadow: 0px 1px 1px #eb5f60;
		border-bottom: 1px solid #a62525;
	}

	#page_menu li ul {
		list-style: none;
		margin: 0 0 0 30px;
		position: relative;
	}
	#page_menu li ul:after {
		content: "";
		width: 1px;
		background: #EEE;
		background: rgba(0, 0, 0, 0.1);
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
	}
	#page_menu li ul li {
		margin: 0;
		padding: 0;
		border: none;
	}
	#page_menu li ul li:first-child {
		border-top: none;
	}
	#page_menu li ul li:last-child {
		border-bottom: none;
	}
	#page_menu li ul li.protected {
		padding-right: 30px;
	}
	#page_menu li ul li.protected:after {
		top: 3px;
	}
	#page_menu li ul li .page:before {
		content: "";
		width: 0.8em;
		height: 1px;
		background: #EEE;
		background: rgba(0, 0, 0, 0.1);
		position: absolute;
		top: 45%;
		left: 0;
	}
	#page_menu li ul li a {
		padding-left: 20px;
	}
	#page_menu li.active ul li a {
		background: transparent;
	}
	#page_menu li ul li.active {
		background: none;
		font-weight: normal;
	}
	#page_menu li ul li.active > a {
		color: #555;
		font-weight: 500;
		background: transparent;
	}
	#page_menu li ul li.active a:before {
		color: #555;
	}
	#page_menu li ul li.active:after {
		background: none;
		border-bottom: none;
		border-left: none;
	}

/* Page info */
	#page_info {
		background: #eee;
		margin: 20px;
		display: none;
	}
	.group-info {
		border: 1px dashed #ccc;
		padding: 10px;
		-ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=70)";
		filter: alpha(opacity=70);
		opacity: 0.7;
		-webkit-transition: all .25s ease-in-out;
		-moz-transition: all .25s ease-in-out;
		-o-transition: all .25s ease-in-out;
		-ms-transition: all .25s ease-in-out;
		transition: all .25s ease-in-out;
	}
	.group-info:hover {
		-ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
		filter: alpha(opacity=100);
		opacity: 1.0;
		border: 1px solid #ccc;
	}
	.group-info ul {
		margin: 0;
		list-style: none;
	}
	.group-info ul li {
		margin: 0 0 10px 0;
		overflow: hidden; 
		word-break: break-all;
	}
	.group-info ul li:last-child {
		margin: 0;
	}
	.group-info ul li .label {
		font-weight: bold;
		font-size: 11px;
		color: #444;
		display: block;
	}
	.group-info ul li .label:after {
		content: ": ";
	}
	/* Page header */
	#page_header {
		display: block;
		padding: 25px 20px 5px 20px;
		margin-bottom: 5px;
		overflow: hidden;
	}
	#page_header h2 {
		float: left;
		color: #444;
		margin: 0px;
		border-bottom: 0px;
		line-height: 1em;
		padding: 0;
	}
	#page_header h2 a {
		border-bottom: 1px solid #f8f8f8;
		color: #444;
	}
	#page_header h2 a:hover {
		border-bottom: 1px solid #aaa;
	}
	#page_header .divider {
		float: left;
		color: #777;
		border: none;
		padding: 3px 15px 0 15px;
	}
	#page_header h3 {
		float: left;
		margin: 0;
		padding: 3px 0 0 0;
		color: #999;
		font-size: 16px;
		font-weight: 400;
	}
	#page_header .tags {
		clear: both;
		margin: 30px 0 0 0;
		padding: 0 0 0 15px;
	}
	#page_options { 
		list-style: none;
		position: absolute;
		top: 20px;
		right: 20px;
		margin: 0;
		padding: 0;
	}
	#page_options li {
		margin: 0;
		padding: 0;
	}

/* Group Options */
	#group_options {
		list-style: none;
		margin: 1em 25px 0 25px;
		padding: 0;
		position: relative;
	}
	#group_options > li {
		text-align: center;
		margin: 1em 0 0 0;
		padding: 0;
	}
	/*#group_options .invited,
	#group_options .join,
	#group_options .request,
	#group_options .login {
		display: block;
		background: #e07a15;
		border-color: #a85e15;
		color: #FFF;
		text-shadow: none;
	}
	#group_options .invited:hover,
	#group_options .join:hover,
	#group_options .request:hover,
	#group_options .login:hover {
		background: #c66c13;
	}
	#group_options .pending,
	#group_options .inviteonly,
	#group_options .closed {
		display: block;
		background: #eee;
		border-color: #bbb;
		color: #777;
		text-shadow: none;
	}
	#page_options .pending {
		color: #A30;
	}*/
	#group_options .btn-group {
		display: block;
		text-align: left;
	}
	#group_options .btn-group > a {
		width: 83%;
	}
	#group_options .btn-group > .btn {
		border-color: #000;
		background: #444;
		color: rgba(20,208,0,1.0);
		text-shadow: none;
		box-shadow: none;
	}
	#group_options .manager > a {
		color: #F17;
	}
	#group_options .dropdown-toggle:before {
		border-color: #FFF transparent transparent transparent;
	}
	.dropdown-menu li a:before {
		font-family: 'Fontcons';
		padding-right: 0.2em;
	}
	.dropdown-menu li a.group-invite:before    { content: '\271A'; }
	.dropdown-menu li a.group-edit:before      { content: '\2699'; }
	.dropdown-menu li a.group-customize:before { content: '\270E'; }
	.dropdown-menu li a.group-pages:before     { content: '\f016'; }
	.dropdown-menu li a.group-cancel:before    { content: '\2298'; }
	.dropdown-menu li a.group-delete:before    { content: '\f057'; }
	.dropdown-menu li a.logout:before          { content: '\f08b'; }

/*
@media (max-width: 800px) {
	#page_identity {
		padding: 0;
		margin: 0;
	}
	#page_identity a {
		min-width: 6em;
		min-height: 6em;
		overflow: hidden;
	}
	#page_identity img {
		-webkit-border-radius: 0;
		   -moz-border-radius: 0;
		    -ms-border-radius: 0;
		     -o-border-radius: 0;
		        border-radius: 0;
		-webkit-box-shadow: none;
		   -moz-box-shadow: none;
		    -ms-box-shadow: none;
		     -o-box-shadow: none;
		        box-shadow: none;
	}
	#group_options {
		margin: 0;
	}
	#group_options .login {
		margin: 0;
		-webkit-border-radius: 0;
		   -moz-border-radius: 0;
		    -ms-border-radius: 0;
		     -o-border-radius: 0;
		        border-radius: 0;
	}
	#group_options .btn-group>a:before {
		content: "\2699";
		font-family: "Fontcons";
		margin-right: 5em;
	}
	#group_options .btn-group>a {
		width: 2.8em;
		overflow: hidden;
	}
	#page_info {
		display: none;
	}
	#page_sidebar {
		width: 6em;
		min-width: 6em;
	}
	#page_menu {
		margin: 0;
	}
	#page_menu li {
		padding: 0;
	}
	#page_menu li ul li,
	#page_menu li ul {
		margin: 0;
		padding: 0;
	}
	#page_menu li a,
	#page_menu li span {
		text-indent: -66em;
		line-height: 6em;
		margin: 0;
		padding: 0;
		white-space: nowrap;
		text-align: center;
		position: relative;
		-webkit-transition: background 0.1s ease-in-out;
		-moz-transition: background 0.1s ease-in-out;
		transition: background 0.1s ease-in-out;
	}
	#page_menu li span.meta,
	#page_menu li span.count {
		text-indent: 0;
		line-height: 1.2;
		text-align: left;
	}
	#page_menu li a:before,
	#page_menu li span:before {
		text-indent: 0;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		font-size: 2em;
		-webkit-font-smoothing: antialiased;
		text-align: center;
	}
}*/

/* Page Notifications */
	#page_notifications {
		margin: 0 20px;
	}
	#page_content {
		margin: 15px 20px;
	}
	#page_content h3.section-header {
		display: none;
	}
	#page_content .figure {
		display: inline-block;
		*display: inline;
		background: #fff;
		border: 1px solid #eaeaea;
		border-radius: 3px;
		max-width: 100%;
	}
	#page_content .figure a {
		border: none;
		display: block;
		padding: 0.5em;
	} 
	#page_content .figure img {
		display: block;
		padding: 0;
		background: transparent;
		max-width: 100%;
		max-width: 600px\9;
		*max-width: 600px\9;
	}
	#page_content .figcaption {
		display: block;
		margin: 0;
		padding: 0.5em;
		background: #efefef;
		-webkit-border-radius: 0 2px 2px 0;
		-moz-border-radius: 0 2px 2px 0;
		-ms-border-radius: 0 2px 2px 0;
		-o-border-radius: 0 2px 2px 0;
		border-radius: 0 2px 2px 0;
	}

/*
	Group Pages
*/
.group-page {
	position: relative;
	padding: 0 0 50px 0;
}
.group-page-toolbar {
	border-top: 1px solid #efefef;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 3px 0;
}
.group-page-toolbar span {
	color: #aaa;
	font-size: 11px;
}
.group-page-toolbar span a {
	color: #aaa;
	border: none;
}
.group-page-toolbar span a:hover {
	color: #555;
	border-bottom: 1px dotted #aaa;
}
.group-page-toolbar .modified {
	margin-left: 10px;
}
.group-page-toolbar .page-controls,
.group-page-toolbar .page-controls > li {
	margin: 0;
	padding: 0;
	list-style: none;
}
.page-controls a {
	display: block;
	float: right;
	margin: 0 0 0 5px;
	border: none;
	width: 20px;
	height: 20px;
}
.page-controls a span {
	position: relative;
	display: inline-block;
	width: 20px;
	height: 20px;
	color: transparent;
	background: transparent;
	-webkit-transition: all 0.1s ease-in-out;
}
.page-controls a span:before {
	content: '';
	font-family: 'Fontcons';
	color: #aaa;
	text-align: center;
	position: absolute;
	top: 0px;
	left: 0;
	right: 0;
}
.group-page-toolbar .page-controls .edit span:before { 
	content: '\270E';
}
.group-page-toolbar .page-controls .home span:before { 
	content: '\2302';
}
.group-page-toolbar .page-controls .override span {
	right: 2px;
}
.group-page-toolbar .page-controls .override span:before { 
	content: '\f059';
}
.group-page-toolbar .page-controls .category {
	border: 1px solid #000;
	box-shadow: inset 0 0 1px #000;
	width: 10px;
	height: 10px;
	margin-top: 4px;
}
.page-controls a:hover span {
	background: #383838;
}
.page-controls a:hover span:before {
	color: #FFF;
}
body.group-page-preview {
	background: #FFF;
	padding: 10px;
	min-height: 200px;
}

/*
	Newer Version Notification
*/
.group-page-notice {
	margin: -20px -20px 0 -20px;
	padding: 20px 20px 20px 80px;
	background: #eff5ff;
	border: 1px solid #dae9ff;
	position: relative;
}
.group-page-notice:before {
	content: '\f05a';
	position: absolute;
	left: 20px;
	top: 35px;
	font-family: 'Fontcons';
	font-size: 48px;
	color: #4167a0;
	opacity: 0.25;
}
.group-page-notice h4 {
	margin: 0;
	color: #4167a0;
	font-size: 14px;
}
.group-page-notice p {
	color: #4167a0;
	margin: 5px 0 0 0;
}
.notice-error {
	background: #ffefef;
	border: 1px solid #ffdada;
}
.notice-error:before {
	content: '\2757';
	color: #a04141;
}
.notice-error h4,
.notice-error p {
	color: #a04141;
}
.notice-warning {
	background: #fffeef;
	border: 1px solid #fffeda;
}
.notice-warning:before {
	content: '\26A0';
	color: #a09d41;
}
.notice-warning h4,
.notice-warning p {
	color: #a09d41;
}
.notice-success {
	background: #effff0;
	border: 1px solid #daffdc;
}
.notice-success:before {
	content: '\f058';
	color: #41a045;
}
.notice-success h4,
.notice-success p {
	color: #41a045;
}


/*===========================================
	Group Overview Page
===========================================*/
.group-content-header {
	position: relative;
	border-bottom: 1px solid #ddd;
	margin: 0 0 20px 0;
}
.group-content-header h3 {
	margin: 0;
	padding: 0 0 10px 0;
	text-transform: uppercase;
	letter-spacing: 0;
	font-weight: 400;
	color: #777;
}
.group-content-header-extra {
	position: absolute;
	top: 3px;
	right: 0;
}
.group-content-header-extra a {
	border: 1px solid #eee;
	padding: 3px 6px;
	font-size: 11px;
	color: #aaa;
	border-radius: 3px;
}
.group-content-header-extra a:hover {
	color: #777;
	background: #eee;
	border: 1px solid #ccc;
	box-shadow: 0 0 1px #aaa;
}
.group-content-header-extra a:active {
	box-shadow: inset 0 1px 1px #aaa;
}
#description,
#member_browser {
	margin: 0 0 30px 0;
	padding: 0 0 0 100px;
	position: relative;
	min-height: 90px;
	color: #777;
	overflow: hidden;
}
#description:before,
#member_browser:before {
	content: '';
	position: absolute;
	top: 0;
	left: 10px;
	width: 70px;
	height: 70px;
	background: #efefef;
	border-radius: 35px;
}
#description:after,
#member_browser:after {
	content: 'i';
	position: absolute;
	top: 15px;
	left: 25px;
	width: 40px;
	height: 30px;
	padding-top: 10px;
	background: #333;
	border-radius: 20px;
	text-align: center;
	font-style: italic;
	font-weight: 400;
	font-size: 24px;
	font-family: 'Times New Roman';
	color: #FFF;
}
#member_browser:after {
	font-style: normal;
	font-family: 'Fontcons';
	font-size: 20px;
	content: '\f007';
	padding-top: 12px;
	height: 28px;
}
.member_browser {
	overflow: hidden;
}
.member_browser .member {
	float: left;
	width: 27%;
	padding: 10px 1.5%;
	margin-right: 3%;
	border: none;
	border-radius: 5px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	height: 9em;
	overflow-y: auto;
	text-overflow: ellipsis;
}
.member_browser .member:hover {
	border: none;
	background: #f8f8f8;
}
.member_browser .member img {
	float: left;
	border: 1px solid #ccc;
	padding: 1px;
	margin: 0 10px 0 0;
	background: #FFF;
	width: 50px;
}
.member_browser .member .name {
	font-size: 1.2em;
}
.member_browser .member .org {
	display: block;
	font-size: 0.9em;
	color: #777;
}
@media screen and (min-width:1500px) {
	.member_browser .member {
		width: 20%;
		padding: 10px 1.5%;
		margin-right: 2%;
	} 
}
@media screen and (min-width:750px) and (max-width:1300px) {
	.member_browser .member {
		width: 42%;
		padding: 10px 1.5%;
		margin-right: 5%;
	}
}
@media screen and (max-width:750px) {
	.member_browser .member {
		width: 95%;
		padding: 10px 2.5%;
		margin-right: 0;
	}
}

/*===========================================
	Super Group Page
===========================================*/

/*===========================================
 	Group Edit Availability
===========================================*/
#hubForm .group_cn_label input  {
	width: 75%;
	display: block;
}
.group_cn_label {
	position: relative;
}
.available,
.not-available {
	position: absolute;
	color: #1f8a11;
	width: 20%;
	top: 60%;
	right: 0;
	font-weight: bold;
	padding-left: 15px;
}
.not-available {
	color: #8a1111;
}
.available:before,
.not-available:before {
	content: '\f058';
	font-family: 'Fontcons';
	position: absolute;
	top: 6%;
	left: 0;
	width: 15px;
	height: 15px;
	color: #1f8a11;
}
.not-available:before {
	content: '\f057';
	color: #8a1111;
}


/*===========================================
 	Group Customize
===========================================*/
#logo { 
	height: 208px; 
	width: 273px; 
	background: url('/core/components/com_groups/site/assets/img/group_logo_preview.png') no-repeat 50% 50%; 
	margin: 0;
}
#logo_picked { 
	margin: 15px 0 0 15px; 
	height: 73px; 
	width: 180px; 
	overflow: hidden; 
}
#logo_picked img { 
	max-height:73px;
	width:auto;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0 0 2px black;
	-moz-box-shadow: 0 0 2px #000;
	box-shadow: 0 0 2px black;
}
#hubForm p.side-by-side {
	width: 41%;
	float: left;
	padding: 2%;
	margin:0;
	margin:1em 0 1em 3%;
	border: 1px solid #ddd;
	background: #efefef;
}
.side-by-side:hover {
	border: 1px solid #CCC;
	background: #FFF;
}
.side-by-side:hover * {
	cursor:pointer;
}
#hubForm p.checked,
#hubForm p.checked:hover {
	color: #FFFFFF;
	background-color: #1d4ea9;
}
#hubForm .side-by-side label {
	padding: 0px;
}
#hubForm .side-by-side input {
	width: 5%;
}
#access {
	list-style: none;
	margin: 0px;
	padding: 10px;
	background: #efefef url('/core/components/com_groups/site/assets/img/group_menu_preview.jpg') repeat-y top right;
}
.preview #access img {
	width:auto;
}
#hubForm #access li {
	font-size: 14px;
	color: #444;
	border-bottom: 1px dotted #ccc;
	overflow: hidden;
	margin: 0 20px 0 0;
	padding: 7px 0;
	list-style: none;
}
#access li span {
}
#hubForm #access li select {
	float: right;
	width: auto;
}
.hide-left {
	position: absolute;
	left: -555em;
}
.preview {
	margin: 1.5em 2em;
	padding: 1em; 
	border: 1px dashed #CCC;
}
.preview img { 
	max-width: 100%;
}
.firefox .preview img {
	width: 100%;
}


/*===========================================
 	Group Pages
===========================================*/

.group-page-manager {
	/*position: relative;*/
}
.group-page-manager #hubForm {
	/* border: 1px solid #666; */
	z-index: 554;
}
.group-page-manager #hubForm ul {
	margin: auto;
}
.group-page-manager #hubForm p {
	margin: auto;
}
.group-page-manager #hubForm fieldset {
	padding: 0;
	margin: 0;
	border: 1px solid #ccc;
}
.group-page-manager #hubForm legend {
	float: none;
	margin: 0;
}

/* Page Manager Tabs */
.group-page-manager .tabs {
	margin: 0;
	padding: 0;
	list-style: none;
	display: none;
	z-index: 555;
	position: relative;
}
.group-page-manager .tabs li {
	float: left;
	margin: 0 2px 0 0;
	padding: 0;
}
.group-page-manager .tabs li a {
	display: block;
	position: relative;
	border-bottom: none;
	padding: 10px 20px;
	font-size: 12px;
	color: #aaa;
	border: 1px solid #ccc;
	border-bottom: none;
	top: 2px;
}
.group-page-manager .tabs li a:hover {
	background: #efefef;
}
.group-page-manager .tabs li a.current {
	top: 2px;
	border-bottom: 1px solid #efefef;
	background: #efefef;
	font-weight: bold;
	color: #666;
}

/* Toolbar */
.group-page-manager #hubForm .toolbar {
	background: #efefef;
	margin: 0;
	padding: 0;
	list-style: none;
	position: relative;
	height: 50px;
}
.group-page-manager #hubForm .toolbar li {
	margin: 0;
	padding: 0;
}
.group-page-manager #hubForm .toolbar .new {
	position: absolute;
	top: 10px;
	left: 10px;
}
.group-page-manager #hubForm .toolbar .search {
	position: absolute;
	top: 10px;
	right: 10px;
	left: 10px;
	margin-left: 360px;
}
.group-page-manager #hubForm .toolbar .filter {
	position: absolute;
	top: 11px;
	bottom: 13px;
	left: 120px;
	padding-left: 8px;
	border-left: 1px solid #aaa;
}
.group-page-manager #hubForm .toolbar .filter-search-divider {
	position: absolute;
	top: 15px;
	left: 340px;
	font-weight: bold;
	font-size: 14px;
}
.group-page-manager #hubForm .toolbar .filter select,
.group-page-manager #hubForm .toolbar .filter .fs-dropdown {
	width: 200px;
}
.group-page-manager #hubForm .toolbar li input[type=text] {
	font-size: 11px;
}
.group-page-manager #hubForm .toolbar-modules .filter {
	left: 135px;
}
.group-page-manager #hubForm .toolbar-modules .filter-search-divider {
	left: 355px;
}
.group-page-manager #hubForm .toolbar-modules .search {
	margin-left: 375px;
}

/* Save/Reset Page Order */
.group-page-manager .page-order-actions {
	position: absolute;
	top: 5px;
	right: 0;
	z-index: 556;
}
.group-page-manager .page-order-actions button {
	margin-left: 5px
}

/* Fixed page manager toolbar */
.group-page-manager.pinned .tabs {
	position: fixed;
	top: 0;
	background: #FFF;
}
.group-page-manager.pinned #hubForm .toolbar {
	position: fixed;
	top: 44px;
	z-index: 9999;
	background: #efefef;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}
.group-page-manager.pinned .item-list {
	margin-top: 94px !important;
}

/* List */
.item-list {
	list-style: none;
	/*position: relative;*/
	margin: 0;
}
.item-list > li {
	margin: 0 !important;
	padding: 0;
}
.item-list .ui-sortable-placeholder {
	border:  2px dashed #ccc !important;
	visibility: visible !important;
	min-height: 70px;
}
.item-list .mjs-nestedSortable-error {
	background: #F00;
	background: rgba(255,0,0,0.1);
}
.item-list ul {
	margin: 0 0 0 38px !important;
	padding: 0;
	list-style: none;
	position: relative;
}
.item-list ul:first-of-type:after {
	content: "";
	width: 1px;
	background: #EEE;
	background: rgba(0, 0, 0, 0.1);
	position: absolute;
	top: 0;
	left: -18px;
	bottom: 36px;
	bottom: 0;
}
.item-list ul li {
	padding: 0;
	margin: 0 !important;
	position: relative;
}
.item-list ul li:after {
	content: "";
	width: 16px;
	height: 1px;
	background: #EEE;
	background: rgba(0, 0, 0, 0.1);
	position: absolute;
	top: 35px;
	left: -17px;
}
.item-list .not-approved {
	background: #faf4f4;
}
.item-list .item-container {
	margin: -1px 0 0 0;
	padding: 15px 0 15px 55px;
	position: relative;
	min-height: 40px;
	background: #FFF;
	border-top: 1px solid #efefef;
	border-bottom: 1px solid #efefef;
}
.item-list .item-mover {
	position: absolute;
	top:0;
	left: 0;
	width: 35px;
	height: 70px;
	cursor: move;
	border-right: 1px solid #efefef;
}
.item-list .item-mover:before {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -7px;
	margin-left: -10px;
	width: 20px;
	height: 15px;
	opacity: 0.5;
	background: url('/core/components/com_groups/site/assets/img/grabber.png') no-repeat 0 0;
}
.item-list .item-mover:hover {
	background: #efefef;
}
.item-list .item-mover:hover:before {
	opacity: 1;
}
.searching .item-list .item-mover,
.filtering .item-list .item-mover {
	pointer-events: none;
	cursor: not-allowed
}
.item-list.pages .item-container {
	padding-left: 90px;
	border-left: 3px solid #ccc;
}
.item-list .item-container:before {
	content: '\f0f5';
	font-family: 'Fontcons';
	font-size: 30px;
	color: #ddd;
	position: absolute;
	top: 25px;
	left: 50px;
}
.item-list .root > .item-container {
	padding-left: 55px;
	border-left: none;
}
.item-list .root > .item-container:before {
	content: '\2302';
	color: #A1A91B;
}
.item-list .root > .item-container:before {
	left: 15px;
}
.item-list li.no-results {
	color: #aaa;
	font-style: italic;
	padding: 0;
	margin: 20px !important;
	min-height: inherit;
}
.item-list li.no-results p {
	margin: 0;
	padding: 0;
}
.item-list li.no-results:before {
	display: none;
}
.item-list .item-title {
	font-weight: bold;
}
.item-list .item-sub {
	color: #aaa;
	font-weight: normal;
	font-size: 11px;
}
.item-list .item-approved {
	position: absolute;
	top: 25px;
	right: 500px;
	width: 120px;
	height: 15px;
	color: #ab1111;
	text-align: center;
	font-size: 11px;
	font-weight: bold;
	text-transform: uppercase;
}
.item-list .item-state {
	position: absolute;
	top: 25px;
	right: 250px;
	width: 25px;
	height: 25px;
}
.item-list .item-state .unpublished,
.item-list .item-state .published {
	display: block;
	position: relative;
	color: transparent;
	text-decoration: none;
	border: none;
}
.item-list .item-state .unpublished:before,
.item-list .item-state .published:before {
	content: '\2298';
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	font-family: 'Fontcons';
	font-size: 24px;
	text-align: center;
	color: #ca1b1b;
}
.item-list .item-state .published:before {
	content: '\2714';
	color: #1d8f0e;
}
.item-list .item-state .unpublished:hover:before {
	color: #ab1717;
}
.item-list .item-state .published:hover:before {
	color: #166c0b;
}
.item-list .item-preview {
	position: absolute;
	top: 25px;
	right: 180px;
	width: 25px;
	height: 25px;
}
.item-list .item-preview a { 
	display: block;
	position: relative;
	color: transparent;
	text-decoration: none;
	border: none;
}
.item-list .item-preview a:before {
	content: '\f002';
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	font-family: 'Fontcons';
	font-size: 24px;
	text-align: center;
	color: #ccc;
}
.item-list .item-preview a:hover:before {
	color: #aaa;
}
.item-list .item-controls {
	position: absolute;
	top: 20px;
	right: 20px;
}
.item-list .item-controls .dropdown-menu {
	margin: 0 !important;
}
.item-list .item-controls .dropdown-menu:after {
	display: none;
}
.item-list .item-controls .dropdown-menu li {
	margin: 0.5em 0 !important;
}
.item-list .item-controls .dropdown-menu li:after {
	display: none;
}
.item-list .item-controls .dropdown-menu li a {
	color: #333;
}
.item-list .item-controls .dropdown-menu:before,
.group-page-controls .dropdown-menu:after {
	display: none;
}
.item-list .item-controls .dropdown-menu li a.icon-delete {
	color: #991111;
}
.item-list .item-controls .dropdown-menu li a:hover {
	color: #ffffff;
	text-decoration: none;
	background-color: #777;
}

/* Categories */
.item-list.categories .item-container:before {
	content: '\f115';
	left: 15px;
}
.item-list .item-color {
	position: absolute;
	top: 25px;
	right: 400px;
	width: 25px;
	height: 25px;
	background: #F00;
	border: 1px solid #555;
}
/* Modules */
.item-list.modules .item-container:before {
	content: '\f02f';
	left: 15px;
}
.item-list .item-position {
	position: absolute;
	top: 18px;
	right: 300px;
	width: 25px;
	height: 25px;
	font-weight: bold;
	line-height: 16px;
}
.item-list .item-position span {
	font-size: 0.7em;
	line-height: 0.7em;
	color: #aaa;
	text-transform: uppercase;
}

/* Loader */
.item-list-loader {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0,0,0,0.8);
	display: none;
}
.item-list-loader:after {
	content: 'Reordering Pages...';
	position: absolute;
	top: 45%;
	left: 0;
	right: 0;
	font-size: 24px;
	font-weight: 100;
	color: #fff;
	text-align: center;
}
.pages.rebuilding .item-list-loader {
	display: block;
}

/* Edit Page Styles */
.ckeditor-body {
	padding: 10px;
	min-width: inherit;
}
.edit-group-page .form-controls,
.edit-group-module .form-controls  {
	padding: 10px;
	margin-top: -1.7em;
	margin-bottom: 1.7em;
	background: #f0f0f0;
	border: 1px solid #E5E5E5;
	border-top: none;
}
.edit-group-page .form-controls .cancel,
.edit-group-module .form-controls .cancel {
	display: inline-block;
	padding-top: 5px
}
.edit-group-page .form-controls .save,
.edit-group-module .form-controls .save {
	float: right;
}
.edit-group-page .hide {
	display: none !important;
}
.form-controls .save .btn {
	border: 1px solid #2F96B4;
	border-right-color: #24748C;
	border-bottom-color: #24748C;
}
.form-controls .dropdown-toggle {
	height: auto !important;
}
.form-controls .dropdown-toggle:before {
	border-top-color: #FFF !important;
}
.form-controls .dropdown-menu {
	right: 0;
	left: auto;
	margin: 0 !important;
}
.form-controls .dropdown-menu li {
	margin: 0 !important;
}
.form-controls .dropdown-menu a:hover {
	background: #ccc;
	color: #444;
}
.form-controls .dropdown-menu a.active,
.form-controls .dropdown-menu a.active:hover {
	background: #444;
	color: #FFF;
	cursor: default;
}
.form-controls .icon-apply:before {
	content: '\2714';
}
.edit-group-page hr.divider {
	margin-bottom: 0;
}

/* Page Versions Visual */
.version-manager {
	background: #FFF;
	overflow: hidden;
}
.version-manager .toolbar {
	padding: 0.8em 1em;
	margin: 0 !important;
	background: #666;
	text-shadow: 0 -1px 1px #000;
	color: #ECECEC;
}
.version-manager.pinned .toolbar {
	position: fixed !important;
	border: none !important;
	z-index: 333 !important;
	top: 0 !important;
}
.version-manager.pinned .content {
	margin-top: 50px;
}
.toolbar .version-title {
	margin: 0 !important;
	background: #FFF;
	cursor: default;
	min-width: 150px;
	font-size: 16px;
	text-align: left;
	padding: 6px !important;
}
.toolbar .version-title:hover,
.toolbar .version-title:focus {
	box-shadow: none;
	outline: none;
}
.toolbar .title {
	text-align: left;
}
.toolbar .controls {
	text-align: right;
}
.toolbar .version-jumpto {
	padding: 0.7em 1.82em 0.7em 0.91em;
	outline: none;
	-webkit-appearance: button;
	-moz-appearance: button;
	appearance: button;
	border-radius: 0;
	margin-right: -1px;
	margin-left: -1px;
}
.mozilla .version-jumpto {
	-webkit-appearance: normal;
	-moz-appearance: normal;
	appearance: normal;
	padding: 0.5em 0.91em;
}
.mozilla .version-jumpto-container:after {
	display: none;
}
.toolbar .version-jumpto-container {
	position: relative;
	display: inline-block;
}
.toolbar .version-jumpto-container:after {
	position: absolute;
	top: 5px;
	right: 8px;
	font-family: 'Fontcons';
	content: '\f0dc';
	font-size: 12px;
	color: #444;
	width: 10px;
	height: 15px;
	text-shadow: none;
}
.version {
	right: 0;
	border: 1px solid #E5E5E5;
	border-top: none;
}
.version.current {
	border: 1px solid #0FA1CA;
	border-top: none;
}
.version-metadata {
	margin: 0 !important;
	background: #efefef;
	border-bottom: 1px solid #DDD;
	display: none;
}
.version-metadata .col {
	padding: 10px;
	margin: 0;
	width: 25%;
	font-size: 11px;
	border-right: 1px solid #DDD;
}
.version-metadata .col:last-child {
	border-right: none;
}
.version-metadata .col span {
	font-weight: bold;
	display: block;
	font-size: 12px;
}
.version-metadata .col img {
	margin-right: 5px;
}


/* Version Content */
.version-content {
	padding: 10px;
	min-height: 200px;
}
.version-code {
	display: none
}
.version-code .diffs th {
	border: 1px solid #FFF;
	margin: 0;
	padding: 0.2em 0.8em;
	text-align: right;
	background-color: #EFEFEF;
	width: 30px
}
.version-code .diffs td {
	font-family: Consolas,Monaco,monospace;
	white-space: pre-wrap;
	width: 50%;
}
.version-code .diffs td[colspan] {
	width: auto;
}
.version-code .diffs td {
	border: 1px solid #FFF;
}
.version-code .diff-marker {
	width: 1em;
	background: #F9F9F9;
	text-align: center;
	display: none;
}
.version-code .diff-addedline {
	background-color: #E9FFE9;
}
.version-code .diff-addedline ins {
	background-color: #AFA;
	font-weight: bold;
	text-decoration: none;
}
.version-code .diff-deletedline {
	background-color: #FFE9E9;
}
.version-code .diff-deletedline del {
	background-color: #FAA;
	font-weight: bold;
	text-decoration: none;
}


/* Page Categories */
#field-category-color {
	position: relative;
	display: block;
	width: 150px !important;
	border-color: #ccc;
	border-right: 30px solid #ccc;
}


/* Edit Module */
fieldset.assignment {
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}
fieldset.assignment label {
	padding: 1em 1em 0 1em !important;
}


/* Edit Group Page Styles */
.floating-iframe-col {
	position: relative;
}
.floating-iframe-container {
	position: absolute;
	width: 100%;
	right: 0px;
	top: 0px;
}
.floating-iframe-toggle {
	position: absolute;
	top: 50px;
	left: 0;
	width: 20px;
	height: 30px;
	background: #efefef;
	border: none;
	margin-left: -20px;
	box-shadow: -2px 0 2px rgba(0,0,0,0.4);
}
.floating-iframe-toggle:before {
	content: '\2039';
	font-family: 'Fontcons';
	font-size: 18px;
	position: absolute;
	top: 5px;
	left: 0;
	bottom: 0;
	right: 0;
	color: #777;
	text-align: center;
}
.floating-iframe {
	width: 100%;
	min-height: 500px;
	max-height: 700px;
	margin-top: 0.7em;
	position: absolute;
	right: 0;
	box-shadow: 0 0 5px rgba(0,0,0,0.7);
}
.floating-iframe-container {
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.floating-iframe-container.hovered {
	width: 101%;
}
.floating-iframe-container.opened {
	width: 320%;
}
.floating-iframe-toggle:hover {
	border: none;
}
.floating-iframe-toggle:hover:before {
	color: #444;
}
.floating-iframe-toggle.opened:before {
	content: '\203A';
}


/* Not Sure */
.com_groups .innerwrap {
	position: relative;
}
.com_groups #content-header {
	padding-right: 180px;
}

.com_groups #hubForm .grid {
	margin: 0;
}
.com_groups #hubForm .grid label {
	padding-left: 2em;
	padding-right: 2em;
}

/* Table styles on group page */
.group-page table,
.group-page-preview table {
	border: none;
}
.group-page table th,
.group-page table td,
.group-page-preview table th,
.group-page-preview table td {
	border: 1px solid #dadada;
}


#page-comments {
	border-top: 1px solid #ccc;
	background-image: linear-gradient(#f0f0f0, #f9f9f9);
	margin: 20px -21px 20px -20px;
	padding: 20px;
}
#page-comments .subject {
	padding-right: 0;
}
#page-comments .comment-voting {
	padding-top: 20px;
}
#page-comments .aside {
	display: none;
}
#page-comments p.info:first-child,
#page-comments .post-comment-title:first-child {
	margin-top: 0;
}
#page-comments .post-comment-title {
	margin-top: 50px;
}
#page-comments .mark-key {

}

/* Responsive */
	#page_menu li.option-select {
		padding: 0.75em 2em;
	}
	#page_menu.js li {
		display: none;
	}
	#page_menu.js li.option-select,
	#page_menu.js li.option-select select {
		display: block;
	}
	#page_menu.js li.option-select select {
		width: 100%;
	}
@media (min-width: 40em) {
	#page_identity {
		display: block;
	}
	#page_container {
		display: table;
		table-layout: fixed;
	}
	#page_sidebar {
		display: table-cell;
		width: 215px;
		min-width: 215px;
		vertical-align: top;
	}
	#page_main {
		z-index: 555;
		display: table-cell;
		vertical-align: top;
		width: 100%;
		/*position: static;*/
	}
	#page_menu {
		margin: 25px 0;
	}
	#page_menu.js li {
		display: block;
	}
	#page_menu.js li.option-select {
		display: none;
	}
	#page_info {
		display: block;
	}
}