@import url("../../../../../core/components/com_support/site/assets/css/support.css");

.panel {
	background: #f9f9f9;
}
.pane-queries {
	width: 20em;
	min-width: 20em;
}
.pane-queries .pane-inner {
	width: auto;
}

.subject h3 {
	margin: 0 0 1em 0;
}
.ticket .entry-details,
ol.comments .comment-changelog {
	margin: 0;
}
.aside {
	margin: 0;
}

.com_support .ticket-watch {
	-webkit-border-radius: 0;
	   -moz-border-radius: 0;
	    -ms-border-radius: 0;
	     -o-border-radius: 0;
	        border-radius: 0;
	-webkit-box-shadow: none;
	   -moz-box-shadow: none;
	    -ms-box-shadow: none;
	     -o-box-shadow: none;
	        box-shadow: none;
}

.pane-queries ul.controls li a {
	width: 1.4em;
	height: 1.4em;
}

@media (min-width: 50em) {
	.subject h3 {
		margin: 1em 0;
	}
	.ticket .entry-details,
	ol.comments .comment-changelog {
		margin: 0 0 0 70px;
	}
}

@media (min-width: 70em) {
	.pane-queries .pane-inner {
		padding-left: 60px;
		width: 23em;
		min-width: 23em;
	}
}