/* CSS Document */
div.sortableList {
	cursor: n-resize;
}
div.widthMarker {
	height: 20px;
	border-top: 1px dashed #CCC;
	margin: 10px 0px 0px 1px;
	padding-left: 1px;
	text-align: center;
}
div.sortableList.group {
	margin: 20px 0px 0px 0px;
}
div.sortableList div.sortableListDiv {
	height: 30px;
	margin-bottom: 3px;
	width: 600px;
}
div.sortableList div.sortableListDiv span.sortableListSpan {
	background-color: #F0F0EE;
	height: 30px;
	border-right: 1px dashed #CCC;
	display: block;
}
div.sortableList div.sortableListDiv span.sortableListSpan ul {
	width: 600px;
	white-space: nowrap;
	border: 1px solid #CCC;
	list-style: none;
	margin:0px;
	padding: 0px 0px 0px 1px;
	height: 30px;
}
div.sortableList div.sortableListDiv span.sortableListSpan ul li {
	list-style: none;
	cursor: move;
	height: 22px;
	min-width: 20px;
}
div.sortableList div.sortableListDiv span.sortableListSpan ul li.spacer {
	min-width: 5px;
	padding-left: 2px;
}
div.sortableList div.sortableListDiv span.sortableListSpan ul li img {
	border: 0;
	padding: 0;
	margin: 0
}
li.sortableItem {
	position: relative;
	float: left;
	margin: 3px 2px 1px 0px;
	border: 1px solid #CCC;
	background-color: #F0F0EE;
}