/*

	-- -- -- -- -- -- --
	com_members CSS
	-- -- -- -- -- -- --

*/

/* Sub sub menu */
	#sub-sub-menu ul {
		margin: 0 -15px;
		padding: 0.7em 15px;
		list-style: none;
		border: none;
		border-bottom: 1px solid #ddd;
		}
	#sub-sub-menu li {
		margin: 0 0 0 20px;
		padding: 0;
		border: none;
		display: inline;
		}
	#sub-sub-menu .active a {
		color: #333;
		border: none;
		}
	.com_members #sub-menu {
		margin-bottom: -1px;
		}
/* Members listing */
	#members {
		margin-top: 1em;
		}
	#members td.locked {
		border: none;
		background-color: transparent;
		margin: 0;
		padding: 5px 10px 5px 30px;
		}
	.com_members .main>h3 {
		display: none;
		}
	.com_members .main .section h3 {
		display: block;
		}
/* Letter index */
	p#letter-index {
		margin: 1em 0 1em 0;
		padding: 0;
		border: 1px solid #eee;
		text-align: center;
		}
	p#letter-index a { 
		padding: 0 0.4em;
		border: none;
		}
	p#letter-index a.active-index {
		font-weight: bold;
		color: #333;
		background-color: #eee;
		}
/*---------------------------------------------------------------
	Form stylings
---------------------------------------------------------------*/
	#hubForm .threeup {
		margin-left: -1.5%;
		margin-right: -3%;
		padding: 0 0 1.5em 0;
		left: 0;
		margin-top: 1.5em;
		margin-bottom: 1.5em;
		}
	#hubForm .threeup label {
		padding: 0;
		float: left;
		width: 30%;
		margin-left: 0;
		margin-right: 0;
		padding-left: 1.5%;
		padding-right: 1.5%;
		}
	#hubForm .threeup label:first-child {
		margin-left: 0;
		margin-right: 0;
		}
	.full fieldset#actions,
	.full fieldset#filters {
		border: none;
		background: transparent;
		margin: 0;
		padding: 0;
		}
	.full fieldset#filters {
		float: right;
		}
	#hubForm #orgtextlabel {
		display: none;
		}
/* Member picture (loaded via iframe) */
	iframe {
		border: none;
		}
	#member-picture {
		background-color: #F5F7F2;
		}
	#member-picture fieldset {
		margin: 1.5em 0 2em 0;
		padding: 0.5em 0;
		}
/*---------------------------------------------------------------
	Search results
---------------------------------------------------------------*/
	.com_members .search {
		margin: 0 1em 0.5em 1em;
		border: none;
		}
	.results .member p {
		margin-left: 60px;
		}
	.results .member .title {
		text-indent: 0em;
		}
	.results .member .photo {
	    text-align: center;
		float: left;
	    width: 50px;
		display: block;
		margin: 0.5em 0 0 0;
		padding: 0;
		}
/*---------------------------------------------------------------
	TAB: Profile
---------------------------------------------------------------*/
	.profile {
		margin-top: 1em;
		border: none;
		background: transparent;
		}
	.profile th, 
	.profile td {
		padding-bottom: 25px;
		border-top: 1px solid #e5e5e5;
		border-bottom: none;
		}
	.profile th {
		text-align: right;
		color: #999;
		white-space: nowrap;
		}
	.profile td {
		padding-right: 1.5em;
		}
	.profile .tags {
		margin: 0;
		}
	.profile ul {
		margin-left: 1.5em;
		list-style: disc;
		}
	.profile td p {
		margin: 1em 0;
		}
	.profile td p:first-child {
		margin-top: 0;
		}
	.profile tr.private {
		background-color: #efefef;
		background-image: none;
		color: #aaa;
		}
		
	.portrait {
		border: 3px double #e5e5e5;
		padding: 10px;
		margin: 0;
		text-align: center;
		}
	.portrait img {
		border: 1px solid #e5e5e5;
		margin: 0;
		padding: 0;
		}
/*---------------------------------------------------------------
	TAB: Groups
---------------------------------------------------------------*/
	#grouplist {
		margin-top: 1em;
		}
	#grouplist tbody span.status {
		font-weight: bold;
		display: inline;
		}
	#grouplist tbody span.member {
		color: #66AA00;
		}
	#grouplist tbody span.manager {
		color: #ff1177;
		}
	#grouplist tbody span.pending {
		color: #AA3300;
		}
	#grouplist tbody span.invitee {
		color: #aaaaaa;
		}
/*---------------------------------------------------------------
	TAB: Points
---------------------------------------------------------------*/
	#point-balance {
		margin-top: 0;
		background: #F7F4F2;
		border-top: 1px solid #E7DFD8;
		border-bottom: 1px solid #E7DFD8;
		text-align: center;
		color: #333;
		font-weight: bold;
		font-size: 1.5em;
		padding: 0.5em;
		}
	#point-balance span {
		display: none;
		}
	#point-balance small {
		color: #888;
		}
/* Point transactions table */
	.transactions .withdraw {
		color: red;
		}
	.transactions .deposit {
		color: green;
		}
	.transactions .textual-data {
		text-align: left;
		}
	.transactions .numerical-data {
		text-align: right;
		}
	.transactions .odd .highlight {
		background-color: #eee;
		}
	.transactions .even .highlight {
		background-color: #f8f8f8;
		}
	.odd {
		background-color: #f6f6f1;
		}
	.even {
		}
	.data .small {
		font-size: 95%;
		display: block;
		color: #888;
		}
/*---------------------------------------------------------------
	TAB: Messages
---------------------------------------------------------------*/
/* Settings */
	.settings {
		border-bottom: none;
		}
	.settings .odd {
		background-color: #F5F7F2;
		}
	.settings tfoot th,
	.settings tfoot td {
		border-bottom: none;
		border-top: 2px solid #DEE4CD;
		padding-top: 1.5em;
		text-align: right;
		}
	.settings tbody tr.section-header th,
	.settings tbody tr.section-header td {
		padding-top: 1.5em;
		font-weight: bold;
		}
	.settings .iconed {
		display: block;
		width: 16px;
		height: 16px;
		overflow: hidden;
		text-indent: -55em;
		margin: 0;
		padding: 0;
		}
	.settings td.email {
		background-position: 0 50%;
		}
	.trash {
		background: url("../../images/icons/16x16/trash.gif") 0 0 no-repeat;
		padding-left: 20px;
		}
/* Inboxes */
	#messages-section .subject {
		padding-top: 1em;
		}
	#messages-section .subject table.data {
		margin-top: 1em;
		border-bottom: none;
		}
	#messages-section .subject table.data td {
		border: none;
	}
	#messages-section .subject table.data td .trash {
		display: block;
		width: 16px;
		height: 16px;
		overflow: hidden;
		text-indent: -55em;
		margin: 0;
		padding: 0;
		border: none;
		}
	#messages-section .subject table.data tfoot td {
		border-top: 2px solid #dfdfdf;
		border-bottom: none;
		}
	#messages-section .subject #hubForm {
		border: none;
		}
/* Side menu
	NOTE: We have to be fairly explicit in some of the following delcarations 
	to over-ride some styles in the master template 
*/
	#messages-section .aside li {
		border: none;
		margin: 0;
		padding: 0;
		}
	#messages-section .aside li a {
		margin: 0;
		font-size: 100%;
		text-transform: none;
		letter-spacing: 0px;
		border-top: 1px solid #fff;
		border-right: 1px solid #ccc;
		border-bottom: 1px solid #fff;
		}
	#messages-section .aside li a.box {
		background: #F5F5F5 url("../../images/icons/box.png") 5px 50% no-repeat; padding-left: 25px;
		}
	#messages-section .aside li a.archive,
	#messages-section .withleft .aside li a.archive {
		border: none;
		margin: 0;
		padding: 0.7em 1.2em;
		background: #F5F5F5 url("../../images/icons/archive.gif") 5px 50% no-repeat; padding-left: 25px;
		border-top: 1px solid #fff;
		border-right: 1px solid #ccc;
		border-bottom: 1px solid #fff;
		color: #6699cc;
		}
	#messages-section .aside li a.trash {
		background: #F5F5F5 url("../../images/icons/16x16/trash.gif") 5px 50% no-repeat; padding-left: 25px;
		}
	#messages-section .aside li a.config {
		background: #F5F5F5 url("../../images/icons/cog.png") 5px 50% no-repeat; padding-left: 25px;
		}
	#messages-section .aside li a.sent {
		background: #F5F5F5 url("../../images/icons/email_go.png") 5px 50% no-repeat; padding-left: 25px;
		}
	#messages-section .aside li.active a,
	#messages-section .aside li.active a.archive {
		background-color: #fff;
		border-top: 1px solid #ccc;
		border-right: 1px solid #fff;
		border-bottom: 1px solid #ccc;
		font-weight: bold;
		}
	#messages-section .withleft .aside li a.archive:hover,
	#messages-section .aside li a:hover {
		background-color: #333;
		}
	#messages-section table,
	#messages-section table thead td,
	#messages-section table thead th {
		border-color: #ccc;
	}
	#messages-section table tbody td,
	#messages-section table tbody th {
		border-color: #ddd;
	}
	#messages-section table tbody tr.odd {
		background-color: #f4f7fb; 
	}
/* Message status */
	.check, 
	.sttus {
		width: 1em;
		}
	.priority,
	.status {
		display: block;
		width: 16px;
		height: 16px;
		text-indent: -55em;
		overflow: hidden;
		}
	.high {
		background: url("../../images/icons/flag_red.png") 0 0 no-repeat;
		}
	span.unread {
		background: url("../../images/bullets/bullet_blue.png") 0 0 no-repeat;
		}
	a.unread {
		font-weight: bold;
		}
	.actionitem span.unread {
		background: url("../../images/icons/error.gif") 0 0 no-repeat;
		}
	.actionitem a.unread {
		color: #c00;
		}
	.message { 
		background: url("../../images/icons/email_go.png") 0 0 no-repeat; 
		padding-left: 20px;
		}
/* Favorites */
	.com_members .aside legend,
	.com_members #contributions-section h3,
	.com_members #favorites-section h3 {
		display: none !important;
	}