	body {
		padding: 0 !important;
		background: #000;
	}
	a:hover {
		border-bottom:0;
	}
	a:focus {
		outline:none;
	}
/*---------------------------------------------------------------
    Video Container & Player
---------------------------------------------------------------*/
	#overlayer {
		position:fixed;
		top:0;
		left:0;
		background:#000 url('/core/components/com_resources/site/assets/img/hubpresenter/ajax-loader-1.gif') no-repeat 50% 50%;
		width:100%;
		height:100%;
		z-index:9999;
		-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
		filter: alpha(opacity = 80);
		opacity:0.8;
	}
	#video-container {
		text-align: center;
		position: relative;
		width: 100%;
		background: #000;
		overflow: hidden;
	}
	#video-player {
		z-index: 886;
		display: block;
		margin: 0 auto;
		width: 100%;
		height: auto;
		max-height:95vh;
	}
	#video-player.sized {
		width: 100% !important;
		max-width: 100%;
		max-height: 100%;
	}
	#video-flowplayer {
		display:block;
	}

/*---------------------------------------------------------------
    Control Box
---------------------------------------------------------------*/
	#control-box {
		position: absolute;
		bottom: -45px;
		left: 0;
		right: 0;
		height: 50px;
		background: #222;
		z-index: 9997;
		-webkit-transition: bottom 0.4s;
	}
	#video-container.paused #control-box,
	#video-container:hover #control-box {
		-webkit-transition-delay: 0s;
		bottom: 0;
	}
	#video-container.paused #progress-bar .ui-slider-handle,
	#video-container:hover #progress-bar .ui-slider-handle {
		opacity: 1
	}
	#control-buttons-left {
		float: left;
	}
	#control-buttons-right {
		float: right;
	}
	#control-buttons-right .control:last-child {
		border-right: none;
	}
	.control {
		float: left;
		position: relative;
		width: 40px;
		height: 40px;
		color: transparent;
		text-indent: -9999px;
		border-bottom: none;
		border-right: 1px solid #333;
	}
	.control:before {
		position: absolute;
		top: 9px;
		left: 0;
		right: 0;
		text-align: center;
		color: #777;
		text-indent: 0px;
		font-size: 20px;
		line-height: 24px;
		font-family: 'Fontcons';
		-webkit-font-smoothing: antialiased;
	}
	.control:hover .control-container {
		bottom: 40px;
		opacity: 1;
		-webkit-transition-delay: 0.35s;
	}
	.control:hover:before {
		color: #fff;
	}
	.control-container {
		display: block;
		position: absolute;
		min-width: 250px;
		bottom: -200px;
		right: 0;
		text-indent: 0px;
		background: #222;
		padding: 20px;
		color: #efefef;
		z-index: 922;
		opacity: 0;
		-webkit-transition: opacity 0.5s;
	}
	.control-container.fixed {
		opacity: 1 !important;
		bottom: 40px;
	}
	.control-container h3 {
		margin: 0 0 10px 0;
		padding: 0 0 10px 0;
		font-size: 14px;
		color: #eee;
		text-align: left;
		border-bottom: 1px solid #333;
	}
	.control-container h3 span {
		color: #aaa;
	}
	.control-container .grid {
		margin-bottom: 10px;
	}
	.control-container .grid:last-child {
		margin-bottom: 0;
	}
	.control-container .label {
		font-size: 12px;
		text-align: left;
		color: #aaa;
	}
	.control-container .input {
		text-align: right;
	}
	.control-container .input input,
	.control-container .input select {
		width: 100%;
	}
	.control-container .hint {
		font-size: 11px;
		color: #666;
	}
	#play-pause:before {
		content: '\f04c';
		font-size: 24px;
	}
	#play-pause.paused:before {
		content: '\25b6';
	}
	#previous,
	#next {
		width: 30px;	
	}
	#previous:before {
		content: '\21E4';
		font-size: 14px;
	}
	#next:before {
		content: '\21E5';
		font-size: 14px;
	}
	#media-progress {
		float: left;
		padding: 10px 20px;
		color: #999;
	}
	#volume {
		border-left: 1px solid #333;
	}
	#volume:before,
	#volume.none:before {
		content: '';
		position: absolute;
		top: 8px;
		left: 8px;
		width: 24px;
		height: 24px;
		content: '\f026';
	}
	#volume.low:before {
		content: '\f026';
	}
	#volume.medium:before {
		content: '\f027';
	}
	#volume.high:before {
		content: '\f028';
	}
	.volume-controls {
		min-width: inherit;
		width: 40px;
		height: 110px;
		padding: 0;
	}
	.volume-controls #volume-bar {
		width: 10px;
		left: 15px;
		top: 15px;
		height: 80px;
		position: absolute;
	}
	.volume-controls #volume-bar .ui-slider-handle {
		margin-left: -2px;
		margin-bottom: -8px;
	}
	#settings:before {
		content: '\2699';
	}
	#link .link-controls input {
		background: #FFF;
		width: 100%;
	}
	#link:before {
		content: '\26D3';
	}
	#full-screen:before {
		content: '\f065';
	}
	#subtitle {
		display: none;
		width: 50px;
		margin-right: -1px;
		border-left: 1px solid #333;
	}
	#subtitle:before {
		content: 'CC';
		position: absolute;
		top: 12px;
		left: 12px;
		right: 12px;
		height: 14px;
		color: #555;
		border: 2px solid #555;
		border-radius: 2px;
		font-size: 11px;
		line-height: 14px;
		font-weight: bold;
	}
	#subtitle:hover:before {
		border-color: #ddd;
		color: #ddd;
	}
	#subtitle.on:before {
		background: #ddd;
		color: #333;
		border: 2px solid #ddd;
	}
	.subtitle-controls .options-toggle {
		display: block;
		font-size: 11px;
		color: #666;
		text-align: right;
		text-decoration: underline;
	}
	.subtitle-controls .options-toggle:hover {
		text-decoration: none;
	}
	.subtitle-settings {
		margin-top: 10px;
	}
	.subtitle-settings #font-color,
	.subtitle-settings #background-color {
		border: 2px solid #ddd;
		height: 20px;
	}
	.subtitle-settings-preview-container {
		background: #FFF;
	}
	.subtitle-settings-preview {
		padding: 20px;
		background-color: #FFF;
		background-image:
			-webkit-linear-gradient(45deg, #ccc 25%, transparent 25%,transparent 75%, #ccc 75%, #ccc 100%),
			-webkit-linear-gradient(45deg, #ccc 25%, transparent 25%,transparent 75%, #ccc 75%, #ccc 100%);
		background-size: 100px 100px;
		background-position: 0 0, 50px 50px;
	}
	.subtitle-settings-preview .test {
		padding: 5px 10px;
		text-align: center;
	}
	.subtitle-settings .actions {
		text-align: center;
	}
	.colpick {
		z-index: 9999 !important;
	}

/*---------------------------------------------------------------
    Main Slider/Progress Bar
---------------------------------------------------------------*/
	.ui-slider { 
		position: relative;
		height: 10px;
		background: #777;
	}
	a.ui-slider-handle {
		position: absolute;
		background: #efefef;
		border-radius:5px;
		width: 10px;
		height: 10px;
		cursor: pointer;
		outline: none;
		z-index: 911;
		border-bottom: none;
	}
	.ui-slider-range {
		background: #2074cb;
		height: 10px;
	}
	#volume-bar a.ui-slider-handle {
		margin-top: -1px;
		left: 2px;
	}
	#progress-bar a.ui-slider-handle {
		top: 0px;
		margin-left: -6px;
	}
	#volume-bar a.ui-slider-handle:hover,
	#volume-bar a.ui-slider-handle:focus {
		margin-top: -2px;
		left: -2px;
		margin-left: 0;
		background: #FFF;
		box-shadow: 0 0 2px rgba(0,0,0,0.8);
		border-radius: 7px;
		width: 14px;
		height: 14px;
	}
	#progress-bar a.ui-slider-handle:hover,
	#progress-bar a.ui-slider-handle:focus {
		background: #FFF;
		box-shadow: 0 0 2px rgba(0,0,0,0.8);
		border-radius: 7px;
		width: 14px;
		height: 14px;
		top: -2px;
		margin-left: -8px;
	}

/*---------------------------------------------------------------
    Video Preview
---------------------------------------------------------------*/
	.preview {
		position: absolute;
		top: -85px;
		left: -9999px;
		margin-left: -60px;
		width: 120px ;
		border: 2px solid #333;
		background: #000;
		box-sizing: border-box;
		opacity: 0;
		-webkit-transition: opacity 0.2s;
		-webkit-backface-visibility: hidden;
	}
	.preview.visible {
		-webkit-transition-delay: 0.25s;
		opacity: 1;
	}
	.preview video {
		width: 100%;
		min-height: inherit;
		height: auto !important;
	}
	.preview .tip {
		content: '';
		position: absolute;
		width: 0;
		height: 0;
		left: 54px;
		bottom: -14px;
		border-width: 6px 6px 6px 6px;
		border-color: #333 transparent transparent transparent;
		border-style: solid;
		-webkit-backface-visibility: hidden;
	}

/*---------------------------------------------------------------
    Replay
---------------------------------------------------------------*/
	#replay {
		position:absolute;
		top:0;
		left:0;
		width:100%;
		height:100%;
		z-index:99999;
		background:#000;
		-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=95)";
		filter: alpha(opacity = 95);
		background:rgba(0,0,0,0.95);
		text-align:left;
	}
	#replay #replay-details {
		position:absolute;
		top:25%;
		left:15%;
		width:70%;
	}
	#replay-details #title {
		font-size:24px;
		font-weight:bold;
		color:#efefef;
		margin-bottom:15px;
	}
	#replay-details #link {
		position:relative;
	}
	#replay-details #replay-link {
		width:100%;
		font-size:16px;
		padding:3px;
		outline:none;
		border:1px solid #000;
		background:#FFF;
	}
	#replay-details #title span, 
	#replay-details #link span {
		font-weight:normal;
		font-size:12px;
		line-height:18px;
		color:#555;
		display:block;
		margin-bottom:3px;
	}
	#replay-details #facebook {
		width:24px;
		height:24px;
		background:url('../img/hubpresenter/facebook.png') no-repeat 50% 50%;
		text-indent:-555em;
		position:absolute;
		bottom:6px;
		right:35px;
		z-index:999;
	}
	#replay-details #twitter {
		width:24px;
		height:24px;
		background:url('../img/hubpresenter/twitter.png') no-repeat 50% 50%;
		text-indent:-555em;
		position:absolute;
		bottom:6px;
		right:5px;
		z-index:999;
	}
	#replay-back {
		position:absolute;
		top:250px;
		left:15%;
		background-image: -webkit-gradient(linear, left top, left bottom, from(#cccccc), );
		background-image: -webkit-linear-gradient(#efefef, #cccccc);
		background-image: -moz-linear-gradient(#efefef, #cccccc);
		background-image: -o-linear-gradient(#efefef, #cccccc);
		background-image: -ms-linear-gradient(#efefef, #cccccc);
		background-image: linear-gradient(#efefef, #cccccc);
		border:2px solid #aaa;
		color:#444444;
	}
	#replay-now {
		position:absolute;
		top:250px;
		right:15%;
		background-image: -webkit-gradient(linear, left top, left bottom, from(#41697e), );
		background-image: -webkit-linear-gradient(#688b9d, #41697e);
		background-image: -moz-linear-gradient(#688b9d, #41697e);
		background-image: -o-linear-gradient(#688b9d, #41697e);
		background-image: -ms-linear-gradient(#688b9d, #41697e);
		background-image:linear-gradient(#688b9d, #41697e);
		border:2px solid #3b6479;
		color:#ffffff;
	}
	#replay-now:before {
		content: url("../img/hubpresenter/replay.png");
		padding:0 10px 0 0;
	}
	#replay-back,
	#replay-now {
		-webkit-border-radius:20px;
		-moz-border-radius:20px;
		-o-border-radius:20px;
		-ms-border-radius:20px;
		-khtml-border-radius:20px;
		border-radius:20px;
		padding:10px 15px;
		font-size:16px;
		font-weight:bold;
		text-align:center;
		text-decoration:none;
	}
	#replay-now:hover {
		background-image: -webkit-gradient(linear, left top, left bottom, from(#688b9d), );
		background-image: -webkit-linear-gradient(#41697e, #688b9d);
		background-image: -moz-linear-gradient(#41697e, #688b9d);
		background-image: -o-linear-gradient(#41697e, #688b9d);
		background-image: -ms-linear-gradient(#41697e, #688b9d);
		background-image:linear-gradient(#41697e, #688b9d);
	}	
	#replay-back:hover {
		background-image: -webkit-gradient(linear, left top, left bottom, from(#efefef), );
		background-image: -webkit-linear-gradient(#cccccc, #efefef);
		background-image: -moz-linear-gradient(#cccccc, #efefef);
		background-image: -o-linear-gradient(#cccccc, #efefef);
		background-image: -ms-linear-gradient(#cccccc, #efefef);
		background-image:linear-gradient(#cccccc, #efefef);
	}

/*---------------------------------------------------------------
    Resume
---------------------------------------------------------------*/
	#resume {
		position:absolute;
		top:0;
		left:0;
		width:100%;
		height:100%;
		z-index:99999;
		background:#000;
		-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
		filter: alpha(opacity = 70);
		background:rgba(0,0,0,0.7);
		text-align:left;
	}
	#resume-details h2 {
		text-align:center;
		color:white;
		font-weight:bold;
		font-size:36px;
		margin:2em 0 0.5em 0;
	}
	#resume-details p {
		text-align:center;
		color:#777;
		font-size:18px;
	}
	#resume-details #time {
		text-align:center;
		color:white;
		font-weight:bold;
		font-size:48px;
		line-height:48px;
		margin:1em 20%;
		padding:.5em;
		border:1px solid #000;
		border-radius:10px;
		background:#000;
		background:rgba(0,0,0,0.9);
	}
	#restart-video {
		position:absolute;
		top: 300px;
		left: 20%;
	}
	#resume-video {
		position:absolute;
		top:300px;
		right:20%;
	}
	#restart-video:before {
		content: '\21BB';
	}
	#resume-video:before {
		content: '\25B6';
	}

/*---------------------------------------------------------------
    Subtitles
---------------------------------------------------------------*/
	#video-container.paused #video-subtitles,
	#video-container:hover #video-subtitles {
		bottom: 60px;
	}
	#video-subtitles {
		position: absolute;
		bottom: 20px;
		left: 0;
		right: 0;
		text-align: center;
		z-index: 888;
		-webkit-transition: bottom 0.4s;
	}
	#video-subtitles div {
		display: inline-block !important;
		text-align: center;
		padding: 0;
		font-size: 18px;
		font-weight: 400;
		line-height: 1.2em;
		color: #FFF;
		margin: 0 auto;
		min-width: 100px;
		max-width: 700px;
		background: rgba(0,0,0,1);
		border-radius: 4px;
	}
	#video-subtitles div.showing {
		padding: 5px 10px;
	}

/*---------------------------------------------------------------
    Transcript Viewer
---------------------------------------------------------------*/
	#transcript-container {
		padding: 0px;
		margin: 0px;
		display: none;
		border-bottom: 1px solid #ccc;
		background: #FFF;
	}
	#transcript-toolbar {
		position: relative;
		background: #efefef;
		padding: 0;
		margin: 0;
		border-bottom: 1px solid #ccc;
		height: 36px;
	}
	#transcript-select {
		position: absolute;
		top: 8px;
		left: 10px;
	}
	#transcript-select:before {
		content: 'Language: ';
		font-weight: bold;
		font-size: 12px;	
	}
	#transcript-search {
		position: absolute;
		top: 4px;
		right: 10px;
		background: #FFF;
		font-size: 11px;
		width: 150px;
	}
	#font-smaller,
	#font-bigger {
		position: absolute;
		top: 10px;
		right: 190px;
		width: 20px;
		height: 20px;
		border: none;
	}
	#font-bigger {
		right: 170px;
	}
	#font-smaller:before,
	#font-bigger:before {
		content: '\f031';
		position: absolute;
		top: 0;
		left: 0;
		font-family: 'Fontcons';
		font-size: 14px;
		color: #555;
	}
	#font-bigger:before {
		font-size: 24px;
	}
	#font-smaller:hover:before,
	#font-bigger:hover:before {
		color: #000;
	}
	#font-smaller.inactive:before,
	#font-bigger.inactive:before {
		color: #aaa;
	}
	#transcripts {
		overflow-y: scroll;
		height: 150px;
	}
	.transcript {
		padding: 0 10px;
		margin: 10px 0;
		display: none;
	}
	.transcript-line {
		overflow: hidden;
		padding: 0 3px;
		font-size: 12px;
		line-height: 16px;
		border-radius: 3px;
	}
	.transcript-line:hover {
		background: #efeffe;
		cursor: pointer;
	}
	.transcript-line.active,
	.transcript-line.active:hover {
		background: #f0f0f0;
		font-weight: bold;
	}
	.transcript-line-time {
		float: left;
		margin-right: 10px;
		color: #aaa;
	}
	.transcript-line-text {
		color: #444;
	}

/*---------------------------------------------------------------
    Popout
---------------------------------------------------------------*/
	.bottom-controls {
		padding: 5px 0;
		text-align: right;
	}
	.embed-popout {
		display: none;
		border: none;
	}
	.icon-popout:before {
		content: '\f08e';
	}
