@media only screen and (max-width: @break2) {

nav#main-navigation ul.menu ul {
	-moz-column-count: auto;
	-webkit-column-count: auto;
	column-count: auto;
}

nav#main-navigation #account .account-details span {
	display: none;
}

.hide-s {
	display: none;	
}
	
}