// Inherit core reset styles
@import "../../../media/system/less/reset.less";

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, p, blockquote, th, td {
    direction: ltr;
}

a {
	text-decoration: none;
}