/* Relationships */
	.closebutton:after {
		content: 'x';
		color: #900;
		margin-left: 4px;
		font-weight: bold;
		font-family: monospace;
		vertical-align: super;
	}
	line.link  {
	    stroke: #999999;
	    stroke-opacity: 0.6;
	}
	#graph {
		border: 2px solid #ddd;
	}
	ellipse {
		cursor: pointer;
	}
	#center-node {
		border: 2px solid #79a;
	}
	#labels, 
	#labeled {
		border: 2px solid #cfd;
	}
	#parents {
		border: 2px solid #fdc;
	}
	#children {
		border: 2px solid #cdf;
	}
	#metadata-cont {
		display: none;
	}
	#description {
		width: 100%;
	}
/* Autocompleter */
	.textboxlist-holder {
		min-height: 1.8em;
	}
	.maininput {
		border: 0;
		background: transparent !important;
	}
	.ui-autocomplete {
		background: #fff;
		border: 1px solid #ddd;
		max-height: 300px;
		max-width: 600px;
		overflow: auto;
		list-style: none;
		padding-left: 0;
	}
	.ui-autocomplete li {
		padding: 3px;
		cursor: pointer;
		border-bottom: 1px solid #ccc;
	}
	.ui-autocomplete li:hover {
		background: #9ef;
	}
	.ui-autocomplete a:hover {
		text-decoration: none !important;
	}
	.ui-autocomplete .highlight {
		background: #FFFF99;
		font-weight: bold;
	}
