<?xml version="1.0" encoding="utf-8"?>

<!--
 Copyright 2005-2009 by Purdue Research Foundation, West Lafayette, IN 47906.
 All rights reserved.

 This program is free software; you can redistribute it and/or
 modify it under the terms of the GNU General Public License,
 Version 2 as published by the Free Software Foundation.

 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with this program; if not, write to the Free Software
 Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
-->

<config>
	<fieldset name="basic">
		<field name="subpage_separator" type="text" menu="hide" default="/" label="COM_WIKI_CONFIG_SEPARATOR_LABEL" description="COM_WIKI_CONFIG_SEPARATOR_DESC" />
		<field name="homepage" type="text" menu="hide" default="MainPage" label="COM_WIKI_CONFIG_MAIN_PAGE_LABEL" description="COM_WIKI_CONFIG_MAIN_PAGE_DESC" />
		<field name="max_pagename_length" type="text" menu="hide" default="100" label="COM_WIKI_CONFIG_PAGENAME_LENGTH_LABEL" description="COM_WIKI_CONFIG_PAGENAME_LENGTH_DESC" />
	</fieldset>
	<fieldset name="files">
		<field name="filepath" type="text" menu="hide" default="/site/wiki" label="COM_WIKI_CONFIG_FILE_UPLOAD_LABEL" description="COM_WIKI_CONFIG_FILE_UPLOAD_DESC" />
		<field name="mathpath" type="text" menu="hide" default="/site/wiki/math" label="COM_WIKI_CONFIG_MATH_UPLOAD_LABEL" description="COM_WIKI_CONFIG_MATH_UPLOAD_DESC" />
		<field name="tmppath" type="text" menu="hide" default="/site/wiki/tmp" label="COM_WIKI_CONFIG_TEMP_UPLOAD_LABEL" description="COM_WIKI_CONFIG_TEMP_UPLOAD_DESC" />
		<field name="maxAllowed" type="text" menu="hide" default="40000000" label="COM_WIKI_CONFIG_FILE_SIZE_LABEL" description="COM_WIKI_CONFIG_FILE_SIZE_DESC" />
		<field name="img_ext" type="text" menu="hide" label="COM_WIKI_CONFIG_IMG_EXT_LABEL" default="jpg,jpeg,jpe,bmp,tif,tiff,png,gif" description="COM_WIKI_CONFIG_IMG_EXT_DESC" />
		<field name="file_ext" type="text" menu="hide" label="COM_WIKI_CONFIG_FILE_EXT_LABEL" default="jpg,jpeg,jpe,bmp,tif,tiff,png,gif,pdf,zip,mpg,mpeg,avi,mov,wmv,asf,asx,ra,rm,txt,rtf,doc,xsl,html,js,wav,mp3,eps,ppt,pps,swf,tar,tex,gz" description="COM_WIKI_CONFIG_FILE_EXT_DESC" />
	</fieldset>
	<fieldset name="cache">
		<field name="cache" type="radio" default="0" label="COM_WIKI_CONFIG_CACHE_LABEL" description="COM_WIKI_CONFIG_CACHE_DESC">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field name="cache_time" type="text" default="15" label="COM_WIKI_CONFIG_CACHE_TIME_LABEL" description="COM_WIKI_CONFIG_CACHE_TIME_DESC" />
	</fieldset>
</config>
