@import "../../less/_mixins/mixins";
@import "../../less/_vars/vars";

@import url("/core/components/com_groups/site/assets/css/groups.css");

#page_menu li a, #page_menu li span {
	color: @colorNavMain;
}

#page_sidebar {
	background: @colorSidebarBg;
}

#page_header {

	h2 {
		float: none;
	}

	h3 {
		font-size: 2.2rem;
		margin: 2rem 0;
		color: @colorHeadings;
	}
}

.group-page.page-overview {

	h3 {
		font-size: 1.1rem;
	}
}