<?xml version="1.0" encoding="utf-8"?>

<!--
@package        hubzero-cms
@file           administrator/components/com_oaipmh/config.xml
@copyright      Copyright 2005-2011 Purdue University. All rights reserved.
@license        http://www.gnu.org/licenses/lgpl-3.0.html LGPLv3

Copyright 2005-2013 Purdue University. All rights reserved.

This file is part of: The HUBzero(R) Platform for Scientific Collaboration

The HUBzero(R) Platform for Scientific Collaboration (HUBzero) is free
software: you can redistribute it and/or modify it under the terms of
the GNU Lesser General Public License as published by the Free Software
Foundation, either version 3 of the License, or (at your option) any
later version.

HUBzero is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.

HUBzero is a registered trademark of Purdue University.
-->

<config>
	<fieldset name="basic">
		<field name="max" label="COM_OAIPMH_MAX_LABEL" type="text" default="500" description="COM_OAIPMH_MAX_DESC" />
		<field name="allow_ore" type="radio" default="0" label="COM_OAIPMH_ALLOW_ORE_LABEL" description="COM_OAIPMH_ALLOW_ORE_DESC">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field name="@spacer" type="spacer" default="" label="" description="" />
		<field name="repository_name" type="text" default="" label="COM_OAIPMH_REPOSITORY_LABEL" description="COM_OAIPMH_REPOSITORY_DESC" />
		<field name="base_url" type="text" default="" label="COM_OAIPMH_BASE_URL_LABEL" description="COM_OAIPMH_BASE_URL_DESC" />
		<field name="email" type="text" default="" label="COM_OAIPMH_EMAIL_LABEL" description="COM_OAIPMH_EMAIL_DESC" />
		<field name="edate" type="text" default="2012-02-12 00:00:00" label="COM_OAIPMH_EDATE_LABEL" description="COM_OAIPMH_EDATE_DESC" />
		<field name="del" type="list" default="No" label="COM_OAIPMH_DEL_LABEL" description="COM_OAIPMH_DEL_DESC">
			<option value="No">JNO</option>
			<option value="Transient">COM_OAIPMH_DEL_TRANSIENT</option>
			<option value="Persistent">COM_OAIPMH_DEL_PERSISTENT</option>
		</field>
		<field name="gran" type="list" default="c" label="COM_OAIPMH_GRAN_LABEL" description="COM_OAIPMH_GRAN_DESC">
			<option value="c">YYYY-MM-DDThh:mm:ssZ</option>
			<option value="Y-m-d">YYYY-MM-DD</option>
		</field>
	</fieldset>
</config>
