@import url("/modules/mod_reportproblems/mod_reportproblems.css");

#help-pane {
	width: auto;
	margin: 0;
	border: none;
	color: #fff;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.6);
}
#help-container h2 {
	border-bottom: 1px dashed #eee;
	border-bottom: 1px dashed rgba(255, 255, 255, 0.8);
}
#help-container .submit {
	border-top: 1px dashed #eee;
	border-top: 1px dashed rgba(255, 255, 255, 0.8);
}
#help-container li h3 {
	margin-bottom: 0.5em;
}
#help-container li {
	border: none;
}
#help-container a {
	color: #d86560;
	border-bottom: 1px dotted #344e54;
	border-bottom: 1px dotted rgba(52, 78, 85, 0.4);
}
#help-container li p,
#help-container label {
	color: #eee;
	color: rgba(255, 255, 255, 0.8);
}
#help-container .required {
	color: #d86560;
}
.filetypes {
	color: #eee;
	color: rgba(255, 255, 255, 0.8);
}
#help-container input[type=text],
#help-container input[type=password],
#help-container input[type=email],
#help-container textarea {
	background: #F0F0F0;
	border: 1px solid #D9D9D9;
	padding: 0.20225424825em;
}
#help-container textarea:focus, 
#help-container input[type="text"]:focus, 
#help-container input[type="password"]:focus, 
#help-container input[type="file"]:focus {
	background-color: #fff;
	border-color: #0fa1ca;
}
#help-container li.help-kb,
#help-container li.help-qa,
#help-container li.help-wish,
#help-container li.help-tickets {
	background-image: none;
}
#help-container li {
	position: relative;
}
#help-container li:before,
#help-container li:after {
	content: "";
	display: block;
	margin: 0;
	padding: 0;
	width: 32px;
	height: 32px;
	font-family: 'Fontcons';
	font-size: 32px;
	line-height: 32px;
	border: none;
	position: absolute;
	top: 5px;
	left: 0;
	z-index: 100;
	color: #d86560;
	text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.6);
}
#help-container li.help-kb:before {
	content: "\f072";
}
#help-container li.help-qa:before {
	content: "\f086";
}
#help-container li.help-wish:before {
	content: "\f078";
}
#help-container li.help-tickets:before {
	content: "\f055";
}
#help-container {
	background-color: #0fa1ca;
	background-color: transparent;
	border-color: #0fa1ca;
	border: none;
	margin: 10px;
	background-image: -webkit-gradient(linear, 0 0, 100% 100%,
										color-stop(.25, rgba(255, 255, 255, .075)), color-stop(.25, transparent),
										color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .075)),
										color-stop(.75, rgba(255, 255, 255, .075)), color-stop(.75, transparent),
				 						to(transparent));
	background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, .075) 25%, transparent 25%,
									transparent 50%, rgba(255, 255, 255, .075) 50%, rgba(255, 255, 255, .075) 75%,
									transparent 75%, transparent);
	background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, .075) 25%, transparent 25%,
									transparent 50%, rgba(255, 255, 255, .075) 50%, rgba(255, 255, 255, .075) 75%,
									transparent 75%, transparent);
	background-image: -ms-linear-gradient(-45deg, rgba(255, 255, 255, .075) 25%, transparent 25%,
									transparent 50%, rgba(255, 255, 255, .075) 50%, rgba(255, 255, 255, .075) 75%,
									transparent 75%, transparent);
	background-image: -o-linear-gradient(-45deg, rgba(255, 255, 255, .075) 25%, transparent 25%,
									transparent 50%, rgba(255, 255, 255, .075) 50%, rgba(255, 255, 255, .075) 75%,
									transparent 75%, transparent);
	background-image: linear-gradient(-45deg, rgba(255, 255, 255, .075) 25%, transparent 25%,
									transparent 50%, rgba(255, 255, 255, .075) 50%, rgba(255, 255, 255, .075) 75%,
									transparent 75%, transparent);
	-webkit-background-size: 30px 30px;
	   -moz-background-size: 30px 30px;
	    -ms-background-size: 30px 30px;
	     -o-background-size: 30px 30px;
	        background-size: 30px 30px;
}

#tab {
	display: block;
	text-align: right;
	margin: 0 0 0 2em;
	padding: 0;
	width: auto;
	height: auto;
	float: right;
	position: static;
	top: auto;
	right: auto;
	font-size: 1em;
	line-height: 1;
}
#tab a {
	margin: 0;
	padding: 1.4em 1em 1.4em 1em;
	height: auto;
	width: 2em;
	overflow: hidden;
	text-indent: 5em;
	color: transparent;
	background: #333;
	background: rgba(0, 0, 0, 0.15);
	position: relative;
	font-weight: normal;
	/* [!] IE 7 */
	*zoom:expression(this.runtimeStyle['zoom']='1', this.innerHTML='<small class="tab-before">&#xf059;&nbsp;</small>' + this.innerHTML);
}
#tab small.tab-before,
#tab a:before {
	content: "\f059";
	font-family: "Fontcons";
	position: absolute;
	font-size: 1.8em;
	top: 0.6em;
	left: 0.7em;
	text-indent: 0;
	color: #999;
}
#tab a span {
	margin: 0;
	padding: 0;
	height: auto;
	display: inline;
	background: transparent;
}
#tab.active a,
#tab:hover,
#tab a:hover {
	background: #000;
	color: #fff;
	border: none;
}
#tab.active a:before,
#tab:hover a:before,
#tab a:hover:before {
	color: #fff;
}
