.container {
	padding: 15px;
}
#pages {
	position: relative;
	margin-left: 0;
	margin-top: 10px;
}
#pages li {
	display: none;
}
#page-tabs {
	clear: left;
	margin-left: 0;
}
#page-tabs li {
	display: inline-block;
	color: #ddd;
}
#pages {
	cursor: crosshair;
}
#title {
	width: 580px;
}
input.placeholder {
	margin: 0;
	padding: 0;
}
#group-box {
	opacity: 0.5;
	background: #ddd;
	border: 2px dashed #333;
	border: 2px dashed #DBDB95;
	background: #FFFFe0;
	width: 0px;
	height: 0px;
	position: absolute;
}
.group-marker {
	opacity: 0.7;
	border: 2px solid #DBDB95;
	background: #FFFFe0;
	border-radius: 4px;
	position: absolute;
	cursor: crosshair;
}
.missing-answer {
	background: #FFe0e0;
	border: 2px solid #DB9595;
}
.remove {
	font-weight: bold;
	color: #000;
	cursor: pointer;
	padding: 1px;
}
.radio-container {
	display: inline-block;
}
.group-marker .remove {
	position: absolute;
	top: 2px;
	right: 4px;
}
.radio-container .remove {
	display: inline-block;
	width: 20px;
	line-height: 16px;
	position: static;
	margin-right: 4px;
	height: 23px;
	padding: 0;
}
.radio-container {
	background: #FFFF70;
	border-radius: 4px;
	line-height: 10px;
	position: absolute;
}
.selected {
	background: #88FF70;	
}
.error {
	display: none;
}
.tablesorter button {
	display: inline;
	float: right;
	font-size: x-small;
}
.tablesorter .title {
	float: left;
}
.tablesorter tr:hover td {
	background: #f0f0f0;
}
#save {
	margin-right: 5px;
}
#saved-notification {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 999;
	display: none;
	background: #efe;
	font-weight: bold;
	padding: 6px;
}
input[type=number] {
	width: 60px;
}
#deployment fieldset {
	margin-left: 3em;
}
#deployment input[type=radio] {
	margin-left: 2em;
}
#deployment label span {
	display: inline-block;
	width: 80px;
	margin-right: 6px;
	text-align: right;
}
#deployment .error {
	display: block;
	padding-left: 5em;
}
.distribution-link {
	font-size: medium;
	background: #FFFEAB;
	padding: 10px;
	border-radius: 10px;
	font-weight: bold;
}
.distribution-link a {
	font-weight: normal;
}
.state {
	display: inline-block;
	padding: 2px 10px;
	margin-left: 10px;
	margin-right: 10px;
	border-radius: 4px;
	border: 1px solid #ddd;
	font-size: xx-small;
	text-transform: uppercase;
	background: #fff;
}
#pages.complete li {
	display: block;
	position: relative;
}
.complete .placeholder {
	position: absolute;
}
.incomplete-marker {
	position: absolute;
	display: inline-block;
	width: 15px;
	color: #f00;
	font-weight: bold;
	font-size: x-large;
	text-align: center;
}
.error.incomplete {
	display: block;
}
.incomplete-marker.example {
	position: static;
}
#page-tabs .current {
	color: #000;
	font-weight: bold;
	text-decoration: none;
}
.answer-marker {
	position: absolute;
	width: 15px;
	height: 15px;
	font-size: xx-large;
	font-weight: bold;
}
.answer-marker.incorrect {
	color: #a00;
}
.answer-marker.correct {
	color: #0a0;
}
.tablesorter.nested {
	margin-left: 3em;
}
.tablesorter.nested tbody {
	max-height: 300px;
}
.tablesorter.nested tbody td,
.tablesorter.nested thead tr th,
.tablesorter.nested {
	background: #f3f3f3;
	border: 0;
}
.tablesorter.nested thead tr .headerSortDown, .tablesorter.nested thead tr .headerSortUp {
    background: transparent;
}
#time-left {
	position: fixed;
	bottom: 0;
	right: 0;
	padding: 6px;
	background: #f3f3f3;
	border: 1px dashed #ddd;
}
/* css for timepicker https://github.com/trentrichardson/jQuery-Timepicker-Addon */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }
#ui-datepicker-div {
	z-index: 999 !important;
}
