<?xml version="1.0" encoding="utf-8"?>

<!--
@package        hubzero-cms
@file           administrator/components/com_usage/config.xml
@copyright      Copyright 2005-2011 Purdue University. All rights reserved.
@license        http://www.gnu.org/licenses/lgpl-3.0.html LGPLv3

Copyright 2005-2011 Purdue University. All rights reserved.

This file is part of: The HUBzero(R) Platform for Scientific Collaboration

The HUBzero(R) Platform for Scientific Collaboration (HUBzero) is free
software: you can redistribute it and/or modify it under the terms of
the GNU Lesser General Public License as published by the Free Software
Foundation, either version 3 of the License, or (at your option) any
later version.

HUBzero is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.

HUBzero is a registered trademark of Purdue University.
-->

<config>
	<fieldset name="basic">
		<field name="statsDBDriver" type="text" menu="hide" label="COM_USAGE_DBDRIVER_LABEL" default="mysql" description="COM_USAGE_DBDRIVER_DESC" />
		<field name="statsDBHost" type="text" menu="hide" label="COM_USAGE_DBHOST_LABEL" default="localhost" description="COM_USAGE_DBHOST_DESC" />
		<field name="statsDBPort" type="text" menu="hide" label="COM_USAGE_DBPORT_LABEL" default="" description="COM_USAGE_DBPORT_DESC" />
		<field name="statsDBUsername" type="text" menu="hide" label="COM_USAGE_DBUSERNAME_LABEL" default="" description="COM_USAGE_DBUSERNAME_DESC" />
		<field name="statsDBPassword" type="text" menu="hide" label="COM_USAGE_DBPASSWORD_LABEL" default="" description="COM_USAGE_DBPASSWORD_DESC" />
		<field name="statsDBDatabase" type="text" menu="hide" label="COM_USAGE_DBDATABASE_LABEL" default="" description="COM_USAGE_DBDATABASE_DESC" />
		<field name="statsDBPrefix" type="text" menu="hide" label="COM_USAGE_DBPREFIX_LABEL" default="" description="COM_USAGE_DBPREFIX_DESC" />
		<field name="@spacer" type="spacer" default="" label="" description="" />
		<field name="mapsApiKey" type="text" menu="hide" label="COM_USAGE_MAPSAPIKEY_LABEL" default="" description="COM_USAGE_MAPSAPIKEY_DESC" />
		<field name="stats_path" type="text" menu="hide" label="COM_USAGE_PATH_STATS_LABEL" default="/site/usage" description="COM_USAGE_PATH_STATS_DESC" />
		<field name="maps_path" type="text" menu="hide" label="COM_USAGE_PATH_MAPS_LABEL" default="/site/usage/maps" description="COM_USAGE_PATH_MAPS_DESC" />
		<field name="plots_path" type="text" menu="hide" label="COM_USAGE_PATH_PLOTS_LABEL" default="/site/usage/plots" description="COM_USAGE_PATH_PLOTS_DESC" />
		<field name="charts_path" type="text" menu="hide" label="COM_USAGE_PATH_CHARTS_LABEL" default="/site/usage/charts" description="COM_USAGE_PATH_CHARTS_DESC" />
	</fieldset>
</config>
