<?xml version="1.0" encoding="utf-8"?>

<!--
@package        hubzero-cms
@file           administrator/components/com_blog/config.xml
@copyright      Copyright 2005-2011 Purdue University. All rights reserved.
@license        http://www.gnu.org/licenses/lgpl-3.0.html LGPLv3

Copyright 2005-2011 Purdue University. All rights reserved.

This file is part of: The HUBzero(R) Platform for Scientific Collaboration

The HUBzero(R) Platform for Scientific Collaboration (HUBzero) is free
software: you can redistribute it and/or modify it under the terms of
the GNU Lesser General Public License as published by the Free Software
Foundation, either version 3 of the License, or (at your option) any
later version.

HUBzero is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.

HUBzero is a registered trademark of Purdue University.
-->

<config>
	<fieldset name="basic">
		<field name="title" type="text" menu="hide" default="" label="COM_BLOG_CONFIG_TITLE_LABEL" description="COM_BLOG_CONFIG_TITLE_DESC" />
		<field name="@spacer" type="spacer" default="" label="" description="" />
		<field name="uploadpath" type="text" menu="hide" default="/site/blog" label="COM_BLOG_CONFIG_UPLOADS_LABEL" description="COM_BLOG_CONFIG_UPLOADS_DESC" />
	</fieldset>
	<fieldset name="archive">
		<field name="show_from" type="list" default="site" label="COM_BLOG_CONFIG_DATA_SRC_LABEL" description="COM_BLOG_CONFIG_DATA_SRC_DESC">
			<option value="site">COM_BLOG_CONFIG_DATA_SRC_SITE</option>
			<option value="member">COM_BLOG_CONFIG_DATA_SRC_MEMBER</option>
			<option value="group">COM_BLOG_CONFIG_DATA_SRC_GROUP</option>
			<option value="both">COM_BLOG_CONFIG_DATA_SRC_BOTH</option>
		</field>
		<field name="cleanintro" type="list" default="1" label="COM_BLOG_CONFIG_CLEANINTRO_LABEL" description="COM_BLOG_CONFIG_CLEANINTRO_DESC">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field name="introlength" type="text" default="300" label="COM_BLOG_CONFIG_INTROLENGTH_LABEL" description="COM_BLOG_CONFIG_INTROLENGTH_DESC" />
	</fieldset>
	<fieldset name="entry">
		<field name="show_authors" type="list" default="1" label="COM_BLOG_CONFIG_SHOWAUTHORS_LABEL" description="COM_BLOG_CONFIG_SHOWAUTHORS_DESC">
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>
		<field name="allow_comments" type="list" default="1" label="COM_BLOG_CONFIG_ALLOW_COMMENTS_LABEL" description="COM_BLOG_CONFIG_ALLOW_COMMENTS_DESC">
			<option value="0">COM_BLOG_CONFIG_DISALLOW</option>
			<option value="1">COM_BLOG_CONFIG_ALLOW</option>
		</field>
		<field name="show_date" type="list" default="3" label="COM_BLOG_CONFIG_SHOWDATE_LABEL" description="COM_BLOG_CONFIG_SHOWDATE_DESC">
			<option value="0">JHIDE</option>
			<option value="1">Created</option>
			<option value="2">Modified</option>
			<option value="3">Published</option>
		</field>
	</fieldset>
	<fieldset name="feeds">
		<field name="feeds_enabled" type="list" default="1" label="COM_BLOG_CONFIG_FEEDS_ENABLED_LABEL" description="COM_BLOG_CONFIG_FEEDS_ENABLED_DESC">
			<option value="0">JDISABLED</option>
			<option value="1">JENABLED</option>
		</field>
		<field name="feed_entries" type="list" default="partial" label="COM_BLOG_CONFIG_FEED_ENTRIES_LABEL" description="COM_BLOG_CONFIG_FEED_ENTRIES_DESC">
			<option value="full">COM_BLOG_CONFIG_FULL</option>
			<option value="partial">COM_BLOG_CONFIG_PARTIAL</option>
		</field>
	</fieldset>
	<fieldset name="permissions" label="JCONFIG_PERMISSIONS_LABEL" description="JCONFIG_PERMISSIONS_DESC">
		<field name="rules" type="rules" label="JCONFIG_PERMISSIONS_LABEL" class="inputbox" validate="rules" filter="rules" component="com_blog" section="component" />
	</fieldset>
</config>

