<?xml version="1.0" encoding="utf-8"?>

<!--
 Copyright 2005-2009 by Purdue Research Foundation, West Lafayette, IN 47906.
 All rights reserved.

 This program is free software; you can redistribute it and/or
 modify it under the terms of the GNU General Public License,
 Version 2 as published by the Free Software Foundation.

 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with this program; if not, write to the Free Software
 Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
-->

<config>
	<params>
		<param name="contribtool_on" type="radio" default="0" label="Contribtool" description="Indicate whether the component is active or not">
			<option value="0">OFF</option>
			<option value="1">ON</option>
		</param>
		<param name="admingroup" type="text" menu="hide" default="apps" label="Admin group" description="Name of contribtool admin group" />
		<param name="default_mw" type="text" menu="hide" default="narwhal" label="Default middleware" description="Name of default middleware" />
		<param name="default_vnc" type="text" menu="hide" default="780x600" label="Default VNC size" description="Default VNC geometry values" />
		<param name="developer_url" type="text" menu="hide" default="https://developer.nanohub.org" label="Developer URL" description="URL of project development site" />
		<param name="developer_site" type="text" menu="hide" default="nanoFORGE" label="Developer Site" description="Name of project development site" />
		<param name="developer_email" type="text" menu="hide" default="" label="Developer Email" description="Name of contribtool administrators email list" />
		<param name="project_path" type="text" menu="hide" default="/projects/app-" label="Path to projects" description="Path to projects on development site (usually followed by the tool name)" />
		<param name="invokescript_dir" type="text" menu="hide" default="/apps" label="Invoke script dir" description="Directory for invoke script" />
		<param name="adminscript_dir" type="text" menu="hide" default="/apps/bin" label="Admin scripts dir" description="Directory for installtool, licensetool, finalizetool scripts" />
		<param name="dev_suffix" type="text" menu="hide" default="_dev" label="Dev tool suffix" description="Suffix indicating the development instance of a tool (e.g. _dev for toolname_dev) " />
		<param name="group_prefix" type="text" menu="hide" default="app-" label="Dev group prefix" description="Prefix to name of development group (e.g. app-) " />
		<param name="sourcecodePath" type="text" menu="hide" default="" label="Source code path" description="Source code path. " />
        <param name="learn_url" type="text" menu="hide" default="http://rappture.org/wiki/FAQ_UpDownloadSrc" label="Learn More URL" description="URL to a uploading source tutorial" />
        <param name="rappture_url" type="text" menu="hide" default="http://rappture.org" label="Rappture URL" description="URL to a rappture tutorial" />
		<param name="demo_url" type="text" menu="hide" default="" label="Demo URL" description="URL to demo explaining contribution process" />
		<param name="doi_service" type="text" menu="hide" default="http://dir1.lib.purdue.edu:8080/axis/services/CreateHandleService?wsdl" label="DOI service path" description="URL of CreateHandle service for registering DOI" />
		<param name="doi_prefix" type="text" menu="hide" default="" label="DOI service prefix" description="Service prefix for DOI" />
		<param name="ldap_save" type="radio" default="1" label="Save in LDAP?" description="Duplicate tool information in mysql and LDAP">
			<option value="0">No</option>
			<option value="1">Yes</option>
		</param>
		<param name="ldap_read" type="radio" default="0" label="Read from LDAP?" description="Get tool information from LDAP">
			<option value="0">No</option>
			<option value="1">Yes</option>
		</param>
		<param name="usedoi" type="radio" default="1" label="Use DOI?" description="Register DOI handle for new tool releases">
			<option value="0">No</option>
			<option value="1">Yes</option>
		</param>
		<param name="exec_pu" type="radio" default="1" label="Include PU" description="Include Purdue campus as a tool access restriction">
			<option value="0">No</option>
			<option value="1">Yes</option>
		</param>
		<param name="screenshot_edit" type="radio" default="0" label="Edit Screenshots" description="Allow editing of screenshots via contribtool and display of screenshots for individual versions">
			<option value="0">OFF</option>
			<option value="1">ON</option>
		</param>
	</params>
</config>
