<?php
/**
 * @package    hubzero-cms
 * @copyright  Copyright (c) 2005-2020 The Regents of the University of California.
 * @license    http://opensource.org/licenses/MIT MIT
 */

$this->css()
     ->js();
?>

<section class="main section">
	<?php foreach ($this->%=component_name+p=% as $%=component_name=%) { ?>
	<?php } // end foreach ?>
</section>
