<?php
/**
 * HUBzero CMS
 *
 * Copyright 2005-2015 Purdue University. All rights reserved.
 *
 * This file is part of: The HUBzero(R) Platform for Scientific Collaboration
 *
 * The HUBzero(R) Platform for Scientific Collaboration (HUBzero) is free
 * software: you can redistribute it and/or modify it under the terms of
 * the GNU Lesser General Public License as published by the Free Software
 * Foundation, either version 3 of the License, or (at your option) any
 * later version.
 *
 * HUBzero is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *
 * HUBzero is a registered trademark of Purdue University.
 *
 * @package   hubzero-cms
 * @author    %=author_name=% <%=author_email=%>
 * @copyright Copyright 2005-2015 Purdue University. All rights reserved.
 * @license   http://www.gnu.org/licenses/lgpl-3.0.html LGPLv3
 */

namespace Components\%=component_name+ucf=%\Site\Controllers;

/**
 * %=component_name+ucfp=% controller for time component
 */
class %=component_name+ucfp=% extends Base
{
	/**
	 * Default view function
	 *
	 * @return  void
	 */
	public function displayTask()
	{
		$%=component_name+p=% = %=component_name+ucf=%::all();

		// Display
		$this->view->%=component_name+p=% = $%=component_name+p=%->paginated()->ordered();
		$this->view->display();
	}

	/**
	 * New task
	 *
	 * @return  void
	 */
	public function newTask()
	{
		$this->view->setLayout('edit');
		$this->view->task = 'edit';
		$this->editTask();
	}

	/**
	 * New/Edit function
	 *
	 * @return  void
	 */
	public function editTask($%=component_name=%=null)
	{
		if (!isset($%=component_name=%) || !is_object($%=component_name=%))
		{
			$%=component_name=% = %=component_name+ucf=%::oneOrNew(Request::getInt('id'));
		}

		// Display
		$this->view->row = $%=component_name=%;
		$this->view->display();
	}

	/**
	 * Save new time record and redirect to the records page
	 *
	 * @return  void
	 */
	public function saveTask()
	{
		// Create object
		$%=component_name=% = %=component_name+ucf=%::oneOrNew(Request::getInt('id'))->set([]);

		if (!$%=component_name=%->save())
		{
			// Something went wrong...return errors
			foreach ($%=component_name=%->getErrors() as $error)
			{
				$this->view->setError($error);
			}

			$this->view->setLayout('edit');
			$this->view->task = 'edit';
			$this->editTask($%=component_name=%);
			return;
		}

		// Set the redirect
		$this->setRedirect(
			Route::url('index.php?option=' . $this->_option . '&controller=' . $this->_controller),
			Lang::txt('COM_%=component_name+uc=%_SAVE_SUCCESSFUL'),
			'passed'
		);
	}

	/**
	 * Delete records
	 *
	 * @return  void
	 */
	public function deleteTask()
	{
		$%=component_name=% = %=component_name+ucf=%::oneOrFail(Request::getInt('id'));

		// Delete %=component_name=%
		$%=component_name=%->destroy();

		// Set the redirect
		$this->setRedirect(
			Route::url('index.php?option=' . $this->_option . '&controller=' . $this->_controller),
			Lang::txt('COM_%=component_name+uc=%_DELETE_SUCCESSFUL'),
			'passed'
		);
	}
}