<?xml version="1.0" encoding="utf-8"?>

<!--
 Copyright 2005-2009 by Purdue Research Foundation, West Lafayette, IN 47906.
 All rights reserved.

 This program is free software; you can redistribute it and/or
 modify it under the terms of the GNU General Public License,
 Version 2 as published by the Free Software Foundation.

 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with this program; if not, write to the Free Software
 Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
-->

<config>
	<params>
		<param name="focus_area_01" type="text" menu="hide" default="" label="Focus Area 1" description="A tag that is to serve as a focus area for the site." />
		<param name="focus_area_02" type="text" menu="hide" default="" label="Focus Area 2" description="A tag that is to serve as a focus area for the site." />
		<param name="focus_area_03" type="text" menu="hide" default="" label="Focus Area 3" description="A tag that is to serve as a focus area for the site." />
		<param name="focus_area_04" type="text" menu="hide" default="" label="Focus Area 4" description="A tag that is to serve as a focus area for the site." />
		<param name="focus_area_05" type="text" menu="hide" default="" label="Focus Area 5" description="A tag that is to serve as a focus area for the site." />
		<param name="focus_area_06" type="text" menu="hide" default="" label="Focus Area 6" description="A tag that is to serve as a focus area for the site." />
		<param name="focus_area_07" type="text" menu="hide" default="" label="Focus Area 7" description="A tag that is to serve as a focus area for the site." />
		<param name="focus_area_08" type="text" menu="hide" default="" label="Focus Area 8" description="A tag that is to serve as a focus area for the site." />
		<param name="focus_area_09" type="text" menu="hide" default="" label="Focus Area 9" description="A tag that is to serve as a focus area for the site." />
		<param name="focus_area_10" type="text" menu="hide" default="" label="Focus Area 10" description="A tag that is to serve as a focus area for the site." />
	</params>
</config>