@fontGeometric: 'montserratregular', Helvetica Neue, Helvetica, sans-serif;
@fontGeometricLight: 'montserratlight', Helvetica Neue, Helvetica, sans-serif;
@fontGeometricUltraLight: 'montserratultra_light', Helvetica Neue, Helvetica, sans-serif;
@fontGeometricHairline: 'montserrathairline', Helvetica Neue, Helvetica, sans-serif;
@fontGeometricSemiBold: 'montserratsemi_bold', Helvetica Neue, Helvetica, sans-serif;
@fontGeometricBold: 'montserratbold', Helvetica Neue, Helvetica, sans-serif;

@fontSimple: 'open_sansregular', Helvetica Neue, Helvetica, sans-serif;
@fontSimpleLight: 'open_sanslight', Helvetica Neue, Helvetica, sans-serif;
@fontSimpleSemiBold: 'open_sanssemibold', Helvetica Neue, Helvetica, sans-serif;
@fontSimpleBold: 'open_sansbold', Helvetica Neue, Helvetica, sans-serif;

@fontScript: 'playfair_displayregular', Georgia, Times, "Times New Roman", serif;
@fontScriptBold: 'playfair_displaybold', Georgia, Times, "Times New Roman", serif;