#hubForm {

	input[type=radio] {
		vertical-align: baseline;
		width: auto;
	}

	.hubform-control {
		padding-top: 1.5em;

		label {
			padding: 0;

			&.radio {
				padding: 0.3rem 1rem 0 0;

				span {
					margin-left: 0.3rem;
				}
			}

			&.inline {
				display: inline-block;
			}
		}
	}
}