<?xml version="1.0" encoding="utf-8"?>

<!--
@package      hubzero-cms
@copyright    Copyright 2005-2019 HUBzero Foundation, LLC.
@license      http://opensource.org/licenses/MIT MIT
-->

<config>
	<fieldset name="component">
		<field name="filepath" type="text" menu="hide" default="/site/collections" label="COM_COLLECTIONS_CONFIG_FILEPATH_LABEL" description="COM_COLLECTIONS_CONFIG_FILEPATH_DESC" />
	</fieldset>
	<fieldset name="permissions" label="JCONFIG_PERMISSIONS_LABEL" description="JCONFIG_PERMISSIONS_DESC">
		<field name="rules" type="rules" label="JCONFIG_PERMISSIONS_LABEL" class="inputbox" validate="rules" filter="rules" component="com_collections" section="component" />
	</fieldset>
</config>