/**
 * Copyright 2005-2009 by Purdue Research Foundation, West Lafayette, IN 47906.
 * All rights reserved.
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License,
 * version 2 as published by the Free Software Foundation. 
 */

	.aside .container .tags li {
		background: transparent;
		padding: 0;
	}
	.icon-wish:before {
		content: "\f078";
		font-family: "Fontcons";
	}

/* Entries (list) */
	ul.answers,
	ul.wishs {
		list-style: none;
		margin: 1em 0;
	}
	.answers li,
	.wishs li {
		background-image: none;
		padding: 0px 0.4em;
	}
	ul.answers li,
	ul.wishs li {
		padding: 0 0 0 17px;
		margin: 0.3em 0;
		background: url("/components/com_wishlist/assets/img/bullets_medium.gif") no-repeat 0px -133px;
	}
	ul.answers li {
		background: url("/components/com_wishlist/assets/img/bullets_medium.gif") no-repeat 0px -442px;
	}
	.entries .list-footer li {
		background-image: none;
	}
/* Entries (table) */
	.entry-details a {
		color: #666;
		border-bottom: 1px dotted #666;
	}
	.entry-details a:hover {
		color: #000;
		border-bottom: 1px solid #333;
	}

	.entry-comments {
		padding-right: 16px;
		background: url("/components/com_wishlist/assets/img/bullets_small.png") no-repeat right -428px;
	}

	.ideas .entry-id:before {
		content: "\f078";
	}
	.ideas .entry-id {
		display: none;
	}
	.ideas tbody th {
		background: url("/components/com_wishlist/assets/img/lightbulb_off.png") right 15px no-repeat;
	}
	/* Accepted */
	.ideas tbody tr.accepted {
		background: #ffe;
	}
	.ideas tbody tr.accepted th {
		background: url("/components/com_wishlist/assets/img/lightbulb.png") right 15px no-repeat;
	}
	/* Granted */
	.ideas tbody tr.granted th {
		background: url("/components/com_wishlist/assets/img/lightbulb_granted.png") right 15px no-repeat;
	}
	.ideas tbody tr.granted {
		background: #f7fef4;
	}
	/* Rejected */
	.ideas tbody tr.rejected th {
		background: url("/components/com_wishlist/assets/img/lightbulb_rejected.png") right 15px no-repeat;
	}
	.ideas tbody tr.rejected {
		background: #fff6f4;
	}
	/* Flagged */
	.ideas tbody tr.flagged th {
		background: url("/components/com_wishlist/assets/img/lightbulb_flagged.png") right 15px no-repeat;
	}
	/* Withdrawn */
	.ideas tbody tr.withdrawn {
		background: #f1f1f1;
	}
	.ideas tbody tr.withdrawn th {
		background: url("/components/com_wishlist/assets/img/lightbulb_withdrawn.png") right 15px no-repeat;
	}
	/* Private */
	.ideas tbody tr.private {
		background-image: none;
	}
	.ideas tbody tr.private th {
		background-image: url("/components/com_wishlist/assets/img/lightbulb_private.png"); /* lock.png */
	}
	.entries tbody td.voting,
	.voting {
		text-align: right;
		white-space: nowrap;
	}
	p.voting {
		float: right;
		min-width: 10em;
		margin: 0.7em 0 0.7em 0;
		padding: 0;
	}
	.container-block .entry-details {
		padding: 0.7em 0 0.7em 0;
	}
	.entry-popularity {
		display: none;
	}
	.rankit,
	.ideas .ranking span {
		text-transform: uppercase;
		font-size: xx-small;
		font-weight: bold;
		white-space: nowrap;
	}
	.ideas .ranking .accepted {
		color: #f1c037;
	}
	.ideas .ranking .granted {
		color: #7AAB69;
	}
	.ideas .ranking .flagged,
	.ideas .ranking .rejected {
		color: #CC0000;
	}
	.ideas .ranking .withdrawn {
		color: #bbb;
	}
/* Priority */
	.priority-level-base {
		display: block;
		margin: 0;
		padding: 0;
		height: 3px; 
		background-color: #ddd;
		width: 5.5em;
	}
	.priority-level {
		display: block;
		margin: 0;
		padding: 0;
		height: 3px; 
		background-color: #aaa;
	}
	.priority-level span {
		display: none;
	}

/* Submenu styling */
	.filter-options {
		width: 60%;
	}

/* Rewards */
	.ideas tbody td.reward {
		text-align: right;
	}
	.entry-reward {
		white-space: nowrap;
		color: #999;
		font-size: 85%;
	}
	.entry-reward a {
		/*background: url("/components/com_wishlist/assets/img/coins.png") top right no-repeat;
		padding: 0 20px 0 0;
		display: inline-block;*/
		color: #999;
	}
	.entry-reward a span {
		display: none;
	}
	.entry-reward a.no-bonus:after,
	.entry-reward a.bonus:after {
		width: 20px;
		height: 30px;
		font-size: 20px;
		font-family: 'Fontcons';
		margin-left: 0.2em;
		content: "\f006";
		position: absolute;
		color: #dbb349;
	}
	.entry-reward span.bonus-inactive:before {
		color: #CCC;
	}
/* Wish */
	/* Options */
	.wish-options {
		list-style: none;
		margin: 0 0 1.5em 70px;
		padding: 0;
	}

	.wish .wish-options li {
		list-style: none;
		display: inline;
		margin-right: 2em;
	}
	.wish .entry-subject {
		font-weight: bold;
	}

	.changestatus,
	.transfer,
	.makeprivate,
	.editwish,
	.abuse,
	.reply {
		background: none;
		padding-left: 0;
	}
	small.fontcon-before,
	.changestatus:before,
	.transfer:before,
	.makeprivate:before,
	.editwish:before,
	.abuse:before,
	.reply:before,
	.delete:before,
	.edit:before {
		font-family: 'Fontcons';
		margin-right: 0.2em;
	}
	.changestatus:before {
		content: "\f08d";
	}
	.transfer:before {
		content: "\2194";
	}
	.makeprivate:before {
		content: "\f06e";
	}
	.editwish:before {
		content: "\270E";
	}
	.abuse:before {
		content: "\2298";
	}
	.reply:before {
		content: "\f08a";
	}
	.delete:before {
		content: "\f014";
	}
	.edit:before {
		content: "\270E";
	}
	/* Status */
	.wish-status {
		margin: 0;
		padding: 0;
	}
	.wish-status .accepted,
	.wish-status .rejected,
	.wish-status .pending,
	.wish-status .granted {
		margin: 0;
		text-transform: uppercase;
		letter-spacing: 1px;
		font-size: 1.2em;
		padding: 0.5em;
		text-align: center;
		border: 5px solid #fff; 
		background: #fff url("/components/com_wishlist/assets/img/light-stripes.png");
	}
	.wish-status .accepted {
		color: #F1C037;
		border-color: #F1C037;
		background-color: #ffe;
	}
	.wish-status .accepted a {
		color: #F1C037;
	}
	.wish-status .rejected {
		color: #c00;
		border-color: #EFCCC2; 
		background-color: #FFF2EF;
	}
	.wish-status .rejected a {
		color: #c00;
	}
	.wish-status .pending {
		color: #aaa;
		border-color: #ccc;
		background-color: #eee;
	}
	.wish-status .pending a {
		color: #aaa;
	}
	.wish-status .granted {
		color: #7AAB69;
		border-color: #CDDECA;
		background-color: #F3FDF0;
	}
	.wish-status .granted a {
		color: #7AAB69;
	}
	/* Voting */
	.wish .entry-voting {
		float:right; 
	}
	.wish .entry-voting .wish_vote {
		margin: 0 0 0 1em;
		color: #666;
	}
	.wish .entry-voting .wish_vote a,
	.wish .entry-voting .wish_vote a.voted {
		border: none;
		width: 19px;
		height: 19px;
		display: inline-block;
		margin: 0;
		padding: 0 0 3px 0;
		color: #bfbfbf;
		overflow: hidden;
		text-indent: -55em;
	}
	.wish .entry-voting .wish_vote a.voted {
		background: url("/components/com_wishlist/assets/img/thumbup_ok.gif") 0 0 no-repeat;
	}
	.wish .entry-voting .wish_vote a {
		background: url("/components/com_wishlist/assets/img/thumbup.gif") 0 0 no-repeat;
		height: 15px;	
	}
	.wish .entry-voting .wish_vote a:hover {
		background-position: 0 -32px;
		color: #000;
	}
	.wish-bonus {
		margin: 1em 0;
		border-top: 1px solid #efefef;
		border-bottom: 1px solid #efefef;
		padding: 1em 0 1em 0;
		line-height: 2em;
	}
	.wish-bonus p {
		font-size:x-small;
		color: #999;
		text-transform: uppercase;
	}
	.wish-point-value {
		color: #000;
		font-weight:bold;
		text-transform: lowercase;
		font-size: inherit;	
		padding: 0;
	}
	.wish-bonus p.wish-point-info {
		display:block;
		margin-top:1em;
		margin-right:2em;
		font-style:italic;
		font-weight: bold;
		line-height:1.2em;
		text-transform: none;
	}
	/* Priority */
	.wish-priority {
		border: 2px solid #EFEAC2;
		border-top: none;
		background-color: #fff;
		margin: 0;
		padding: 0;
	}
	.wish-priority caption {
		font-size: 115%;
		background: #FFFDEF url("/components/com_wishlist/assets/img/light-stripes.png");
		border: 2px solid #EFEAC2;
		border-bottom: 1px solid #eee;
		margin-right: -2px; /* Fix 2px issue */
	}
	.wish-priority caption span {
		color: #aaa;
	}
	.wish-priority thead th {
		text-align: left;
		font-size: 85%;
		background: #fbfbf6;
		color: #999;
	}
	.wish-priority tbody td {
		text-align: left;
		border-bottom: 1px solid #eee;
		padding: 10px;
	}
	.wish-priority tbody th {
		text-align: right;
		font-weight: bold;
		border-bottom: 1px solid #eee;
	}
	.wish .container {
		margin-left: 70px;
		border-color: #FFFDEF;
	}
/* Comments */
	/* Header */
	h3.comments-title {
		position: relative;
	}
	h3.comments-title .feed {
		display: block;
		width: 16px;
		height: 16px;
		overflow: hidden;
		text-indent: -55em;
		position: absolute;
		top: 5px;
		right: 0px;
		margin: 0;
		padding: 0;
	}

	/* Form */
	.edit-form {
		margin: 0 0 0 70px;
		padding: 0;
	}
	.edit-form fieldset {
		border: 10px solid #eeecf9;
		background-color: #f9f8fd;
		margin: 0;
		padding: 0 1em 0em 1em;
		text-align: left;
		color: #777;
	}
	.edit-form label {
		padding-top: 1em;
		position: relative;
		display: block;
	}
	.edit-form label span {

	}
	.edit-form .sidenote {
		border: 1px solid #eeecf9;
		padding: 0 1em;
		margin: 0 -1em 0 -1em;
		color: #aaa;
		background-color: #f3f2fb;
	}
	.edit-form h4 {
		margin: 1em 0;
	}
	.edit-form fieldset fieldset {
		border: 1px solid #eeecf9;
		margin: 1em 0;
		padding: 0 1em 1em 1em;
		text-align: left;
	}
	.edit-form .secondary_option {
		margin-left: 2em;
	}

	.warning .btn {
		color: #333 !important;
		border-bottom: 1px solid #AAA;
	}
	.warning .btn:hover {
		color: #111 !important;
		border-bottom: 1px solid #AAA;
	}
	.warning .say_yes,
	.warning .say_no {
		margin-right: 1em;
	}
	
	#planform {
		margin: 0;
		padding: 0;
	}
	#planform fieldset {
		margin: 0;
		text-align: left;
		color: #777;
		position: relative;
		background-color: #fff;
		border: 1px solid #c3b7ff;
		padding: .61803399em 1.61803399em 0 1.61803399em;
		-webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.17);
		-moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.17);
		-ms-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.17);
		-o-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.17);
		box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.17);
	}
	#planform fieldset:before,
	#planform fieldset:after {
		content: "";
		position: absolute;
		bottom: -15px;
		left: 50px;
		border-width: 15px 0 0 15px;
		border-style: solid;
		border-color: #fff transparent; 
	    display: block; 
	    width: 0;
	}
	#planform fieldset:before {
		top: 10px; 
		left: -20px;
		bottom:auto;
		border-width: 10px;
		border-color: transparent #c3b7ff transparent transparent;
	}
	#planform fieldset:after {
		top: 10px; 
		left: -18px;
		bottom: auto;
		border-width: 10px;
		border-color: transparent #fff transparent transparent; 
	}
	#planform fieldset fieldset {
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		-ms-box-shadow: none;
		-o-box-shadow: none;
		box-shadow: none;
		border-color: #d9d9d9;
		padding: .61803399em;
	}
	#planform fieldset fieldset:before,
	#planform fieldset fieldset:after {
		display: none;
	}
	#planform p.plan-member-photo {
		float: left;
		margin: 0;
		padding: 0 20px 0 0;
		width: 50px;
		height: 50px;
		overflow: hidden;
		color: #777;
		font-size: 11px;
		text-align: right;
		position: relative;
	}
	#planform .sidenote {
		border: 1px solid #edf0e8;
		padding: 0 1em;
		margin: 0 -1em 0 -1em;
		color: #aaa;
		background-color: #edf0e8;
	}
	#planform .required,
	#planform .optional {
		text-transform: uppercase;
		letter-spacing: 1px;
		font-size: 80%;
	}
	#planform .required {
		color: #AD6456;
	}
	#planform .optional {
		color: #888;
	}
	#planform label {
		padding-top: 1em;
		position: relative;
		display: block;
	}
	#planform label span {
		position: absolute;
		top: 1.5em;
		right: 0;
		display: none;
	}
	#planform .grouping {
		position: relative;
		margin-left: -3em;
		padding: 0 0 1.5em 5em;
		overflow: hidden;
		top: 1em;
		left: 1.5em;
	}
	#planform .grouping label {
		padding: 0;
		float: left;
		width: 50%;
	}
	#planform .grouping label:first-child {
		margin: 0 2em 0 -3.5em;
	}
	#planform .grouping label span {
		top: 0;
	}
	#planform input, 
	#planform select, 
	#planform textarea {
		margin-top: 0.25em;
		width: 100%;
	}
	#planform .submit {
		clear: both;
		margin: -1.5em 0 1em 0;
		padding: 0;
		text-align: right;
	}
	#planform .submit input,
	#planform .option {
		width: auto;
	}
	#planform fieldset fieldset label {
		display: inline;
	}
	#planform fieldset fieldset span,
	#planform fieldset fieldset #nodue-label {
		margin-right: 1em;
	}
	#planform .sidenote {
		padding: .61803399em 1.61803399em;
		color: #aaa;
		margin: .61803399em -1.61803399em 0 -1.61803399em;
		background: #fafafa;
	}
	#planform .submit {
		margin: 1em 0 1em 0;
	}
	.nav_wishlist:before {
		font-family: "Fontcons";
		content: "\f078";
	}
