@import url("/core/components/com_users/site/assets/css/login.css");

.hz_user {
	background: #f7f7f7;
	overflow: hidden;
}
.auth {
	margin-top: 6em;
	max-width: 400px;
	width: auto;
}

.auth .forgots {
	text-align: center;
}

.auth .forgots a {
	display: inline;
}
