@import url("/plugins/members/dashboard/dashboard.css");

.com_members div.draggable .cwrap {
	-webkit-border-radius: 0.5em;
	-moz-border-radius: 0.5em;
	-ms-border-radius: 0.5em;
	-o-border-radius: 0.5em;
	border-radius: 0.5em;
	box-shadow: none;
}
.com_members div.draggable .cwrap:hover {
	-webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3);
	-o-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3);
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3);
}
.com_members div.draggable .handle {
	-webkit-border-radius: 0.5em 0.5em 0 0;
	-moz-border-radius: 0.5em 0.5em 0 0;
	-ms-border-radius: 0.5em 0.5em 0 0;
	-o-border-radius: 0.5em 0.5em 0 0;
}