#inventory .remove:before {
	content: "\2297";
	font-style: normal;
	font-family: 'Fontcons';
	margin-right: 5px;
}
#inventory .remove {
	border: 0;
	color: #866;
}
.search-bar {
	padding-right: 211px;
	position: relative;
	height: 40px;
}
.search-bar input {
	height: 100%;
	width: 100%;
	border-top-left-radius: 6px;
}
.search-bar a {
	position: absolute;
	top: 0.6em;
	right: 225px;
	font-size: 1.2em;
	font-family: sans-serif;
	color: #aaa;
	display: none;
}
.search-bar:hover a {
	display: inline;
}
.search-bar input, .search-bar button {
	line-height: 2em;
	padding: 2px 6px 2px 6px;
	font-size: small;
}
.search-bar button {
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	width: 214px;
	text-align: center;
	border: 1px outset #ddd;
	border-top-right-radius: 6px;
}
.pages {
	margin-right: 240px;
	margin-left: 0;
}
.pages li {
	display: inline;
}
.pages button:after, .pages li.current:after {
	content: ', ';
}
.pages li:last-child button:after, .pages li:last-child:after {
	content : '';
}
.tags button, .criteria button, .pages button, .groups button {
	background: transparent;
	border: transparent;
	border-radius: 6px;
	border-bottom: 0px solid transparent;
	padding: 0;
	cursor: pointer;
	text-align: left;
	margin-left: 4px;
}
.criteria .tags, .criteria .contributors {
	font-size: x-small;
	padding-left: 2px !important;
}
.tags:after {
	clear: none !important;
}
.criteria h2 {
	display: none;
}
button span {
	color: #666;
	font-size: x-small;
}
#inventory {
	list-style: none;
	background: #fafafa;
	border-left: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	border-right: 1px solid #ddd;
	margin: 0;
	padding-left: 10px;
	padding-right: 10px;
	margin-right: 212px;
}
#inventory li {
	border-radius: 8px;
	font-style: italic;
	padding: 3px 8px;
	background: #eee;
	display: inline-block;
	border: 1px solid #eee;
}
#tag-suggestions {
	color: #666;
	margin: 0;
	max-height: 110px;
	overflow: auto;
	margin-right: 212px !important;
	padding: 8px;
	text-align: center;
	display: none;
	font-style: italic;
	font-size: small;
}
#tag-suggestions li {
	cursor: pointer;
	border: 1px solid transparent;
	border-radius: 8px !important;
	padding-left: 5px;
}
#tag-suggestions li:before {
	content: "\2295";
	color: #686;
	font-style: normal;
	font-family: 'Fontcons';
	position: relative;
	top: 2px;
}
#tag-suggestions li.label:before {
	content: "";
}
#tag-suggestions li:hover  {
	background: #ccc;
	border: 1px solid #aaa;
}
#tag-suggestions li a {
	border: 0 !important;
}
#tag-suggestions {
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(47%,#f6f6f6), color-stop(100%,#ededed)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* IE10+ */
	background: linear-gradient(to bottom, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
}
#tag-suggestions li {
	background: #e3e3e3;
	display: inline-block;
	float: none;
	margin: 2px !important;
	font-size: small !important;
}
#suggestions {
	margin-right: 212px;
	background: #ededed;
	list-style: none;
	margin-left: 0;
	margin-top: 0;
}
#suggestions li {
	margin: 0;
	padding: 0;
	opacity: 0.8;
	cursor: pointer;
}
#suggestions li span {
	margin: 5px;
}
#suggestions li:hover {
	opacity: 1;
	text-decoration: underline;
}
#suggestions li.even {
	background: #f3f3f3;
}
.hubgraph .subject {
	width: 100%;
	margin-bottom: 0;
	padding-left: 0;
}
#results {
	list-style: none;
	margin-right: 235px;
	margin-left: 0;
	padding-left: 0;
}
#results h4 {
	float: left;
	color: #999;
	font-weight: normal;
	font-size: x-small;
	margin: 0.2em;
}
#results h4.date {
	text-align: center;
	margin-left: 3em;
	margin-right: 3em;
	min-width: 100px;
}
.half {
	width: 50%;
	float: left;
}
#suggestions .half {
	width: 50%;
	float: none;
	display: inline-block;
}
.tags {
	font-size: x-small;
}
li.result {
	padding-bottom: 1em;
	border-bottom: 1px solid #ddd;
	background: #fdfdfd;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 1em;
	margin: 0;
}
a.alt {
	font-size: x-small;
	font-family: fixed;
	border-left: 1px solid #ddd;
	padding-left: 6px;
	margin-left: 6px;
}
#results blockquote {
	background: #fff;
	font-style: italic;
	border-top: 1px dashed #eee;
	border-bottom: 1px dashed #eee;
	margin-bottom: 0.2em;
	border-left: 0;
	padding: 4px;
	padding-left: 0;
}
.date:before {
	content: '';
}
ol.related {
	margin-top: 0;
}
#results h3 {
	margin: 0;
	font-weight: normal;
}
#results .details {
	padding-left: 1em;
}
.tags button {
	font-size: x-small;
}
.tags .selected, .contributors .selected {
	font-style: italic;
}
.tags .selected span {
	font-style: normal;
}
.tags {
	color: #666;
}
#results .tags {
	max-height: 8em;
	overflow-x: auto;
}
.aside {
	position: relative;
	padding-top: 0;
	top: -1em;
}
.sort {
	display: inline-block;
	padding: 3px;
	text-align: center;
	background: #f0f0f0;
	font-size: x-small;
	cursor: pointer;
	margin-left: 3px;
	float: right;
	position: relative;
	left: 8px;
}
.sort.number {
	padding-left: 8px;
	padding-right: 8px;
}
.criteria ol {
	width: 208px;
	max-height: 400px;
	overflow: auto;
}
.clear {
	clear: left !important;
}
.domains {
	list-style: none;
	margin: 0;
}
.timeframe {
	margin: 0;
}
.timeframe button {
	margin-left: 4px !important;
	font-size: x-small;
}
.timeframe li {
	margin-top: 0;
	margin-bottom: 0;
	line-height: 1.5em;
}
.aside h3, .aside ol {
	margin-left: 11px;
}
.aside .tags li, .aside .timeframe li {
	margin-left: -3px !important;
}
.aside h3 {
	line-height: 0.8em;
}
.aside li {
	border-top: 0;
}
.aside .domains {
	margin-left: 0;
}
.aside h3.domains {
	margin-left: 11px;
}
.children {
	list-style: none;
	margin-left: 1em;
	clear: left;
}
.children li {
	padding-left: 24px !important;
}
.children .contributors {
	list-style: none;
	margin-left: 0;
	margin-bottom: 0;
	display: inline;
}
.children .date:after {
	content: ': ';
}
.children h5 .contributors, .children h5 .date {
	font-weight: normal;
	font-style: italic;
}
.children .contributors li {
	padding-left: 0 !important;
}
.children blockquote {
	margin-top: 0;
}
.sub.domains {
	padding-left: 0.7em;
	border-left: 1px solid #eee;
}
.domains li {
	margin: 0;
	margin-left: 9px;
}
.details img {
	clear: left;
	float: left;
	margin-right: 6px;
	margin-top: 6px;
}
.sub.domains { 
	margin-left: 3px;
	max-height: none;
	width: auto;
}
.aside button {
	margin-left: 2px;
	font-size: x-small;
}
.expandable {
	margin-left: 0 !important;
	padding-left: 0;
}
.expandable span.expand {
	margin-right: 2px;
	cursor: pointer;
	font-size: 12px;
	font-family: monospace;
}
pre {
	display: none;
}
#count {
	margin-left: 3px;
	margin-top: 0;
	font-style: italic;
	font-size: small;
}
.logical-type {
	font-weight: normal;
	font-style: italic;
}

.organization, .profile-url {
	font-style: x-small;
	margin: 0;
}
table {
	background: transparent;
	border: 0;
	clear: none;
}
#criteria-details {
	list-style: none;
	margin-left: 0;
}
#criteria-details .left {
	vertical-align: middle;
	text-align: right;
	width: 200px;
}
td.contributor-head h3 {
	margin: 0;
}
.contributors {
	list-style: none;
	margin: 0;
}
.contributors button {
	padding-left: 0;
	font-size: x-small;
}
.groups {
	padding-left: 10px;
}
.contributors li, .groups li {
	display: inline-block;
	margin: 0;
}
.contributors li:after {
	content: ', ';
}
.contributors li:last-child:after {
	content: '';
}
#autocorrect-notice {
	margin-right: 234px;
}
button.more {
	border: 0;
	background: none;
	color: #554693;
	cursor: pointer;
	margin: 0;
	padding: 0;
	text-decoration: underline;
	font-size: x-small;
	margin-left: 10px;
	position: relative;
	top: -3px;
}
h3 small {
	font-size: x-small;
	display: none;
}
p.clear {
	margin: 0;
	height: 0;
}
.more.related {
	margin-top: 0;
	margin-left: 13px;
	font-style: italic;
	display: none;
}
.related li {
	display: block;
	margin: 0;
}
button.used {
	color: #666;
	font-weight: bold;
	text-decoration: none;
}
button.throb {
	padding-left: 20px;
	height: 20px;
	background: url('throbber.gif') no-repeat top left;
	color: #aaa;
	font-weight: bold;
	text-decoration: none;
}
.fancybox-overlay {
    background: #000;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 997;
}
#criteria-details h4 {
	font-size: x-small;
	float: left;
	display: inline;
}
#criteria-details ol.tags {
	display: inline-block !important;
	padding-left: 5px !important;
	margin-top: 3px !important;
}
#criteria-details ol.tags li {
	padding: 0 !important;
}

/* tag graph */
.tag-graph {
	height: 300px;
}
.tag-graph .node{
	background: #fff;
	border: 1px solid #666;
	font-weight: bold;
	cursor: pointer;
}
circle {
  stroke-width: 1.5px;
}

line {
  stroke: rgba(32,32,32,.3);
}
text {
	font: 10px sans-serif;
}

/** media types */
.pdf {
	background: url('../images/icons/pdf.png') no-repeat top left;
}
.breeze {
	background: url('../images/icons/breeze.png') no-repeat top left;
}
.quicktime {
	background: url('../images/icons/quicktime.png') no-repeat top left;
}

.search {
	display: none;
}
#criteria-details .tag:before {
	content: '';
}
#getstarted a {
	background: -moz-linear-gradient(center top , #666666 0%, #000000 100%) repeat scroll 0 0 transparent;
	border: 1px solid #333333;
	border-radius: 0.5em 0.5em 0.5em 0.5em;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
	color: #FFFFFF;
	cursor: pointer;
	display: inline-block;
	font-weight: bold;
	margin: 0;
	outline: medium none;
	padding: 0.5em 2.2em 0.55em;
	text-align: center;
	text-decoration: none;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
	vertical-align: baseline;
}
#getstarted {
	display: none;
}
.com_resources .criteria .domains {
	display: none;
}
.inline #getstarted {
	display: block;
}
.tag h3 {
	margin-top: -15px;
}
.tags .selected {
	margin-top: 1px !important;
	margin-bottom: 7px !important;
}
.tags .selected a {
	margin-left: 5px;
	margin-right: 5px;
	background: #f3f3f3;
	font-weight: bold;
}
.tags .selected span {
	position: relative;
	top: 7px;
}
#results .tags li {
	margin: 2px 0 !important;
	font-size: x-small;
}
.tags li a:hover:before {
	content: '' !important;
	display: none;
}
.tags li a:hover {
	background: #f3f3f3 !important;
	color: #333 !important;
}
.tags li a:before {
	border: none !important;
}
.tags li a:after {
	background: transparent !important;
}
.tags li a {
	background: #f0f0f0 !important;
	color: #666 !important;
	border-radius: 6px !important;
	border: 1px solid #ddd;
	padding: 2px;
	border-radius: 8px;
}
.ui-selectmenu-popup {
	border-radius: 6px;
	padding-right: 13px !important;
	text-align: left;
}
.quasi-button a.ui-selectmenu-popup {
	padding: 0 !important;
	line-height: auto !important;
	padding-right: 14px !important;
	padding-left: 4px !important;
	border: 1px dashed #ddd;
}
a.ui-selectmenu {
	border: 0 !important;
	border-left: 1px dashed #000 !important;
	background: #f5f5f5 !important;
}
span.ui-selectmenu-status {
	margin: 0 !important;
	padding-left: 0;
}
.ui-selectmenu-menu {
	font-size: x-small;
}
.ui-selectmenu-menu li a {
	padding: 2px 4px !important;
}
.tags li a span {
	padding: 0 !important;
}
#inventory.loading {
	background: url('/components/com_hubgraph/resources/throbber.gif') no-repeat 4px 8px !important;
	padding-left: 25px;
}
#inventory a {
	cursor: pointer;
}
#inventory .unapplied {
	opacity: 0.7;
}
.quasi-button {
	border-radius: 8px;
	display: inline-block;
	font-size: x-small;
	padding-left: 3px;
	padding-right: 2px;
	cursor: pointer;
}
.quasi-button a {
	float: none !important;
}
.quasi-button label {
}
.quasi-button select, .quasi-button a {
	margin: 0;
	border: 1px solid #fff;
}
.quasi-button a span {
	background-color: transparent;
}
#tag-suggestions .label {
	background: transparent;
	float: left;
}
#tag-suggestions .label:hover {
	background: transparent;
	border: 1px solid transparent;
}
#tag-suggestions button {
	border: 0;
	background: transparent;
}
#tag-suggestions a {
	color: #333;
	font-size: x-small;
}
.aside small.aside-before, .aside:before {
	display: none;
}
