@import url("../../../../../core/components/com_courses/site/assets/css/course.css");

#content {
	padding: 0;
}
section.course .subject,
.course .subject {
	padding: 0 30px 0 0;
	margin-right: 0;
}
section.section .subject + .aside {
	min-width: 270px;
}
section.course {
	margin: 0;
}
section.course.intro {
	background: #fff;
	border-bottom: 1px solid #e1e1e1;
}
.course.intro .subject {
	padding: 0 30px 0 0;
}
section.course .aside {
	background: transparent;
	padding: 0;
}
.aside .manager-options {
	margin-top: 0;
}
ul.sub-menu li.add-page a,
ul.sub-menu li.add-page a:hover {
	background: transparent;
	border: none;
}

section.intro .subject,
section.intro .aside,
section.intro .subject + .aside {
	background: transparent;
	border: none;
}
p.course-identity {
	margin-bottom: 30px;
}
section.course .inner-section {
	padding: 0;
}

#splash .inner-wrap .inner .wrap {
	min-height: 0 !important;
}

#content.com_courses .sub-menu {
	margin-left: 0px;
	margin-right: 0px;
	padding: 0;
}

ul.sub-menu {
	background: transparent;
}
ul.sub-menu li a {
	border: none;
	background: transparent;
	color: #999;
	text-shadow: none;
	padding: 0.618em 1em;
}
ul.sub-menu li.active a {
	border: 1px solid #BABABA;
	border-bottom: none;
}

#splash .inner-wrap .inner .wrap {
	min-height: 8.7em;
}
.com_courses #content-header {
	margin: 0;
}
