/**
 * Copyright 2005-2009 by Purdue Research Foundation, West Lafayette, IN 47906.
 * All rights reserved.
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License,
 * version 2 as published by the Free Software Foundation. 
 */

/*---------------------------------------------------------------
	wish list module
---------------------------------------------------------------*/
	div.draggable .expandedlist li.wishlist {
		background: url('images/wishlist.gif') 0.7em 1em no-repeat;
		}
	div.draggable .expandedlist li.wishlist .pending {
	
		}
	div.draggable .expandedlist li.wishlist .accepted {
		color:#009900;
		}
	div.draggable .expandedlist li.wishlist .rejected {
		color:red;
		}

	div.draggable .expandedlist li.wishlist span {
		color: #fff;
		}
	div.draggable .expandedlist li.wishlist span span {
		color: #999;
		}